<div class="uk-section">
    <div class="uk-container">
        <div class="uk-grid uk-flex uk-flex-center">
            <div class="uk-width-3-4@m">
                <h2 class="uk-margin-remove">We're a team of mission-driven <span class="in-highlight">experts &amp; learners.</span></h2>
                <p class="uk-text-lead uk-text-muted uk-margin-remove">Who are committed to making security a strength for every startup.</p>
                <h4>Our oppurtinity</h4>
                <p>We've already helped hundreds of innovative companies succeed at becoming trustworthy custodians of sensitive data. And we're just getting started.</p>


                Privacy Policy for EarnKraft Introduction EarnKraft is committed to safeguarding your privacy. This policy outlines the types of information we collect, how we use it, and the measures we take to ensure your information is protected. By using our services,
                you agree to the terms of this privacy policy. Information We Collect Personal Information - When you register on EarnKraft, we collect personal details such as your name, email address, phone number, and National Identification or Alien
                Identification. Financial Information - For payment processing, we collect financial information including your bank account details, mobile money details, and transaction history. Usage Data - We gather information about your interactions
                with our platform, including IP addresses, browser type, pages viewed, and the dates/times of your visits. Cookies - EarnKraft uses cookies to enhance your experience. Cookies help us understand your preferences and improve our services.
                How We Use Your Information Service Delivery - We use your information to process transactions, manage your account, and provide customer support. Communication - Your contact details are used to send you updates, newsletters, and promotional
                offers. You can opt-out of these communications at any time. Improvement and Analytics - Usage data helps us analyze trends and improve our platform's functionality and user experience. Security - We utilize your information to enhance
                the security of our platform and protect against fraud and abuse. Sharing Your Information Third-Party Services - We may share your information with third-party service providers to facilitate payment processing, data analysis, email delivery,
                and customer service. Legal Requirements - Your information may be disclosed to comply with legal obligations, protect our rights, or respond to lawful requests from public authorities. Data Security Encryption - We use advanced encryption
                methods to protect your data during transmission and storage. Access Control - Access to your information is restricted to authorized personnel only, ensuring that your data is handled securely. Regular Audits - We conduct regular security
                audits to identify and address potential vulnerabilities. Your Rights Access and Correction - You have the right to access and update your personal information at any time through your account settings. Opt-Out - You can opt-out of receiving
                marketing communications from us by following the unsubscribe instructions included in the emails. Changes to This Policy We may update this privacy policy from time to time. Any changes will be posted on this page with an updated revision
                date. We encourage you to review this policy periodically. Contact Us If you have any questions or concerns about this privacy policy, please contact us at: Email: support@earnkraft.com Phone: LIVE CHAT 0113000799 Address: [Company Address]
                --- This privacy policy ensures that your personal and financial information is handled securely and transparently, allowing you to use EarnKraft's services with confidence. Terms & Conditions for EarnKraft Introduction Welcome to EarnKraft.
                These terms and conditions outline the rules and regulations for the use of our platform. By accessing this website and using our services, you agree to comply with these terms. If you disagree with any part of the terms, you may not use
                our services. Account Registration Eligibility - Users must be at least 18 years old to register for an account. Account Information - You agree to provide accurate and complete information during registration and to update this information
                to keep it current. Account Security - You are responsible for maintaining the confidentiality of your account credentials and for all activities that occur under your account. Use of Services Permitted Use - You may use EarnKraft’s services
                for lawful purposes only and in accordance with these terms. Prohibited Activities - You may not engage in any activity that interferes with or disrupts the services or servers/networks connected to the services. Payment and Transactions
                Payment Methods - We accept various payment methods including bank transfers and mobile money. Transaction Fees - Certain transactions may incur fees, which will be clearly indicated at the time of the transaction. Refund Policy - All
                transactions are final and non-refundable, except as required by law or as expressly provided in these terms. Referral and Affiliate Programs Eligibility - Participation in referral and affiliate programs is open to all registered users.
                Commission Structure - Commissions are earned based on the referral program’s structure, which may change from time to time. Payouts - Payouts are processed according to the schedule specified on the platform. Content and Intellectual
                Property Ownership - All content on the EarnKraft platform, including text, graphics, logos, and software, is the property of EarnKraft or its licensors. User Content - By submitting content to EarnKraft, you grant us a non-exclusive,
                royalty-free, perpetual, and worldwide license to use, modify, and display such content. Privacy Data Collection - We collect personal and financial information necessary to provide our services. Please refer to our Privacy Policy for
                details. Data Usage - Your data is used to facilitate transactions, provide customer support, and improve our services. Data Security - We implement industry-standard measures to protect your data. However, you acknowledge that no security
                system is impenetrable. Termination Termination by User - You may terminate your account at any time by contacting customer support. Termination by EarnKraft - We reserve the right to terminate or suspend your account for violations of
                these terms or other applicable policies. Limitation of Liability No Warranty - EarnKraft provides services on an “as is” and “as available” basis without warranties of any kind. Limitation of Damages - In no event shall EarnKraft be liable
                for any indirect, incidental, special, or consequential damages arising out of or in connection with the use of our services. Governing Law Jurisdiction - These terms and conditions are governed by and construed in accordance with the
                laws of states. Dispute Resolution - Any disputes arising under these terms shall be subject to the exclusive jurisdiction of the courts in Kenya. Changes to Terms Amendments - We may revise these terms at any time by updating this page.
                Your continued use of the services after such changes constitutes your acceptance of the new terms. Contact Information If you have any questions about these terms and conditions, please contact us at: Email: support@earnkraft.com Phone:
                LIVE CHAT 0113000799 Address: [Company Address] --- These terms and conditions provide a clear and concise framework for using EarnKraft, ensuring both user protection and compliance with legal standards.







            </div>
        </div>
    </div>
</div>




<!-- testing  -->


{% extends "account/dashboard/v1/base.html" %} {% load static %} {% block heading %}
<div class="nk-block-head nk-block-head-sm">
    <div class="nk-block-between">
        <div class="nk-block-head-content">
            <h3 class="nk-block-title page-title">
                Online Writing Accounts & Services
            </h3>
        </div>
        <div class="nk-block-head-content">
            <div class="toggle-wrap nk-block-tools-toggle">
                <a href="#" class="btn btn-icon btn-trigger toggle-expand me-n1" data-target="pageMenu">
                    <em class="icon ni ni-more-v"></em>
                </a>
                <div class="toggle-expand-content" data-content="pageMenu">
                    <ul class="nk-block-tools g-3">
                        <li>
                            <div class="form-control-wrap">
                                <div class="form-icon form-icon-right">
                                    <em class="icon ni ni-search"></em>
                                </div>
                                <input type="text" class="form-control" id="default-04" placeholder="Quick search by id" />
                            </div>
                        </li>
                        <li>
                            <div class="drodown">
                                <a href="#" class="dropdown-toggle dropdown-indicator btn btn-outline-light btn-white" data-bs-toggle="dropdown">Type</a>
                                <div class="dropdown-menu dropdown-menu-end">
                                    <ul class="link-list-opt no-bdr">
                                        <li>
                                            <a href="#"> <span>Accounts</span></a>
                                        </li>
                                        <li>
                                            <a href="#"> <span>Tasks</span></a>
                                        </li>
                                        <li>
                                            <a href="#"> <span>Direct Clients</span></a>
                                        </li>
                                        <li>
                                            <a href="#"> <span>Services</span></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li class="nk-block-tools-opt">
                            <a href="#" data-target="addProduct" class="toggle btn btn-icon btn-primary d-md-none">
                                <em class="icon ni ni-plus"></em>
                            </a>
                            <a href="#" data-target="addProduct" class="toggle btn btn-primary d-none d-md-inline-flex">
                                <em class="icon ni ni-plus"></em>
                                <span>Add Product</span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock heading %} {% block main %}

<div class="row g-gs mt-3">
    <div class="col-xxl-4 col-lg-4 col-sm-6">
        <div class="card card-bordered product-card">
            <div class="product-thumb">
                <ul class="product-badges my-2 d-flex d-md-flex flex-md-row flex-sm-col">
                    <li>
                        <span class="badge badge bg-danger">John Juma</span>
                        <span class="badge bg-success">Verified Seller</span>
                    </li>
                    <li class="flex-grow-1 product-price text-primary h5 ">
                        <small class="text-muted del fs-13px me-1">ksh 20000</small>18000
                    </li>
                </ul>
                <br />
            </div>
            <div class="card-inner mt-3 ">
                <h5 class="product-title pt-4 pb-2 ">
                    <a href="# ">Writerbay Newbie Esl</a>
                </h5>
                <div class="border border border-1 mb-3 "></div>
                <div class="col-lg-12 ">
                    <div class=" ">
                        <p class="card-text ">
                            With supporting text below as a natural lead-in to additional content With supporting text below as a natural lead-in to additional content .
                        </p>
                    </div>
                </div>

                <div class="border border border-1 my-3 "></div>

                <div class="product-price text-primary h5 ">

                    <a href="# " class="btn btn-primary ">Purchase</a>
                </div>
            </div>
            <div class="card-footer border-top text-muted ">2 days ago</div>
        </div>
    </div>
    <!--new item-->
</div>

<div class="nk-add-product toggle-slide toggle-slide-right " data-content="addProduct " data-toggle-screen="any " data-toggle-overlay="true " data-toggle-body="true " data-simplebar="data-simplebar ">
    <div class="nk-block-head ">
        <div class="nk-block-head-content ">
            <h5 class="nk-block-title ">New Product</h5>
            <div class="nk-block-des ">
                <p>Add information and add new product.</p>
            </div>
        </div>
    </div>
    <div class="nk-block ">
        <div class="row g-3 ">
            <div class="col-12 ">
                <div class="form-group ">
                    <label class="form-label " for="product-title ">Product Title</label>
                    <div class="form-control-wrap ">
                        <input type="text " class="form-control " id="product-title " />
                    </div>
                </div>
            </div>
            <div class="col-6 ">
                <div class="form-group ">
                    <label class="form-label " for="category ">Category</label>
                    <div class="form-control-wrap ">
                        <input type="text " class="form-control " id="category " />
                    </div>
                </div>
            </div>
            <div class="col-md-6 ">
                <div class="form-group ">
                    <label class="form-label " for="stock ">Stock Quantity</label>
                    <div class="form-control-wrap ">
                        <input type="text " class="form-control " id="stock " />
                    </div>
                </div>
            </div>
            <div class="col-md-6 ">
                <div class="form-group ">
                    <label class="form-label " for="regular-price ">Regular Price</label>
                    <div class="form-control-wrap ">
                        <input type="number " class="form-control " id="regular-price " />
                    </div>
                </div>
            </div>
            <div class="col-md-6 ">
                <div class="form-group ">
                    <label class="form-label " for="sale-price ">Sale Price</label>
                    <div class="form-control-wrap ">
                        <input type="number " class="form-control " id="sale-price " />
                    </div>
                </div>
            </div>

            <div class="col-12 ">
                <div class="form-group ">
                    <label class="form-label " for="tags ">Tags</label>
                    <div class="form-control-wrap ">
                        <input type="text " class="form-control " id="tags " />
                    </div>
                </div>
            </div>
            <div class="col-12 ">
                <div class="form-control-wrap ">
                    <div class="input-group ">
                        <div class="input-group-prepend ">
                            <span class="input-group-text ">Extra Info</span>
                        </div>
                        <textarea class="form-control " aria-label="With textarea "></textarea>
                    </div>
                </div>
            </div>
            <div class="col-12 ">
                <button class="btn btn-primary ">
                    <em class="icon ni ni-plus "></em>
                    <span>Add New</span>
                </button>
            </div>
        </div>
    </div>
</div>
{% endblock main %}


<div class="col-sm-6 col-xxl-4 filter-item blog-content" data-category="online">
    <div class="card card-full">
        <div class="card-inner">
            <div class="d-inline-flex position-absolute end-0 top-0 me-4 mt-4">
                <div class="badge border-0 text-white bg-pink rounded-pill text-uppercase">Popular</div>
            </div>
            <span class="tag" style="background-color: black; color: white;">Online</span>
            <h5 class="title">Blog Post Writer</h5>
            <p class="sub-text">Write blog articles in minutes with the most advanced AI writing pilot.</p>
            <div class="py-2">
                <span class="tag price-tag">salary $29</span>
                <span class="tag date-tag">June 2024</span>
                <span class="tag academic-level-tag">Advanced</span>
            </div>
            <div class="relative d-flex mt-3">
                <button type="button" class="btn btn-primary rounded-pill w-full  flex-grow-1" data-bs-toggle="modal"
                    data-bs-target="#modalZoom">View</button>
            </div>
        </div>
    </div>
</div>
<!-- physical Cards -->
<div class="col-sm-6 col-xxl-4 filter-item social-media" data-category="physical">
    <div class="card card-full">
        <div class="card-inner">
            <div class="d-inline-flex position-absolute end-0 top-0 me-4 mt-4">
                <div class="badge border-0 text-bg-light rounded-pill text-uppercase">New</div>
            </div>
            <span class="tag" style="background-color: black; color: white;">Nairobi</span>
            <h5 class="title">Social Media Ideas</h5>
            <p class="sub-text">Generate creative social media post ideas for your business.</p>
            <div class="py-2">
                <span class="tag price-tag">salary $29</span>
                <span class="tag date-tag">June 2024</span>
                <span class="tag academic-level-tag">Intermediate</span>
            </div>
            <div class="relative d-flex mt-3">
                <button type="button" class="btn btn-primary rounded-pill w-full  flex-grow-1" data-bs-toggle="modal"
                    data-bs-target="#modalZoom">View</button>
            </div>
        </div>
    </div>
</div>
<div class="col-sm-6 col-xxl-4 filter-item social-media" data-category="physical">
    <div class="card card-full">
        <div class="card-inner">
            <div class="d-inline-flex position-absolute end-0 top-0 me-4 mt-4">
                <div class="badge border-0 text-bg-light rounded-pill text-uppercase">New</div>
            </div>
            <span class="tag" style="background-color: black; color: white;">Darislama</span>
            <h5 class="title">Social Media Calendar</h5>
            <p class="sub-text">Plan and schedule your social media posts with ease.</p>
            <div class="py-2">
                <span class="tag price-tag">salary $29</span>
                <span class="tag date-tag">June 2024</span>
                <span class="tag academic-level-tag">Intermediate</span>
            </div>
            <div class="relative d-flex mt-3">
                <button type="button" class="btn btn-primary rounded-pill w-full  flex-grow-1" data-bs-toggle="modal"
                    data-bs-target="#modalZoom">View</button>
            </div>
        </div>
    </div>
</div>
<div class="col-sm-6 col-xxl-4 filter-item social-media" data-category="physical">
    <div class="card card-full">
        <div class="card-inner">
            <div class="d-inline-flex position-absolute end-0 top-0 me-4 mt-4">
                <div class="badge border-0 text-white bg-pink rounded-pill text-uppercase">Popular</div>
            </div>
            <span class="tag" style="background-color: black; color: white;">Abuja</span>
            <h5 class="title">Engaging Social Media Posts</h5>
            <p class="sub-text">Create engaging social media posts that drive interaction.</p>
            <div class="py-2">
                <span class="tag price-tag">salary $29</span>
                <span class="tag date-tag">June 2024</span>
                <span class="tag academic-level-tag">Intermediate</span>
            </div>
            <div class="relative d-flex mt-3">
                <button type="button" class="btn btn-primary rounded-pill w-full  flex-grow-1" data-bs-toggle="modal"
                    data-bs-target="#modalZoom">View</button>
            </div>
        </div>
    </div>
</div>
<!-- Abroad jobs Cards -->
<div class="col-sm-6 col-xxl-4 filter-item website-copy-seo " data-category="abroad">
    <div class="card card-full ">
        <div class="card-inner ">
            <span class="tag" style="background-color: black; color: white;">Canada</span>
            <h5 class="title ">SEO Website Copy</h5>
            <p class="sub-text ">Create SEO-friendly copy for your website.</p>
            <div class="py-2">
                <span class="tag price-tag">salary $29</span>
                <span class="tag date-tag">June 2024</span>
                <span class="tag academic-level-tag">Intermediate</span>
            </div>
            <div class="relative d-flex mt-3">
                <button type="button" class="btn btn-primary rounded-pill w-full  flex-grow-1" data-bs-toggle="modal"
                    data-bs-target="#modalZoom">View</button>
            </div>
        </div>
    </div>
</div>
<div class="col-sm-6 col-xxl-4 filter-item website-copy-seo " data-category="abroad">
    <div class="card card-full ">
        <div class="card-inner ">
            <div class="d-inline-flex position-absolute end-0 top-0 me-4 mt-4 ">
                <div class="badge border-0 text-bg-light rounded-pill text-uppercase ">New</div>
            </div>
            <span class="tag" style="background-color: black; color: white;">Turkey</span>
            <h5 class="title ">SEO Blog Post</h5>
            <p class="sub-text ">Write blog posts that rank high in search engines.</p>
            <div class="py-2">
                <span class="tag price-tag">salary $29</span>
                <span class="tag date-tag">June 2024</span>
                <span class="tag academic-level-tag">Intermediate</span>
            </div>
            <div class="relative d-flex mt-3">
                <button type="button" class="btn btn-primary rounded-pill w-full  flex-grow-1" data-bs-toggle="modal"
                    data-bs-target="#modalZoom">View</button>
            </div>
        </div>
    </div>
</div>
<div class="col-sm-6 col-xxl-4 filter-item website-copy-seo " data-category="abroad">
    <div class="card card-full ">
        <div class="card-inner ">
            <span class="tag" style="background-color: black; color: white;">Qatar</span>
            <h5 class="title ">Meta Descriptions</h5>
            <p class="sub-text ">Create compelling meta descriptions for your web pages.</p>
            <div class="py-2">
                <span class="tag price-tag">salary $29</span>
                <span class="tag date-tag">June 2024</span>
                <span class="tag academic-level-tag">Intermediate</span>
            </div>
            <div class="relative d-flex mt-3">
                <button type="button" class="btn btn-primary rounded-pill w-full  flex-grow-1" data-bs-toggle="modal"
                    data-bs-target="#modalZoom">View</button>
            </div>
        </div>
    </div>
</div>