{% load static %}

<a href="" class="nk-menu-link dropdown-indicator has-indicator" data-bs-toggle="dropdown" data-offset="0,10">
    <span class="nk-menu-icon">
      <em class="icon ni ni-globe"></em>
    </span><span class="nk-menu-text">Countries</span>
  </a>
  <div class="dropdown-menu dropdown-menu-sm dropdown-menu-end">
    <ul class="language-list">
      <li>
        <a href="#" class="language-item"><img src="" alt="" class="language-flag">
          <span class="language-name">Kenya</span></a>
      </li>
      <!-- <li>
        <a href="#" class="language-item"><img src="{% static 'images/flags/spanish.png' %}" alt="" class="language-flag">
          <span class="language-name">Uganda</span></a>
      </li>
      <li>
        <a href="#" class="language-item"><img src="{% static 'images/flags/french.png' %}" alt="" class="language-flag">
          <span class="language-name">Tanzania</span></a>
      </li>
      <li>
        <a href="#" class="language-item"><img src="{% static 'images/flags/turkey.png' %}" alt="" class="language-flag">
          <span class="language-name">Rwanda</span></a>
      </li>
      <li>
        <a href="#" class="language-item"><img src="{% static 'images/flags/turkey.png' %}" alt="" class="language-flag">
          <span class="language-name">Ghana</span></a>
      </li>
      <li>
        <a href="#" class="language-item"><img src="{% static 'images/flags/turkey.png' %}" alt="" class="language-flag">
          <span class="language-name">Nigeria</span></a>
      </li>
      <li>
        <a href="#" class="language-item"><img src="{% static 'images/flags/turkey.png' %}" alt="" class="language-flag">
          <span class="language-name">Malawi</span></a>
      </li>
      <li>
        <a href="#" class="language-item"><img src="{% static 'images/flags/turkey.png' %}" alt="" class="language-flag">
          <span class="language-name">Zambia</span></a>
      </li>
      <li>
        <a href="#" class="language-item"><img src="{% static 'images/flags/turkey.png' %}" alt="" class="language-flag">
          <span class="language-name">Zimbabwe</span></a>
      </li>
      <li>
        <a href="#" class="language-item"><img src="{% static 'images/flags/turkey.png' %}" alt="" class="language-flag">
          <span class="language-name">Ethiopia</span></a>
      </li>
      <li>
        <a href="#" class="language-item"><img src="{% static 'images/flags/turkey.png' %}" alt="" class="language-flag">
          <span class="language-name">Mozambique</span></a>
      </li>
      <li>
        <a href="#" class="language-item"><img src="{% static 'images/flags/turkey.png' %}" alt="" class="language-flag">
          <span class="language-name">USA</span></a>
      </li>
      <li>
        <a href="#" class="language-item"><img src="{% static 'images/flags/turkey.png' %}" alt="" class="language-flag">
          <span class="language-name">UK</span></a>
      </li>
      <li>
        <a href="#" class="language-item"><img src="{% static 'images/flags/turkey.png' %}" alt="" class="language-flag">
          <span class="language-name">Europe</span></a>
      </li> -->
    </ul>
  </div>