{% extends "base.html" %}

{% block title %}Server Error{% endblock title %}
{% block content %}
  <!-- section content begin -->
  <div class="uk-section">
    <div class="uk-container">
      <div class="uk-grid uk-flex uk-flex-center">
        <div class="uk-width-3-4@m">
          <h1>Ooops!!! 500</h1>
          <h3>Looks like something went wrong!</h3>
          <p>
            We track these errors automatically, but if the problem persists feel free to contact us. In the meantime, try refreshing.
          </p>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
