{% extends "account/dashboard/v1/base.html" %}

{% load static %}
{% block cssClass %}bg-lighter{% endblock cssClass %}

{% block heading %}
<!-- {% include "account/dashboard/v1/components/home/head.html" %} -->
{% endblock heading %}

{% block main %}

<div class="nk-block">

  {% include "account/dashboard/v1/components/home/statsprofit.html" %}

  {% include "account/dashboard/v1/components/home/actions.html" %}

  <div class="row g-gs py-2 pb-4">
    {% include "account/dashboard/v1/components/home/notifications/updates.html" %}
  </div>

  {% include "account/dashboard/v1/components/support.html" %}


</div>



{% endblock main %}


{% block extendedJs %}
<script src="{% static 'dashboard/assets/js/charts/chart-lms.js' %}"></script>




{% endblock extendedJs %}