{% load static i18n compress%}
<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE }}">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <title>
    {% block title %}
    EarnKraft Dashboard
    {% endblock title %}
  </title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="investment app" />
  <meta name="author" content="kwasa" />
  {% block meta %}
  <!-- Inside your base template or specific view template -->
  <meta name="csrf-token" content="{{ csrf_token }}">
  {% endblock meta %}
  <link rel="shortcut icon" href="{% static 'img/elogosmall.png' %}" />
  {% compress css %}
  <link rel="stylesheet" href="{% static 'dashboard/assets/css/dashlite.css' %}?ver=3.2.3">
  <link id="skin-default" rel="stylesheet" href="{% static 'dashboard/assets/css/theme.css' %}?ver=3.2.3">

  <link rel="stylesheet" href="{% static 'css/fontawesome.all.min.css' %}">
  <style>.errorlist {color: red !important}</style>
  {% endcompress css %}

  {% block css %}{% endblock css %}
    <script src="{% static 'js/project.js' %}"></script>

</head>

<body class="nk-body npc-invest bg-lighter">

  {% block body %}

  <div class="nk-app-root">
    <div class="nk-wrap ">
      {% block navbar %}{% endblock navbar %}
      {% comment %} {% endcomment %}
      {% block content %}{% endblock content %}
      {% comment %} {% endcomment %}
      {% block footer %}{% endblock footer %}
    </div>
  </div>



  {% block modals %}
  {% endblock modals %}

  {% comment %} {% endcomment %}
  {% endblock body %}

  {% block javascript %}
  {% compress js %}

  <script src="{% static 'js/vendors/htmx.min.js' %}"></script>
  <script src="{% static 'js/vendors/axios.min.js' %}"></script>
  <script src="{% static 'dashboard/assets/js/bundle.js' %}?ver=3.2.3"></script>
  <script src="{% static 'dashboard/assets/js/scripts.js' %}?ver=3.2.3"></script>
  <script src="{% static 'dashboard/assets/js/demo-settings.js' %}?ver=3.2.3"></script>
  <script src="{% static 'dashboard/assets/js/charts/chart-invest.js' %}?ver=3.2.3"></script>




  {% endcompress %}



  {% endblock javascript %}

  {% block js %}{% endblock js %}

  <script type="module">
    document.addEventListener('DOMContentLoaded', function() {
      // Add your JS here
      console.log("Hello world");
    });
  </script>

</body>

</html>