{% extends "account/dashboard/v1/base.html" %}

{% load static %}

{% block heading %}

<div class="nk-block-head nk-block-head-lg">
  <div class="nk-block-head-sub">
    <span>Pricing</span>
  </div>
  <div class="nk-block-between-md g-4">
    <div class="nk-block-head-content">
      <h2 class="nk-block-title fw-normal">Choose Suitable Plan</h2>
      <div class="nk-block-des">
        <p>You can change your plan any time by upgrading your plan</p>
      </div>
    </div>
  </div>
</div>

{% endblock heading %}

{% block main %}

{% include "account/dashboard/v1/components/subscriptions/plans/components/plans.html" %}






{% endblock main %}



