{% load static %}
<div class="nk-header nk-header-fluid nk-header-fixed is-theme  nk-header-fixed">
  <div class="container-xl wide-lg">
    <div class="nk-header-wrap">
      <div class="nk-menu-trigger me-sm-2 d-lg-none">
        <a href="#" class="nk-nav-toggle nk-quick-nav-icon" data-target="headerNav">
          <em class="icon ni ni-menu"></em>
        </a>
      </div>
      <div class="nk-header-brand">
        <a href="" class="logo-link"><img class="logo-light logo-img" src="{% static 'img/earnkraftfull2.png' %}" srcset="{% static 'img/earnkraftfull2.png' %} 2x" alt="logo"><img class="logo-dark logo-img" src="{% static 'img/earnkraftfull2.png' %}" srcset="{% static 'img/earnkraftfull2.png' %} 2x" alt="logo-dark">
          <span class="nio-version">Invest</span></a>
      </div>
      <div class="nk-header-menu" data-content="headerNav">
        <div class="nk-header-mobile">
          <!-- <div class="nk-header-brand">
            <a href="" class="logo-link"><img class="logo-light logo-img" src="{% static 'dashboard/img/earnkraftfull2.png' %}" srcset="{% static 'img/earnkraftfull2.png' %} 2x" alt="logo"><img class="logo-dark logo-img" src="{% static 'img/earnkraftfull2.png' %}" srcset="{% static 'img/earnkraftfull2.png' %} 2x" alt="logo-dark">
              <span class="nio-version">Invest</span></a>
          </div> -->
          <div class="nk-menu-trigger me-n2">
            <a href="#" class="nk-nav-toggle nk-quick-nav-icon" data-target="headerNav">
              <em class="icon ni ni-arrow-left"></em>
            </a>
          </div>
        </div>
        <ul class="nk-menu nk-menu-main">
          <li class="nk-menu-item {% if request.resolver_match.view_name == 'dashboard:home' %}active {% else %} '' {% endif %}">
            <a href="{% url 'dashboard:home' %}" class="nk-menu-link">
              <span class="nk-menu-text">Dashboard</span></a>
          </li>
          {% if plans %}
            <li class="nk-menu-item {% if request.resolver_match.view_name == 'dashboard:invest:plans' %}active{% endif %}">
              <a href="{% url 'dashboard:invest:plans' %}" class="nk-menu-link">
                <span class="nk-menu-text">Packages</span></a>
            </li>
            <li class="nk-menu-item">
              <a href="{% url 'dashboard:invest:invest' %}" class="nk-menu-link">
                <span class="nk-menu-text">Invest</span></a>
            </li>
          {% endif %}
          <li class="nk-menu-item">
            <a href="{% url 'dashboard:invest:invest_plan' %}" class="nk-menu-link">
              <span class="nk-menu-text">Investment plans</span></a>
          </li>
          <li class="nk-menu-item">
            <a href="{% url 'users:profile:wallet:wallet' %}" class="nk-menu-link">
              <span class="nk-menu-text">Wallet</span></a>
          </li>
          <li class="nk-menu-item active has-sub">
            <a href="#" class="nk-menu-link nk-menu-toggle">
              <span class="nk-menu-text">Income</span></a>
            <ul class="nk-menu-sub">
              <li class="nk-menu-item">
                <a href="{% url 'dashboard:invest:invest' %}" class="nk-menu-link">
                  <span class="nk-menu-text">Verification</span></a>
              </li>
              <li class="nk-menu-item">
                <a href="{% url 'users:profile:wallet:wallet' %}" class="nk-menu-link">
                  <span class="nk-menu-text">Wallet
                  </span>
                </a>
              </li>
              <li class="nk-menu-item">
                <a href="{% url 'dashboard:invest:referals' %}" class="nk-menu-link">
                  <span class="nk-menu-text">Referals
                  </span>
                </a>
              </li>
              <li class="nk-menu-item">
                <a href="{% url 'dashboard:invest:bonus' %}" class="nk-menu-link">
                  <span class="nk-menu-text">Bonus</span></a>
              </li>
              <li class="nk-menu-item">
                <a href="{% url 'dashboard:invest:whatsapp' %}" class="nk-menu-link">
                  <span class="nk-menu-text">Whatsapp</span></a>
              </li>
              <li class="nk-menu-item">
                <a href="{% url 'dashboard:invest:jobs' %}" class="nk-menu-link">
                  <span class="nk-menu-text">Jobs
                    <em class="icon ni ni-external"></em>
                  </span>
                </a>
              </li>

              <li class="nk-menu-item">
                <a href="{% url 'dashboard:invest:academic_writing_accounts' %}" class="nk-menu-link">
                  <span class="nk-menu-text">Online Writing</span></a>
              </li>
              <!-- <li class="nk-menu-item"><a href="{% url 'dashboard:invest:loans' %}" class="nk-menu-link"><span class="nk-menu-text">Loans</span></a></li> -->
              <li class="nk-menu-item">
                <a href="{% url 'dashboard:invest:vip' %}" class="nk-menu-link">
                  <span class="nk-menu-text">VIP
                    <em class="icon ni ni-external"></em>
                  </span>
                </a>
              </li>
              <li class="nk-menu-item">
                <a href="{% url 'dashboard:invest:invest-order' %}" class="nk-menu-link">
                  <span class="nk-menu-text">Investment Order
                    <em class="icon ni ni-external"></em>
                  </span>
                </a>
              </li>
              <li class="nk-menu-item">
                <a href="{% url 'dashboard:invest:invest-record' %}" class="nk-menu-link">
                  <span class="nk-menu-text">Investment Records
                    <em class="icon ni ni-external"></em>
                  </span>
                </a>
              </li>

            </ul>
          </li>

        </ul>
      </div>
      <div class="nk-header-tools">
        <ul class="nk-quick-nav">
          <li class="dropdown notification-dropdown">
            <a href="#" class="dropdown-toggle nk-quick-nav-icon" data-bs-toggle="dropdown">
              <div class="icon-status icon-status-info">
                <em class="icon ni ni-bell"></em>
              </div>
            </a>
            <div class="dropdown-menu dropdown-menu-xl dropdown-menu-end dropdown-menu-s1">
              <div class="dropdown-head">
                <span class="sub-title nk-dropdown-title">Notifications</span>
                <a href="#">Mark All as Read</a>
              </div>
              <div class="dropdown-body">
                <div class="nk-notification">
                  <div class="nk-notification-item dropdown-inner">
                    <div class="nk-notification-icon">
                      <em class="icon icon-circle bg-warning-dim ni ni-curve-down-right"></em>
                    </div>
                    <div class="nk-notification-content">
                      <div class="nk-notification-text">You have requested to
                        <span>Widthdrawl</span></div>
                      <div class="nk-notification-time">2 hrs ago</div>
                    </div>
                  </div>
                  <div class="nk-notification-item dropdown-inner">
                    <div class="nk-notification-icon">
                      <em class="icon icon-circle bg-success-dim ni ni-curve-down-left"></em>
                    </div>
                    <div class="nk-notification-content">
                      <div class="nk-notification-text">Your
                        <span>Deposit Order</span>
                        is placed</div>
                      <div class="nk-notification-time">2 hrs ago</div>
                    </div>
                  </div>
                  <div class="nk-notification-item dropdown-inner">
                    <div class="nk-notification-icon">
                      <em class="icon icon-circle bg-warning-dim ni ni-curve-down-right"></em>
                    </div>
                    <div class="nk-notification-content">
                      <div class="nk-notification-text">You have requested to
                        <span>Widthdrawl</span></div>
                      <div class="nk-notification-time">2 hrs ago</div>
                    </div>
                  </div>
                  <div class="nk-notification-item dropdown-inner">
                    <div class="nk-notification-icon">
                      <em class="icon icon-circle bg-success-dim ni ni-curve-down-left"></em>
                    </div>
                    <div class="nk-notification-content">
                      <div class="nk-notification-text">Your
                        <span>Deposit Order</span>
                        is placed</div>
                      <div class="nk-notification-time">2 hrs ago</div>
                    </div>
                  </div>
                  <div class="nk-notification-item dropdown-inner">
                    <div class="nk-notification-icon">
                      <em class="icon icon-circle bg-warning-dim ni ni-curve-down-right"></em>
                    </div>
                    <div class="nk-notification-content">
                      <div class="nk-notification-text">You have requested to
                        <span>Widthdrawl</span></div>
                      <div class="nk-notification-time">2 hrs ago</div>
                    </div>
                  </div>
                  <div class="nk-notification-item dropdown-inner">
                    <div class="nk-notification-icon">
                      <em class="icon icon-circle bg-success-dim ni ni-curve-down-left"></em>
                    </div>
                    <div class="nk-notification-content">
                      <div class="nk-notification-text">Your
                        <span>Deposit Order</span>
                        is placed</div>
                      <div class="nk-notification-time">2 hrs ago</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="dropdown-foot center">
                <a href="#">View All</a>
              </div>
            </div>
          </li>
          <li class="dropdown language-dropdown d-none d-sm-flex me-n1">
            <a href="#" class="dropdown-toggle nk-quick-nav-icon" data-bs-toggle="dropdown">
              <div class="quick-icon"><img class="icon" src="{% static 'dashboard/images/flags/english-sq.png' %}" alt=""></div>
            </a>
            <div class="dropdown-menu dropdown-menu-end dropdown-menu-s1">
              <ul class="language-list">
                <li>
                  <a href="#" class="language-item"><img src="{% static 'dashboard/images/flags/english.png' %}" alt="" class="language-flag">
                    <span class="language-name">English</span></a>
                </li>
                <li>
                  <a href="#" class="language-item"><img src="{% static 'dashboard/images/flags/spanish.png' %}" alt="" class="language-flag">
                    <span class="language-name">Español</span></a>
                </li>
                <li>
                  <a href="#" class="language-item"><img src="{% static 'dashboard/images/flags/french.png' %}" alt="" class="language-flag">
                    <span class="language-name">Français</span></a>
                </li>
                <li>
                  <a href="#" class="language-item"><img src="{% static 'dashboard/images/flags/turkey.png' %}" alt="" class="language-flag">
                    <span class="language-name">Türkçe</span></a>
                </li>
              </ul>
            </div>
          </li>
          <li class="hide-mb-sm">
            <a role="button" class="nk-quick-nav-icon" hx-post="{% url 'users:logout' %}" hx-trigger="click" hx-swap="none" hx-on::after-request="window.location.reload()" hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
              <em class="icon ni ni-signout"></em>
            </a>
          </li>
          <li class="dropdown user-dropdown order-sm-first">
            <a href="#" class="dropdown-toggle" data-bs-toggle="dropdown">
              <div class="user-toggle">
                <div class="user-avatar sm">
                  <em class="icon ni ni-user-alt"></em>
                </div>
                <div class="user-info d-none d-xl-block">
                  {% if request.user.verified %}
                    <div class="user-status user-status-verified">Verified</div>
                  {% else %}
                    <div class="user-status user-status-unverified">Unverified</div>
                  {% endif %}
                  <div class="user-name dropdown-indicator">{{profile.full_name|truncatewords:"3"}}</div>
                </div>
              </div>
            </a>
            <div class="dropdown-menu dropdown-menu-md dropdown-menu-end dropdown-menu-s1 is-light">
              <div class="dropdown-inner user-card-wrap bg-lighter d-none d-md-block">
                <div class="user-card">
                  <div class="user-avatar">
                    <span>{{profile.initials}}</span></div>
                  <div class="user-info">
                    <span class="lead-text">{{profile.full_name|truncatewords:"3"}}</span><span class="sub-text">{{profile.user.email}}</span></div>
                  <div class="user-action">
                    <a class="btn btn-icon me-n2" href="">
                      <em class="icon ni ni-setting"></em>
                    </a>
                  </div>
                </div>
              </div>
              {% if plans %}
                <div class="dropdown-inner user-account-info">
                  <h6 class="overline-title-alt">Account Balance</h6>
                  <div class="user-balance">{{available_amount}}
                    <small class="currency currency-usd">KES</small>
                  </div>
                  <div class="user-balance-sub">Locked
                    <span>{{locked_amount}}
                      <span class="currency currency-usd">KES</span></span></div>
                  {% if available_amount > 0.00 %}
                    <a role="button" data-bs-toggle="modal" data-bs-dismiss="modal" data-bs-target="#withdrawalPopupForm" class="link">
                      <span>Withdraw Balance</span>
                      <em class="icon ni ni-wallet-out"></em>
                    </a>
                  {% endif %}
                </div>
              {% endif %}
              <div class="dropdown-inner">
                <ul class="link-list">
                  <li>
                    {% if request.user.verified %}
                      <a href="{% url 'users:profile:profile' %}">
                      {% else %}
                        <a href="{% url 'users:profile:profile' %}">
                        {% endif %}
                        <em class="icon ni ni-user-alt"></em>
                        <span>View Profile</span></a>
                    </li>
                    <li>
                      {% if request.user.verified %}
                        <a href="">
                        {% else %}
                          <a href="">
                          {% endif %}
                          <em class="icon ni ni-setting-alt"></em>
                          <span>Account Setting</span></a>
                      </li>
                      <li>
                        {% if request.user.verified %}
                          <a href="">
                          {% else %}
                            <a href="">
                            {% endif %}
                            <em class="icon ni ni-activity-alt"></em>
                            <span>Login Activity</span></a>
                        </li>
                      </ul>
                    </div>
                    <div class="dropdown-inner">
                      <ul class="link-list">
                        <li>
                          <a role="button" hx-post="{% url 'users:logout' %}" hx-trigger="click" hx-swap="none" hx-on::after-request="window.location.reload()" hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
                            <em class="icon ni ni-signout"></em>
                            <span>Sign out</span></a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>