{% load static humanize %}

<div class="col-md-4">
  <div class="card card-bordered card-full">
    <div class="card-inner">
      <div class="card-title-group align-start mb-0">
        <div class="card-title">
          <h6 class="subtitle">Total Deposit</h6>
        </div>
        <div class="card-tools">
          <em class="card-hint icon ni ni-help-fill" data-bs-toggle="tooltip" data-bs-placement="left" aria-label="Total Deposited" data-bs-original-title="Total Deposited"></em>
        </div>
      </div>
      <div class="card-amount">
        <span class="">
          {{locked_amount|floatformat:2|intcomma}}
          <span class="currency currency-usd">USD</span>
        </span>
        <span class="change up text-danger">
          <em class="icon ni ni-arrow-long-up"></em>0.00%</span>
      </div>
      <div class="invest-data">
        <div class="invest-data-amount g-2">
          <div class="invest-data-history">
            <div class="title">This Month</div>
            <div class="">{{0.00|floatformat:2|intcomma}}
              <span class="currency currency-usd">USD</span>
            </div>
          </div>
          <div class="invest-data-history">
            <div class="title">This Week</div>
            <div class="">{{0.00|floatformat:2|intcomma}}
              <span class="currency currency-usd">USD</span>
            </div>
          </div>
        </div>
        <div class="invest-data-ck">
          <canvas class="iv-data-chart" id="totalDeposit" width="81" height="68" style="display: block; box-sizing: border-box; height: 68px; width: 81px;"></canvas>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-md-4">
  <div class="card card-bordered card-full">
    <div class="card-inner">
      <div class="card-title-group align-start mb-0">
        <div class="card-title">
          <h6 class="subtitle">Total Withdraw</h6>
        </div>
        <div class="card-tools">
          <em class="card-hint icon ni ni-help-fill" data-bs-toggle="tooltip" data-bs-placement="left" aria-label="Total Withdraw" data-bs-original-title="Total Withdraw"></em>
        </div>
      </div>
      <div class="card-amount">
        <span class="">
          {{0.00|floatformat:2|intcomma}}
          <span class="currency currency-usd">USD</span></span>
        <span class="change down text-danger">
          <em class="icon ni ni-arrow-long-down"></em>0.00%</span>
      </div>
      <div class="invest-data">
        <div class="invest-data-amount g-2">
          <div class="invest-data-history">
            <div class="title">This Month</div>
            <div class="">{{0.00|floatformat:2|intcomma}}
              <span class="currency currency-usd">USD</span>
            </div>
          </div>
          <div class="invest-data-history">
            <div class="title">This Week</div>
            <div class="">{{0.00|floatformat:2|intcomma}}
              <span class="currency currency-usd">USD</span>
            </div>
          </div>
        </div>
        <div class="invest-data-ck">
          <canvas class="iv-data-chart" id="totalWithdraw" width="81" height="68" style="display: block; box-sizing: border-box; height: 68px; width: 81px;"></canvas>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-md-4">
  <div class="card card-bordered  card-full">
    <div class="card-inner">
      <div class="card-title-group align-start mb-0">
        <div class="card-title">
          <h6 class="subtitle">Balance in Account</h6>
        </div>
        <div class="card-tools">
          <em class="card-hint icon ni ni-help-fill" data-bs-toggle="tooltip" data-bs-placement="left" aria-label="Total Balance in Account" data-bs-original-title="Total Balance in Account"></em>
        </div>
      </div>
      <div class="card-amount">
        <span class="">
          {{available_amount|floatformat:2|intcomma}}
          <span class="currency currency-usd">USD</span></span>
      </div>
      <div class="invest-data">
        <div class="invest-data-amount g-2">
          <div class="invest-data-history">
            <div class="title">This Month</div>
            <div class="">{{0.00|floatformat:2|intcomma}}
              <span class="currency currency-usd">USD</span>
            </div>
          </div>
          <div class="invest-data-history">
            <div class="title">This Week</div>
            <div class="">{{0.00|floatformat:2|intcomma}}
              <span class="currency currency-usd">USD</span>
            </div>
          </div>
        </div>
        <div class="invest-data-ck">
          <canvas class="iv-data-chart" id="totalBalance" width="81" height="68" style="display: block; box-sizing: border-box; height: 68px; width: 81px;"></canvas>
        </div>
      </div>
    </div>
  </div>
</div>