{% extends "allauth/layouts/layout.html" %}

{% load static %}
{% load i18n %}

{% block content %}
  <h1 class="mb-2 h3 fw-bold">Forgot password</h1>
  <p class="mb-0">Enter the email address associated with an account.</p>
  <form class="mt-2 mt-sm-4">
    <div class="mb-3">
      <input type="email" class="form-control" placeholder="Enter email">
      {{form.email}}
    </div>

    <div class="d-grid mb-2">
      <button type="submit" class="btn btn-primary">Reset password</button>
    </div>

    <div class="mb-4 text-center">
      <a href="{% url 'users:login' %}" class="text-primary-hover">
        <i class="bi bi-arrow-left"></i>
        Back to login
      </a>
    </div>

    {% block Copyright %}
      {{ block.super }}
    {% endblock Copyright %}
  </form>
  <!-- Form END -->
{% endblock content %}
