{% load static i18n compress %}
{% load socialaccount %}
<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE }}" data-navigation-type="default" data-navbar-horizontal-shape="default" class="chrome windows fontawesome-i2svg-active fontawesome-i2svg-complete">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>
        {% block title %}Earnkraft{% endblock title %}
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="investment app" />
    <meta name="author" content="kwasa" />
    <link rel="shortcut icon" href="{% static 'img/elogosmall.png' %}" />


    <link rel="manifest" href="{% static 'auth/assets/img/favicons/manifest.json' %}">
    <meta name="theme-color" content="#ffffff">
    <script src="{% static 'auth/vendors/simplebar/simplebar.min.js' %}"></script>
    <script src="{% static 'auth/assets/js/config.js' %}"></script>

    <!-- ===============================================-->
    <!--    Stylesheets-->
    <!-- ===============================================-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
    <link href="{% static 'auth/css2' %}?family=Nunito+Sans:wght@300;400;600;700;800;900&amp;display=swap" rel="stylesheet">
    <link href="{% static 'auth/vendors/simplebar/simplebar.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'auth/release/v4.0.8/css/line.css' %}">
    <link href="{% static 'auth/assets/css/theme.min.css' %}" type="text/css" rel="stylesheet" id="style-default">
    <link href="{% static 'auth/assets/css/user.min.css' %}" type="text/css" rel="stylesheet" id="user-style-default">

    <style>
        .d-md-block {
            display: inline;
        }

        @media (max-width:589px) {
            .d-sm-none {
                display: none !important;
            }
        }

        .response-alert {
            display: none;
            /* Hidden by default, to be shown by jQuery */
            padding: 15px;
            margin-top: 20px;
            margin-bottom: 20px;
            border: 1px solid #b3d7ff;
            border-radius: 8px;
            background-color: #e6f3ff;
            /* Light blue background */
            color: #004085;
            /* Darker blue text */
            font-family: Arial, sans-serif;
            font-size: 16px;
            position: relative;
            /* For optional close button positioning */
            box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
            /* Soft shadow */
        }

        .response-alert.info {
            background-color: #e0f7fa;
            border-color: #81d4fa;
            color: #006064;
        }

        /* Optional: Add a close button */
        .response-alert .close-btn {
            position: absolute;
            top: 10px;
            right: 10px;
            color: #004085;
            font-size: 18px;
            cursor: pointer;
        }

        .response-alert .close-btn:hover {
            color: #002752;
        }
    </style>

</head>

<body>

    <!-- ===============================================-->
    <!--    Main Content-->
    <!-- ===============================================-->
    <main class="main" id="top">
        <div class="container-fluid bg-body-tertiary dark__bg-gray-1200">
            <div class="bg-holder bg-auth-card-overlay" style="background-image:url('{% static " auth/assets/img/bg/37.png" %}');"></div>
            <!--/.bg-holder-->
            <div class="row flex-center position-relative min-vh-100 g-0 py-5">
                <div class="col-11 col-sm-10 col-xl-8">
                    <div class="card border border-translucent auth-card">
                        <div class="card-body pe-md-0">
                            <div class="row align-items-center gx-0 gy-7">
                                <div class="d-sm-none d-md-block col-auto bg-body-highlight dark__bg-gray-1100 rounded-3 position-relative overflow-hidden auth-title-box">
                                    <div class="bg-holder" style="background-image:url('{% static " auth/assets/img/bg/38.png" %}');"></div>
                                    <!--/.bg-holder-->
                                    <div class="position-relative px-4 px-lg-7 pt-7 pb-7 pb-sm-5 text-center text-md-start pb-lg-7 pb-md-7">
                                        <h3 class="mb-3 text-body-emphasis fs-7"
                                        >
                                        {% if request.resolver_match.view_name == 'users:signup' %}New Registration {% else %}Welcome Back {% endif %}
                                        
                                    </h3>
                                        <p class="text-body-tertiary">
                                            Give yourself some hassle-free development process with the uniqueness of Phoenix!
                                        </p>
                                        <ul class="list-unstyled mb-0 w-max-content w-md-auto">
                                            <li class="d-flex align-items-center"><span class="uil uil-check-circle text-success me-2"></span><span class="text-body-tertiary fw-semibold">Fast</span></li>
                                            <li class="d-flex align-items-center"><span class="uil uil-check-circle text-success me-2"></span><span class="text-body-tertiary fw-semibold">Simple</span></li>
                                            <li class="d-flex align-items-center"><span class="uil uil-check-circle text-success me-2"></span><span class="text-body-tertiary fw-semibold">Responsive</span></li>
                                        </ul>
                                    </div>
                                    <div class="position-relative z-n1 mb-6 d-none d-md-block text-center mt-md-15">
                                        <img class="auth-title-box-img d-dark-none" src="{% static 'auth/assets/img/spot-illustrations/auth.png' %}" alt="">
                                        <img class="auth-title-box-img d-light-none" src="{% static 'auth/assets/img/spot-illustrations/auth-dark.png' %}" alt="">
                                    </div>
                                </div>
                                <div class="col mx-auto">
                                    <div class="auth-form-box">
                                        <div class="text-center mb-7">
                                            <a class="d-flex flex-center text-decoration-none mb-4" href="{% url 'home' %}">
                                                <div class="d-flex align-items-center fw-bolder fs-3 d-inline-block">
                                                    <img src="{% static 'auth/assets/img/icons/logo.png' %}" alt="phoenix" width="58">
                                                </div>
                                            </a>
                                            <h3 class="text-body-highlight">
                                                Sign {% if request.resolver_match.view_name == 'users:signup' %}Up {% else %}In {% endif %}
                                            </h3>
                                            <p class="text-body-tertiary">Get access to your account</p>
                                        </div>
                                        <a href="{% provider_login_url 'google' %}" class="btn btn-phoenix-secondary w-100 mb-3">
                                            <span class="fab fa-google text-danger me-2 fs-9"></span>
                                            Sign in with Google
                                        </a>
                                        <a href="{% provider_login_url 'github' %}" class="btn btn-phoenix-secondary w-100">
                                            <span class="fab fa-github text-primary me-2 fs-9"></span>
                                            Sign in with Github
                                        </a>
                            
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="support-chat-container">
            <div class="container-fluid support-chat">
                <div class="card bg-body-emphasis">
                    <div class="card-header d-flex flex-between-center px-4 py-3 border-bottom border-translucent">
                        <h5 class="mb-0 d-flex align-items-center gap-2">
                            Customer Support<span class="fa-solid fa-circle text-success fs-11"></span></h5>
                        <div class="btn-reveal-trigger">
                            <button title="submit" class="btn btn-link p-0 dropdown-toggle dropdown-caret-none transition-none d-flex" type="button" id="support-chat-dropdown" data-bs-toggle="dropdown" data-boundary="window" aria-haspopup="true" aria-expanded="false" data-bs-reference="parent"><span class="fas fa-ellipsis-h text-body"></span></button>
                            <div class="dropdown-menu dropdown-menu-end py-2" aria-labelledby="support-chat-dropdown"><a class="dropdown-item" href="">Request a callback</a><a class="dropdown-item" href="">Search in chat</a><a class="dropdown-item" href="">Show history</a><a class="dropdown-item" href="">Report to Admin</a><a class="dropdown-item btn-support-chat" href="">Close Support</a></div>
                        </div>
                    </div>
                    <div class="card-body chat p-0">
                        <div class="d-flex flex-column-reverse scrollbar h-100 p-3">
                            <div class="text-end mt-6"><a class="mb-2 d-inline-flex align-items-center text-decoration-none text-body-emphasis bg-body-hover rounded-pill border border-primary py-2 ps-4 pe-3" href="">
                                    <p class="mb-0 fw-semibold fs-9">I need help with something</p><span class="fa-solid fa-paper-plane text-primary fs-9 ms-3"></span>
                                </a><a class="mb-2 d-inline-flex align-items-center text-decoration-none text-body-emphasis bg-body-hover rounded-pill border border-primary py-2 ps-4 pe-3" href="">
                                    <p class="mb-0 fw-semibold fs-9">I can’t reorder a product I previously ordered</p><span class="fa-solid fa-paper-plane text-primary fs-9 ms-3"></span>
                                </a><a class="mb-2 d-inline-flex align-items-center text-decoration-none text-body-emphasis bg-body-hover rounded-pill border border-primary py-2 ps-4 pe-3" href="">
                                    <p class="mb-0 fw-semibold fs-9">How do I place an order?</p><span class="fa-solid fa-paper-plane text-primary fs-9 ms-3"></span>
                                </a><a class="false d-inline-flex align-items-center text-decoration-none text-body-emphasis bg-body-hover rounded-pill border border-primary py-2 ps-4 pe-3" href="">
                                    <p class="mb-0 fw-semibold fs-9">My payment method not working</p><span class="fa-solid fa-paper-plane text-primary fs-9 ms-3"></span>
                                </a></div>
                            <div class="text-center mt-auto">
                                <div class="avatar avatar-3xl status-online"><img class="rounded-circle border border-3 border-light-subtle" src="{% static 'auth/assets/img/team/30.webp' %}" alt=""></div>
                                <h5 class="mt-2 mb-3">Nalianya</h5>
                                <p class="text-center text-body-emphasis mb-0">Ask us anything – we’ll get back to you here or by email within 24 hours.</p>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer d-flex align-items-center gap-2 border-top border-translucent ps-3 pe-4 py-3">
                        <div class="d-flex align-items-center flex-1 gap-3 border border-translucent rounded-pill px-4">
                            <input class="form-control outline-none border-0 flex-1 fs-9 px-0" type="text" placeholder="Write message"><label class="btn btn-link d-flex p-0 text-body-quaternary fs-9 border-0" for="supportChatPhotos"><span class="fa-solid fa-image"></span></label><input class="d-none" type="file" accept="image/*" id="supportChatPhotos"><label class="btn btn-link d-flex p-0 text-body-quaternary fs-9 border-0" for="supportChatAttachment"> <span class="fa-solid fa-paperclip"></span></label><input class="d-none" type="file" id="supportChatAttachment">
                        </div><button title="submit" class="btn p-0 border-0 send-btn"><span class="fa-solid fa-paper-plane fs-9"></span></button>
                    </div>
                </div>
            </div><button class="btn btn-support-chat p-0 border border-translucent"><span class="fs-8 btn-text text-primary text-nowrap">
                    Live Support

                </span><span class="ping-icon-wrapper mt-n4 ms-n6 mt-sm-0 ms-sm-2 position-absolute position-sm-relative"><span class="ping-icon-bg"></span><span class="fa-solid fa-circle ping-icon"></span></span><span class="fa-solid fa-headset text-primary fs-8 d-sm-none"></span><span class="fa-solid fa-chevron-down text-primary fs-7"></span></button>
        </div>
    </main><!-- ===============================================-->
    <!--    End of Main Content-->
    <!-- ===============================================-->




    <!-- ===============================================-->
    <!--    JavaScripts-->
    <!-- ===============================================-->
    <script src="{% static 'auth/vendors/popper/popper.min.js' %}"></script>
    <script src="{% static 'auth/vendors/bootstrap/bootstrap.min.js' %}"></script>
    <script src="{% static 'auth/vendors/anchorjs/anchor.min.js' %}"></script>
    <script src="{% static 'auth/vendors/is/is.min.js' %}"></script>
    <script src="{% static 'auth/vendors/fontawesome/all.min.js' %}"></script>
    <script src="{% static 'auth/vendors/lodash/lodash.min.js' %}"></script>
    <script src="{% static 'auth/vendors/list.js/list.min.js' %}"></script>
    <script src="{% static 'auth/vendors/feather-icons/feather.min.js' %}"></script>
    <script src="{% static 'auth/vendors/dayjs/dayjs.min.js' %}"></script>
    <script src="{% static 'auth/assets/js/phoenix.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script>
        $(document).ready(function () {
            $("#EmailAddress").keydown(function (event) {
                event.preventDefault();
                $(".response-alert")
                    .addClass("info")  // Add the 'info' class for custom styling
                    .show();  // Make sure it's visible

                // Close button functionality
                $(".close-btn").click(function () {
                    $(".response-alert").fadeOut();  // Fade out and hide the alert
                });
                $(this).attr("disabled", true);
            });
        });
    </script>

      <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script>
    function validateToken() {
      const token = localStorage.getItem('accessToken');

      $.ajax({
        url: '/api/auth/validate-access-token',
        type: 'POST',
        headers: {
          'Authorization': `Bearer ${token}`,
          'Content-Type': 'application/json',
        },
        success: function (response) {
          console.log("Token is valid:", response);
        },
        error: function (xhr) {
          console.error("Invalid token:", xhr.responseJSON);
        }
      });
    }

    // Call the function as needed, e.g., on button click
    validateToken();
  </script>

</body>

</html>