{% extends "allauth/layouts/base.html" %}
{% load static %}
{% load i18n %}
{% block title %}
  {{ block.super }}
  User login
{% endblock title %}

{% block header %}
  Hi, welcome back
{% endblock header %}

{% block content %}

  <form class="uk-grid uk-form" action="{% url 'users:login' %}" method="post">
    {% csrf_token %}
    <div class="uk-margin-small uk-width-1-1 uk-inline">
      <span class="uk-form-icon uk-form-icon-flip fas fa-envelope fa-sm"></span>
      {{form.email}}
    </div>

    <div class="uk-margin-small uk-width-auto uk-text-small">
      <label>
        <input class="uk-checkbox" type="checkbox">
        Remember me
      </label>
    </div>
    <div class="uk-margin-small uk-width-expand uk-text-small">
      <label class="uk-align-right"></label>
    </div>
    <div class="uk-margin-small uk-width-1-1">
      <button class="uk-button uk-width-1-1 uk-button-primary uk-border-rounded uk-float-left" type="submit" name="submit">Sign in</button>
    </div>
  </form>

{% endblock content %}
