{% extends "allauth/layouts/layout.html" %}

{% load static %}
<!-- -->
{% load i18n %}

{% block content %}
  <!-- -->
  <h1 class="mb-2 h3 fw-bold">Create Account</h1>
  <p class="mb-0">
    Already have an account?
    <a href="{% url 'users:login' %}" class="text-primary-grad">
      Sign in here
    </a>
  </p>
  <form class="mt-2 mt-sm-4" id="registerForm" action="{{request.path}}">
    {% csrf_token %}
    <div role="alert" id="response"></div>
    <div class="mb-3">
      {{form.username}}
    </div>
    <div class="mb-3">
      {{form.email}}
    </div>
    <div class="mb-3 position-relative">
      <div class="mb-3 position-relative">
        {{form.password}}
        <span class="position-absolute top-50 end-0 translate-middle-y p-0 me-2">
          <i class="fakepasswordicon bi bi-eye-slash-fill cursor-pointer p-2"></i>
        </span>
      </div>
    </div>
    <div class="mb-3 position-relative">
      <div class="mb-3 position-relative">
        {{form.password2}}
        <span class="position-absolute top-50 end-0 translate-middle-y p-0 me-2">
          <i class="fakepasswordicon bi bi-eye-slash-fill cursor-pointer p-2"></i>
        </span>
      </div>
    </div>
    <div class="mb-3 text-start form-check">
      {{form.terms_and_conditions}}
      <label class="form-check-label small" for="{{form.terms_and_conditions.id_for_label}}">
        {{form.terms_and_conditions.label}}
      </label>
    </div>
    <div class="d-grid">
      <button type="submit" class="btn btn-primary">
        <span class="d-sm-inline" id="registerButton">Register Today</span>
        <div class="d-none align-items-center" id="spinner">
          <strong role="status">registering your account...</strong>
          <div class="spinner-border ms-auto" aria-hidden="true"></div>
        </div>
      </button>
    </div>
    <div class="d-flex align-items-center my-3">
      <hr class="w-100">
      <p class="small px-4 mb-0">Or</p>
      <hr class="w-100">
    </div>
    {% block socialAuth %}
      <!-- -->
      {{ block.super }}
      <!-- -->
    {% endblock socialAuth %}
    <!-- Copyright -->
    {% block Copyright %}
      <!-- -->
      {{ block.super }}
      <!-- -->
    {% endblock Copyright %}
  </form>
  <!-- Form END -->
{% endblock content %}
