{% extends "allauth/layouts/base.html" %}
{% load static %}
{% load i18n %}
{% block inner %}

  <form action="{% url 'users:signup' %}" method="post">
    {% csrf_token %}
    <div class="form-group">
      <label class="form-label" for="name">Username</label>
      <div class="form-control-wrap">
        {{form.username}}
        {% if form.username.errors %}
          <ul class="errorlist">
            {% for error in form.username.errors %}
              <li>{{ error }}</li>
            {% endfor %}
          </ul>
        {% endif %}
      </div>
    </div>
    <div class="form-group">
      <label class="form-label" for="email">Email Address</label>
      <div class="form-control-wrap">
        {{form.email}}
        {% if form.email.errors %}
          <ul class="errorlist">
            {% for error in form.email.errors %}
              <li>{{ error }}</li>
            {% endfor %}
          </ul>
        {% endif %}

        <div style="margin-top:5px !important;">

          <small id="email-lookup-result"></small>

        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="custom-control custom-control-xs custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="checkbox"/>
        <label class="custom-control-label" for="checkbox">I agree to Liquid
          <a href="#">Privacy Policy</a>
          &amp;
          <a href="#">
            Terms.</a>
        </label>
      </div>
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-lg btn-primary btn-block" id="submitBtn">Register</button>
    </div>
  </form>

  <script>
    document
      .body
      .addEventListener("htmx:afterSwap", function (event) {
        console.log(event.detail.target)

        const swappedElement = event.detail.target
        try {
          const emailResponseBox = document.getElementById('email-lookup-result');
          const responseBox = emailResponseBox.getAttribute("data-bt-state")

          const submitButton = document.getElementById('submitBtn');
          if (responseBox === "disabled") {

            submitButton.setAttribute("disabled", "disabled")
          } else {
            if (submitButton.getAttribute("disabled")) {
              submitButton.removeAttribute("disabled")
            }
          }
        } catch (e) {
          console.log(e)
        }

      })

    document
      .body
      .removeEventListener("htmx:afterSwap", function (event) {
        console.log(event.detail.target)
      })
  </script>

{% endblock inner %}
