{% load humanize static %}


<!--
<div class="nk-block">
  <div class="row gy-gs">
    <div class="col-lg-4 col-xl-4">
      <div class="nk-block">

        <div class="nk-block">
          <div class="card card-bordered text-light is-dark h-100">
            <div class="card-inner">
              <div class="nk-wg7">
                <div class="nk-wg7-stats">
                  <div class="nk-wg7-title">Available Balance</div>
                  <div class="number-lg">
                    <!-- number
                    {{available_amount|floatformat:2|intcomma}}
                    <span class="currency">KES</span>
                  </div>
                </div>
                <div class="nk-wg7-stats-group">
                  <div class="nk-wg7-stats w-50">
                    <div class="nk-wg7-title"> Expenses</div>
                    <div class="number">{{plans.count|default:"0"}} <span class="currency"> KES</span></div>
                  </div>
                  <div class="nk-wg7-stats w-50">
                    <div class="nk-wg7-title">Profits</div>
                    <div class="number">{{transactions.count|default:"0"}} <span class="currency"> KES</span></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-8 col-xl-8">
      <div class="nk-block">

        <div class="row g-2">

          <div class="col-sm-4">
            <div class="card bg-light">
              <div class="nk-wgw sm">
                <a class="nk-wgw-inner" href="{% url 'dashboard:invest:bonus' %}">
                  <div class="nk-wgw-name">
                    <div class="nk-wgw-icon">
                      <em class="icon ni ni-gift"></em>
                    </div>
                    <h5 class="nk-wgw-title title">Bonuses</h5>
                  </div>
                  <div class="nk-wgw-balance">
                    <div class="">{{bonuses|floatformat:2|intcomma|default:"0.00"}}
                      <span class="currency currency-eth">KES</span>
                    </div>
                  </div>
                </a>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="card bg-light">
              <div class="nk-wgw sm">
                <a class="nk-wgw-inner" href="">
                  <div class="nk-wgw-name">
                    <div class="nk-wgw-icon">
                      <em class="icon ni ni-building"></em>
                    </div>
                    <h5 class="nk-wgw-title title">Investments</h5>
                  </div>
                  <div class="nk-wgw-balance">
                    <div class="">{{investments|floatformat:2|intcomma|default:"0.00"}}
                      <span class="currency currency-btc">KES</span>
                    </div>
                  </div>
                </a>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="card bg-light">
              <div class="nk-wgw sm">
                <a class="nk-wgw-inner" href="{% url 'dashboard:invest:whatsapp' %}">
                  <div class="nk-wgw-name">
                    <div class="nk-wgw-icon">
                      <em class="icon ni ni-whatsapp"></em>
                    </div>
                    <h5 class="nk-wgw-title title">WhatsApp Earnings</h5>
                  </div>
                  <div class="nk-wgw-balance">
                    <div class="">{{earnings|floatformat:2|intcomma|default:"0.00"}}
                      <span class="currency currency-nio">KES</span>
                    </div>
                  </div>
                </a>
              </div>
            </div>
          </div>


        </div>


      </div>
      <div class="nk-block">

        <div class="row g-2">
          <div class="col-sm-4">
            <div class="card bg-light">
              <div class="nk-wgw sm">
                <a class="nk-wgw-inner" href="{% url 'dashboard:invest:jobs:jobs' %}">
                  <div class="nk-wgw-name">
                    <div class="nk-wgw-icon">
                      <em class="icon ni ni-clipboard"></em>
                    </div>
                    <h5 class="nk-wgw-title title">All Jobs</h5>
                  </div>
                  <div class="nk-wgw-balance">
                    <div class="1">22
                      <span class="currency-nio"></span>
                    </div>
                  </div>
                </a>
              </div>
            </div>
          </div>
    
          <div class="col-sm-4">
            <div class="card bg-light">
              <div class="nk-wgw sm">
                <a class="nk-wgw-inner" href="{% url 'dashboard:invest:academic_writing_accounts' %}">
                  <div class="nk-wgw-name">
                    <div class="nk-wgw-icon">
                      <em class="icon ni ni-gift"></em>
                    </div>
                    <h5 class="nk-wgw-title title">Purchases</h5>
                  </div>
                  <div class="nk-wgw-balance">
                    <div class="1">{{bonuses|floatformat|intcomma|default:"0"}}
                      <span class="currency-eth"></span>
                    </div>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>


<div class="nk-block nk-block-md">
  <div class="nk-block-head-xs">
    <div class="nk-block-between-md g-2">
      <div class="nk-block-head-content">
        <h6 class="nk-block-title title">Remote Jobs Stats</h6>
      </div>
    </div>
  </div>

  <div class="row g-2">
    <!-- Card 1: All Remote Jobs 
    <div class="col-sm-3">
      <div class="card bg-light">
        <div class="nk-wgw sm">
          <a class="nk-wgw-inner" href="#">
            <div class="nk-wgw-name">
              <div class="nk-wgw-icon">
                <em class="icon fas fa-briefcase"></em>
              </div>
              <h5 class="nk-wgw-title title">All Remote Jobs</h5>
            </div>
            <div class="nk-wgw-balance">
              <div class="">{{ all_remote_jobs.count }}</div>
            </div>
          </a>
        </div>
      </div>
    </div>

    <!-- Card 2: Remote Jobs Done --
    <div class="col-sm-3">
      <div class="card bg-light">
        <div class="nk-wgw sm">
          <a class="nk-wgw-inner" href="#">
            <div class="nk-wgw-name">
              <div class="nk-wgw-icon">
                <em class="icon fas fa-check-circle"></em>
              </div>
              <h5 class="nk-wgw-title title">Remote Jobs Done</h5>
            </div>
            <div class="nk-wgw-balance">
              <div class="">{{ remote_jobs_done.count }}</div>
            </div>
          </a>
        </div>
      </div>
    </div>

    <!-- Card 3: Remote Jobs Rejected --
    <div class="col-sm-3">
      <div class="card bg-light">
        <div class="nk-wgw sm">
          <a class="nk-wgw-inner" href="#">
            <div class="nk-wgw-name">
              <div class="nk-wgw-icon">
                <em class="icon fas fa-times-circle"></em>
              </div>
              <h5 class="nk-wgw-title title">Remote Jobs Rejected</h5>
            </div>
            <div class="nk-wgw-balance">
              <div class="">{{ remote_jobs_rejected.count }}</div>
            </div>
          </a>
        </div>
      </div>
    </div>

    <!-- Card 4: Remote Jobs Income --
    <div class="col-sm-3">
      <div class="card bg-light">
        <div class="nk-wgw sm">
          <a class="nk-wgw-inner" href="#">
            <div class="nk-wgw-name">
              <div class="nk-wgw-icon">
                <em class="icon fas fa-dollar-sign"></em>
              </div>
              <h5 class="nk-wgw-title title">Remote Jobs Income</h5>
            </div>
            <div class="nk-wgw-balance">
              <div class="">$ {{ remote_jobs_income|floatformat:2|intcomma }} </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="nk-block nk-block-md">
  <div class="nk-block-head-xs">
    <div class="nk-block-between-md g-2">
      <div class="nk-block-head-content">
        <h6 class="nk-block-title title">User Profile</h6>
      </div>
      <div class="nk-block-head-content">
        <a href="{% url 'users:profile:profile' %}" class="link link-primary"></a>
      </div>
    </div>
  </div>
  <div class="row g-2">
    <div class="col-sm-4">
      <div class="card bg-light">
        <div class="nk-wgw sm">
          <a class="nk-wgw-inner" href="">
            <div class="nk-wgw-name">
              <div class="nk-wgw-icon">
                <em class="icon fas fa-check text-success"></em>
                <!-- Active status icon --
                <!--<em class="icon fas fa-toggle-off text-danger"></em>
              </div>
              <h5 class="nk-wgw-title title">Status</h5>
            </div>
            <div class="nk-wgw-balance">
              <div class="1">Active<span class="currency-nio"></span></div>
            </div>
          </a>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card bg-light">
        <div class="nk-wgw sm">
          <a class="nk-wgw-inner" href="">
            <div class="nk-wgw-name">
              <div class="nk-wgw-icon">
                <em class="icon fas fa-user-tie"></em>
              </div>
              <h5 class="nk-wgw-title title">Rank</h5>
            </div>
            <div class="nk-wgw-balance">
              <div class="1">level 1<span class="currency-btc"></span></div>
            </div>
          </a>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card bg-light">
        <div class="nk-wgw sm">
          <a class="nk-wgw-inner" href="">
            <div class="nk-wgw-name">
              <div class="nk-wgw-icon">
                <em class="icon fas fa-crown"></em>
              </div>
              <h5 class="nk-wgw-title title">VIP</h5>
            </div>
            <div class="nk-wgw-balance">
              <div class="1">User<span class="currency-eth"></span></div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div> -->

<style>
  .f-12{
    font-size:12px;
  }
</style>
<div>
  <span class="data-label">Welcome </span>
  <span style="font-size: 1rem; font-weight: 500; color: rgb(157, 114, 255);">
    {{ profile.user.username }}
  </span>
</div>

<div class="nk-block">
  <div class="row g-gs">


    
    <div class="col-xxl-3 col-sm-6">
      <div class="card">
        <div class="nk-ecwg nk-ecwg6">
          <div class="card-inner">
            <div class="card-title-group">
              <div class="card-title">
                <h6 class="title">Account Balance</h6>
              </div>
            </div>
            <div class="data">
              <div class="data-group">
                <div class="">
                  {{available_amount|floatformat:2|intcomma}} KES
                </div>
                <div class="nk-ecwg6-ck"><canvas class="ecommerce-line-chart-s3" id="opdIncome" width="100" height="40" style="display: block; box-sizing: border-box; height: 40px; width: 100px;"></canvas></div>
              </div>
              <div class="info">
                <span id="percentage-change" class="change down text-danger">
                  <em class="icon ni ni-arrow-long-down"></em>
                  0.00%
                </span>
                <span> vs. last week</span>
              </div>
              
             
              
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xxl-3 col-sm-6">
      <div class="card">
        <div class="nk-ecwg nk-ecwg6">
          <div class="card-inner">
            <div class="card-title-group">
              <div class="card-title ">
                <h6 class="title">Active Package</h6>
              </div>
            </div>
            <div class="data">
              <div class="data-group">
                {% for plan in plans %}
                <div class=""> {{plan.type.price}} <span class="currency currency-nio f-12">KES</span></div>
                {% endfor %}
                <div class="nk-ecwg6-ck"><canvas class="ecommerce-line-chart-s3" id="labIncome" width="100" height="40" style="display: block; box-sizing: border-box; height: 40px; width: 100px;"></canvas></div>
              </div>
              <div class="info">
                {% for plan in plans %}
                <span class="down text-success" style="font-size: smaller;"> {{plan.type}}</span>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xxl-3 col-sm-6">
      <div class="card">
        <div class="nk-ecwg nk-ecwg6">
          <div class="card-inner">
            <div class="card-title-group">
              <div class="card-title">
                <h6 class="title">Remote Tasks Income</h6>
              </div>
            </div>
            <div class="data">
              <div class="data-group">
                <div class="">
                $ {{ remote_jobs_income|floatformat:2|intcomma }}
                </div>
                <div class="nk-ecwg6-ck"><canvas class="ecommerce-line-chart-s3" id="opdIncome" width="100" height="40" style="display: block; box-sizing: border-box; height: 40px; width: 100px;"></canvas></div>
              </div>
              <div class="info">
                <span id="percentage-change" class="change down text-danger">
                  <em class="icon ni ni-arrow-long-down"></em>
                  0.00%
                </span>
                <span> vs. last week</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xxl-3 col-sm-6">
      <div class="card">
        <div class="nk-ecwg nk-ecwg6">
          <div class="card-inner">
            <div class="card-title-group">
              <div class="card-title ">
                <h6 class="title">Referral Earnings</h6>
              </div>
            </div>
            <div class="data">
              <div class="data-group">
                <div class=""> {{referral_earnings}} <span class="currency currency-nio f-12">KES</span></div>
                <div class="nk-ecwg6-ck"><canvas class="ecommerce-line-chart-s3" id="labIncome" width="100" height="40" style="display: block; box-sizing: border-box; height: 40px; width: 100px;"></canvas></div>
              </div>
              <div class="info">
                <span id="percentage-change" class="change down text-danger">
                  <em class="icon ni ni-arrow-long-down"></em>
                  0.00%
                </span>
                <span> vs. last week</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xxl-3 col-sm-6">
      <div class="card">
        <div class="nk-ecwg nk-ecwg6">
          <div class="card-inner">
            <div class="card-title-group">
              <div class="card-title">
                <h6 class="title">WhatsApp Earnings</h6>
              </div>
            </div>
            <div class="data">
              <div class="data-group">
                <div class="">
                  {{earnings|floatformat:2|intcomma|default:"0.00"}}
                  <span class="currency currency-nio f-12">KES</span>
                </div>
                <div class="nk-ecwg6-ck">
                  <canvas class="ecommerce-line-chart-s3" id="ipdIncome" width="100" height="40" style="display: block; box-sizing: border-box; height: 40px; width: 100px;"></canvas>
                </div>
              </div>
              <div class="info">
                <span id="percentage-change" class="change down text-danger">
                  <em class="icon ni ni-arrow-long-down"></em>
                  0.00%
                </span>
                <span> vs. last week</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xxl-3 col-sm-6">
      <div class="card">
        <div class="nk-ecwg nk-ecwg6">
          <div class="card-inner">
            <div class="card-title-group">
              <div class="card-title">
                <h6 class="title">Bonuses</h6>
              </div>
            </div>
            <div class="data">
              <div class="data-group">
                <div class=""> {{bonuses|floatformat:2|intcomma|default:"0.00"}} KES</div>
                <div class="nk-ecwg6-ck">
                  <canvas class="ecommerce-line-chart-s3" id="todayExpense" width="100" height="40" 
                  style="display: block; box-sizing: border-box; height: 40px; width: 100px;"></canvas></div>
              </div>
              <div class="info">
                <span id="percentage-change" class="change down text-danger">
                  <em class="icon ni ni-arrow-long-down"></em>
                  0.00%
                </span>
                <span> vs. last week</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="col-md-4 col-xxl-3">
      <div class="card h-100">
        <div class="card-inner">
          <div class="card-title-group mb-2">
            <div class="card-title">
              <h6 class="title">User Statistics</h6>
            </div>
          </div>
          <ul class="nk-store-statistics">
            <li class="item">
              <div class="info">
                <div class="title">Articles Written</div>
                <div class="count">
                  {{articles.count}}
                </div>
              </div><em class="icon ni bg-blue-dim ni-list-index-fill"></em>
            </li class="item">
              <div class="info">
                <div class="title">Remote Tasks Done</div>
                <div class="count">
                  {{ remote_jobs_done.count }}
                </div>
              </div>
            </li>
            <li class="item">
              <div class="info">
                <div class="title">Investment</div>
                <div class="count">
                  {{investments|floatformat|intcomma|default:"0.00"}}
                  <span class="currency-btc f-12">KES</span>
                </div>
              </div><em class="icon  bg-info-dim ni ni-wallet-fill"></em>

            </li>
            <li class="item">
              <div class="info">
                <div class="title">Loans</div>
                <div class="count">
                  {{investments|floatformat|intcomma|default:"0.00"}}
                  <span class="currency-btc f-12">KES</span>
                </div>
              </div><em class="icon bg-success-dim ni ni-wallet-fill"></em>

            </li>
            <li class="item">
              <div class="info">
                <div class="title">All Jobs</div>
                <div class="count">500+</div>
              </div><em class="icon bg-info-dim ni ni-users"></em>
            </li>
            <li class="item">
              <div class="info">
                <div class="title">Accounts & Products</div>
                <div class="count">98+</div>
              </div><em class="icon bg-pink-dim ni ni ni-plus-fill-c"></em>
            </li>
            <li class="item">
              <div class="info">
                <div class="title">Rank</div>
                <div class="count">
                  Level 1
                </div>
              </div><em class="icon bg-purple-dim ni ni-network"></em>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-8 col-xxl-9">
      <div class="card card-bordered h-100">
        <div class="card-inner">
          <div class="card-title-group pb-3 g-2">
            <div class="card-title">
              <h6 class="title">Income vs Expenses</h6>
              <p>Last 30 days Income vs Expenses Statistics.</p>
            </div>
            <div class="card-tools shrink-0 d-none d-sm-block">
              <ul class="nav nav-switch-s2 nav-tabs bg-white">
                <li class="nav-item"><a href="#" class="nav-link">7 D</a></li>
                <li class="nav-item"><a href="#" class="nav-link active">1 M</a></li>
                <li class="nav-item"><a href="#" class="nav-link">3 M</a></li>
              </ul>
            </div>
          </div>
          <div class="analytic-ov">
            <div class="analytic-data-group analytic-ov-group g-3">
              <div class="analytic-data analytic-ov-data">
                <div class="title">Month</div>
                <div class="amount">12.57K</div>
                <div class="change up"><em class="icon ni ni-arrow-long-up"></em>12.37%</div>
              </div>
              <div class="analytic-data analytic-ov-data">
                <div class="title">Week</div>
                <div class="amount">3.98K</div>
                <div class="change up"><em class="icon ni ni-arrow-long-up"></em>47.74%</div>
              </div>
              <div class="analytic-data analytic-ov-data">
                <div class="title">Month</div>
                <div class="amount">4.49K</div>
                <div class="change up"><em class="icon ni ni-arrow-long-up"></em>12.37%</div>
              </div>
              <div class="analytic-data analytic-ov-data">
                <div class="title">Week</div>
                <div class="amount">1.15K</div>
                <div class="change down"><em class="icon ni ni-arrow-long-down"></em>0.35%</div>
              </div>
            </div>
            <div class="analytic-ov-ck"><canvas class="analytics-line-large" id="analyticOvData" width="682" height="175" style="display: block; box-sizing: border-box; height: 175px; width: 682px;"></canvas></div>
            <div class="chart-label-group ms-5">
              <div class="chart-label">01 Oct, 2024</div>
              <div class="chart-label d-none d-sm-block">15 Oct, 2024</div>
              <div class="chart-label">30 Oct, 2024</div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
<script>
  function updatePercentage() {
    // Generate a random percentage between -5% and 5%
    const randomPercentage = (Math.random() * 10 - 5).toFixed(2); // Range: -5 to 5

    const percentageChangeElement = document.getElementById("percentage-change");
    percentageChangeElement.textContent = `${Math.abs(randomPercentage)}%`;

    // Update the icon and color based on positive/negative value
    if (randomPercentage < 0) {
      percentageChangeElement.classList.remove("text-success");
      percentageChangeElement.classList.add("text-danger", "down");
      percentageChangeElement.innerHTML = `<em class="icon ni ni-arrow-long-down"></em>${Math.abs(randomPercentage)}%`;
    } else {
      percentageChangeElement.classList.remove("text-danger", "down");
      percentageChangeElement.classList.add("text-success", "up");
      percentageChangeElement.innerHTML = `<em class="icon ni ni-arrow-long-up"></em>${randomPercentage}%`;
    }
  }

  // Initial call to set the percentage, then update every 30 seconds
  updatePercentage();
  setInterval(updatePercentage, 30000);
</script>