{% load humanize static %}

<div class="nk-block">
  <div class="row gy-gs">
    <div class="col-lg-5 col-xl-4">
      <div class="nk-block">
        <div class="nk-block-head-xs">
          <div class="nk-block-head-content">
            <h5 class="nk-block-title title">Overview</h5>
          </div>
        </div>
        <div class="nk-block">
          <div class="card card-bordered text-light is-dark h-100">
            <div class="card-inner">
              <div class="nk-wg7">
                <div class="nk-wg7-stats">
                  <div class="nk-wg7-title">Available Balance</div>
                  <div class="amount number-lg">
                    {{available_amount|floatformat:2|intcomma}}
                    <span class="currency">KES</span>
                  </div>
                </div>
                <div class="nk-wg7-stats-group">
                  <div class="nk-wg7-stats w-50">
                    <div class="nk-wg7-title">Package Expenses</div>
                    <div class="number">{{plans.count|default:"0"}} <span class="currency"> KES</span></div>
                  </div>
                  <div class="nk-wg7-stats w-50">
                    <div class="nk-wg7-title">Profits</div>
                    <div class="number">{{transactions.count|default:"0"}} <span class="currency"> KES</span></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-7 col-xl-8">
      <div class="nk-block">
        <div class="nk-block-head-xs">
          <div class="nk-block-between-md g-2">
            <div class="nk-block-head-content"></div>
            <div class="nk-block-head-content">

            </div>
          </div>
        </div>
        <div class="row g-2">
          <div class="col-sm-4">
            <div class="card bg-light">
              <div class="nk-wgw sm">
                <a class="nk-wgw-inner" href="{% url 'dashboard:invest:whatsapp' %}">
                  <div class="nk-wgw-name">
                    <div class="nk-wgw-icon">
                      <em class="icon ni ni-whatsapp"></em>
                    </div>
                    <h5 class="nk-wgw-title title">WhatsApp Earnings</h5>
                  </div>
                  <div class="nk-wgw-balance">
                    <div class="amount">{{earnings|floatformat:2|intcomma|default:"0.00"}}
                      <span class="currency currency-nio">KES</span>
                    </div>
                  </div>
                </a>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="card bg-light">
              <div class="nk-wgw sm">
                <a class="nk-wgw-inner" href="">
                  <div class="nk-wgw-name">
                    <div class="nk-wgw-icon">
                      <em class="icon ni ni-building"></em>
                    </div>
                    <h5 class="nk-wgw-title title">Investments</h5>
                  </div>
                  <div class="nk-wgw-balance">
                    <div class="amount">{{investments|floatformat:2|intcomma|default:"0.00"}}
                      <span class="currency currency-btc">KES</span>
                    </div>
                  </div>
                </a>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="card bg-light">
              <div class="nk-wgw sm">
                <a class="nk-wgw-inner" href="{% url 'dashboard:invest:bonus' %}">
                  <div class="nk-wgw-name">
                    <div class="nk-wgw-icon">
                      <em class="icon ni ni-gift"></em>
                    </div>
                    <h5 class="nk-wgw-title title">Bonuses</h5>
                  </div>
                  <div class="nk-wgw-balance">
                    <div class="amount">{{bonuses|floatformat:2|intcomma|default:"0.00"}}
                      <span class="currency currency-eth">KES</span>
                    </div>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="nk-block">
        <div class="nk-block-head-xs">
          <div class="nk-block-between-md g-2">
            <div class="nk-block-head-content"></div>
            <div class="nk-block-head-content">

            </div>
          </div>
        </div>
        <div class="row g-2">
          <div class="col-sm-4">
            <div class="card bg-light">
              <div class="nk-wgw sm">
                <a class="nk-wgw-inner" href="{% url 'dashboard:invest:whatsapp' %}">
                  <div class="nk-wgw-name">
                    <div class="nk-wgw-icon">
                      <em class="icon ni ni-whatsapp"></em>
                    </div>
                    <h5 class="nk-wgw-title title">Jobs Available</h5>
                  </div>
                  <div class="nk-wgw-balance">
                    <div class="amount1">22
                      <span class="currency-nio"></span>
                    </div>
                  </div>
                </a>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="card bg-light">
              <div class="nk-wgw sm">
                <a class="nk-wgw-inner" href="">
                  <div class="nk-wgw-name">
                    <div class="nk-wgw-icon">
                      <em class="icon ni ni-building"></em>
                    </div>
                    <h5 class="nk-wgw-title title">Articles Written</h5>
                  </div>
                  <div class="nk-wgw-balance">
                    <div class="amount1">{{investments|floatformat|intcomma|default:"0"}}
                      <span class="currency-btc"></span>
                    </div>
                  </div>
                </a>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="card bg-light">
              <div class="nk-wgw sm">
                <a class="nk-wgw-inner" href="{% url 'dashboard:invest:bonus' %}">
                  <div class="nk-wgw-name">
                    <div class="nk-wgw-icon">
                      <em class="icon ni ni-gift"></em>
                    </div>
                    <h5 class="nk-wgw-title title">Purchases</h5>
                  </div>
                  <div class="nk-wgw-balance">
                    <div class="amount1">{{bonuses|floatformat|intcomma|default:"0"}}
                      <span class="currency-eth"></span>
                    </div>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
<div class="nk-block nk-block-md">
  <div class="nk-block-head-xs">
    <div class="nk-block-between-md g-2">
      <div class="nk-block-head-content">
        <h6 class="nk-block-title title">Locked</h6>
      </div>
      <div class="nk-block-head-content">
        <a href="{% url 'users:profile:wallet:wallet' %}" class="link link-primary"></a>
      </div>
    </div>
  </div>
  <div class="row g-2">
    <div class="col-sm-4">
      <div class="card bg-light">
        <div class="nk-wgw sm">
          <a class="nk-wgw-inner" href="">
            <div class="nk-wgw-name">
              <div class="nk-wgw-icon">
                <em class="icon fas fa-toggle-on text-success"></em> <!-- Active status icon -->
                <!--<em class="icon fas fa-toggle-off text-danger"></em> --> <!-- Inactive status icon -->
              </div>
              <h5 class="nk-wgw-title title">Status</h5>
            </div>
            <div class="nk-wgw-balance">
              <div class="amount1">Active<span class="currency-nio"></span></div>
            </div>
          </a>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card bg-light">
        <div class="nk-wgw sm">
          <a class="nk-wgw-inner" href="">
            <div class="nk-wgw-name">
              <div class="nk-wgw-icon">
                <em class="icon fas fa-user-tie"></em>
              </div>
              <h5 class="nk-wgw-title title">Rank</h5>
            </div>
            <div class="nk-wgw-balance">
              <div class="amount1">Boss<span class="currency-btc"></span></div>
            </div>
          </a>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card bg-light">
        <div class="nk-wgw sm">
          <a class="nk-wgw-inner" href="">
            <div class="nk-wgw-name">
              <div class="nk-wgw-icon">
                <em class="icon fas fa-crown"></em>
              </div>
              <h5 class="nk-wgw-title title">VIP</h5>
            </div>
            <div class="nk-wgw-balance">
              <div class="amount1">Agent<span class="currency-eth"></span></div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>