{% load static humanize %} {% load usergroups %}

<div class="nk-sidebar nk-sidebar-fixed" data-content="sidebarMenu">
    <div class="nk-sidebar-element nk-sidebar-head">
        <div class="nk-sidebar-brand">
            <a  style="cursor:pointer"  href="{% url 'dashboard:home' %}" class="logo-link nk-sidebar-logo"><img class="logo-light logo-img" src="{% static 'img/earnkraftfull2.png' %}" srcset="{% static 'img/earnkraftfull2.png' %} 2x" alt="logo"><img class="logo-dark logo-img" src="{% static 'img/earnkraftfull2.png' %}" srcset="{% static 'img/earnkraftfull2.png' %} 2x" alt="logo-dark">
                <span class="nio-version">Earnkraft</span></a>
        </div>
        <div class="nk-menu-trigger me-n2">
            <a href="#" class="nk-nav-toggle nk-quick-nav-icon d-xl-none" data-target="sidebarMenu">
                <em class="icon ni ni-arrow-left"></em>
            </a>
        </div>
    </div>
    <div class="nk-sidebar-element">
        <div class="nk-sidebar-body" data-simplebar="">
            <div class="nk-sidebar-content">
                {% if plans %}
                <div class="nk-sidebar-widget d-none d-xl-block">
                    <div class="nk-menu" style="padding: 0 20px;">
                        <div class="user-account-info between-center">
                            <div class="user-account-main">
                                <h6 class="overline-title-alt">Account Balance</h6>
                                <div class=" user-balance">{{available_amount|floatformat:2|intcomma}}
                                    <!-- amount -->
                                    <span class="currency currency-btc">
                                        KES
                                    </span>
                                </div>
                              
                            </div>
                            <a href="#" class="btn btn-white btn-icon btn-light">
                                <em class="icon ni ni-line-chart"></em>
                            </a>
                        </div>
                        <ul class="user-account-data gy-1">
                            
                            <li>
                                <div class="user-account-label">
                                    <span class="sub-text">Package</span>
                                </div>
                                <div class="user-account-value">
                                    <span class="sub-text">{{locked_amount|floatformat:2|intcomma}}
                                        <span class="currency currency-btc">KES</span></span>
                                </div>
                            </li>
                            <li>
                                <div class="user-account-label">
                                    <span class="sub-text">Deposits</span>
                                </div>
                                <div class="user-account-value">
                                    <span class="sub-text">{{deposit_amount}}
                                        <span class="currency currency-btc">KES</span></span>
                                </div>
                            </li>
                            <li>
                                <div class="user-account-label">
                                    <span class="sub-text">Online Tasks</span>
                                </div>
                                <div class="user-account-value">
                                    <span class="lead-text">$
                                        <span> {{ remote_jobs_income|floatformat:2|intcomma }}</span>
                                    </span>
                                </div>
                            </li>
                        </ul>
                        <div class="user-account-actions">
                            <ul class="g-3">
                                <li>
                                <a class="btn btn-lg btn-primary me-2" role="button" data-bs-toggle="modal" data-bs-dismiss="modal" data-bs-target="#depositMoneyPopupForm">
                                        <span>Deposit</span>
                                    </a>
                                </li>
                                {% if available_amount > 0.00 %}
                                <li>
                                    <a role="button" data-bs-toggle="modal" data-bs-dismiss="modal" 
                                    data-bs-target="#withdrawalPopupForm" class="btn btn-lg btn-warning">
                                        <span>Withdraw</span>
    
                                    </a>
                                </li>
                                {% else %}
                                <li>
                                    <a href="#" class="btn btn-lg btn-warning disabled me-3">
                                        <span>Withdraw</span>
    
                                    </a>
                                </li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>

                </div>
                {% endif %}
                <div class="nk-sidebar-widget nk-sidebar-widget-full d-xl-none pt-0" style="padding: 0 20px;">
                    <a class="nk-profile-toggle toggle-expand" data-target="sidebarProfile" href="#">
                        <div class="user-card-wrap">

                            <div class="user-card">
                                <div class="user-avatar">
                                    <span>{{profile.initials}}</span>
                                </div>
                                <div class="user-info">
                                    <span class="lead-text">{{profile.user.username}}</span><span class="sub-text">{{ profile.user.email|slice:":5" }}****{{ profile.user.email|slice:"-10:" }}
                                    </span>
                                </div>
                                <div class="user-action">
                                    <em class="icon ni ni-chevron-down"></em>
                                </div>
                            </div>
                        </div>
                    </a>
                    <div class="nk-profile-content toggle-expand-content" data-content="sidebarProfile" style="padding: 0 20px;">

                        {% if plans %}
                        <div class="user-account-info between-center">

                            <div class="user-account-main">
                                <h6 class="overline-title-alt">Available Balance</h6>
                                <div class="user-balance">{{available_amount}}
                                    <!-- amount -->
                                    <span class="currency currency-btc">KES</span>
                                </div>
                                
                            </div>

                            <a href="#" class="btn btn-icon btn-light">
                                <em class="icon ni ni-line-chart"></em>
                            </a>
                        </div>
                        <ul class="user-account-data">
                            
                            <li>
                                <div class="user-account-label">
                                    <span class="sub-text">Package</span>
                                </div>
                                <div class="user-account-value">
                                    <span class="lead-text">{{locked_amount}}
                                        <span class="currency currency-btc">KES</span></span>
                                </div>
                            </li>
                            <li>
                                <div class="user-account-label">
                                    <span class="sub-text">Remote Tasks</span>
                                </div>
                                <div class="user-account-value">
                                    <span class="lead-text">KES 
                                        <span class="currency-btc">{{ remote_jobs_income|floatformat:2|intcomma }}</span></span>
                                </div>
                            </li>
                            

                            <li>
                                <div class="user-account-label">
                                    <span class="sub-text">Deposits</span>
                                </div>
                                <div class="user-account-value">
                                    <span class="sub-text text-base">{{deposit_amount}}
                                        <span class="currency currency-btc">KES</span></span>
                                </div>
                            </li>
                        </ul>
                        <ul class="user-account-links">
                            {% if available_amount > 0.00 %}
                            <li>
                                <a role="button" data-bs-toggle="modal" data-bs-dismiss="modal" 
                                data-bs-target="#withdrawalPopupForm" class="link">
                                    <span>Withdraw Funds</span>
                                </a>
                            </li>
                            {% endif %}
                            <li>
                                <a class="link" role="button" data-bs-toggle="modal" data-bs-dismiss="modal" data-bs-target="#depositMoneyPopupForm">
                                    <span>Deposit Funds</span>
                                    <em class="icon ni ni-wallet-in"></em>
                                </a>
                            </li>
                        </ul>

                        {% endif %}

                        <ul class="link-list">
                            <li>
                                <a  style="cursor:pointer"  href="{% url 'users:profile:profile' %}">
                                    <em class="icon ni ni-user-alt"></em>
                                    <span>View Profile</span></a>
                            </li>
                            <li>
                                <a  style="cursor:pointer"  href="{% url 'users:profile:profile' %}">
                                    <em class="icon ni ni-setting-alt"></em>
                                    <span>Account Setting</span></a>
                            </li>
                            <li>
                                <a  style="cursor:pointer"  href="{% url 'users:profile:profile' %}">
                                    <em class="icon ni ni-activity-alt"></em>
                                    <span>Login Activity</span></a>
                            </li>
                        </ul>
                        <ul class="link-list">
                            <li>
                                <a role="button" class="link" hx-post="{% url 'users:logout' %}" hx-trigger="click" hx-swap="none"  hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
                                    <em class="icon ni ni-signout"></em>
                                    <span>Sign out</span></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="nk-sidebar-menu">
                    <ul class="nk-menu">
                        <!-- <li class="nk-menu-heading">
                            <h6 class="overline-title">Menu</h6>
                        </li> -->
                        <li class="nk-menu-item">
                            <a  style="cursor:pointer"  href="{% url 'dashboard:home' %}" class="nk-menu-link">
                                <span class="nk-menu-icon">
                                    <em class="icon ni ni-dashboard"></em>
                                </span><span class="nk-menu-text">Dashboard</span>
                            </a>
                        </li>

                        <li class="nk-menu-item">
                            <a  style="cursor:pointer"  href="{% url 'users:profile:wallet:wallet' %}" class="nk-menu-link">
                                <span class="nk-menu-icon">
                                    <em class="icon ni ni-wallet-alt"></em>
                                </span><span class="nk-menu-text">Wallet</span>
                            </a>
                        </li>
                        <li class="nk-menu-item">
                            <a  style="cursor:pointer" href="{% url 'transactions:transactions' %}" class="nk-menu-link">
                                <span class="nk-menu-icon"><em class="icon ni ni-money"></em></span>
                                <span class="nk-menu-text">Transactions</span>
                            </a>
                        </li>
                        

                        <li class="nk-menu-item">
                            <a  style="cursor:pointer"  href="{% url 'dashboard:invest:referals' %}" class="nk-menu-link">
                                <span class="nk-menu-icon"><em class="icon ni ni-users"></em></span>
                                <span class="nk-menu-text">Referals
                                </span>
                            </a>
                        </li>
                        <li class="nk-menu-item">
                            <a  style="cursor:pointer"  href="{% url 'dashboard:invest:bonus' %}" class="nk-menu-link">
                                <span class="nk-menu-icon"><em class="icon ni ni-gift"></em></span>
                                <span class="nk-menu-text">Bonus</span>
                            </a>
                        </li>
                        <li class="nk-menu-item">
                            <a  style="cursor:pointer"  href="{% url 'dashboard:invest:whatsapp' %}" class="nk-menu-link">
                                <span class="nk-menu-icon"><em class="icon ni ni-whatsapp"></em></span>
                                <span class="nk-menu-text">Whatsapp</span>
                            </a>
                        </li>
                        {% if plans %}
                        <li class="nk-menu-item">
                            <a  style="cursor:pointer"  href="{% url 'dashboard:invest:jobs:jobs' %}" class="nk-menu-link">
                                <span class="nk-menu-icon"><em class="icon ni ni-briefcase"></em></span>
                                <span class="nk-menu-text">Jobs</span>
                            </a>
                        </li>
                        {% endif %}
                        <li class="nk-menu-item">
                            <a  style="cursor:pointer"  href="{% url 'dashboard:invest:academic_writing_accounts' %}" class="nk-menu-link">
                                <Span class="nk-menu-icon"><em class="icon ni ni-edit"></em></Span>
                                <span class="nk-menu-text"> Accounts</span>
                            </a>
                        </li>
                        <li class="nk-menu-item">
                            <a  style="cursor:pointer"  href="{% url 'dashboard:invest:vip' %}" class="nk-menu-link">
                                <span class="nk-menu-icon"><em class="icon ni ni-star"></em></span>
                                <span class="nk-menu-text">VIP Role</span>
                            </a>
                        </li>
                       
                        {% if plans %}
                        <!-- <li class="nk-menu-item">
                            <a  style="cursor:pointer"  href="{% url 'dashboard:invest:invest_plan' %}" class="nk-menu-link">
                                <span class="nk-menu-icon"><em class="icon ni ni-repeat"></em></span>
                                <span class="nk-menu-text">Invest and Save</span>
                            </a>
                        </li> -->
                        <li class="nk-menu-item">
                            <a  style="cursor:pointer"  href="#" class="nk-menu-link">
                                <span class="nk-menu-icon"><em class="icon ni ni-repeat"></em></span>
                                <span class="nk-menu-text">Invest and Save</span>
                            </a>
                        </li>
                        <li class="nk-menu-item">
                            <a  style="cursor:pointer"  href="{% url 'dashboard:invest:loans' %}" class="nk-menu-link">
                                <span class="nk-menu-icon"><em class="icon ni ni-wallet"></em></span>
                                <span class="nk-menu-text">Loans</span>
                            </a>
                        </li>
                        {% endif %}
                        
                        
                        <li class="nk-menu-item">
                            <a  style="cursor:pointer"  href="{% url 'dashboard:invest:jobs:job_board_view' %}" class="nk-menu-link">
                                <span class="nk-menu-icon">
                                    <em class="icon ni ni-upload"></em>

                                </span><span class="nk-menu-text">Uploads</span>
                            </a>
                        </li>
                       
                    </ul>
                    
                </div>
                
                <div class="nk-sidebar-menu">
                    {% if plans %}
                    <ul class="nk-menu">
                        <li class="nk-menu-heading mb-3">
                            <h6 class="overline-title">AI & Content Creation</h6>
                        </li>

                        <li class="nk-menu-item has-sub">
                            <a href="#" class="nk-menu-link nk-menu-toggle">
                                <span class="nk-menu-icon">
                                    <em class="icon ni ni-files"></em>
                                </span><span class="nk-menu-text">Blogging & Article Writing</span>
                            </a>

                            <ul class="nk-menu-sub">
                                <li class="nk-menu-item">
                                    <a  style="cursor:pointer"  href="{% url 'dashboard:articles:blogging-home' %}" class="nk-menu-link">
                                        <span class="nk-menu-text">My Content
                                        </span>
                                    </a>
                                </li>
                                <li class="nk-menu-item">
                                    <a  style="cursor:pointer"  href="{% url 'dashboard:invest:upgrade' %}" class="nk-menu-link">
                                        <span class="nk-menu-text">Upgrade
                                        </span>
                                    </a>
                                </li>
                                
                            </ul>
                        </li>
                        <li class="nk-menu-item has-sub">
                            <a href="#" class="nk-menu-link nk-menu-toggle">
                                <span class="nk-menu-icon">
                                    <em class="icon ni ni-cloud"></em>
                                </span><span class="nk-menu-text">AI Services</span>
                            </a>

                            <ul class="nk-menu-sub">
                                <li class="nk-menu-item">
                                    <a  style="cursor:pointer"  href="{% url 'dashboard:articles:blogging-home' %}" class="nk-menu-link">
                                        <span class="nk-menu-text">AI Tools
                                        </span>
                                    </a>
                                </li>
                                <li class="nk-menu-item">
                                    <a  style="cursor:pointer"  href="{% url 'dashboard:articles:blogging-with-ai-pricing-plan' %}" class="nk-menu-link">
                                        <span class="nk-menu-text">Pricing
                                        </span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    {% endif %}
                </div>
                <!--  -->

                <div class="nk-sidebar-widget" style="padding:10px 20px 0px 20px;">
                    {% if plans %}
                    <div class="widget-title">
                        <h6 class="overline-title">Active Plan
                            <span>({{plans.count}})</span>
                        </h6>
                        <a href="{% url 'subscriptions:list' %}" class="link">Manage</a>
                    </div>
                    <ul class="wallet-list">
                        {% for plan in plans %}
                        <li class="wallet-item">
                            <a  style="cursor:pointer"  href="{% if plan.is_paid %}{{plan.get_absolute_url}}{% else %}#{% endif %}">
                                <div class="wallet-icon">
                                    <em class="icon ni {{plan.type.icon}}"></em>
                                </div>
                                <div class="wallet-text">
                                    <h6 class="wallet-name">{{plan.type}}</h6>
                                    <span class="wallet-balance">{{plan.type.price}}
                                        <span class="currency currency-nio">KES</span>
                                    </span>
                                </div>
                            </a>
                        </li>
                        {% endfor %}
                        <li class="wallet-item wallet-item-add" style="padding-top: 20px;">
                            <a href="{% url 'subscriptions:plans' %}" style="display: flex;">
                                <div class="wallet-icon" style="transform: translateX(-5px);">
                                    <em class="icon ni ni-plus"></em>
                                </div>
                                <div class="wallet-text">
                                    <h6 class="wallet-name" role="button">Upgrade Plan</h6>
                                </div>
                            </a>
                        </li>
                    </ul>
                    {% endif %}
                </div>



                <!--  -->
               

                <div class="nk-sidebar-menu ">

                    <ul class="nk-menu">
                        <li class="nk-menu-heading mb-3">
                            <h6 class="overline-title">For You</h6>
                        </li>
                        <li class="nk-menu-item">
                            <a  style="cursor:pointer"  href="{% url 'dashboard:invest:qinfo' %}" class="nk-menu-link">
                                <span class="nk-menu-icon">
                                    <em class="icon ni ni-question-alt"></em>
                                </span>
                                <span class="nk-menu-text">Quick Info</span>
                            </a>
                        </li>
                    
                        <!-- <li class="nk-menu-item">
                            <a  style="cursor:pointer"  href="{% url 'dashboard:assistance' %}" class="nk-menu-link">
                                <span class="nk-menu-icon">
                                    <em class="icon ni ni-chat-circle"></em>
                                </span><span class="nk-menu-text">Chats</span>
                            </a>
                        </li> -->

                        <li class="nk-menu-item">
                            <a  style="cursor:pointer"  href="{% url 'profile:profile' %}" class="nk-menu-link">
                                <span class="nk-menu-icon">
                                    <em class="icon ni ni-user-c"></em>
                                </span><span class="nk-menu-text">Account</span>
                            </a>
                        </li>
                        <li class="nk-menu-item">
                            <a  style="cursor:pointer"  href="{% url 'subscriptions:home' %}" class="nk-menu-link">
                                <span class="nk-menu-icon">
                                    <em class="icon ni ni-swap-alt"></em>
                                </span><span class="nk-menu-text">Subscriptions</span>
                            </a>
                        </li>

                        <li class="nk-menu-item">
                            <a  style="cursor:pointer"  href="{% url 'dashboard:assistance' %}" class="nk-menu-link">
                                <span class="nk-menu-icon">
                                    <em class="icon ni ni-headphone"></em>
                                </span><span class="nk-menu-text">Support</span>
                            </a>
                        </li>
                        <li class="nk-menu-item">
                            <a  style="cursor:pointer"  href="{% url 'dashboard:admin_assistance' %}" class="nk-menu-link">
                                <span class="nk-menu-icon">
                                    <em class="icon ni ni-shield"></em>
                                </span><span class="nk-menu-text">Admin</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <hr />
                <div class="nk-sidebar-footer">
                    <ul class="nk-menu nk-menu-footer d-flex flex-wrap mb-3">
                        <li class="nk-menu-item">
                            <a href="#" class="nk-menu-link">
                                <span class="nk-menu-icon">
                                    <em class="icon ni ni-help-alt"></em>
                                </span><span class="nk-menu-text">Support</span>
                            </a>
                        </li>
                        <li class="nk-menu-item">
                            <div>
                                {% include "account/dashboard/v1/components/languages.html" %}
                            </div>
                        </li>
                        <li class="nk-menu-item">
                            <a data-bs-toggle="modal" href="#Community" class="nk-menu-link">
                                <span class="nk-menu-icon">
                                    <em class="icon ni ni-chat-fill"></em>
                                </span>
                                <span class="nk-menu-text">Community</span>
                            </a>
                        </li>
                        <li class="nk-menu-item">
                            <a data-bs-toggle="modal" href="#EarningTips" class="nk-menu-link">
                                <span class="nk-menu-icon">
                                    <em class="icon ni ni-info-fill"></em>
                                </span>
                                <span class="nk-menu-text">Referal Tips</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <hr />
            </div>
        </div>
    </div>
</div>