<div class="col-lg-7">
  <form action="{% url 'dashboard:invest:invest' %}" method="post" id="investment-registration-form">
    {% csrf_token %}
    <div class="invest-field form-group">
      <div class="form-group">{{poolform}}</div>
    </div>

    <div class="invest-field form-group">
      <div class="form-group">{{accountform}}</div>
    </div>

    <div class="invest-field form-group">
      <div class="form-group">{{planform}}</div>
    </div>

    <div class="text-center bg-lighter w-100">
      <button type="button" class="btn btn-lg btn-primary ttu w-100 text-center" id="confirm-and-proceed-btn" data-bs-profile="{{request.user.profile_user.id}}">
        Confirm &amp; proceed
      </button>
    </div>
  </form>
</div>

<div class="modal fade zoom" id="modalZoom" aria-modal="true" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Payment Procedure </h5>
        <a href="#" class="close" data-bs-dismiss="modal" aria-label="Close" id="closeAddPlanPopupForm-subscribe">
          <em class="icon ni ni-cross"></em>
        </a>
      </div>
      <div class="modal-body">
        <p class="text-xs text-muted">We're updating a seamleass payment method soon.</p>
        <form action="#" class="form-validate is-alter" novalidate="novalidate">
          <div class="form-group">
            <label class="form-label">Use Lipa na Mpesa</label>
            <div>
              <ul>
                <li>1: Go to mpesa lipa na mpesa</li>
                <li>2: Go to mpesa lipa na mpesa</li>
                <li>3: Go to mpesa lipa na mpesa</li>
                <li>4: Go to mpesa lipa na mpesa</li>
                <li>5: Input the transaction code and phone number</li>
              </ul>
            </div>
            <hr />
          </div>
            <div class="form-group">
            <label class="form-label" for="phone-no">Phone No</label>
            <div class="form-control-wrap">
              <input type="text" placeholder="Phone No (e.g 2547987654321)" class="form-control" id="phone-no" name="phone_no"/>
            </div>
            <span id="phone-error" class="errorlist"></span>
          </div>
            <div class="form-group">
            <label class="form-label" for="phone-no">Transaction code</label>
            <div class="form-control-wrap">
              <input type="text" placeholder="MQSGGTHR126637312YHTEHS" class="form-control" id="transactioncode" name="transactioncode"/>
            </div>
            <span id="phone-error" class="errorlist"></span>
          </div>

          <div class="form-group">
            <label class="form-label" for="pay-amount">Amount to be paid</label>
            <div class="form-control-wrap">
              <input type="text" class="form-control" id="pay-amount" name="pay_amount" value="{{payment_amount}}" />
            </div>
          </div>
          <div class="form-group">
            <button type="button" class="btn btn-lg btn-primary center-justify" id="mpesa-payment-btn-popup">
              <span id="payment-btn-spinner" class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
              <span id="payment-text">Confirm to pay</span>
            </button>
            <small id="payment-btn-help-text" style="padding-top: 10px!important;" class="text-muted"></small>

            <style>
              .center-justify {
                display: flex;
                justify-content: space-between;
                align-items: center;
              }
            </style>
          </div>
        </form>
      </div>
      <div class="modal-footer bg-light"></div>
    </div>
  </div>
</div>


<script>
  const popupSubmitBtn = document.getElementById("confirm-and-proceed-btn");
  const poolType = document.getElementById("pool-type-id");
  const accountType = document.getElementById("account-type-id");
  const planType = document.getElementById("plan-type-id");

  // Store initial values
  const initialAccountTypeHTML = accountType.innerHTML;
  const initialPlanTypeHTML = planType.innerHTML;

  popupSubmitBtn.setAttribute("disabled", "disabled");
  const paymentBtnFormSpinner = document.getElementById("payment-btn-spinner");
  const paymentBtnFormText = document.getElementById("payment-text");
  paymentBtnFormSpinner.style.display = "none";

  accountType.innerHTML = "";
  planType.innerHTML = "";

  let poolFromServer = null;
  let accountFromServer = null;
  let planFromServer = null;

  let poolId = null;
  let accountId = null;
  let planId = null;
  let profileUserId = null;

  let poolTypeId = null;
  let planTypeId = null;

  poolType.addEventListener("change", async (e) => {
    const itemId = e.target.value;

    if (itemId) {
      const response = await fetch(`{% url 'dashboard:invest:handle-pool-selection' %}?pool_type_id=${itemId}`, {
        method: "GET",
        headers: {
          "Content-Type": "application/json"
        }
      });

      const data = await response.json();

      if (!data.pool) {
        alert("Something went wrong");
        accountType.innerHTML = "";
      }
      // accountType.innerHTML = initialAccountTypeHTML;

      if (data.pool) {
        accountType.innerHTML = initialAccountTypeHTML;
        planType.innerHTML = ""
        poolFromServer = data.pool;
        poolId = poolFromServer.id;

        console.log(data)
        popupSubmitBtn.setAttribute("disabled", "disabled");

        // listent for the change event for the account type

        accountType.addEventListener("change", async (e) => {
          console.log(poolFromServer);

          const accountTypeId = e.target.value;

          if (accountTypeId) {
            const response = await fetch(`{% url 'dashboard:invest:handle-account-selection' %}?pool_id=${poolId}&account_type_id=${accountTypeId}`, {
              method: "GET",
              headers: {
                "Content-Type": "application/json"
              }
            });

            const data = await response.json();

            if (!data.account) {
              alert("Something went wrong");
              accountType.innerHTML = "";
            }

            if (data.account) {
              accountFromServer = data.account;
              accountId = accountFromServer.id;

              planType.innerHTML = initialPlanTypeHTML;
              popupSubmitBtn.setAttribute("disabled", "disabled");

              planType.addEventListener("change", async (e) => {
                // console.log(accountFromServer);

                const planTypeId = e.target.value;

                poolTypeId = document
                  .getElementById("pool-type-id")
                  .value;

                if (planTypeId) {
                  const response = await fetch(`{% url 'dashboard:invest:handle-plan-selection' %}?account_id=${accountId}&plan_type_id=${planTypeId}`, {
                    method: "GET",
                    headers: {
                      "Content-Type": "application/json"
                    }
                  });

                  const data = await response.json();

                  if (!data.plan) {
                    alert("Something went wrong");
                    accountType.innerHTML = "";
                  }

                  if (data.plan) {
                    planId = data.plan.id;
                    popupSubmitBtn.removeAttribute("disabled");
                    popupSubmitBtn.setAttribute("data-bs-toggle", "modal");
                    popupSubmitBtn.setAttribute("data-bs-target", "#modalZoom");

                  }
                }

                if (planType === "") {
                  popupSubmitBtn.setAttribute("disabled", "disabled");
                }
              });
            }
          }

          if (accountTypeId === "") {
            planType.innerHTML = "";
          }
        });
      }
    }

    // no pool information

    if (itemId === "") {
      accountType.innerHTML = "";
      planType.innerHTML = "";
    }
  });

  popupSubmitBtn.addEventListener("click", async (e) => {
    console.log(e.target.dataset);

    function cleanCurrency(value) {
      return value.replace(/KES:\s?/, "");
    }

    profileUserId = e.target.dataset.bsProfile;

    const paymentBtnForm = document.getElementById("mpesa-payment-btn-popup");
    paymentBtnForm.setAttribute("disabled", "disabled");

    console.log("poolId:", poolId, "accountId:", accountId, "planId:", planId, "profileUserId:", profileUserId);

    const phoneNo = document.getElementById("phone-no");
    const mpesaTransactionCode = document.getElementById("transactioncode");
    const payAmount = document.getElementById("pay-amount");

    // fethc the amount to be paid endpoint

    const response = await fetch(`{% url 'dashboard:invest:fetch-amount-to-be-paid-plus-discount' %}?profile=${profileUserId}&plan_pk=${planId}`, {
      method: "GET",
      headers: {
        "Content-Type": "application/json"
      }
    });

    const data = await response.json();

    payAmount.value = parseFloat(data.amount).toFixed(2);
    payAmount.placeholder = `KES: ${payAmount.value}`;
    // summary on top form overview for the customer to see the price he/she is to pay

    payAmount.value = `KES: ${parseFloat(data.amount).toFixed(2)}`;

    payAmount.setAttribute("disabled", "disabled");

    const cleanedCurrency = cleanCurrency(payAmount.value);

    console.log(cleanedCurrency);

    phoneNo.addEventListener("input", (e) => {
      var phoneN = e.target;
      const validPhoneNumberFormat = /^\d{12}$/;

      if (!validPhoneNumberFormat.test(phoneN.value)) {
        // If the phone number is not valid
        phoneN
          .classList
          .add('errorlist'); // Add invalid class for visual feedback
        document
          .getElementById('phone-error')
          .textContent = 'Invalid phone number. Kindly include also the country code.';

        paymentBtnForm.setAttribute("disabled", "disabled");
      } else {
        // If the phone number is valid
        phoneN
          .classList
          .remove('errorlist');
        document
          .getElementById('phone-error')
          .textContent = ''; // Clear any error message

        paymentBtnForm.removeAttribute("disabled");

        paymentBtnForm.addEventListener("click", () => {
          // const url = `{% url 'dashboard:invest:handle-payment' %}?phone=${phoneNo.value}&amount=${cleanedCurrency}&currency=KES&profile=${profileUserId}&mpesaTransactionCode=${mpesaTransactionCode.value}`;
          const url = `{% url 'dashboard:invest:handle-payment' %}`;
          async function handlePayment() {
            const response = await fetch(url, {
              method: "POST",
              headers: {
                "Content-Type": "application/json"
              },
              body:JSON.stringify({
                phone:phoneNo.value,
                amount:cleanedCurrency,
                currency:"KES",
                profile:profileUserId,
                mpesaTransactionCode:mpesaTransactionCode.value,
                plan_id:planId,
                account_id:accountId,
                pool_id:poolId,
              })
            });

            const data = await response.json();

            console.log(data)

            if (!data.success) {
              handlePlanCreationDestruction(profileUserId, poolId)
            }


            handleCreateTransaction(poolId, accountId, planId, phoneN.value, cleanedCurrency, profileUserId, mpesaTransactionCode.value)
           
          }

          handlePayment();
        });

        // call the payment here
      }
    });
  });


  
  if (document.getElementById("closeAddPlanPopupForm-subscribe")){

    const closePaymentForm = document.getElementById("closeAddPlanPopupForm-subscribe")

    // check the poolId, chech the client and the check the pkan then delete these items

    closePaymentForm.addEventListener("click", async (e) => {
      e.preventDefault()
      
       handlePlanCreationDestruction(profileUserId, poolId)

  })}


  async function handlePlanCreationDestruction(profileUserId, poolId) {

    const endpoint = `{% url 'htmx:account:handle-close-payment-form-view' %}?profile_id=${profileUserId}&pool_id=${poolId}`
    const response = await fetch(endpoint, {
      method: "POST",
      headers: {
        "Content-Type": "application/json"
      },
      body: JSON.stringify({profile_id: Number.parseInt(profileUserId), pool_id: poolId})
    })

    const data = await response.json();
    
    if(!data.success){
      alert("Something went wrong. ")
    }

    window.location.reload()
  }

  async function handleCreateTransaction(pool_id, account_id, plan_id, phoneN, cleanedCurrency, profileId, mpesa_code) {
    const response = await fetch(`/dashboard/invest/handle-payment-create-transaction/${pool_id}/${account_id}/${plan_id}/`, {
      method: "POST",
      headers: {
        "Content-Type": "application/json"
      },
      body: JSON.stringify({
        phone_number: phoneN,
        amount: cleanedCurrency,
        currency: "KES",
        profile: profileId,
        mpesa_transaction_code: mpesa_code,
        plan_id: planId,
      })
    });


    const data = await response.json()

    if (!data.success) {
      alert("Something went wrong. ")
    }

   
    window.location.href = data.url

  }


  if(document.getElementById("confirm-and-proceed-btn")){
    const confirmAndProceedBtn = document.getElementById("confirm-and-proceed-btn");


  }



</script>
