{% load static %}

<div class="col-xl-5 col-lg-5">
  <div class="card card-bordered ms-lg-4 ms-xl-0">
    <div class="nk-iv-wg4">
      <div class="nk-iv-wg4-sub">
        <h5 class="nk-iv-wg4-title title"> Package Previleges</h5>
        <ul class="nk-iv-wg4-overview g-2">
          
          <li>
            <h6 class="nk-iv-wg4-title title"> Plan type</h6>
          </li>
          <li>
            <div class="sub-text">Basic Account</div>
            <div class="lead-text">Earn 40% of referral commisions</div>
            <div class="lead-text" style="color: rgb(157 114 255);">50 KES</div>
          </li>
          <li>
            <div class="sub-text">Premium Account</div>
            <div class="lead-text">Earn 60% of referral commisions</div>
            <div class="lead-text" style="color: rgb(157 114 255);">200 KES</div>
          </li>
          <li>
            <h6 class="nk-iv-wg4-title title"> Income streams</h6>
          </li>
          <li>
            <div class="sub-text">Limited</div>

            <div class="lead-text">Best for Network marketing, Referals and referal commissions</div>
            
          
            <div class="lead-text" style="color: rgb(157 114 255);">500 KES</div>
          </li>
          <li>
            <div class="sub-text">Moderate</div>
            <div class="lead-text">Best for sales, investment and bigger referal commission</div>
            
            <div class="lead-text" style="color: rgb(157 114 255);">2500 KES</div>
          </li>
          <li>
            <div class="sub-text">Unlimited</div>
            <div class="lead-text">Best for freelancers, remote/online jobs</div>
            <div class="lead-text">No referal commission</div>
            
            <div class="lead-text" style="color: rgb(157 114 255);">5000 KES</div><button type="button" class="btn btn-danger">
              Offer expires soon <span class="badge bg-success">next activation 10,000 KES</span>
            </button>
          </li>
          
        </ul>
      </div>
     
     
      {% comment %} <div class="nk-iv-wg4-sub text-center bg-lighter">
        <a class="btn btn-lg btn-primary ttu" data-bs-toggle="modal" href="#invest-plan">Confirm &amp; proceed</a>
      </div> {% endcomment %}
    </div>
  </div>
</div>
