{% load static %}

<div class="uk-section uk-section-muted uk-background-contain uk-background-center in-wave-3"
  style="background-image: url({% static 'img/in-wave-background-1.png' %});" data-uk-parallax="bgy: -200">
  <div class="uk-container">
    <div class="uk-grid-large uk-flex uk-flex-middle" data-uk-grid="data-uk-grid">
      <div class="uk-width-1-2@m">
        <!-- <img class="uk-margin-bottom" src="{% static 'img/in-lazy.gif' %}" data-src="{% static 'img/in-wave-icon-5.svg' %}" alt="wave-icon" width="64" height="64" data-uk-img="data-uk-img"> -->
        <h1 class="uk-margin-remove">Why EarnKraft is your best
          <span class="in-highlight">income generator</span>
        </h1>
        <p>EarnKraft is your best income generator, offering a multitude of ways to boost your earnings effortlessly.
          With referral commissions and bonuses, every recommendation adds to your wealth. Buy and sell online writing
          accounts without limits, ensuring constant opportunities. Apply for jobs and earn through WhatsApp, tapping
          into seamless digital streams. Enjoy limited use of EarnGPT to craft articles and blogs, enhancing your
          content creation. Chat with your downlines for collaborative growth, and access diverse investment packages
          for solid returns. Qualify to be a merchant, expanding your reach and income potential. At EarnKraft, every
          feature is designed to maximize your financial success.</p>
        <div class="uk-grid-medium uk-child-width-1-2@s uk-child-width-1-3@m uk-text-center uk-margin-medium-top"
          data-uk-grid="data-uk-grid">
          <div>
            <div class="uk-card uk-card-default uk-card-body uk-border-rounded">
              <img class="uk-margin-remove-bottom" src="{% static 'img/in-lazy.gif' %}"
                data-src="{% static 'img/in-wave-icon-6.svg' %}" alt="wave-icon" width="52" height="52"
                data-uk-img="data-uk-img">
              <h5 class="uk-margin-small-top">Investiment</h5>
            </div>
          </div>
          <div>
            <div class="uk-card uk-card-default uk-card-body uk-border-rounded">
              <img class="uk-margin-remove-bottom" src="{% static 'img/in-lazy.gif' %}"
                data-src="{% static 'img/in-wave-icon-7.svg' %}" alt="wave-icon" width="52" height="52"
                data-uk-img="data-uk-img">
              <h5 class="uk-margin-small-top">Writing & Sales</h5>
            </div>
          </div>
          <div>
            <div class="uk-card uk-card-default uk-card-body uk-border-rounded">
              <img class="uk-margin-remove-bottom" src="{% static 'img/in-lazy.gif' %}"
                data-src="{% static 'img/manualbs.png' %}" alt="wave-icon" width="52" height="52"
                data-uk-img="data-uk-img">
              <h5 class="uk-margin-small-top">EarnGPT</h5>
            </div>
          </div>
        </div>
      </div>
      <div class="uk-width-1-2@m">
        <div class="uk-inline uk-dark in-wave-video uk-margin-small-bottom">
          <img class="uk-border-rounded uk-width-1-1" src="{% static 'img/in-lazy.gif' %}"
            data-src="{% static 'img/in-wave-image-1.jpg' %}" alt="wave-video" width="533" height="355"
            data-uk-img="data-uk-img">
          <div class="uk-position-center" data-uk-lightbox="video-autoplay: true;">
            <a href="" data-attrs="width: 920; height: 517;">
              <div class="in-play-button"></div>
              <i class="fas fa-play"></i>
            </a>
          </div>
          <div class="uk-flex-top" data-uk-modal="data-uk-modal">
            <div class="uk-modal-dialog uk-width-auto uk-margin-auto-vertical in-iframe">
              <button class="uk-modal-close-outside" type="button" data-uk-close="data-uk-close"></button>
            </div>
          </div>
        </div>
        <p class="uk-text-small uk-text-muted">Making money is a skill anyone can master, with best opportunities

      </div>
    </div>
  </div>
</div>

<!-- section content begin -->
<div class="uk-section">
  <div class="uk-container">
      <div class="uk-grid-match" data-uk-grid="data-uk-grid" style="display: flex; flex-wrap: wrap;">
          <div class="uk-width-1-1">
              <h1 class="uk-margin-remove">Ways of  
                  <span class="in-highlight">Earning</span>
                  With Us
              </h1>
              <p class="uk-text-lead uk-text-muted uk-margin-remove">Here are our top ways of generating income</p>
              <p>If you want to achieve more, playing it safe is the greatest risk of all. To earn big, venture beyond the ordinary and seize the extraordinary</p>
          </div>
          <div style="flex: 1 1 25%; max-width: 25%; box-sizing: border-box; padding: 10px;">
              <div class="uk-card uk-card-default uk-card-body uk-box-shadow-small uk-border-rounded uk-light ">
                  <div class="in-icon-wrap uk-margin-bottom">
                      <i class="fas fa-seedling fa-lg"></i>
                  </div>
                  <h4 class="uk-margin-medium-top">
                      <a href="#" style="color: #2e8b57;">Affiliate Marketing<i class="fas fa-chevron-right uk-float-right"></i></a>
                  </h4>
                  <hr>
                  <p style="color: #808080;">Earn money by promoting our platform and its services through your referral links, you receive a commission. This method works well for those who use social media platforms, and blogs to reach a wider audience.</p>
              </div>
          </div>
          <div style="flex: 1 1 25%; max-width: 25%; box-sizing: border-box; padding: 10px;">
              <div class="uk-card uk-card-default uk-card-body uk-box-shadow-small uk-border-rounded uk-light in-card-blue">
                  <div class="in-icon-wrap uk-margin-bottom">
                      <i class="fas fa-chart-bar fa-lg"></i>
                  </div>
                  <h4 class="uk-margin-medium-top">
                      <a href="#" style="color: #2e8b57;">Bonuses<i class="fas fa-chevron-right uk-float-right"></i></a>
                  </h4>
                  <hr>
                  <p style="color: #808080;">Receive additional earnings through various bonus programs. Whether it's for achieving sales targets or participating in special promotions, bonuses provide an extra income boost for your online activities.</p>
              </div>
          </div>
          <div style="flex: 1 1 25%; max-width: 25%; box-sizing: border-box; padding: 10px;">
              <div class="uk-card uk-card-default uk-card-body uk-box-shadow-small uk-border-rounded uk-light in-card-purple">
                  <div class="in-icon-wrap uk-margin-bottom">
                      <i class="fas fa-chart-pie fa-lg"></i>
                  </div>
                  <h4 class="uk-margin-medium-top">
                      <a href="#" style="color: #2e8b57;">Investment<i class="fas fa-chevron-right uk-float-right"></i></a>
                  </h4>
                  <hr>
                  <p style="color: #808080;">Invest in different packages offered by the platform to grow your wealth. These investment opportunities can provide significant returns, making them a viable option for Kenyans looking to increase their income through smart financial decisions.</p>
              </div>
          </div>
          <div style="flex: 1 1 25%; max-width: 25%; box-sizing: border-box; padding: 10px;">
              <div class="uk-card uk-card-default uk-card-body uk-box-shadow-small uk-border-rounded uk-light in-card-navy">
                  <div class="in-icon-wrap uk-margin-bottom">
                      <i class="fas fa-chalkboard-teacher fa-lg"></i>
                  </div>
                  <h4 class="uk-margin-medium-top">
                      <a href="#" style="color: #2e8b57;">EarnGPT<i class="fas fa-chevron-right uk-float-right"></i></a>
                  </h4>
                  <hr>
                  <p style="color: #808080;">Utilize our EarnGPT to write articles and blogs. This tool helps you generate content quickly allowing you to earn money from blog posts linked to our platform.</p>
              </div>
          </div>
          <div style="flex: 1 1 25%; max-width: 25%; box-sizing: border-box; padding: 10px;">
              <div class="uk-card uk-card-default uk-card-body uk-box-shadow-small uk-border-rounded uk-light in-card-grey">
                  <div class="in-icon-wrap uk-margin-bottom">
                      <i class="fas fa-funnel-dollar fa-lg"></i>
                  </div>
                  <h4 class="uk-margin-medium-top">
                      <a href="#" style="color: #2e8b57;">Jobs<i class="fas fa-chevron-right uk-float-right"></i></a>
                  </h4>
                  <hr>
                  <p style="color: #808080;">Apply for various jobs that match your skills. Whether it's online jobs, freelance writing, data collection, or virtual assistance, there are numerous opportunities to earn money by offering your services online.</p>
              </div>
          </div>
          <div style="flex: 1 1 25%; max-width: 25%; box-sizing: border-box; padding: 10px;">
              <div class="uk-card uk-card-default uk-card-body uk-box-shadow-small uk-border-rounded uk-light in-card-orange">
                  <div class="in-icon-wrap uk-margin-bottom">
                      <i class="fas fa-clipboard fa-lg"></i>
                  </div>
                  <h4 class="uk-margin-medium-top">
                      <a href="#" style="color: #2e8b57;">Blog/Article Writing<i class="fas fa-chevron-right uk-float-right"></i></a>
                  </h4>
                  <hr>
                  <p style="color: #808080;">Earn by writing high-quality blog posts and articles. Start writing quickly with our EarnGPT (improved chatGPT) to better your skills and generate more income.</p>
              </div>
          </div>
          <div style="flex: 1 1 25%; max-width: 25%; box-sizing: border-box; padding: 10px;">
              <div class="uk-card uk-card-default uk-card-body uk-box-shadow-small uk-border-rounded uk-light in-card-yellow">
                  <div class="in-icon-wrap uk-margin-bottom">
                      <i class="fas fa-crown fa-lg"></i>
                  </div>
                  <h4 class="uk-margin-medium-top">
                      <a href="#" style="color: #2e8b57;">VIP<i class="fas fa-chevron-right uk-float-right"></i></a>
                  </h4>
                  <hr>
                  <p style="color: #808080;">Gain a premium rank and earning opportunities by subscribing to the VIP package. This package offers enhanced benefits when you get approval for becoming an Agent, a Mentor or a Moderator.</p>
              </div>
          </div>
          <div style="flex: 1 1 25%; max-width: 25%; box-sizing: border-box; padding: 10px;">
              <div class="uk-card uk-card-default uk-card-body uk-box-shadow-small uk-border-rounded uk-light in-card-yellow1">
                  <div class="in-icon-wrap uk-margin-bottom">
                      <i class="fas fa-pen fa-lg"></i>
                  </div>
                  <h4 class="uk-margin-medium-top">
                      <a href="#" style="color: #2e8b57;">Online Writing Accounts & Services<i class="fas fa-chevron-right uk-float-right"></i></a>
                  </h4>
                  <hr>
                  <p style="color: #808080;">Engage in buying and selling online writing accounts. This marketplace allows you to purchase established accounts with a track record, or sell your own accounts to others, providing a unique income stream for Kenyan entrepreneurs.</p>
              </div>
          </div>
          <div style="flex: 1 1 25%; max-width: 25%; box-sizing: border-box; padding: 10px;">
              <div class="uk-card uk-card-default uk-card-body uk-box-shadow-small uk-border-rounded uk-light in-card-green">
                  <div class="in-icon-wrap uk-margin-bottom">
                      <i class="fas fa-tasks fa-lg"></i>
                  </div>
                  <h4 class="uk-margin-medium-top">
                      <a href="#" style="color: #2e8b57;">Micro Tasks<i class="fas fa-chevron-right uk-float-right"></i></a>
                  </h4>
                  <hr>
                  <p style="color: #808080;">Earn from doing small, repetitive tasks that pay upon completion, such as data entry, data collection, and other micro jobs.</p>
              </div>
          </div>
          <div style="flex: 1 1 25%; max-width: 25%; box-sizing: border-box; padding: 10px;">
              <div class="uk-card uk-card-default uk-card-body uk-box-shadow-small uk-border-rounded uk-light in-card-navy">
                  <div class="in-icon-wrap uk-margin-bottom">
                      <i class="fas fa-users fa-lg"></i>
                  </div>
                  <h4 class="uk-margin-medium-top">
                      <a href="#" style="color: #2e8b57;">Hookups<i class="fas fa-chevron-right uk-float-right"></i></a>
                  </h4>
                  <hr>
                  <p style="color: #808080;">Meet and interact with people from different parts with different interests.</p>
              </div>
          </div>
          <div style="flex: 1 1 25%; max-width: 25%; box-sizing: border-box; padding: 10px;">
              <div class="uk-card uk-card-default uk-card-body uk-box-shadow-small uk-border-rounded uk-light in-card-purple">
                  <div class="in-icon-wrap uk-margin-bottom">
                      <i class="fas fa-bullhorn fa-lg"></i>
                  </div>
                  <h4 class="uk-margin-medium-top">
                      <a href="#" style="color: #2e8b57;">Advertise<i class="fas fa-chevron-right uk-float-right"></i></a>
                  </h4>
                  <hr>
                  <p style="color: #808080;">You can advertise your products, social media pages, blogs, and vlogs with us due to our constant and massive traffic.</p>
              </div>
          </div>
          <div style="flex: 1 1 25%; max-width: 25%; box-sizing: border-box; padding: 10px;">
              <div class="uk-card uk-card-default uk-card-body uk-box-shadow-small uk-border-rounded uk-light in-card-blue">
                  <div class="in-icon-wrap uk-margin-bottom">
                      <i class="fas fa-money-bill-wave fa-lg"></i>
                  </div>
                  <h4 class="uk-margin-medium-top">
                      <a href="#" style="color: #2e8b57;">Monetize<i class="fas fa-chevron-right uk-float-right"></i></a>
                  </h4>
                  <hr>
                  <p style="color: #808080;">Earn money by advertising our products and items on various platforms.</p>
              </div>
          </div>
      </div>
  </div>
</div>
<!-- section content end -->
