{% load static %}

<!-- section content begin -->
<div class="uk-section uk-section-default uk-padding-remove-vertical in-wave-5 in-offset-bottom-30">
  <div class="uk-container">
    <div class="uk-grid">
      <div class="uk-width-1-1 uk-background-contain uk-background-center-right uk-background-image@s" style="background-image: url({% static 'img/in-wave-mockup-1.png' %});">
        <h1 class="uk-margin-remove-bottom">Smart
          <span class="uk-text-primary">investment</span></h1>
        <p class="uk-text-lead">on
          <span class="uk-text-primary">wave</span>
          mobile app.</p>
        <p class="uk-margin-small-bottom">Launching soon on multiple platform</p>
        <div class="uk-flex">
          <a href="javascript:void(0)" class="uk-button in-button-app">
            <i class="fab fa-google-play"></i>
            <span class="wrapper">Download from<br>
              <span>Play Store</span></span>
          </a>
          <a href="javascript:void(0)" class="uk-button in-button-app uk-margin-small-left">
            <i class="fab fa-apple"></i>
            <span class="wrapper">Download from<br>
              <span>App Store</span></span>
          </a>
          <a href="javascript:void(0)" class="uk-button in-button-app uk-margin-small-left uk-visible@m">
            <i class="fab fa-microsoft"></i>
            <span class="wrapper">Download from<br>
              <span>Microsoft Store</span></span>
          </a>
        </div>
      </div>
      <div class="uk-width-1-1 in-price-list">
        <div data-uk-slider="autoplay: true; autoplay-interval: 5000">
          <ul class="uk-slider-items uk-child-width-1-3@s uk-child-width-1-5@m uk-text-small uk-text-center" data-uk-grid="data-uk-grid">
            <li>
              <span>XAUUSD</span>
              <span class="uk-label uk-label-success uk-border-pill uk-margin-small-left">
                <i class="fas fa-caret-up"></i>
                1478.81 (+0.28%)</span>
            </li>
            <li>
              <span>GBPUSD</span>
              <span class="uk-label uk-label-danger uk-border-pill uk-margin-small-left">
                <i class="fas fa-caret-down"></i>
                1.3191 (-1.07%)</span>
            </li>
            <li>
              <span>EURUSD</span>
              <span class="uk-label uk-label-danger uk-border-pill uk-margin-small-left">
                <i class="fas fa-caret-down"></i>
                1.1159 (-0.11%)</span>
            </li>
            <li>
              <span>USDJPY</span>
              <span class="uk-label uk-label-success uk-border-pill uk-margin-small-left">
                <i class="fas fa-caret-up"></i>
                109.59 (+0.05%)</span>
            </li>
            <li>
              <span>USDCAD</span>
              <span class="uk-label uk-label-success uk-border-pill uk-margin-small-left">
                <i class="fas fa-caret-up"></i>
                1.3172 (+0.18%)</span>
            </li>
            <li>
              <span>USDCHF</span>
              <span class="uk-label uk-label-success uk-border-pill uk-margin-small-left">
                <i class="fas fa-caret-up"></i>
                0.9776 (+0.06%)</span>
            </li>
            <li>
              <span>AUDUSD</span>
              <span class="uk-label uk-label-danger uk-border-pill uk-margin-small-left">
                <i class="fas fa-caret-down"></i>
                0.67064 (-0.08%)</span>
            </li>
            <li>
              <span>GBPJPY</span>
              <span class="uk-label uk-label-success uk-border-pill uk-margin-small-left">
                <i class="fas fa-caret-up"></i>
                141.91 (+0.12%)</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- section content end -->
