{% load static %}

<style>
    td.uk-center {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .fa-ml-3 {
        margin-left: 30px !important;
    }
</style>



<!-- section content begin -->
<div class="uk-section in-liquid-16">
    <div class="uk-container">
        <div class="uk-grid uk-flex uk-flex-center">
            <div class="uk-width-1-2@m uk-text-center">
                <h2>Our <span class="in-highlight">Stats</span> </h2>
            </div>
        </div>
        <div class="uk-grid uk-child-width-1-2@s uk-child-width-1-4@m uk-text-center" data-uk-grid="">
            <div class="uk-first-column">
                <div class="in-liquid-16-counter">
                    <p class="uk-margin-small-top">Experience</p>
                    <h1 class="uk-text-muted uk-margin-top uk-margin-remove-bottom">
                        <span class="count" data-counter-end="150932" data-counter-append="">hours</span>
                    </h1>
                    <p class="uk-margin-small-top">Hours</p>
                </div>
            </div>
            <div>
                <div class="in-liquid-16-counter">
                    <p class="uk-margin-small-top">Active Users</p>
                    <h1 class="uk-text-muted uk-margin-top uk-margin-remove-bottom">
                        <span class="count" data-counter-end="158739" data-counter-append=""></span>
                    </h1>
                    <p class="uk-margin-small-top"> Users</p>
                </div>
            </div>
            <div class="uk-grid-margin uk-first-column">
                <div class="in-liquid-16-counter">
                    <p class="uk-margin-small-top">Paid Commisions</p>
                    <h1 class="uk-text-muted uk-margin-top uk-margin-remove-bottom">
                        <span class="count" data-counter-end="1823334" data-counter-append=""></span>
                    </h1>
                    <p class="uk-margin-small-top">Ksh</p>
                </div>
            </div>
            <div class="uk-grid-margin">
                <div class="in-liquid-16-counter">
                    <p class="uk-margin-small-top">Customer supports</p>
                    <h1 class="uk-text-muted uk-margin-top uk-margin-remove-bottom">
                        <span class="count" data-counter-end="24" data-counter-append="/7">24/7</span>
                    </h1>
                    <p class="uk-margin-small-top"> </p>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- section content end -->


<div class="uk-container py-3">
    <!-- <div class="uk-width-1-2@m uk-text-center"> -->
    <h1 class="uk-margin-remove py-3">Affiliate Marketing Platforms vs
        <span class="in-highlight">Earnkraft </span>Platform
    </h1>
    <div class="row py-2">
        <table class="uk-table uk-table-hover uk-table-divider">
            <thead>
                <tr>
                    <th>#Features</th>
                    <th>Other Platforms</th>
                    <th>Earnkraft Platform</th>
                </tr>
            </thead>
            <tbody>
                <tr class="feature-row-1">
                    <td>
                        <span class="feature-label">
                            <p>Free Registration</p>
                        </span>
                    </td>
                    <td>
                        <i class="fa-solid fa-xmark fa-beat fa-2xl fa-ml-3" style="color: #960404;"></i>
                    </td>
                    <td>
                        <i class="fa-solid fa-check  fa-beat fa-2xl fa-ml-3" style="color:#089401;"></i>
                    </td>
                </tr>
                <tr class="feature-row-2">
                    <td>
                        <span class="feature-label">
                            <p>Multiple ways of earning</p>
                        </span>
                    </td>
                    <td>
                        <i class="fa-solid fa-check  fa-beat fa-2xl fa-ml-3" style="color:#089401;"></i>
                    </td>
                    <td>
                        <i class="fa-solid fa-check  fa-beat fa-2xl fa-ml-3" style="color:#089401;"></i>
                    </td>

                </tr>
                <tr class="feature-row-1">
                    <td>
                        <span class="feature-label">
                            <p>VIP Bonus (weekly)</p>
                        </span>
                    </td>
                    <td>
                        <i class="fa-solid fa-xmark fa-beat fa-2xl fa-ml-3" style="color: #960404;"></i>
                    </td>
                    <td>
                        <i class="fa-solid fa-check  fa-beat fa-2xl fa-ml-3" style="color:#089401;"></i>
                    </td>
                </tr>
                <tr class="feature-row-2">
                    <td>
                        <span class="feature-label">
                            <p>Providing Job opportunities<span class="px-1">⭐</span></p>
                        </span>
                    </td>
                    <td>
                        <i class="fa-solid fa-xmark fa-beat fa-2xl fa-ml-3" style="color: #960404;"></i>
                    </td>
                    <td>
                        <i class="fa-solid fa-check  fa-beat fa-2xl fa-ml-3" style="color:#089401;"></i>

                    </td>
                </tr>
                <tr class="feature-row-1">
                    <td>
                        <span class="feature-label">
                            <p>Fast Withdrawals</p>
                        </span>
                    </td>
                    <td>
                        <i class="fa-solid fa-check  fa-beat fa-2xl fa-ml-3" style="color:#089401;"></i>
                    </td>
                    <td>
                        <i class="fa-solid fa-check  fa-beat fa-2xl fa-ml-3" style="color:#089401;"></i>
                    </td>

                </tr>
                <tr class="feature-row-2">
                    <td>
                        <span class="feature-label">
                            <p>Automated Payouts</p>
                        </span>
                    </td>
                    <td>
                        <i class="fa-solid fa-xmark fa-beat fa-2xl fa-ml-3" style="color: #960404;"></i>
                    </td>
                    <td>
                        <i class="fa-solid fa-check  fa-beat fa-2xl fa-ml-3" style="color:#089401;"></i>
                    </td>
                </tr>

                <tr class="feature-row-2">
                    <td>
                        <span class="feature-label">
                            <p>Earn with AI & chatGPT</p>
                        </span>
                    </td>
                    <td>
                        <i class="fa-solid fa-xmark fa-beat fa-2xl fa-ml-3" style="color: #960404;"></i>
                    </td>
                    <td>
                        <i class="fa-solid fa-check  fa-beat fa-2xl fa-ml-3" style="color:#089401;"></i>
                    </td>

                </tr>
                <tr class="feature-row-2">
                    <td>
                        <span class="feature-label">
                            <p>Referal Bonuses</p>
                        </span>
                    </td>
                    <td>
                        <i class="fa-solid fa-check  fa-beat fa-2xl fa-ml-3" style="color:#089401;"></i>
                    </td>
                    <td>
                        <i class="fa-solid fa-check  fa-beat fa-2xl fa-ml-3" style="color:#089401;"></i>
                    </td>
                </tr>
                <tr class="feature-row-2">
                    <td>
                        <span class="feature-label">
                            <p>Earn from Articles & blogging</p>
                        </span>
                    </td>
                    <td>
                        <i class="fa-solid fa-xmark fa-beat fa-2xl fa-ml-3" style="color: #960404;"></i>
                    </td>
                    <td>
                        <i class="fa-solid fa-check  fa-beat fa-2xl fa-ml-3" style="color:#089401;"></i>
                    </td>
                </tr>
                <tr class="feature-row-2">


                    <td>
                        <span class="feature-label">
                            <p>Registered Platform</p>
                        </span>
                    </td>
                    <td>
                        <i class="fa-solid fa-check  fa-beat fa-2xl fa-ml-3" style="color:#089401;"></i>
                    </td>
                    <td>
                        <i class="fa-solid fa-check  fa-beat fa-2xl fa-ml-3" style="color:#089401;"></i>
                    </td>
                </tr>

                <tr class="feature-row-2">
                    <td>
                        <span class="feature-label">
                            <p>Referal comissions</p>
                        </span>
                    </td>
                    <div><span class="check-mark"></span></div>
                    <td>
                        <span class="check-mark fa-ml-3"><b>40%</b></span>
                    </td>
                    <td>
                        <span class="check-mark fa-ml-3"><b>60%</b></span>
                    </td>
                </tr>

            </tbody>
        </table>
    </div>
</div>
<!--scripts-->
<!--scripts-->

<!-- <script>
    function sticky_relocate() {
        var window_top = $(window).scrollTop();
        var div_top = $('#sticky-anchor').offset().top;
        var div_bottom = $('#sticky-end').offset().top;
        if (window_top > div_top && window_top < div_bottom) {
            $('#sticky').addClass('stick');
            $('#sticky-anchor').height($('#sticky').outerHeight());
        } else {
            $('#sticky').removeClass('stick');
            $('#sticky-anchor').height(0);
        }
    }

    $(function () {
        $(window).scroll(sticky_relocate);
        sticky_relocate();
    });
</script> -->