{% load static %}


<div class="uk-section uk-padding-remove-vertical in-slideshow-gradient">
  <div class="in-slideshow" data-uk-slideshow="data-uk-slideshow">
    <ul class="uk-slideshow-items uk-light">
      <li>
        <div class="uk-position-cover">
          <img src="{% static 'img/in-lazy.gif' %}" data-src="{% static 'img/in-slideshow-image-1.jpg' %}" alt="slideshow-image" data-uk-cover="data-uk-cover" width="1920" height="700" data-uk-img="data-uk-img">
        </div>
        <span></span>
        <div class="uk-container">
          <div class="uk-grid" data-uk-grid="data-uk-grid">
            <div class="uk-width-3-5@m">
              <div class="uk-overlay">
                <h1>Trade Shares and Forex with Financial Thinking</h1>
                <p class="uk-text-lead uk-visible@m">Access 40,000+ instruments – across asset classes – to trade, hedge and invest from a single account.</p>
                <a href="#" class="uk-button uk-button-primary uk-border-rounded uk-visible@m">
                  <i class="fas fa-scroll uk-margin-small-right"></i>Discover it now</a>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li>
        <div class="uk-position-cover">
          <img src="{% static 'img/in-lazy.gif' %}" data-src="{% static 'img/in-slideshow-image-2.jpg' %}" alt="slideshow-image" data-uk-cover="data-uk-cover" width="1920" height="700" data-uk-img="data-uk-img">
        </div>
        <span></span>
        <div class="uk-container">
          <div class="uk-grid" data-uk-grid="data-uk-grid">
            <div class="uk-width-3-5@m">
              <div class="uk-overlay">
                <h1>Multi-regulated Global Forex and Shares Broker</h1>
                <p class="uk-text-lead uk-visible@m">A trusted destination for traders worldwide, Authorised by FCA, ASIC & FSCA with multi-lingual support 24/5.</p>
                <a href="#" class="uk-button uk-button-primary uk-border-rounded uk-visible@m">
                  <i class="fas fa-scroll uk-margin-small-right"></i>Discover it now</a>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li>
        <div class="uk-position-cover">
          <img src="{% static 'img/in-lazy.gif' %}" data-src="{% static 'img/in-slideshow-image-3.jpg' %}" alt="slideshow-image" data-uk-cover="data-uk-cover" width="1920" height="700" data-uk-img="data-uk-img">
        </div>
        <span></span>
        <div class="uk-container">
          <div class="uk-grid" data-uk-grid="data-uk-grid">
            <div class="uk-width-3-5@m">
              <div class="uk-overlay">
                <h1>Award-winning Products and Trading platforms</h1>
                <p class="uk-text-lead uk-visible@m">Tap into the world's markets and explore endless trading opportunities with tight spreads and no commission.</p>
                <a href="#" class="uk-button uk-button-primary uk-border-rounded uk-visible@m">
                  <i class="fas fa-scroll uk-margin-small-right"></i>Discover it now</a>
              </div>
            </div>
          </div>
        </div>
      </li>
    </ul>
    <div class="uk-container uk-light">
      <ul class="uk-slideshow-nav uk-dotnav uk-position-bottom-center"></ul>
    </div>
  </div>
</div>



