{% load static %}
<footer>
  <div class="uk-section uk-section-muted uk-padding-large uk-padding-remove-horizontal uk-margin-medium-top">
    <div class="uk-container">
      <div class="uk-grid-medium" data-uk-grid="">
        <div class="uk-width-expand@m">
          <div class="footer-logo">
            <img class="uk-display-block" src="{% static 'img/user/header-logo-6ohuZh.svg' %}" alt="footer-logo" width="134" height="23" data-uk-img="">
          </div>
          <p class="uk-text-large uk-margin-small-top">Trade with financial thinking.</p>
          <p class="uk-visible@m">Imperium Tower (Headquarters)<br>
            Jl. Prof Dr Satrio, Kuningan<br>
            12920<br>
            Liquid - Indonesia/Kenya/Uganda/Tanzania
          </p>
        </div>
        <div class="uk-width-3-5@m">
          <div class="uk-child-width-1-3@s uk-child-width-1-3@m" data-uk-grid="">
            <div>
              <h4>
                <span>Investment</span></h4>
              <ul class="uk-list uk-link-text">
                <li>
                  <a href="#">Bonuses</a>
                </li>
                <li>
                  <a href="#">Affiliate Margket</a>
                </li>
                <li>
                  <a href="#">Referrals</a>
                </li>
                <li>
                  <a href="#">Commodities</a>
                </li>
              </ul>
            </div>
            <div>
              <h4>
                <span>Resources</span></h4>
              <ul class="uk-list uk-link-text">
                <li>
                  <a href="{% url 'help' %}">Help Centre</a>
                </li>
                <li>
                  <a href="#">Payment methods</a>
                </li>
                <li>
                  <a href="{% url 'career' %}">Careers</a>
                </li>

              </ul>
            </div>
            <div>
              <h4>
                <span>Company</span></h4>
              <ul class="uk-list uk-link-text">
                <li>
                  <a href="{% url 'about' %}">Our story</a>
                </li>
                <li>
                  <a href="#">Our leadership</a>
                </li>
                <li>
                  <a href="{% url 'contact' %}">Contact us</a>
                </li>
                <li>
                  <a href="#">Partners</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="uk-width-1-1 uk-margin-large-top in-offset-bottom-10">
          <h6>
            <!-- <i class="fas fa-exclamation-triangle uk-text-danger uk-margin-small-right"></i>Risk warning</h6>
          <p class="uk-text-small">The financial products offered via this website include digitals, contracts for difference (CFDs), and other complex derivatives and financial products. Trading options may not be suitable for everyone. Trading CFDs carries a high level of risk since leverage can work both to your advantage and disadvantage. As a result, the products offered on this website may not be suitable for all investors because of the risk of losing all of your invested capital. You should never invest money that you cannot afford to lose, and never trade with borrowed money. Before trading in the complex financial products offered, please be sure to understand the risks involved and learn about
            <a href="#">Secure and responsible trading.</a>
          </p> -->
          <hr>
          <div class="uk-grid uk-flex uk-flex-middle" data-uk-grid="">
            <div class="uk-width-1-2@m">
              <div class="uk-grid-small uk-flex uk-child-width-1-4@s uk-flex uk-child-width-1-5@m in-payment-method uk-text-center" data-uk-grid="">
                <div>
                  <div class="uk-card uk-card-default uk-card-small uk-card-body uk-visible@m">
                    <img src="{% static 'img/in-lazy.gif' %}" data-src="{% static 'img/mpesa.png' %}" alt="wave-payment" width="59" height="22" data-uk-img="">
                  </div>
                </div>
                <div>
                  <div class="uk-card uk-card-default uk-card-small uk-card-body">
                    <img src="{% static 'img/in-lazy.gif' %}" data-src="{% static 'img/in-wave-visa.svg' %}" alt="wave-payment" width="59" height="22" data-uk-img="">
                  </div>
                </div>
                <div>
                  <div class="uk-card uk-card-default uk-card-small uk-card-body">
                    <img src="{% static 'img/in-lazy.gif' %}" data-src="{% static 'img/in-wave-mastercard.svg' %}" alt="wave-payment" width="59" height="22" data-uk-img="">
                  </div>
                </div>
                <div>
                  <div class="uk-card uk-card-default uk-card-small uk-card-body">
                    <img src="{% static 'img/in-lazy.gif' %}" data-src="{% static 'img/in-wave-paypal.svg' %}" alt="wave-payment" width="59" height="22" data-uk-img="">
                  </div>
                </div>

              </div>
            </div>
            <div class="uk-width-1-2@m uk-flex uk-flex-right@m">
              <!-- social media begin -->
              <div class="uk-flex social-media-list">
                <div>
                  <a href="https://www.facebook.com/indonez" class="color-facebook text-decoration-none">
                    <i class="fab fa-facebook-square"></i>
                    Facebook</a>
                </div>
                <div>
                  <a href="https://twitter.com/indonez_tw" class="color-twitter text-decoration-none">
                    <i class="fab fa-twitter"></i>
                    Twitter</a>
                </div>
                <div>
                  <a href="https://www.instagram.com/indonez_ig" class="color-instagram text-decoration-none">
                    <i class="fab fa-instagram"></i>
                    Instagram</a>
                </div>
                <div>
                  <a href="#some-link" class="color-youtube text-decoration-none">
                    <i class="fab fa-youtube"></i>
                    Youtube</a>
                </div>
              </div>
              <!-- social media end -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="uk-section uk-section-secondary uk-padding-remove-vertical">
    <div class="uk-container">
      <div class="uk-grid">
        <div class="uk-width-3-4@m uk-visible@m">
          <ul class="uk-subnav uk-subnav-divider">

            <li>
              <a href="{% url 'policies' %}">Legal documents</a>
            </li>
            <li>
              <a href="#">Important information</a>
            </li>
            <li>
              <a href="{% url 'policies' %}">Privacy</a>
            </li>

            <li>
              <a href="{% url 'career' %}">Careers</a>
            </li>

            {% if user.is_authenticated %}
              <li>
                <form action="{% url 'users:logout' %}" method="post">
                  {% csrf_token %}
                  <button type="submit" class="" style="border:none; outline:none; background:transparent; font-size:14px;color: #8fadc2; cursor:pointer">Logout</button>
                </form>
              </li>
            {% endif %}
          </ul>
        </div>
        <div class="uk-width-expand@m uk-text-right@m">
          <p class="copyright-text">© 2024 Liquid Capital Inc.</p>
        </div>
      </div>
    </div>
  </div>
</footer>