<div class="nk-block">
  <div class="card card-bordered">
    <div class="nk-refwg">
      <div class="nk-refwg-invite card-inner">
        <div class="nk-refwg-head g-3">
          <div class="nk-refwg-title">
            <h5 class="title">Refer Us & Earn</h5>
            <div class="title-sub">
              Use the bellow link to invite your friends.
            </div>
          </div>
          <div class="nk-refwg-action">
            <button
              type="button"
              role="button"
              hx-post="{% url 'htmx:generate_referral_code' profile.id %}"
              hx-trigger="click"
              hx-target="#referral-code"
              hx-swap="innerHTML"
              class="btn btn-primary"
              hx-on::after-request="handleHtmxAfterRequest()"
              id="generateBtn"
            >
              Generate
            </button>

            <button
              class="btn btn-primary"
              type="button"
              disabled="disabled"
              id="loadingBtn"
            >
              <span
                class="spinner-border spinner-border-sm"
                role="status"
                aria-hidden="true"
              ></span>
              Loading...
            </button>
          </div>
        </div>
        <div class="nk-refwg-url">
          <div class="form-control-wrap">
            <div
              class="form-clip clipboard-init"
              data-clipboard-target="#refUrl"
              data-success="Copied"
              data-text="Copy Link"
            >
              <em class="clipboard-icon icon ni ni-copy"></em>
              <span class="clipboard-text">Copy Link</span>
            </div>
            <div class="form-icon">
              <em class="icon ni ni-link-alt"></em>
            </div>
            <input
              type="text"
              class="form-control copy-text"
              id="refUrl"
              data-link="{{profile.referral_code}}"
              value="{{link}}"
            />
          </div>
        </div>
      </div>
      <div class="nk-refwg-stats card-inner bg-lighter">
        <div class="nk-refwg-group g-3">
          <div class="nk-refwg-name">
            <h6 class="title">
              My Referral
              <em
                class="icon ni ni-info"
                data-bs-toggle="tooltip"
                data-bs-placement="right"
                title="Referral Informations"
              ></em>
            </h6>
          </div>
          <div class="nk-refwg-info g-3">
            <div class="nk-refwg-sub">
              <div class="title">394</div>
              <div class="sub-text">Total Joined</div>
            </div>
            <div class="nk-refwg-sub">
              <div class="title">548.49</div>
              <div class="sub-text">Referral Earn</div>
            </div>
          </div>
          <div class="nk-refwg-more dropdown mt-n1 me-n1">
            <a
              href="#"
              class="btn btn-icon btn-trigger"
              data-bs-toggle="dropdown"
            >
              <em class="icon ni ni-more-h"></em>
            </a>
            <div class="dropdown-menu dropdown-menu-xs dropdown-menu-end">
              <ul class="link-list-plain sm">
                <li>
                  <a href="#">7 days</a>
                </li>
                <li>
                  <a href="#">15 Days</a>
                </li>
                <li>
                  <a href="#">30 Days</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="nk-refwg-ck">
          <canvas class="chart-refer-stats" id="refBarChart"></canvas>
        </div>
      </div>
    </div>
  </div>
</div>

<style>
  .loadingBtn {
    display: inline-block;
  }
</style>

<script>
  const swapBox = document.getElementById("referral-code");
  const generateBtn = document.getElementById("generateBtn");
  const loadingBtn = document.getElementById("loadingBtn");

  loadingBtn.style.display = "none";

  generateBtn.addEventListener("click", (e) => {
    loadingBtn.style.display = "inline-block";
    generateBtn.style.display = "none";
  });

  function handleHtmxAfterRequest() {
    loadingBtn.style.display = "none";
    generateBtn.style.display = "inline-block";
    window.location.reload();
  }
</script>

<div id="referral-code"></div>
