{% load static %}
<div class="nk-block-head">
  <div class="nk-block-between-md g-3">
    <div class="nk-block-head-content">
      <div class="nk-block-head-sub">
        <span>Welcome!</span></div>
      <div class="align-center flex-wrap pb-2 gx-4 gy-3">
        <div>
          <h2 class="nk-block-title fw-normal">{{profile.user.username}}</h2>
        </div>
        <div>
          {% if plans %}
            <a href="{% url 'dashboard:invest:plans' %}" class="btn btn-white btn-light">My Plans
              <em class="icon ni ni-arrow-long-right ms-2"></em>
            </a>
          {% endif %}
        </div>
      </div>
      <div class="nk-block-des">
        <p>At a glance summary of your investment account. Have fun!</p>
      </div>
    </div>
    <div class="nk-block-head-content">
      {% if plans %}
        <div class="nk-slider nk-slider-s1  d-none d-md-block">
          <div class="slider-init" data-slick='{"dots": true, "arrows": false, "fade": true}'>
            {% for plan in plans %}
              <div class="slider-item">
                <div class="nk-iv-wg1">
                  <div class="nk-iv-wg1-sub sub-text">My Plans

                    {% if plan.status == "RUNNING" %}
                      <span class="badge rounded-pill text-bg-primary">{{plan.get_status_display}}</span>
                    {% else %}
                      <span class="badge rounded-pill text-bg-secondary">{{plan.get_status_display}}</span>
                    {% endif %}

                  </div>
                  <h6 class="nk-iv-wg1-info title">{{plan.type.get_type_display|title}}
                    -{{plan.type.percentage_return}}% Return</h6>
                  <a href="{{plan.get_absolute_url}}" class="nk-iv-wg1-link link link-light">
                    <em class="icon ni ni-trend-up"></em>
                    <span>Check Details</span></a>
                  <div class="nk-iv-wg1-progress">
                    {% if plan.status == "RUNNING" %}
                      <div class="progress-bar  bg-primary" data-progress="80"></div>
                    {% else %}
                      <div class="progress-bar bg-secondary" data-progress="80"></div>
                    {% endif %}
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
          <div class="slider-dots"></div>
        </div>
      {% else %}
        <div class="toggle-wrap nk-block-tools-toggle">
          <a href="#" class="btn btn-icon btn-trigger toggle-expand me-n1" data-target="pageMenu">
            <em class="icon ni ni-more-v"></em>
          </a>
          <div class="toggle-expand-content" data-content="pageMenu">
            <ul class="nk-block-tools gx-3 g-3">
              <li class="order-md-last">
                <a href="{% url 'dashboard:invest:invest' %}" class="btn btn-primary btn-lg">
                  <span>Choose a plan To start earning</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      {% endif %}
    </div>
  </div>
</div>

<!-- Modal Content Code -->
