{% load static %}


    <form>
      <div class="nk-reply-form-field">
        <textarea class="form-control form-control-simple no-resize" placeholder="Type your private note, that only visible to internal team."></textarea>
      </div>
      <div class="nk-reply-form-tools">
        <ul class="nk-reply-form-actions g-1">
          <li class="me-2">
            <button class="btn btn-primary" type="submit">
              Add Note
            </button>
          </li>
          <li>
            <a class="btn btn-icon btn-sm" data-bs-toggle="tooltip" data-bs-placement="top" href="#" aria-label="Upload Attachment" data-bs-original-title="Upload Attachment">
              <em class="icon ni ni-clip-v"></em>
            </a>
          </li>
        </ul>

      </div>
    </form>
