
    <form id="support-form-reply">
      <div class="nk-reply-form-field">
        <textarea id="supportmessage" name="supportmessage" class="form-control form-control-simple no-resize" placeholder="Hello"></textarea>
      </div>
      <div class="nk-reply-form-tools">
        <ul class="nk-reply-form-actions g-1">
          <li class="me-2">
            <button class="btn btn-primary" type="submit">
              Reply
            </button>
          </li>
          <li>
            <div class="dropdown">
              <a class="btn btn-icon btn-sm" data-bs-toggle="dropdown" href="#">
                <em class="icon ni ni-hash" data-bs-toggle="tooltip" data-bs-placement="top" aria-label="Template" data-bs-original-title="Template"></em>
              </a>
              <div class="dropdown-menu">
                <ul class="link-list-opt no-bdr link-list-template">
                  <li class="opt-head">
                    <span>Quick Insert</span>
                  </li>
                  <li>
                    <a href="#">
                      <span>Thank you message</span></a>
                  </li>
                  <li>
                    <a href="#">
                      <span>Your issues solved</span></a>
                  </li>
                  <li>
                    <a href="#">
                      <span>Thank you message</span></a>
                  </li>
                  <li class="divider"></li>
                  <li>
                    <a href="#">
                      <em class="icon ni ni-file-plus"></em>
                      <span>Save as Template</span></a>
                  </li>
                  <li>
                    <a href="#">
                      <em class="icon ni ni-notes-alt"></em>
                      <span>Manage Template</span></a>
                  </li>
                </ul>
              </div>
            </div>
          </li>
          <li>
            <a class="btn btn-icon btn-sm" data-bs-toggle="tooltip" data-bs-placement="top" href="#" aria-label="Upload Attachment" data-bs-original-title="Upload Attachment">
              <em class="icon ni ni-clip-v"></em>
            </a>
          </li>
          <li>
            <a class="btn btn-icon btn-sm" data-bs-toggle="tooltip" data-bs-placement="top" href="#" aria-label="Insert Emoji" data-bs-original-title="Insert Emoji">
              <em class="icon ni ni-happy"></em>
            </a>
          </li>
          <li>
            <a class="btn btn-icon btn-sm" data-bs-toggle="tooltip" data-bs-placement="top" href="#" aria-label="Upload Images" data-bs-original-title="Upload Images">
              <em class="icon ni ni-img"></em>
            </a>
          </li>
        </ul>
      </div>
    </form>

