{% extends 'account/dashboard/v1/layout.html' %}

{% load static humanize %}

{% block sidebar %}
  {% include "account/dashboard/v1/components/navbar/sidebar.html" %}
{% endblock sidebar %}

{% block content %}

  {% include "account/dashboard/v1/components/navbar.html" %}

  <div class="nk-content nk-content-fluid">
    <div class="container-xl wide-lg">
      <div class="nk-content-body">

        {% block heading %}{% endblock heading %}

        {% block main %}{% endblock main %}

      </div>
    </div>
  </div>

  {% include "account/dashboard/v1/components/footer.html" %}

{% endblock content %}

{% block modals %}

  <div class="modal fade" id="withdrawalPopupForm" aria-modal="true" role="dialog">
    <div class="modal-dialog modal-md" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Withdrawal Form</h5>
          <a href="#" role="button" onclick="window.location.reload()" class="close" data-bs-dismiss="modal" aria-label="Close">
            <em class="icon ni ni-cross"></em>
          </a>
        </div>
        <div class="modal-body">
          {% include "account/dashboard/v1/investment/components/schemes/withdrawal_form.html" %}
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="addPlanPopupForm" aria-modal="true" role="dialog">
    <div class="modal-dialog modal-md" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Add plan To Your Pool</h5>
          <a href="#" role="button" onclick="window.location.reload()" class="close" data-bs-dismiss="modal" aria-label="Close">
            <em class="icon ni ni-cross"></em>
          </a>
        </div>
        <div class="modal-body">
          {% include "account/dashboard/v1/investment/components/schemes/add_plan_form.html" %}
        </div>
      </div>
    </div>
  </div>

  <script>
    const submitBtn = document.getElementById("updateEvent")
    const swapArea = document.getElementById("id_available_amount")

    function handleSubmit() {

      const errorId = document.querySelector("span.errorlist")
      const successId = document.querySelector("span.text-success")

      if (errorId) {
        submitBtn.setAttribute("disabled", "disabled")
      }
      if (successId) {
        if (submitBtn.getAttribute("disabled")) {
          submitBtn.removeAttribute("disabled")
        }
      }

    }
    swapArea.addEventListener('htmx:afterSwap', function (event) {
      handleSubmit()
    });

    document.addEventListener('DOMContentLoaded', function () {
      const form = document.getElementById('withdrawalForm'); // Ensure your form has this ID

      form.addEventListener('submit', function (event) {
        event.preventDefault(); // Prevent the default form submission

        const formData = new FormData(form);

        fetch('/htmx/account/withdrawal/', { // Replace with the actual URL endpoint
          method: 'POST',
          body: formData
        })
          .then(response => response.json())
          .then(data => {
            if (data.success) {
              alert('Withdrawal Initiated Successfully!');
            } else {
              // Handle errors, display them on the form
              console.error('Errors:', data);
              alert('Failed to process withdrawal: ' + JSON.stringify(data));
            }
          })
          .catch(error => {
            console.error('Error:', error);
            alert('An error occurred. Please try again.');
          })
          . finally(window.location.reload());
      });
    });
  </script>



{% endblock modals %}