{% load static i18n compress %}
<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE }}">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <title>
    {% block title %}
    Earnkraft Dashboard
    {% endblock title %}
  </title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="investment app" />
  <meta name="author" content="kwasa" />
  <link rel="shortcut icon" href="{% static 'img/elogosmall.png' %}" />
  {% compress css %}
  <link rel="stylesheet" href="{% static 'v1/assets/css/dashlite.css' %}?ver=3.2.3" />
  <link rel="stylesheet" href="{% static 'v1/assets/css/theme.css' %}?ver=3.2.3" />
  <link rel="stylesheet" href="{% static 'v1/uicons/css/uicons.css' %}" />

  <style>
    .errorlist {
      color: red !important;
    }
  </style>

  {% block css %}{% endblock css %}
  {% endcompress css %}

  {% block editorcss %}{% endblock editorcss %}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">


</head>

<body class="nk-body npc-crypto {% block cssClass %}bg-white{% endblock cssClass %} has-sidebar">
  {% block body %}

  <div class="nk-app-root">
    <div class="nk-main">
      {% block sidebar %}{% endblock sidebar %}
      <div class="nk-wrap">
        {% block content %}

        {% block navbar %}{% endblock navbar %}

        {% block footer %}{% endblock footer %}

        {% endblock content %}
      </div>
    </div>
  </div>

  {% block modals %}{% endblock modals %}
  {% endblock body %}

  {% compress js %}
  {% block javascript %}

  <script src="{% static 'js/vendors/htmx.min.js' %}"></script>
  <script src="{% static 'js/vendors/ext/htmx/ws.js' %}"></script>
  <script src="{% static 'js/vendors/_hyperscript.min.js' %}"></script>
  <script src="{% static 'js/vendors/axios.min.js' %}"></script>
  <script src="{% static 'v1/assets/js/bundle.js' %}?ver=3.2.3"></script>
  <script src="{% static 'v1/assets/js/scripts.js' %}?ver=3.2.3"></script>
  <script src="{% static 'dashboard/assets/js/demo-settings.js' %}?ver=3.2.3"></script>
  <script src="{% static 'v1/assets/js/charts/chart-crypto.js' %}?ver=3.2.3"></script>
  <script src="{% static 'v1/assets/js/apps/messages.js' %}?ver=3.2.3"></script>

  {% endblock javascript %}
  {% endcompress %}

  <script defer="defer" src="https://js.paystack.co/v1/inline.js"></script>
  {% block js %}{% endblock js %}

  <script defer="defer">


    // Example code to get the user's public IP address using an external API

    async function fetchUserIpAddress(url) {
      const response = await fetch(`${url}?format=json`)
      const data = await response.json()
      localStorage.setItem("ipAddressStorageKey", JSON.stringify(data.ip));
      return data.ip;
    }

    async function fetchUserLocationByLocation(url, ipAddress, storageKey) {
      const apiKey = "ec05d0535a1e4fc3a81309703896c8bf"
      const responseCall = await fetch(`${url}?api_key=${apiKey}&ip_address=${ipAddress}`)
      const data = await responseCall.json()
      localStorage.setItem(storageKey, JSON.stringify(data));
      return data
    }

    function updateLocationData(data) {
      try {
        document.getElementById("countryFlag").src = data.flag.png
        document.getElementById("selectedCountryFlag").src = data.flag.png
        if (document.querySelector(".country-currency")) {
          document.querySelector(".country-currency").value = 'KES'
          //document.querySelector(".country-currency").value = data.currency.currency_code
        }
      } catch (error) {
        console.log(error)
        if (document.querySelector(".country-currency")) {
          document.querySelector(".country-currency").value = "KES"

        }
      }
    }


    // const currencyConversionRate

    async function loadCurrencyConversionRate(storageKey) {
      const url = "{% url 'apis:conversion' %}"
      const response = await fetch(url)
      const data = await response.json()
      if (data.results) {
        localStorage.setItem(storageKey, JSON.stringify(data.results));
      }
      return data
    }


    document.addEventListener("DOMContentLoaded",

      async function handleSiteCurrencyLocation() {
        const countryCurrencyCode = document.querySelectorAll(".currency")
        let currencyRate;
        let apiAddress;
        const storageKey = 'geoData';
        const conversionStorageKey = "conversionStorageKey";
        const ipAddressStorageKey = "ipAddressStorageKey";
        let localIpAddress = localStorage.getItem(ipAddressStorageKey)

        if (navigator.onLine && localIpAddress === null) {
          apiAddress = await fetchUserIpAddress('https://api.ipify.org');
        } else {
          apiAddress = localIpAddress
        }
        console.log(navigator.onLine)


        let geoData = localStorage.getItem(storageKey);
        let conversionRateData = localStorage.getItem(conversionStorageKey) ?? '1';

        // if (ipAddress && ipAddress === localIpAddress)

        /*
          @ LocationPayload Dat
          
          */
        // call the endpoint to save the plan selected

        if (conversionRateData === '1') {
          localStorage.setItem('conversionStorageKey', '1');
        }

        conversionRateData = JSON.parse(localStorage.getItem('conversionStorageKey'))

        console.log(geoData)
        console.log(conversionRateData)

        if (geoData === null) {
          fetchUserLocationByLocation(
            'https://ipgeolocation.abstractapi.com/v1',
            JSON.parse(localIpAddress),
            'geoData'
          ).then(response => response.json().then(data => {
            updateLocationData(data)
          }));
        }


        console.log(JSON.parse(localIpAddress), apiAddress)


        geoData = JSON.parse(localStorage.getItem('geoData'));

        console.log(geoData)

        if (geoData) {
          console.log("Ip aleady registered")
          updateLocationData(geoData)
          if (conversionRateData) {
            console.log('present geo 1')
            updatePayableAmountAndCurrency(conversionRateData, geoData)
          } else {
            console.log('present geo 2')
            const storageKey = await loadCurrencyConversionRate('conversionStorageKey')
            updatePayableAmountAndCurrency(storageKey, geoData)
          }
        } else {
          setTimeout(async () => {
            const apiLocation = await fetchUserLocationByLocation('https://ipgeolocation.abstractapi.com/v1', apiAddress, storageKey);
            geoData = localStorage.getItem("geoData")
            updateLocationData(geoData)
            if (conversionRateData) {
              console.log('absent geo 1')
              updatePayableAmountAndCurrency(conversionRateData, geoData)
            } else {
              console.log('absent geo 2')
              const storageKey = await loadCurrencyConversionRate('conversionStorageKey')
              updatePayableAmountAndCurrency(storageKey, geoData)
            }
          }, 1000);
        }

        function updatePayableAmountAndCurrency(data, location) {
          console.log(location)

          const countryCurrencyRate = document.querySelector(".currencyRate")
          console.log(countryCurrencyRate)
          // console.log(amountToBePaid)

          console.log(document.querySelector(".currency-code"))
          let amount;
          let dataArray = data
          console.log(dataArray)
          // locate the value input
          const currencyCode = "KES"
         // const currencyCode = location.currency.currency_code

          if (document.querySelector(".currency-code") && document.getElementById("client-country-name")) {

            document.querySelector(".currency-code").value = currencyCode

            document.getElementById("client-country-name").value = location.country
          }

          // update the currecny display on the screeen
          countryCurrencyCode.forEach(currency => {
            currency.innerHTML = currencyCode
          })


          if (dataArray === '1') {
            iterableConvRate = [1]; // Creates an array with a single element 1
          } else {
            try {
              conversionRateData = JSON.parse(dataArray);
              if (Array.isArray(conversionRateData) && conversionRateData[0] && conversionRateData[0]['countries']) {
                iterableConvRate = conversionRateData[0]['countries'];
                // else convert everything to array with single elemen
              } else {
                // console.error('Unexpected structure of conversionRateData:', conversionRateData);
                iterableConvRate = [1];
              }
            } catch (e) {
              // console.error('Failed to parse conversionRateData:', e);
              iterableConvRate = [1];
            }
          }

          let countryRate=1;


          for (const country of iterableConvRate) {
            if (country.currency_code === geoData.currency.currency_code) {
              amount = parseFloat(parseFloat(AcctualAmountToBePaid) * parseFloat(country.amount)).toFixed(2)
              countryRate = country.amount;
            } else {
              countryRate = 1;
              // amount = amount;
            }
          }

          countryCurrencyRate.value = countryRate;




          if (document.querySelectorAll('.amount')) {
            document.querySelectorAll('.amount').forEach(amountElement => {
              // get the inet text data of the prices
              const amountElementContext = amountElement.childNodes[0].textContent.trim();
              console.log(amountElementContext)
              // create a span element to encapsulate this information
              const amountSpanElement = document.createElement('span');
              // asign a class name to this span element
              amountSpanElement.className = 'amountvalue';
              // inser the amount into the span element
              amountSpanElement.textContent = amountElementContext;
              // get the inner content of the amount wrapper
              amountElementInnerHTML = amountElement.querySelector('span.currency');

              amountElement.innerHTML = ''; //


              amountSpanElement.textContent = formatNumberWithCommas(parseFloat(
                parseFloat(amountElementContext) *
                parseFloat(countryCurrencyRate.value)
                // parseFloat(document.querySelector(".currencyRate").value)
              ).toFixed(2))

              // console.log(spanElement)

              if (amountSpanElement && amountElementInnerHTML) {
                // append the span element to the amount wrapper
                amountElement.insertAdjacentHTML('afterBegin', amountSpanElement.innerHTML);
                // margin styling

                const spanHtml = document.createElement('span');
                spanHtml.style.margin = "0px 10px!important";

                amountElement.insertAdjacentHTML('beforeend', "<span style='margin-left:5px !important;'></span>");
                // styling the link
                amountElement.insertAdjacentHTML("beforeEnd", amountElementInnerHTML.innerHTML)
              }
            })
          };

          function formatNumberWithCommas(number) {
            return new Intl.NumberFormat('en-US', {
              minimumFractionDigits: 2,
              maximumFractionDigits: 2
            }).format(number);
          };

        }
      }

    )

  </script>
  <input type="hidden" name="currencyRate" class="currencyRate">
  <input type="hidden" name="country" class="client-country-name" id="client-country-name" />
  <input type="hidden" name="currecny" class="currency-code" id="currency-code" />

  {% block morejs %}
  {% endblock morejs %}

</body>

</html>