{% load filter_markdown %}

<div class="tab-pane fade" id="History" role="tabpanel">
  <div class="px-3 py-4">
    <div class="d-flex flex-wrap justify-content-between mb-3">
      <h6 class="mb-0 me-3">Generation History</h6>
      <div class="fs-11px">
        <span class="text-dark">{{aitokens}}</span>
        tokens.
        <a class="text-primary" hx-on::after-request="window.location.reload()" style="cursor:pointer" hx-swap="none" hx-push-url="true" hx-boost="true" hx-get="">
          ~{{remainin}}
        </a>
      </div>
    </div>
    {% if histories %}
      <div class="row g-4">
        {% for h in histories %}
          <div class="col-12">
            <div class="card">
              <div class="p-3">
                <div class="d-flex align-items-center justify-content-between mb-2">
                  <div class="badge badge-dim bg-primary rounded-pill align-center">
                    <em class="icon ni ni-pen-fill fs-11px"></em>
                    <span style="cursor: pointer;">{{h.title|safe|truncatewords:"3"}}</span></div>
                  <ul class="d-flex align-items-center gx-1">
                    <li>
                      <button class="btn btn-sm btn-icon btn-trigger" hx-trigger="click" hx-on::after-request="window.location.reload()" style="cursor:pointer" hx-swap="none" hx-push-url="true" hx-boost="true" hx-get="{{h.get_absolute_url}}">
                        <em class="icon ni ni-chevrons-left"></em>
                      </button>
                    </li>
                    <li>
                      <button class="btn btn-sm btn-icon clipboard-init" title="Copy to clipboard" data-clipboard-target="#SocialMediaPost03" data-clip-success="<em class='icon ni ni-copy-fill'></em>" data-clip-text="<em class='icon ni ni-copy'></em>">
                        <span class="clipboard-text">
                          <em class="icon ni ni-copy"></em></span></button>
                    </li>
                  </ul>
                </div>
                <p class="text-dark" id="SocialMediaPost01">
                  {{h.response|safe|filter_h2_template|truncatewords:"30"}}
                </p>
                <div class="d-flex justify-content-between align-items-center fs-11px text-base">
                  <span>{{h.created_at|date:"M d, Y"}}
                    &nbsp;
                    {{h.created_at|date:"H:i A"}}
                  </span>
                  <span>42 Words</span>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    {% endif %}
  </div>
</div>
