{% extends "base.html" %}
{% load static %}

{% block breadcrumb %}

<!-- breadcrumb content begin -->
<div class="uk-section uk-padding-remove-vertical in-wave-breadcrumb">
  <div class="uk-container">
    <div class="uk-grid">
      <div class="uk-width-1-1">
        <ul class="uk-breadcrumb">
          <li>
            <a href="{% url 'home' %}">Home</a>
          </li>
          <li>
            <a href="#">Partners</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- breadcrumb content end -->

{% endblock breadcrumb %}

{% block content %}

<!-- section content begin -->
<div class="uk-section">
  <div class="uk-container">
    <div class="uk-grid uk-flex uk-flex-center">
      <div class="uk-width-3-4@m">
        <p class="uk-text-large">We're a team of mission-driven experts and learners who are committed to making earning opportunities accessible for everyone.</p>
        <p>We've already helped hundreds of innovative individuals succeed at leveraging diverse income streams. And we're just getting started.</p>
        <div class="uk-grid-divider uk-child-width-1-1 uk-child-width-1-3@m uk-margin-medium-top uk-margin-bottom" data-uk-grid="data-uk-grid">
          <div>
            <h4>Our Team</h4>
            <p>Our dedicated team is passionate about providing the tools and support you need to succeed in various income-generating activities.</p>
            <a class="uk-button uk-button-text" href="#"></a>
          </div>
          <div>
            <h4>Our Partners</h4>
            <p>We collaborate with trusted partners to offer opportunities in freelancing, online surveys, content creation, and more.</p>
            <a class="uk-button uk-button-text" href="#"></a>
          </div>
          <div>
            <h4>Our Clients</h4>
            <p>Our clients benefit from a diverse range of earning opportunities, from local jobs to global freelance projects.</p>
            <a class="uk-button uk-button-text" href="#"></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- section content end -->

<!-- section content begin -->
<div class="uk-width-3-4@m uk-text-center">
  <h2>Trusted Partners </h2>
  </div>

  <!-- </div>
<div class="container col-xxl-10">

  <section class="customer-logos slider">
    <div class="slide"><img src="https://i.pinimg.com/236x/fc/66/69/fc666966d2917df65352a8dd0566bade.jpg"></div>
    <div class="slide"><img src="https://w7.pngwing.com/pngs/876/337/png-transparent-fiverr-freelancer-logo-business-online-marketplace-fiverr-text-service-grass-thumbnail.png"></div>
    <div class="slide"><img src="https://w7.pngwing.com/pngs/789/872/png-transparent-freelancer-hd-logo-thumbnail.png"></div>
    <div class="slide"><img src="https://w7.pngwing.com/pngs/257/806/png-transparent-upwork-freelancer-android-android-text-trademark-rectangle-thumbnail.png"></div>
    <div class="slide"><img src="https://w7.pngwing.com/pngs/722/1011/png-transparent-logo-icon-instagram-logo-instagram-logo-purple-violet-text-thumbnail.png"></div>
    <div class="slide"><img src="https://w7.pngwing.com/pngs/110/230/png-transparent-whatsapp-application-software-message-icon-whatsapp-logo-whats-app-logo-logo-grass-mobile-phones-thumbnail.png"></div>
    <div class="slide"><img src="https://i.pinimg.com/564x/69/ae/b3/69aeb36c32e8c5f32a7097739a0ee1c2.jpg"></div>
    <div class="slide"><img src="https://i.pinimg.com/564x/eb/ab/45/ebab4568ee312b709a32fe72bc23013d.jpg"></div>
    <div class="slide"><img src="https://i.pinimg.com/280x280_RS/86/73/12/86731266308d5b7bdbdb417bb5e748f7.jpg"></div>
    <div class="slide"><img src="https://www.pikpng.com/pngl/m/146-1461124_edit-clip-titled-hemingway-editor-logo-png-download.png"></div>
    <div class="slide"><img src="https://groupbuyseotools.org/wp-content/uploads/2022/12/prowritingaid-510x268.webp"></div>
    <div class="slide"><img src="https://i.pcmag.com/imagery/reviews/01KJJJCE0KQ9sV8bQHB01gU-10.fit_scale.size_760x427.v1580488306.jpg"></div>
    <div class="slide"><img src="https://i.pinimg.com/564x/f6/8b/5e/f68b5e5292964919e1b8c111acf29227.jpg"></div>
    <div class="slide"><img src="https://i.pinimg.com/564x/30/e4/89/30e489f11b30ae8a831a0ed4cda6f6ce.jpg"></div>

  </section>

</div>
<br>
<div class="container col-xxl-10">

  <section class="customer-logos slider">
    <div class="slide"><img src="https://i.pinimg.com/280x280_RS/25/bd/17/25bd17e2ada3066436dd272c2bd7123c.jpg"></div>
    <div class="slide"><img src="https://i.pinimg.com/564x/15/f9/75/15f975fce17e520de9166be72d0f253f.jpg"></div>
    <div class="slide"><img src="https://i.pinimg.com/564x/2e/2d/86/2e2d86b032842c1320fb4a1516ab5477.jpg"></div>
    <div class="slide"><img src="https://substackcdn.com/image/fetch/w_96,c_limit,f_auto,q_auto:good,fl_progressive:steep/https%3A%2F%2Fbucketeer-e05bbc84-baa3-437e-9518-adb32be77984.s3.amazonaws.com%2Fpublic%2Fimages%2Fba81cfff-7bc5-4aef-866e-864d0942c42d_1000x1000.png"></div>
    <div class="slide"><img src="https://logos-world.net/wp-content/uploads/2021/08/Blogger-Logo-700x394.png"></div>
    <div class="slide"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/98/WordPress_blue_logo.svg/512px-WordPress_blue_logo.svg.png"></div>
    <div class="slide"><img src="https://www.hatchwise.com/wp-content/uploads/2022/05/amazon-logo-600x400.png.webp"></div>
    <div class="slide"><img src="https://banner2.cleanpng.com/20180812/hzk/kisspng-alibaba-group-logo-aliexpress-brand-nyse-baba-the-upstream-plughitz-live-5b701c0a08d565.4235034215340738660362.jpg"></div>
    <div class="slide"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/48/EBay_logo.png/800px-EBay_logo.png?20120913164145"></div>
    <div class="slide"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/89/Etsy_logo.svg/512px-Etsy_logo.svg.png?20210602130042"></div>
    <div class="slide"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/4c/Rakuten_Global_Brand_Logo.svg/512px-Rakuten_Global_Brand_Logo.svg.png?20180702105610"></div>
    <div class="slide"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/0b/Zalando_logo.svg/800px-Zalando_logo.svg.png?20150525170403"></div>

  </section>


</div>
<br>
<div class="container col-xxl-10">

  <section class="customer-logox slider">
    <div class="slide"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/ca/Walmart_logo.svg/512px-Walmart_logo.svg.png"></div>
    <div class="slide"><img src="https://t4.ftcdn.net/jpg/04/33/76/93/240_F_433769379_6OSHxCiPKPuTZ7oXzIis0gGnnEkXgOld.jpg"></div>
    <div class="slide"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/0e/Shopee_logo.svg/264px-Shopee_logo.svg.png?20191103132225"></div>
    <div class="slide"><img src="https://seeklogo.com/images/M/mercadolibre-logo-D691B14746-seeklogo.com.png"></div>
    <div class="slide"><img src="https://cdn.logojoy.com/wp-content/uploads/20231031154601/2014-netflix-logo-768x408.png"></div>
    <div class="slide"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3e/Disney%2B_logo.svg/800px-Disney%2B_logo.svg.png?20240603202835"></div>
    <div class="slide"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/26/Spotify_logo_with_text.svg/559px-Spotify_logo_with_text.svg.png"></div>
    <div class="slide"><img src="https://zeevector.com/wp-content/uploads/Black-Apple-Music-Logo-PNG-768x215.png"></div>
    <div class="slide"><img src="https://img.freepik.com/free-vector/twitter-app-new-logo-x-black-background_1017-45425.jpg?size=338&ext=jpg&ga=GA1.1.1348663151.1711490511&semt=ais_user"></div>
    <div class="slide"><img src="https://logos-world.net/wp-content/uploads/2020/07/PayPal-Logo-500x281.png"></div>
    <div class="slide"><img src="https://img.freepik.com/free-vector/twitter-app-new-logo-x-black-background_1017-45425.jpg?w=740&t=st=1719974668~exp=1719975268~hmac=b35372c3bd2cddf682307e1b2437e955bd09bc29150ecee15d0e5b233ae4cacc"></div>
    <div class="slide"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a5/Instagram_icon.png/600px-Instagram_icon.png?20200512141346"></div>

  </section>


</div> -->
  <!-- section content end -->


  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


  <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.js"></script>

  <!-- section content end -->

  <!-- section content begin -->
  <div class="uk-section in-gallery-1">
    <div class="uk-container">
      <ul class="uk-grid-small uk-child-width-1-3@m uk-child-width-1-2@s uk-text-center" data-uk-grid="masonry: true">
        <li>
          <div class="uk-inline-clip uk-transition-toggle uk-border-rounded" tabindex="0">
            <img class="uk-transition-scale-up uk-transition-opaque" src="{% static 'img/blockit/in-gallery-image-1.jpg' %}" alt="gallery-image" data-width="data-width" data-height="data-height">
          </div>
        </li>
        <li>
          <div class="uk-inline-clip uk-transition-toggle uk-border-rounded" tabindex="0">
            <img class="uk-transition-scale-up uk-transition-opaque" src="{% static 'img/blockit/in-gallery-image-2.jpg' %}" alt="gallery-image" data-width="data-width" data-height="data-height">
          </div>
        </li>
        <li>
          <div class="uk-inline-clip uk-transition-toggle uk-border-rounded" tabindex="0">
            <img class="uk-transition-scale-up uk-transition-opaque" src="{% static 'img/blockit/in-gallery-image-3.jpg' %}" alt="gallery-image" data-width="data-width" data-height="data-height">
          </div>
        </li>
        <li>
          <div class="uk-inline-clip uk-transition-toggle uk-border-rounded" tabindex="0">
            <img class="uk-transition-scale-up uk-transition-opaque" src="{% static 'img/blockit/in-gallery-image-4.jpg' %}" alt="gallery-image" data-width="data-width" data-height="data-height">
          </div>
        </li>
        <li>
          <div class="uk-inline-clip uk-transition-toggle uk-border-rounded" tabindex="0">
            <img class="uk-transition-scale-up uk-transition-opaque" src="{% static 'img/blockit/in-gallery-image-5.jpg' %}" alt="gallery-image" data-width="data-width" data-height="data-height">
          </div>
        </li>
        <li>
          <div class="uk-inline-clip uk-transition-toggle uk-border-rounded" tabindex="0">
            <img class="uk-transition-scale-up uk-transition-opaque" src="{% static 'img/blockit/in-gallery-image-6.jpg' %}" alt="gallery-image" data-width="data-width" data-height="data-height">
          </div>
        </li>
      </ul>
    </div>
  </div>
  <!-- section content end -->


  


  {% endblock content %}