{% extends "base.html" %}
{% load static %}

{% block breadcrumb %}

  <!-- breadcrumb content begin -->
  <div class="uk-section uk-padding-remove-vertical in-wave-breadcrumb">
    <div class="uk-container">
      <div class="uk-grid">
        <div class="uk-width-1-1">
          <ul class="uk-breadcrumb">
            <li>
              <a href="{% url 'home' %}">Home</a>
            </li>
            <li>
              <a href="{% url 'help' %}">Terms of Use</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- breadcrumb content end -->

{% endblock breadcrumb %}

{% block content %}
  <!-- section content begin -->
  <div class="uk-section">
    <div class="uk-container">
        <div class="uk-grid">
            <div class="uk-width-1-1 in-content-10">
                <div class="uk-card uk-card-primary uk-card-body uk-border-rounded uk-background-bottom-left uk-background-contain" style="background-image: url('img/blockit/in-content-10-image.png');">
                    <div class="uk-grid uk-flex uk-flex-center">
                        <div class="uk-width-3-5@m uk-text-center">
                            <h1 class="uk-margin-small-top">Hi, we’re here to help.</h1>
                            <form class="uk-search uk-search-default uk-width-1-1 uk-margin-bottom">
                                <span data-uk-search-icon="data-uk-search-icon"></span>
                                <input class="uk-search-input uk-border-pill" type="search" placeholder="Search for articles...">
                            </form>
                        </div>
                    </div>
                </div>
                <div class="uk-grid-divider uk-child-width-1-3@m uk-child-width-1-2@s uk-margin-medium-top" data-uk-grid="data-uk-grid">
                    <!-- Section 1 -->
                    <div>
                        <h3 class="uk-heading-bullet"><a class="uk-link-text" href="#">How to Register</a></h3>
                        <div class="uk-grid uk-grid-small" data-uk-grid="data-uk-grid">
                            <div class="uk-width-expand@m">
                                <p>Learn how to create an account on EarnKraft to get started.</p>
                                <a href="#" class="uk-button uk-button-text">More details</a>
                            </div>
                            <div class="uk-width-auto@m">
                                <div class="in-icon-wrap small transparent uk-margin-left">
                                    <i class="fas fa-user-plus fa-3x"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Section 2 -->
                    <div>
                        <h3 class="uk-heading-bullet"><a class="uk-link-text" href="#">How to Subscribe to a Package</a></h3>
                        <div class="uk-grid uk-grid-small" data-uk-grid="data-uk-grid">
                            <div class="uk-width-expand@m">
                                <p>Find out how to choose and subscribe to the right package for you.</p>
                                <a href="#" class="uk-button uk-button-text">More details</a>
                            </div>
                            <div class="uk-width-auto@m">
                                <div class="in-icon-wrap small transparent uk-margin-left">
                                    <i class="fas fa-box-open fa-3x"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Section 3 -->
                    <div>
                        <h3 class="uk-heading-bullet"><a class="uk-link-text" href="#">Package Benefits</a></h3>
                        <div class="uk-grid uk-grid-small" data-uk-grid="data-uk-grid">
                            <div class="uk-width-expand@m">
                                <p>Understand the benefits included in each package.</p>
                                <a href="#" class="uk-button uk-button-text">More details</a>
                            </div>
                            <div class="uk-width-auto@m">
                                <div class="in-icon-wrap small transparent uk-margin-left">
                                    <i class="fas fa-gift fa-3x"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Section 4 -->
                    <div>
                        <h3 class="uk-heading-bullet"><a class="uk-link-text" href="#">Ways of Earning</a></h3>
                        <div class="uk-grid uk-grid-small" data-uk-grid="data-uk-grid">
                            <div class="uk-width-expand@m">
                                <p>Explore the different ways you can earn money on our platform.</p>
                                <a href="#" class="uk-button uk-button-text">More details</a>
                            </div>
                            <div class="uk-width-auto@m">
                                <div class="in-icon-wrap small transparent uk-margin-left">
                                    <i class="fas fa-coins fa-3x"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Section 5 -->
                    <div>
                        <h3 class="uk-heading-bullet"><a class="uk-link-text" href="#">How to Withdraw</a></h3>
                        <div class="uk-grid uk-grid-small" data-uk-grid="data-uk-grid">
                            <div class="uk-width-expand@m">
                                <p>Learn the steps to withdraw your earnings to your bank account.</p>
                                <a href="#" class="uk-button uk-button-text">More details</a>
                            </div>
                            <div class="uk-width-auto@m">
                                <div class="in-icon-wrap small transparent uk-margin-left">
                                    <i class="fas fa-university fa-3x"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Section 6 -->
                    <div>
                        <h3 class="uk-heading-bullet"><a class="uk-link-text" href="#">How to Send Money to Another Member</a></h3>
                        <div class="uk-grid uk-grid-small" data-uk-grid="data-uk-grid">
                            <div class="uk-width-expand@m">
                                <p>Discover how to transfer money to other members on EarnKraft.</p>
                                <a href="#" class="uk-button uk-button-text">More details</a>
                            </div>
                            <div class="uk-width-auto@m">
                                <div class="in-icon-wrap small transparent uk-margin-left">
                                    <i class="fas fa-exchange-alt fa-3x"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Section 7 -->
                    <div>
                        <h3 class="uk-heading-bullet"><a class="uk-link-text" href="#">How to Buy Products and Services for Online Writing</a></h3>
                        <div class="uk-grid uk-grid-small" data-uk-grid="data-uk-grid">
                            <div class="uk-width-expand@m">
                                <p>Steps to purchase online writing products and services.</p>
                                <a href="#" class="uk-button uk-button-text">More details</a>
                            </div>
                            <div class="uk-width-auto@m">
                                <div class="in-icon-wrap small transparent uk-margin-left">
                                    <i class="fas fa-shopping-cart fa-3x"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Section 8 -->
                    <div>
                        <h3 class="uk-heading-bullet"><a class="uk-link-text" href="#">How to Buy Online Writing Accounts</a></h3>
                        <div class="uk-grid uk-grid-small" data-uk-grid="data-uk-grid">
                            <div class="uk-width-expand@m">
                                <p>Learn how to buy online writing accounts from our marketplace.</p>
                                <a href="#" class="uk-button uk-button-text">More details</a>
                            </div>
                            <div class="uk-width-auto@m">
                                <div class="in-icon-wrap small transparent uk-margin-left">
                                    <i class="fas fa-user-shield fa-3x"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Section 9 -->
                    <div>
                        <h3 class="uk-heading-bullet"><a class="uk-link-text" href="#">How to Apply for Jobs</a></h3>
                        <div class="uk-grid uk-grid-small" data-uk-grid="data-uk-grid">
                            <div class="uk-width-expand@m">
                                <p>Step-by-step guide to applying for jobs on EarnKraft.</p>
                                <a href="#" class="uk-button uk-button-text">More details</a>
                            </div>
                            <div class="uk-width-auto@m">
                                <div class="in-icon-wrap small transparent uk-margin-left">
                                    <i class="fas fa-briefcase fa-3x"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Section 10 -->
                    <div>
                        <h3 class="uk-heading-bullet"><a class="uk-link-text" href="#">How to Submit Remote Jobs Given</a></h3>
                        <div class="uk-grid uk-grid-small" data-uk-grid="data-uk-grid">
                            <div class="uk-width-expand@m">
                                <p>Instructions for submitting remote jobs you've been assigned.</p>
                                <a href="#" class="uk-button uk-button-text">More details</a>
                            </div>
                            <div class="uk-width-auto@m">
                                <div class="in-icon-wrap small transparent uk-margin-left">
                                    <i class="fas fa-paper-plane fa-3x"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Section 11 -->
                    <div>
                        <h3 class="uk-heading-bullet"><a class="uk-link-text" href="#">How to Apply for Abroad Jobs</a></h3>
                        <div class="uk-grid uk-grid-small" data-uk-grid="data-uk-grid">
                            <div class="uk-width-expand@m">
                                <p>Steps to apply for job opportunities abroad through EarnKraft.</p>
                                <a href="#" class="uk-button uk-button-text">More details</a>
                            </div>
                            <div class="uk-width-auto@m">
                                <div class="in-icon-wrap small transparent uk-margin-left">
                                    <i class="fas fa-globe fa-3x"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Section 12 -->
                    <div>
                        <h3 class="uk-heading-bullet"><a class="uk-link-text" href="#">How to Apply for Local or Physical Jobs</a></h3>
                        <div class="uk-grid uk-grid-small" data-uk-grid="data-uk-grid">
                            <div class="uk-width-expand@m">
                                <p>Guidance on applying for local or physical job positions.</p>
                                <a href="#" class="uk-button uk-button-text">More details</a>
                            </div>
                            <div class="uk-width-auto@m">
                                <div class="in-icon-wrap small transparent uk-margin-left">
                                    <i class="fas fa-map-marker-alt fa-3x"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Section 13 -->
                    <div>
                        <h3 class="uk-heading-bullet"><a class="uk-link-text" href="#">How to Apply for VIP Section</a></h3>
                        <div class="uk-grid uk-grid-small" data-uk-grid="data-uk-grid">
                            <div class="uk-width-expand@m">
                                <p>Learn how to gain access to our VIP section for exclusive benefits.</p>
                                <a href="#" class="uk-button uk-button-text">More details</a>
                            </div>
                            <div class="uk-width-auto@m">
                                <div class="in-icon-wrap small transparent uk-margin-left">
                                    <i class="fas fa-crown fa-3x"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Section 14 -->
                    <div>
                        <h3 class="uk-heading-bullet"><a class="uk-link-text" href="#">How to Submit WhatsApp Views to Get Paid</a></h3>
                        <div class="uk-grid uk-grid-small" data-uk-grid="data-uk-grid">
                            <div class="uk-width-expand@m">
                                <p>Instructions on how to submit your WhatsApp views and earn money.</p>
                                <a href="#" class="uk-button uk-button-text">More details</a>
                            </div>
                            <div class="uk-width-auto@m">
                                <div class="in-icon-wrap small transparent uk-margin-left">
                                    <i class="fas fa-eye fa-3x"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Section 15 -->
                    <div>
                        <h3 class="uk-heading-bullet"><a class="uk-link-text" href="#">How to Use Our AI to Write Content</a></h3>
                        <div class="uk-grid uk-grid-small" data-uk-grid="data-uk-grid">
                            <div class="uk-width-expand@m">
                                <p>Step-by-step guide to using our AI tools for content creation.</p>
                                <a href="#" class="uk-button uk-button-text">More details</a>
                            </div>
                            <div class="uk-width-auto@m">
                                <div class="in-icon-wrap small transparent uk-margin-left">
                                    <i class="fas fa-robot fa-3x"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Section 16 -->
                    <div>
                        <h3 class="uk-heading-bullet"><a class="uk-link-text" href="#">How to Convert Video to Text</a></h3>
                        <div class="uk-grid uk-grid-small" data-uk-grid="data-uk-grid">
                            <div class="uk-width-expand@m">
                                <p>Instructions on how to convert video content to text using our tools.</p>
                                <a href="#" class="uk-button uk-button-text">More details</a>
                            </div>
                            <div class="uk-width-auto@m">
                                <div class="in-icon-wrap small transparent uk-margin-left">
                                    <i class="fas fa-video fa-3x"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Section 17 -->
                    <div>
                        <h3 class="uk-heading-bullet"><a class="uk-link-text" href="#">How to Post Content to Our Blog Platform</a></h3>
                        <div class="uk-grid uk-grid-small" data-uk-grid="data-uk-grid">
                            <div class="uk-width-expand@m">
                                <p>Learn how to post your articles and blog posts on our platform.</p>
                                <a href="#" class="uk-button uk-button-text">More details</a>
                            </div>
                            <div class="uk-width-auto@m">
                                <div class="in-icon-wrap small transparent uk-margin-left">
                                    <i class="fas fa-blog fa-3x"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Section 18 -->
                    <div>
                        <h3 class="uk-heading-bullet"><a class="uk-link-text" href="#">How to Get Paid</a></h3>
                        <div class="uk-grid uk-grid-small" data-uk-grid="data-uk-grid">
                            <div class="uk-width-expand@m">
                                <p>Understand the payment process and how to receive your earnings.</p>
                                <a href="#" class="uk-button uk-button-text">More details</a>
                            </div>
                            <div class="uk-width-auto@m">
                                <div class="in-icon-wrap small transparent uk-margin-left">
                                    <i class="fas fa-dollar-sign fa-3x"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Section 19 -->
                    <div>
                        <h3 class="uk-heading-bullet"><a class="uk-link-text" href="#">How to Get Connected and Hookups</a></h3>
                        <div class="uk-grid uk-grid-small" data-uk-grid="data-uk-grid">
                            <div class="uk-width-expand@m">
                                <p>Find out how to connect with other members and get relevant hookups.</p>
                                <a href="#" class="uk-button uk-button-text">More details</a>
                            </div>
                            <div class="uk-width-auto@m">
                                <div class="in-icon-wrap small transparent uk-margin-left">
                                    <i class="fas fa-link fa-3x"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Section 20 -->
                    <div>
                        <h3 class="uk-heading-bullet"><a class="uk-link-text" href="#">How to Monetize Your Products or Links</a></h3>
                        <div class="uk-grid uk-grid-small" data-uk-grid="data-uk-grid">
                            <div class="uk-width-expand@m">
                                <p>Steps to start earning by monetizing your products or links on EarnKraft.</p>
                                <a href="#" class="uk-button uk-button-text">More details</a>
                            </div>
                            <div class="uk-width-auto@m">
                                <div class="in-icon-wrap small transparent uk-margin-left">
                                    <i class="fas fa-hand-holding-usd fa-3x"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Section 21 -->
                </div>
            </div>
        </div>
    </div>
</div>

  <!-- section content end -->
  <!-- section content begin -->
  
  
  <!-- section content end -->

{% endblock content %}
