{% extends "base.html" %}

{% block content %}

  <!-- slideshow content begin -->
  {% include "pages/components/hero.html" %}
  <!-- slideshow content end -->

  <!-- section content begin -->
  {% include "pages/components/stats.html" %}
  <!-- section content end -->

  <!-- section content begin -->
  {% include "pages/components/pools.html" %}
  <!-- section content end -->

  <!-- section content begin -->
  {% include "pages/components/analysis.html" %}
  <!-- section content end -->

  <!-- section content begin -->
  {% include "pages/components/plans.html" %}
  <!-- section content end -->
  <!-- section content begin -->
  {% include "pages/components/app.html" %}
  <!-- section content end -->

{% endblock content %}
