{% extends "account/dashboard/v1/articles/editor/base.html" %}

{% block main %}

  <div class="card">
    <div class="nk-editor">
      <div class="nk-editor-header">
        <div class="nk-editor-title">
          <h4 class="me-3 mb-0 line-clamp-1">2023-02-03 Untitled</h4>
          <ul class="d-inline-flex align-item-center">
            <li>
              <button class="btn btn-sm btn-icon btn-trigger">
                <em class="icon ni ni-pen"></em>
              </button>
            </li>
            <li>
              <button class="btn btn-sm btn-icon btn-trigger">
                <em class="icon ni ni-star"></em>
              </button>
            </li>
            <li class="d-xl-none">
              <div class="dropdown">
                <button class="btn btn-sm btn-icon btn-trigger" type="button" data-bs-toggle="dropdown">
                  <em class="icon ni ni-download-cloud"></em>
                </button>
                <div class="dropdown-menu dropdown-menu-sm dropdown-menu-end">
                  <div class="dropdown-content">
                    <ul class="link-list-opt">
                      <li>
                        <a href="#">
                          <em class="icon ni ni-file-docs"></em>
                          <span>Docs</span></a>
                      </li>
                      <li>
                        <a href="#">
                          <em class="icon ni ni-file-text"></em>
                          <span>Text</span></a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </li>
            <li class="d-xl-none ms-1">
              <button class="btn btn-sm btn-icon btn-primary">
                <em class="icon ni ni-save"></em>
              </button>
            </li>
          </ul>
        </div>
        <div class="nk-editor-tools d-none d-xl-flex">
          <ul class="d-inline-flex gx-3 gx-lg-4 pe-4 pe-lg-5">
            <li>
              <span class="sub-text text-nowrap">Words
                <span class="text-dark">25</span></span></li>
            <li>
              <span class="sub-text text-nowrap">Characters
                <span class="text-dark">84</span></span></li>
          </ul>
          <ul class="d-inline-flex gx-3">
            <li>
              <div class="dropdown">
                <button class="btn btn-md btn-light rounded-pill" type="button" data-bs-toggle="dropdown">
                  <span>Export</span>
                  <em class="icon ni ni-chevron-down"></em>
                </button>
                <div class="dropdown-menu dropdown-menu-sm dropdown-menu-end">
                  <div class="dropdown-content">
                    <ul class="link-list-opt">
                      <li>
                        <a href="#">
                          <em class="icon ni ni-file-doc"></em>
                          <span>Docs</span></a>
                      </li>
                      <li>
                        <a href="#">
                          <em class="icon ni ni-file-text"></em>
                          <span>Text</span></a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </li>
            <li>
              <button class="btn btn-md btn-primary rounded-pill" type="button">
                Save
              </button>
            </li>
          </ul>
        </div>
      </div>
      <div class="nk-editor-main">
        <div class="nk-editor-base">
          <ul class="nav nav-tabs nav-sm nav-tabs-s1 px-3" role="tablist">
            <li class="nav-item" role="presentation">
              <a class="nav-link active" data-bs-toggle="tab" href="#AIWriter" aria-selected="true" role="tab">AI Writer</a>
            </li>
            <li class="nav-item" role="presentation">
              <a class="nav-link" data-bs-toggle="tab" href="#History" aria-selected="false" tabindex="-1" role="tab">History</a>
            </li>
          </ul>
          <div class="tab-content mt-0">
            <div class="tab-pane fade show active" id="AIWriter" role="tabpanel">
              <form action="{% url 'ai:generate' %}" method="post" class="px-3 py-3" id="ai-generation-form">
                {% csrf_token %}
                <div class="row gy-4 gx-4">
                  <div class="col-12">
                    <div class="form-group">
                      <label class="form-label">Select Template</label>
                      <div class="form-control-wrap">
                        <select class="form-select select2 select2-container select2-container--default" tabindex="-1" aria-hidden="true" name="template">
                          <option value="1" selected="selected">Health and Science</option>
                          <option value="2">Technology</option>
                          <option value="3">Economics and Finance</option>
                          <option value="4">Climate Change</option>
                          <option value="5">Biology and Life</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="col-12">
                    <div class="form-group">
                      <label class="form-label">What do you want to generate?</label>
                      <div class="form-control-wrap">
                        <textarea name="content" cols="20" rows="3" class="form-control">Write a Facebook post about openai that revolutionizes the world through the power of data.</textarea>
                      </div>

                    </div>
                  </div>
                  <div class="col-12">
                    <div class="form-group">
                      <label for="PrimaryKeywords" class="form-label">Primary Keywords</label>
                      <div class="form-control-wrap">
                        <input name="keywords" id="PrimaryKeywords" type="text" class="form-control" value="chatgpt, openai, facebook">
                      </div>
                      <div class="form-note d-flex justify-content-between">
                        <span>Separated with a comma</span><span>0/10</span>
                      </div>
                    </div>
                  </div>

                  <div class="col-12">
                    <div class="form-group">
                      <div class="form-control-wrap">
                        <input id="Variant" name="samples" type="number" class="form-control" value="1">
                      </div>
                      <div class="form-note d-flex justify-content-between">
                        <span>number of samples to be generated (max-10)</span>
                      </div>
                    </div>
                  </div>
                  <div class="col-12">
                    <button type="submit" class="btn btn-primary btn-block" id="ai-submit-btn">
                      <span class="spinner-grow spinner-grow-sm" id="ai-submit-btn-spinner" aria-hidden="true"></span>
                      <span role="status">Generate...</span>
                    </button>
                  </div>
                </div>
              </form>
            </div>
            {% include "account/dashboard/v1/articles/editor/tabs/history.html" %}
          </div>
        </div>
        <div class="nk-editor-body">
          <div class="tinymce-toolbar nk-editor-style-clean nk-editor-full p-4">
            <!--Body content-->
            <div id="ai-body-editor"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script>
    const AiForm = document.getElementById("ai-generation-form");
    const AiBodyEditor = document.getElementById("ai-body-editor");
    const aiSubmitBtn = document.getElementById("ai-submit-btn");
    const aiSubmitBtnSpinner = document.getElementById("ai-submit-btn-spinner");

    aiSubmitBtnSpinner.style.display = "none";

    AiForm.addEventListener("submit", async function (e) {
      e.preventDefault();

      const template = document
        .querySelector('select[name="template"]')
        .value;
      const content = document
        .querySelector('textarea[name="content"]')
        .value;
      const keywords = document
        .querySelector('input[name="keywords"]')
        .value;
      const samples = document
        .querySelector('input[name="samples"]')
        .value;

      if (samples === '' | template === '' | content === '' | keywords === '') {
        return
      }
      const response = await fetch("{% url 'ai:generate' %}", {
        method: "POST",
        body: JSON.stringify({template, content, keywords, samples})
      })
      const data = await response.json()

      // before receiving the data | wait for 3 seconds before pinging the endpoint for the api stream
      aiSubmitBtn.addEventListener('click', () => {
        aiSubmitBtn.setAttribute('disabled', 'disabled')
        aiSubmitBtnSpinner.style.display = "block";
      });

      setTimeout(() => {
        // if data is not okay stop
        if (!data.success) {
          return
        }

        aiSubmitBtn.removeAttribute('disabled')
        aiSubmitBtnSpinner.style.display = "none";

        AiBodyEditor.innerHTML = data.content
      }, 3000) // wit for three seconds before requesting the data

    })
  </script>

{% endblock main %}
