{% load static %}

<div class="nk-footer nk-auth-footer-full">
  <div class="container wide-lg">
    <div class="row g-3">
      <div class="col-lg-6 order-lg-last">
        <ul class="nav nav-sm justify-content-center justify-content-lg-end">
          <li class="nav-item">
            <a class="link link-primary fw-normal py-2 px-3" href="#">Terms &amp; Condition</a>
          </li>
          <li class="nav-item">
            <a class="link link-primary fw-normal py-2 px-3" href="#">Privacy Policy</a>
          </li>
          <li class="nav-item">
            <a class="link link-primary fw-normal py-2 px-3" href="#">Help</a>
          </li>
          <li class="nav-item dropup">
            <a class="dropdown-toggle dropdown-indicator has-indicator link link-primary fw-normal py-2 px-3" data-bs-toggle="dropdown" data-offset="0,10">
              <span>English</span></a>
            <div class="dropdown-menu dropdown-menu-sm dropdown-menu-end">
              <ul class="language-list">
                <li>
                  <a href="#" class="language-item"><img src="{% static 'images/flags/english.png' %}" alt="" class="language-flag"/>
                    <span class="language-name">English</span></a>
                </li>
                <li>
                  <a href="#" class="language-item"><img src="{% static 'images/flags/spanish.png' %}" alt="" class="language-flag"/>
                    <span class="language-name">Español</span></a>
                </li>
                <li>
                  <a href="#" class="language-item"><img src="{% static 'images/flags/french.png' %}" alt="" class="language-flag"/>
                    <span class="language-name">Français</span></a>
                </li>
                <li>
                  <a href="#" class="language-item"><img src="{% static 'images/flags/turkey.png' %}" alt="" class="language-flag"/>
                    <span class="language-name">Türkçe</span></a>
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
      <div class="col-lg-6">
        <div class="nk-block-content text-center text-lg-left">
          <p class="text-soft">© 2023 Liquid. All Rights Reserved.</p>
        </div>
      </div>
    </div>
  </div>
</div>
