{% extends "account/dashboard/v1/base.html" %}
{% load static %}

{% block heading %}
<div class="nk-block-head nk-block-head-sm">
  <div class="nk-block-between">
    <div class="nk-block-head-content">
      <h3 class="nk-block-title page-title">Online Writing Accounts & Services</h3>
    </div>
    <div class="nk-block-head-content">
      <div class="toggle-wrap nk-block-tools-toggle">
        <a href="#" class="btn btn-icon btn-trigger toggle-expand me-n1" data-target="pageMenu">
          <em class="icon ni ni-more-v"></em>
        </a>
        <div class="toggle-expand-content" data-content="pageMenu">
          <ul class="nk-block-tools g-3">
            <li>
              <div class="form-control-wrap">
                <div class="form-icon form-icon-right">
                  <em class="icon ni ni-search"></em>
                </div><input type="text" class="form-control" id="default-04" placeholder="Quick search by id">
              </div>
            </li>
            <li>
              <div class="drodown">
                <a href="#" class="dropdown-toggle dropdown-indicator btn btn-outline-light btn-white"
                  data-bs-toggle="dropdown">Type</a>
                <div class="dropdown-menu dropdown-menu-end">
                  <ul class="link-list-opt no-bdr">
                    <li>
                      <a href="#">
                        <span>Accounts</span></a>
                    </li>
                    <li>
                      <a href="#">
                        <span>Tasks</span></a>
                    </li>
                    <li>
                      <a href="#">
                        <span>Direct Clients</span></a>
                    </li>
                    <li>
                      <a href="#">
                        <span>Services</span></a>
                    </li>
                  </ul>
                </div>
              </div>
            </li>
            <li class="nk-block-tools-opt">
              <a href="#" data-target="addProduct" class="toggle btn btn-icon btn-primary d-md-none">
                <em class="icon ni ni-plus"></em>
              </a>
              <a href="#" data-target="addProduct" class="toggle btn btn-primary d-none d-md-inline-flex">
                <em class="icon ni ni-plus"></em>
                <span>Add Product</span></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock heading %}

{% block main %}

<div class="row g-gs mt-3">
  <div class="col-xxl-3 col-lg-4 col-sm-6">
    <div class="card card-bordered product-card">
      <div class="product-thumb">
        <ul class="product-badges">
          <li>
            <span class="badge badge bg-danger">John Juma</span> <span class="badge bg-success">Verified Seller</span>
          </li>

        </ul>
        <br>

        <!-- <ul class="product-actions">
              <li>
                <a href="#">
                  <em class="icon ni ni-cart"></em>
                </a>
              </li>
              <li>
                <a href="#">
                  <em class="icon ni ni-heart"></em>
                </a>
              </li>
            </ul> -->
      </div>
      <div class="card-inner text-center">
        <ul class="product-tags">
          <li>
            <a href="#">Account</a>
          </li>
        </ul>
        <h5 class="product-title">
          <a href="#">Writerbay Newbie Esl
          </a>
        </h5>
        <div class="col-lg-12">
          <div class="card card-bordered">

            <div class="card-body">

              <p class="card-text">
                With supporting text below as a natural lead-in to additional content With supporting text below as a
                natural lead-in to additional content .</p>
            </div>

          </div>
        </div>

        <div class="product-price text-primary h5">
          <small class="text-muted del fs-13px">ksh 20000</small>
          ksh 18000
        </div>
        <a href="#" class="btn btn-primary">Purchase</a>
      </div>
      <div class="card-footer border-top text-muted">2 days ago</div>
    </div>
  </div>
  <div class="col-xxl-3 col-lg-4 col-sm-6">
    <div class="card card-bordered product-card">
      <div class="product-thumb">
        <ul class="product-badges">
          <li>
            <span class="badge badge bg-danger">John Juma</span> <span class="badge bg-success">Verified Seller</span>
          </li>

        </ul>
        <br>

        <!-- <ul class="product-actions">
              <li>
                <a href="#">
                  <em class="icon ni ni-cart"></em>
                </a>
              </li>
              <li>
                <a href="#">
                  <em class="icon ni ni-heart"></em>
                </a>
              </li>
            </ul> -->
      </div>
      <div class="card-inner text-center">
        <ul class="product-tags">
          <li>
            <a href="#">Account</a>
          </li>
        </ul>
        <h5 class="product-title">
          <a href="#">Writerbay Newbie Esl
          </a>
        </h5>
        <div class="col-lg-12">
          <div class="card card-bordered">

            <div class="card-body">

              <p class="card-text">
                With supporting text below as a natural lead-in to additional content With supporting text below as a
                natural lead-in to additional content .</p>
            </div>

          </div>
        </div>

        <div class="product-price text-primary h5">
          <small class="text-muted del fs-13px">ksh 20000</small>
          ksh 18000
        </div>
        <a href="#" class="btn btn-primary">Purchase</a>
      </div>
      <div class="card-footer border-top text-muted">2 days ago</div>
    </div>
  </div>
  <div class="col-xxl-3 col-lg-4 col-sm-6">
    <div class="card card-bordered product-card">
      <div class="product-thumb">
        <ul class="product-badges">
          <li>
            <span class="badge badge bg-danger">John Juma</span> <span class="badge bg-success">Verified Seller</span>
          </li>

        </ul>
        <br>

        <!-- <ul class="product-actions">
              <li>
                <a href="#">
                  <em class="icon ni ni-cart"></em>
                </a>
              </li>
              <li>
                <a href="#">
                  <em class="icon ni ni-heart"></em>
                </a>
              </li>
            </ul> -->
      </div>
      <div class="card-inner text-center">
        <ul class="product-tags">
          <li>
            <a href="#">Account</a>
          </li>
        </ul>
        <h5 class="product-title">
          <a href="#">Writerbay Newbie Esl
          </a>
        </h5>
        <div class="col-lg-12">
          <div class="card card-bordered">

            <div class="card-body">

              <p class="card-text">
                With supporting text below as a natural lead-in to additional content With supporting text below as a
                natural lead-in to additional content .</p>
            </div>

          </div>
        </div>

        <div class="product-price text-primary h5">
          <small class="text-muted del fs-13px">ksh 20000</small>
          ksh 18000
        </div>
        <a href="#" class="btn btn-primary">Purchase</a>
      </div>
      <div class="card-footer border-top text-muted">2 days ago</div>
    </div>
  </div>


  <!--new item-->

</div>
<div class="nk-add-product toggle-slide toggle-slide-right" data-content="addProduct" data-toggle-screen="any"
  data-toggle-overlay="true" data-toggle-body="true" data-simplebar="data-simplebar">
  <div class="nk-block-head">
    <div class="nk-block-head-content">
      <h5 class="nk-block-title">New Product</h5>
      <div class="nk-block-des">
        <p>Add information and add new product.</p>
      </div>
    </div>
  </div>
  <div class="nk-block">
    <div class="row g-3">
      <div class="col-12">
        <div class="form-group">
          <label class="form-label" for="product-title">Product Title</label>
          <div class="form-control-wrap"><input type="text" class="form-control" id="product-title"></div>
        </div>
      </div>
      <div class="col-6">
        <div class="form-group">
          <label class="form-label" for="category">Category</label>
          <div class="form-control-wrap"><input type="text" class="form-control" id="category"></div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label class="form-label" for="stock">Stock Quantity</label>
          <div class="form-control-wrap"><input type="text" class="form-control" id="stock"></div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label class="form-label" for="regular-price">Regular Price</label>
          <div class="form-control-wrap"><input type="number" class="form-control" id="regular-price"></div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label class="form-label" for="sale-price">Sale Price</label>
          <div class="form-control-wrap"><input type="number" class="form-control" id="sale-price"></div>
        </div>
      </div>

      <div class="col-12">
        <div class="form-group">
          <label class="form-label" for="tags">Tags</label>
          <div class="form-control-wrap"><input type="text" class="form-control" id="tags"></div>
        </div>
      </div>
      <div class="col-12">
        <div class="form-control-wrap">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">Extra Info</span>
            </div>
            <textarea class="form-control" aria-label="With textarea"></textarea>
          </div>
        </div>
      </div>
      <div class="col-12">
        <button class="btn btn-primary">
          <em class="icon ni ni-plus"></em>
          <span>Add New</span></button>
      </div>
    </div>
  </div>
</div>
{% endblock main %}