{% extends "account/dashboard/v1/base.html" %} {% load static %} {% block heading %}
<div class="nk-block-head nk-block-head-sm">
    <div class="nk-block-between">
      <div class="nk-block-head-content">
        <h3 class="nk-block-title page-title">Invest & Save</h3>
        <div class="nk-block-des text-soft">
          <p>
            You can invest or save with us
          </p>
        </div>
      </div>
      <div class="nk-block-head-content">
        <div class="toggle-wrap nk-block-tools-toggle">
          <a href="#" class="btn btn-icon btn-trigger toggle-expand me-n1" data-target="pageMenu">
            <em class="icon ni ni-menu-alt-r"></em>
          </a>
          <div class="toggle-expand-content" data-content="pageMenu">
            <ul class="nk-block-tools g-3">
  
  
  
  
              <li class="preview-item"><button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#modalTab1s">Tips & Info</button></li>
              
              
    
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock heading %}

<!--xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx-->
<div class="modal fade" tabindex="-1" role="dialog" id="modalTab1s">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <a href="#" class="close" data-bs-dismiss="modal"><em class="icon ni ni-cross-sm"></em></a>
        <div class="modal-body modal-body-md">
          <h4 class="title">Remote Task Guidelines</h4>
          <ul class="nk-nav nav nav-tabs">
            <li class="nav-item"><a class="nav-link active" data-bs-toggle="tab" href="#tabItem1">Investiment</a></li>
            <li class="nav-item"><a class="nav-link" data-bs-toggle="tab" href="#tabItem2">Savings</a></li>
            <li class="nav-item"><a class="nav-link" data-bs-toggle="tab" href="#tabItem3">Loans</a></li>
         
          </ul>
          <div class="tab-content">
            <div class="tab-pane active" id="tabItem1">
              <h6 class="title">Investiment</h6>
                <p>You should focus on writing quality articles, with SEO-optimized features and high-ranking keywords to boost visibility.</p>
                <p>Write the article or blog post in the <strong>blogging tab</strong>, or <a href="#">click here</a> to go to the page.</p>
                <p>Write consistently and don’t focus on individual articles, but on growth. Each quality article earns you a pay that will be credited to your account balance.</p>
                <p>The not-so-high-quality articles you submit will still be posted on our blog platform.</p>
                <p><strong>Upgrade</strong> to increase your article limit and write more articles, completing more tasks per day.</p>
                <p>For online writing and other tasks, follow the given guidelines and earn high payouts.</p>
  
            </div>
            <div class="tab-pane" id="tabItem2">
              <h6 class="title">Savings</h6>
              <p>We get remote tasks from trusted sources like online writing platforms, direct clients, Canvas dashboards for students, or third-party sources and post them on our platform for you to work on and earn.</p>
              <p>Jobs are posted daily and consistently, giving you ample opportunities to engage and earn.</p>
              <p>The Diamond package gives you a limit of 10 tasks per day. For example, whether you choose articles, academic tasks, or development tasks, they are limited to 10 tasks per day.</p>
              <p>Upgrade your account to earn more from our endless job offers and maximize your potential earnings.</p>
              <p>Tasks we offer range from article writing, blogging, academic tasks, transcription, data entry tasks, and more.</p>
              <p>When we receive a task from a trusted source that requires daily articles, we will assign it to you. Upon completion, we hand it to the client, who pays upon satisfaction.</p>
              <p>Each successful article or task earns you the indicated pay, which is withdrawable twice a week.</p>
            </div>
            <div class="tab-pane" id="tabItem3">
              <h6 class="title">loans</h6>
  
                <p>Upgrade your task limit by choosing your desired package and depositing the required amount to secure your package. We charge for the packages since we acquire these task sources at high prices, which necessitates a small fee that guarantees you more task access and thus higher earning potential.</p>
  
                <p><strong>Pro Package:</strong> Gives you a limit of 10 to 20 tasks per day. Activation fee: 10,000 KES. Articles payout: $0.5 - $1.5 per article.</p>
  
                <p><strong>Master Package:</strong> Gives you a limit of 20 to 30 tasks per day. Activation fee: 15,000 KES. Articles payout: $0.5 - $1.5 per article.</p>
  
                <p><strong>Guru Package:</strong> Gives you a limit of 30 to 40 tasks per day. Activation fee: 20,000 KES. Articles payout: $0.5 - $1.5 per article.</p>
  
                <p><strong>Professor Package:</strong> Gives you a limit of 40 to 50 tasks per day. Activation fee: 30,000 KES. Articles payout: $0.5 - $1.5 per article.</p>
  
                <p><strong>Supreme Package:</strong> Gives you a limit of 50 to 60 tasks per day. Activation fee: 40,000 KES. Articles payout: $0.5 - $2 per article.</p>
  
                <p>To activate your package, go to the deposit section and click the deposit button. Enter the amount you have opted for from the packages and input the reason for the deposit to indicate your upgrade. For example, you can write: "Made a deposit for activating Master Package." You will receive an email to confirm your request, after which you can start completing tasks according to your new increased limit.</p>
  
            </div>
            <div class="tab-pane" id="tabItem4">
              <h6 class="title">Payments</h6>
              <p>We will credit you for quality tasks completed, and the amount will be available in your account balance.</p>
  
                <p>For other tasks you submit, some might be returned for revision, while others could be canceled. However, for articles, we will publish those that are not sold to our publishers on our site.</p>
  
                <p>We will grant you bonuses from earnings we get from AdSense, ensuring you still earn even if the articles are not sold.</p>
  
                <p>For example, if you write 10 articles, each with a cost per page of $1, and we successfully sell 8 to our third-party publishers, we will credit 8 payments to your account balance. The earnings from the remaining 2 articles will be credited into your bonus section.</p>
  
                <p>You can request a withdrawal for your earnings twice a week. We process withdrawals every Monday and Friday.</p>
  
                <p>Upgrade your package to earn more; the key to earning more is consistency and choosing the highest effective package.</p>
  
            </div>
           
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx-->

<style>
    [class*=dropdown-indicator]:after {
        content: "" !important;
    }

    .coin-item {
        display: flex;
        align-items: center;
        padding: 10px;
        cursor: pointer;
    }

    .coin-item:hover {
        background-color: #f8f9fa;
    }

    .coin-icon {
        margin-right: 10px;
    }

    .coin-info {
        display: flex;
        flex-direction: column;
    }

    .coin-name {
        font-weight: bold;
    }

    .coin-text {
        font-size: 0.875rem;
    }

    .dropdown-menu {
        width: 100%;
    }

    .dropdown-menu .coin-item {
        padding: 10px;
    }

    #amount-step {
        cursor: pointer;
    }

    /* Background overlay */
    .modal-overlay {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        /* Semi-transparent black */
        z-index: 999;
        /* Ensure it is above everything else */
    }

    /* Modal itself */
    .modal {
        display: none;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1000;
        /* Above the overlay */
        background-color: white;
        padding: 20px;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    }

    .modal-content {
        padding: 20px;
    }
</style>


<!--styles-->
{% block main %}


<div class="modal-overlay" id="modalOverlay"></div>


<div class="nk-block invest-block" style="position: relative;">
    <div class="row g-gs gx-3">
        <div class="col-lg-6" style="position: relative;">
            <form action="#" class="invest-form">
                <div class="col-lg-12 col-sm-12">
                    <div class="invest-field form-group">
                        <input type="hidden" value="silver" name="iv-plan" id="invest-choose-plan">
                        <div class="dropdown invest-cc-dropdown" style="width: 100%;">
                            <a role="button" id="selected-plan-type" class="invest-cc-chosen" data-bs-toggle="dropdown" aria-expanded="false" style="content: ''">
                                <div class="coin-item">
                                    <div class="coin-icon"><em class="fs-20px far fa-hand-scissors"></em></div>
                                    <div class="coin-info"><span class="coin-name">Select Investment Plan</span>
                                        <span class="coin-text">Invest for 7 days and get daily profit 2.5%</span>
                                    </div>
                                </div>
                            </a>
                            <div class="dropdown-menu dropdown-menu-auto dropdown-menu-mxh">
                                <ul class="invest-cc-list">
                                    <li class="invest-type-cc-item selected pt-2">
                                        <a href="#" class="invest-type-cc-opt" data-investment-option="investment">
                                            <div class="coin-item">
                                                <div class="coin-icon"><em class="fs-20px fa-brands fa-hackerrank"></em>
                                                </div>
                                                <div class="coin-info"><span class="coin-name">Investment</span>
                                                    <span class="coin-text">
                                                        Invest and earn from the returns invested evry 7 days
                                                    </span>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    <hr />
                                    <li class="invest-type-cc-item selected pb-2">
                                        <a href="#" class="invest-type-cc-opt" data-investment-option="savings">
                                            <div class="coin-item">
                                                <div class="coin-icon">
                                                    <em class="fs-20px far fa-solid fa-piggy-bank"></em>
                                                </div>
                                                <div class="coin-info"><span class="coin-name">Savings</span>
                                                    <span class="coin-text">
                                                        Save for 10 days and get daily profit
                                                        bonus from 500 KES
                                                    </span>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="invest-field form-group">
                    <div class="invest-field form-group" id="savings-duration">
                        <div class="form-label-group"><label class="form-label">For how long do you want to
                                save?</label>
                        </div>
                        <div class="invest-amount-group g-2">
                            <div class="invest-amount-item">
                                <input type="radio" class="invest-amount-control" name="save-duration" value="1-day" id="iv-amount-1">
                                <label class="invest-amount-label" for="iv-amount-1">5 Days</label>
                            </div>
                            <div class="invest-amount-item">
                                <input type="radio" class="invest-amount-control" name="save-duration" value="1-week" id="iv-amount-2">
                                <label class="invest-amount-label" for="iv-amount-2">10 days</label>
                            </div>
                            <div class="invest-amount-item">
                                <input type="radio" class="invest-amount-control" name="save-duration" value="2-weeks" id="iv-amount-3">
                                <label class="invest-amount-label" for="iv-amount-3">15 days</label>
                            </div>
                            <div class="invest-amount-item">
                                <input type="radio" class="invest-amount-control" name="save-duration" value="1-month" id="iv-amount-4">
                                <label class="invest-amount-label" for="iv-amount-4">1 Month</label>
                            </div>
                            <div class="invest-amount-item">
                                <input type="radio" class="invest-amount-control" name="save-duration" value="3-months" id="iv-amount-5">
                                <label class="invest-amount-label" for="iv-amount-5">3 Months</label>
                            </div>
                            <div class="invest-amount-item">
                                <input type="radio" class="invest-amount-control" name="save-duration" value="custom" id="iv-amount-6" role="button" data-bs-toggle="modal" data-bs-dismiss="modal" data-bs-target="#custom-input-modal">
                                <label class="invest-amount-label" for="iv-amount-6">Custom</label>
                            </div>
                        </div>
                    </div>
                    <div class="invest-field form-group">
                        <div class="form-label-group">
                            <label class="form-label"><span id="amount-label">Amount</span></label>
                            <div class="dropdown">
                                <a href="#" class="link py-1" data-bs-toggle="dropdown" id="slider-max-money"></a>
                                <div class="#">
                                    <ul class="link-list-plain sm text-center"></ul>
                                </div>
                            </div>
                        </div>
                        <div class="form-control-group">
                            <div class="form-info">KSH</div>

                            <input type="text" class="form-control form-control-amount py-4 form-control-lg" disabled id="custom-amount">
                            <div class="form-range-slider" id="amount-step"></div>
                        </div>
                        <div class="form-note pt-1">Note: Minimum <span id="form-note-slider-help-slider"></span></div>
                        <div id="savings-limit"></div>
                    </div>

                    <div class="invest-field form-group">
                        <div class="form-label-group">
                            <label class="form-label">Choose Payment Method</label>
                        </div>

                        <div class="dropdown invest-cc-dropdown" id="invest-payment-selection-box" style="width: 100%;">
                            <a role="button" id="selected-payment-option" class="invest-cc-chosen" data-bs-toggle="dropdown">
                                <div class="coin-item">
                                    <div class="coin-icon">
                                        <em class="icon ni ni-wallet-alt"></em>
                                    </div>
                                    <div class="coin-info">
                                        <span class="coin-name">Investment Amount</span>
                                        <span class="coin-text">Total Amount: <span id="invest-cc-amount"></span></span>
                                    </div>
                                </div>
                            </a>
                            <div class="dropdown-menu dropdown-menu-auto dropdown-menu-mxh">
                                <ul class="invest-cc-list">
                                    <li class="invest-cc-item selected">
                                        <a role="button" class="invest-cc-opt" data-payment-option="mpesastkpush">
                                            <div class="coin-item">
                                                <div class="coin-icon">
                                                    <em class="icon ni ni-exchange"></em>
                                                </div>
                                                <div class="coin-info">
                                                    <span class="coin-name" data-bs-pay-text="coin-pay-select">Mpesa STK
                                                        Push</span>
                                                    <span class="coin-text"></span>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    <hr />
                                    <li class="invest-cc-item selected">
                                        <a role="button" class="invest-cc-opt" data-payment-option="manual">
                                            <div class="coin-item">
                                                <div class="coin-icon">
                                                    <em class="icon ni ni-money"></em>
                                                </div>
                                                <div class="coin-info">
                                                    <span class="coin-name" data-bs-pay-text="coin-pay-select">Manual Payment</span>
                                                    <span class="coin-text">Current</span>
                                                </div>
                                            </div>
                                        </a>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="invest-field form-group">
                        <div class="custom-control custom-control-xs custom-checkbox"><input type="checkbox" class="custom-control-input" id="checkbox">
                            <label class="custom-control-label" for="checkbox">I agree with the
                                <a href="#">terms and &amp; conditions.</a>
                            </label>
                        </div>
                    </div>
                </div>
            </form>
        </div>



        <div class="stycky-pricing col-lg-3" style="min-width: 380px; position: static;">
            <div class="card card-bordered ms-lg-4 ms-xl-0" style="width: 100%;">
                <form action="" id="saving-invesment-submit-form" method="post" class="p-3" style="background-color: #f7f7f7;">
                    {% csrf_token %}
                    <input type="hidden" name="iv-wallet" id="invest-choose-wallet">
                    <input type="hidden" name="investment-amount" id="custom-amount-value">
                    <input type="hidden" name="investment-duration" id="investment-duration">
                    <input type="hidden" name="themeType" id="overal-invest-type">
                    <div class="nk-iv-wg4 px-4 py-3">
                        <div class="nk-iv-wg4-sub">
                            <ul class="nk-iv-wg4-list">
                                <li>
                                    <div class="sub-text">Payment Method</div>
                                    <div class="lead-text" id="selected-cc-payment-option">Account Wallet</div>
                                </li>
                            </ul>
                        </div>
                        <div class="nk-iv-wg4-sub">
                            <ul class="nk-iv-wg4-list">
                                <li>
                                    <div class="sub-text">Amount <span id="amount-summary-label"></span></div>
                                    <div class="lead-text">ksh <span id="select-cc-price-summary"></span></div>
                                </li>
                                <li>
                                    <div class="sub-text">Daily Return <span id="daily-rate">(0.5%)</span></div>
                                    <div class="lead-text">ksh <span id="select-cc-price-summary-cost-fee"></span></div>
                                </li>
                            </ul>
                        </div>
                        <div class="nk-iv-wg4-sub" id="savings-duration-sumary" style="display: none;">
                            <ul class="nk-iv-wg4-list">
                                <li>
                                    <div class="sub-text">Saving Duration</div>
                                    <div class="lead-text" id="selected-cc-saving-duration">Nil</div>
                                </li>
                            </ul>
                        </div>
                        <div class="nk-iv-wg4-sub">
                            <ul class="nk-iv-wg4-list">
                                <li>
                                    <div class="lead-text">Total Investment</div>
                                    <div class="caption-text text-primary">ksh <span id="total-investment"></span></div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="m-1 nk-iv-wg4-sub text-center bg-primary d-flex align-items-center justify-center mt-2" style="border-radius: 2rem;">
                        <button type="submit" id="submit-saving-button" class="btn btn-lg btn-primary ttu text-center py-2" style="text-align: center;" href="" style="width: 100%;">
                            Confirm &amp; proceed.
                        </button>
                    </div>
                </form>
            </div>
        </div>



    </div>
</div>






<div aria-modal="true" class="modal fade" id="custom-input-modal" role="dialog">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Custom Saving Duration</h5>
                <a aria-label="Close" class="close" data-bs-dismiss="modal" href="#" role="button">
                    <em class="icon ni ni-cross"></em>
                </a>
            </div>
            <div class="modal-body">
                <form action="" id="custom-save-duration-form" class="form-validate is-alter" method="post" novalidate="novalidate">
                    {% csrf_token %}
                    <div class="row gx-4 gy-3">
                        <div class="col-12">
                            <div class="form-group">
                                <div style="margin-top:10px!important">
                                    <label class="form-label">For How long do you want to save?</label>
                                    <div class="form-control-wrap">
                                        <input type="number" name="duration_in_days" class="form-control form-control-lg" placeholder="Duration to save in days">
                                        <small id="id_save_duration" style="padding-top:10px!important">Provide the
                                            duration for which you want to save in days
                                        </small>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-12">
                            <div class="form-group">
                                <div style="margin-top:10px!important">
                                    <label class="form-label">How much do you want to save?</label>
                                    <div class="form-control-wrap">
                                        <input type="number" name="custom_amount_to_save" class="form-control form-control-lg" placeholder="The amount you want to save">
                                        <small id="id_save_duration" style="padding-top:10px!important">P
                                            The amount you are submitting for saving. Rates will be more if the days are more
                                        </small>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="col-12">
                            <div class="form-group">
                                <label class="form-label">Description</label>
                                <div class="form-control-wrap">
                                    <textarea class="form-control no-resize" name="custom_save_description" rows="2" id="duration-summary"></textarea>
                                    <small id="id_duration_summary" style="padding-top:10px!important">Any message you'd
                                        like to share?</small>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <ul class="d-flex justify-content-between gx-4 mt-1">
                                <li>
                                    <button id="upload-custom-save-button" type="submit" class="btn btn-primary">Confirm and
                                        Proceed</button>
                                </li>
                                <li>
                                    <button id="upload-custom-save-button-close" type="button" class="btn btn-danger btn-dim" aria-label="Close" data-bs-dismiss="modal">Cancel</button>
                                </li>
                            </ul>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>




<div class="modal fade zoom" id="modalZoom" aria-modal="true" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Payment Procedure
                </h5>
                <a href="#" class="close" data-bs-dismiss="modal" aria-label="Close" id="closeAddPlanPopupForm-subscribe">
                    <em class="icon ni ni-cross"></em>
                </a>
            </div>
            <div class="modal-body">
                <ul class="nav nav-tabs">
          
                    <li class="nav-item">
                        <a class="nav-link active" data-bs-toggle="tab" href="#automated-payment">
                            <em class="icon ni ni-link"></em>
                            <span>Automated Payment</span>
                        </a>
                    </li>
                </ul>
                <!-- payment option tabs -->
                <div class="tab-content">
                    <!-- manua payment -->
                  
                    <!-- automated payment -->
                    <div class="tab-pane active" id="automated-payment">
                        <input type="hidden" name="currency" value="UGH" class="country-currency">
                        <button data-bs-profile="{{request.user.profile_user.id}}" style="width: 170px; text-align:center"
                        data-bs-email="{{request.user.email}}"
                        class="btn btn-lg px-3 py-3 btn-primary" id="paystackbtn">click to pay</button>
                    </div>
                </div>
            </div>
            <div class="modal-footer bg-light"></div>
        </div>
    </div>
</div>



{{invest_save_form.as_p}}




{% endblock main %}

{% block js %}

<script>
    $(document).ready(function () {
        // Create the script element
        var paystackScript = document.createElement('script');

        // Set the script's attributes
        paystackScript.src = "https://js.paystack.co/v1/inline.js";
        paystackScript.defer = true;

        // Append it to the head of the document
        document.head.appendChild(paystackScript);
    });

</script>

<script src="{% static 'dashboard/assets/js/investment/order.js' %}"></script>


<script>
    // Initialize the investment order page
    let investOrder = new InvestmentOrder();
    // Initialize the custom save duration modal
    investOrder.init()
</script>

{% endblock js %}