{% extends "account/dashboard/v1/base.html" %}
{% load static %}

{% block heading %}
<div class="nk-block-head">
  <div class="nk-block-head-content">
    <div class="nk-block-head-sub">
      <a href="/demo6/invest/schemes.html" class="text-soft back-to">
        <em class="icon ni ni-arrow-left"></em>
        <span>My Investment</span>
      </a>
    </div>
    <div class="nk-block-between-md g-4">

      <div class="nk-block-head-content">
        <ul class="nk-block-tools gx-3">
          <li class="order-md-last">
            <a href="#" class="btn btn-success">
              <span>Active</span>
            </a>
          </li>
          <li>
            <a href="#" class="btn btn-icon btn-light">
              <em class="icon ni ni-reload"></em>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
{% endblock heading %}

{% block main %}
<div class="nk-block">
  <div class="card card-bordered">
    <div class="card-inner">
      <div class="row gy-gs">
        <div class="col-md-6">
          <div class="nk-iv-wg3">
            <div class="nk-iv-wg3-group flex-lg-nowrap gx-4">
              <div class="nk-iv-wg3-sub">
                <div class="nk-iv-wg3-amount">
                  <div class="number">2,500.00</div>
                </div>
                <div class="nk-iv-wg3-subtitle">Invested Amount</div>
              </div>
              <div class="nk-iv-wg3-sub">
                <span class="nk-iv-wg3-plus text-soft">
                  <em class="icon ni ni-plus"></em>
                </span>
                <div class="nk-iv-wg3-amount">
                  <div class="number">1,643.76
                    <span class="number-up">4.76 %</span>
                  </div>
                </div>
                <div class="nk-iv-wg3-subtitle">Profit Earned</div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 offset-lg-2">
          <div class="nk-iv-wg3 ps-md-3">
            <div class="nk-iv-wg3-group flex-lg-nowrap gx-4">
              <div class="nk-iv-wg3-sub">
                <div class="nk-iv-wg3-amount">
                  <div class="number">4,999.90
                    <span class="number-down">1017.14
                      <em class="icon ni ni-info-fill" data-bs-toggle="tooltip" data-bs-placement="right" title="tooltip text"></em>
                    </span>
                  </div>
                </div>
                <div class="nk-iv-wg3-subtitle">Total Return</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="schemeDetails" class="nk-iv-scheme-details">
      <ul class="nk-iv-wg3-list">
        <li>
          <div class="sub-text">Term</div>
          <div class="lead-text">21 Days</div>
        </li>
        <li>
          <div class="sub-text">Term start at</div>
          <div class="lead-text">Nov 4, 2019 05:42 AM</div>
        </li>
        <li>
          <div class="sub-text">Term end at</div>
          <div class="lead-text">Nov 25, 2019 05:42 AM</div>
        </li>
        <li>
          <div class="sub-text">Daily interest</div>
          <div class="lead-text">4.76%</div>
        </li>
      </ul>
      <ul class="nk-iv-wg3-list">
        <li>
          <div class="sub-text">Ordered date</div>
          <div class="lead-text">Nov 2, 2019 10:54 PM</div>
        </li>
        <li>
          <div class="sub-text">Approved date</div>
          <div class="lead-text">Nov 4, 2019 05:42 AM</div>
        </li>
        <li>
          <div class="sub-text">Payment method</div>
          <div class="lead-text">NioWallet</div>
        </li>
        <li>
          <div class="sub-text">Paid
            <small>(fee include)</small>
          </div>
          <div class="lead-text">
            <span class="currency currency-usd">USD</span>
            2,535.75
          </div>
        </li>
      </ul>
      <ul class="nk-iv-wg3-list">
        <li>
          <div class="sub-text">Captial invested</div>
          <div class="lead-text">
            <span class="currency currency-usd">USD</span>
            2,500.00
          </div>
        </li>
        <li>
          <div class="sub-text">Daily profit</div>
          <div class="lead-text">
            <span class="currency currency-usd">USD</span>
            119.10
          </div>
        </li>
        <li>
          <div class="sub-text">Net profit</div>
          <div class="lead-text">
            <span class="currency currency-usd">USD</span>
            2,499.90
          </div>
        </li>
        <li>
          <div class="sub-text">Total return</div>
          <div class="lead-text">
            <span class="currency currency-usd">USD</span>
            4,999.90
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="nk-block nk-block-lg">
  <div class="nk-block-head">
    <h5 class="nk-block-title">Graph View</h5>
  </div>
  <div class="row g-gs">
    <div class="col-lg-5">
      <div class="card card-bordered h-100">
        <div class="card-inner justify-center text-center h-100">
          <div class="nk-iv-wg5">
            <div class="nk-iv-wg5-head">
              <h5 class="nk-iv-wg5-title">Overview</h5>
            </div>
            <div class="nk-iv-wg5-ck"><input type="text" class="knob-half" value="68.9" data-fgcolor="#fd7d1e" data-bgcolor="#d9e5f7" data-thickness=".06" data-width="300" data-height="155" data-displayinput="false">
              <div class="nk-iv-wg5-ck-result">
                <div class="text-lead">68.9%</div>
                <div class="text-sub">112.54 / per day</div>
              </div>
              <div class="nk-iv-wg5-ck-minmax">
                <span>2,500.00</span><span>4,999.90</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg col-sm-6">
      <div class="card card-bordered h-100">
        <div class="card-inner justify-center text-center h-100">
          <div class="nk-iv-wg5">
            <div class="nk-iv-wg5-head">
              <h5 class="nk-iv-wg5-title">Net Profit</h5>
              <div class="nk-iv-wg5-subtitle">Earn so far
                <strong>1,643.76</strong>
                <span class="currency currency-usd">USD</span>
              </div>
            </div>
            <div class="nk-iv-wg5-ck sm"><input type="text" class="knob-half" value="68.9" data-fgcolor="#33d895" data-bgcolor="#d9e5f7" data-thickness=".07" data-width="240" data-height="125" data-displayinput="false">
              <div class="nk-iv-wg5-ck-result">
                <div class="text-lead sm">4.76%</div>
                <div class="text-sub">Daily profit</div>
              </div>
              <div class="nk-iv-wg5-ck-minmax">
                <span>0.00</span><span>2,999.90</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg col-sm-6">
      <div class="card card-bordered h-100">
        <div class="card-inner justify-center text-center h-100">
          <div class="nk-iv-wg5">
            <div class="nk-iv-wg5-head">
              <h5 class="nk-iv-wg5-title">Day Remain</h5>
              <div class="nk-iv-wg5-subtitle">Earn so far
                <strong>1,643.76</strong>
                <span class="currency currency-usd">USD</span>
              </div>
            </div>
            <div class="nk-iv-wg5-ck sm"><input type="text" class="knob-half" value="68.9" data-fgcolor="#816bff" data-bgcolor="#d9e5f7" data-thickness=".07" data-width="240" data-height="125" data-displayinput="false">
              <div class="nk-iv-wg5-ck-result">
                <div class="text-lead sm">8 D</div>
                <div class="text-sub">day remain</div>
              </div>
              <div class="nk-iv-wg5-ck-minmax">
                <span>0</span><span>21</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="nk-block nk-block-lg">
  <div class="nk-block-head">
    <h5 class="nk-block-title">Investment Plans</h5>
  </div>
  <div class="card card-bordered">
    <div class="nk-block nk-block-lg">
      <div class="nk-block-head-sm">
        <div class="nk-block-head-content">
          <h5 class="nk-block-title">
            Records
            <span class="count text-base"></span>
          </h5>
        </div>
      </div>
      <div class="nk-iv-scheme-list">
        <div class="nk-iv-scheme-item">
          <div class="nk-iv-scheme-icon is-running">
            <em class="icon ni ni-update"></em>
          </div>
          <div class="nk-iv-scheme-info">
            <div class="nk-iv-scheme-name">Silver - Daily 4% for 5 Days</div>
            <div class="nk-iv-scheme-desc">Invested Amount -
              <span class="">
                ksh 10,000</span>
            </div>
          </div>
          <div class="nk-iv-scheme-term">
            <div class="nk-iv-scheme-start nk-iv-scheme-order">
              <span class="nk-iv-scheme-label text-soft">Start Date</span><span class="nk-iv-scheme-value date">Nov 04, 2019</span>
            </div>
            <div class="nk-iv-scheme-end nk-iv-scheme-order">
              <span class="nk-iv-scheme-label text-soft">End Date</span><span class="nk-iv-scheme-value date">Nov 25, 2019</span>
            </div>
          </div>
          <div class="nk-iv-scheme-amount">
            <div class="nk-iv-scheme-amount-a nk-iv-scheme-order">
              <span class="nk-iv-scheme-label text-soft">Total Return</span><span class="nk-iv-scheme-value amount">ksh 13,000</span>
            </div>
            <div class="nk-iv-scheme-amount-b nk-iv-scheme-order">
              <span class="nk-iv-scheme-label text-soft">Net Profit Earn</span><span class="nk-iv-scheme-value amount">ksh 3,000
              </span>
            </div>
          </div>
          <div class="nk-iv-scheme-more">
            <a class="btn btn-icon btn-lg btn-round btn-trans" href="/demo6/invest/scheme-details.html">
              <em class="icon ni ni-forward-ios"></em>
            </a>
          </div>
          <div class="nk-iv-scheme-progress">
            <div class="progress-bar" data-progress="25"></div>
          </div>
        </div>

        <!--end of onee item-->
        <div class="nk-iv-scheme-item">
          <div class="nk-iv-scheme-icon is-running">
            <em class="icon ni ni-update"></em>
          </div>
          <div class="nk-iv-scheme-info">
            <div class="nk-iv-scheme-name">Silver - Daily 4.76% for 21 Days</div>
            <div class="nk-iv-scheme-desc">Invested Amount -
              <span class="">KES 1,250</span>
            </div>
          </div>
          <div class="nk-iv-scheme-term">
            <div class="nk-iv-scheme-start nk-iv-scheme-order">
              <span class="nk-iv-scheme-label text-soft">Start Date</span><span class="nk-iv-scheme-value date">Oct 30, 2019</span>
            </div>
            <div class="nk-iv-scheme-end nk-iv-scheme-order">
              <span class="nk-iv-scheme-label text-soft">End Date</span><span class="nk-iv-scheme-value date">Nov 19, 2019</span>
            </div>
          </div>
          <div class="nk-iv-scheme-amount">
            <div class="nk-iv-scheme-amount-a nk-iv-scheme-order">
              <span class="nk-iv-scheme-label text-soft">Total Return</span><span class="nk-iv-scheme-value amount">KES 2,500</span>
            </div>
            <div class="nk-iv-scheme-amount-b nk-iv-scheme-order">
              <span class="nk-iv-scheme-label text-soft">Net Profit Earn</span><span class="nk-iv-scheme-value amount">KES 1145.25
                <span class="-ex">~ KES 105.75</span></span>
            </div>
          </div>
          <div class="nk-iv-scheme-more">
            <a class="btn btn-icon btn-lg btn-round btn-trans" href="">
              <em class="icon ni ni-forward-ios"></em>
            </a>
          </div>
          <div class="nk-iv-scheme-progress">
            <div class="progress-bar" data-progress="90"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock main %}