{% extends "account/dashboard/v1/base.html" %}
{% load static %}
{% block heading %}
  <div class="nk-block-head text-center">
    <div class="nk-block-head-content">
      <div class="nk-block-head-sub">
        <span>Choose an Option</span>
      </div>
      <div class="nk-block-head-content">
        <h2 class="nk-block-title fw-normal">Investment Plan</h2>
        <div class="nk-block-des">
          <p>Choose your investment plan and start earning.</p>
        </div>
      </div>
    </div>
  </div>
{% endblock heading %}
{% block main %}
  <div class="nk-block">
    <form action="" class="plan-iv">
      {% if investment_schemes %}
        <div class="plan-iv-list nk-slider nk-slider-s2">
          <ul class="plan-list slider-init" data-slick='{"slidesToShow": 3, "slidesToScroll": 1, "infinite":false, "responsive":[{"breakpoint": 992,"settings":{"slidesToShow": 2}},						{"breakpoint": 768,"settings":{"slidesToShow": 1}}					]}'>
            {% for scheme in investment_schemes %}
              <li class="plan-item">
                <input type="radio" id="plan-iv-{{forloop.counter}}" name="plan-iv" class="plan-control">
                <div class="plan-item-card">
                  <div class="plan-item-head">
                    <div class="plan-item-heading">
                      <h4 class="plan-item-title card-title title">{{scheme.title|title}}</h4>
                      <p class="sub-text">{{scheme.description|truncatewords:"4"}}</p>
                    </div>
                    <div class="plan-item-summary card-text">
                      <div class="row">
                        <div class="col-6">
                          <span class="lead-text">{{scheme.interest}}%</span><span class="sub-text">Daily Interest</span>
                        </div>
                        <div class="col-6">
                          <span class="lead-text">{{scheme.term}}</span><span class="sub-text">Term Days</span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="plan-item-body">
                    <div class="plan-item-desc card-text">
                      <ul class="plan-item-desc-list">
                        <li>
                          <span class="desc-label">Deposit</span>
                          -
                          <span class="desc-data">
                            <div class="amount">
                              {{scheme.principal}}
                              <span class="currency">ksh</span>
                            </div>
                          </span>
                        </li>
                        <li>
                          <span class="desc-label">Daily returns</span>
                          -
                          <span class="desc-data">
                            <div class="amount">
                              {{scheme.earned_interest}}
                              <span class="currency">ksh</span>
                            </div>
                          </span>
                        </li>
                        <li>
                          <span class="desc-label">Deposit Return</span>
                          -
                          <span class="desc-data">Yes</span>
                        </li>
                        <li>
                          <span class="desc-label">Total Return</span>
                          -
                          <span class="desc-data">
                            <div class="amount">
                              {{scheme.amount}}
                              <span class="currency">ksh</span>
                            </div>
                          </span>
                        </li>
                      </ul>
                      <div class="plan-item-action">
                        <label for="plan-iv-{{forloop.counter}}" class="plan-label">
                          <span class="plan-label-base">
                            Choose this plan
                          </span>
                          <span class="plan-label-selected">
                            Plan Selected
                          </span>
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
            {% endfor %}
          </ul>
        </div>
      {% endif %}
      <div class="plan-iv-actions text-center">
        <button class="btn btn-primary btn-lg" href="{% url 'dashboard:invest:invest-order' %}">
          <span>Proceed to Invest</span>
          <em class="icon ni ni-arrow-right"></em>
        </button>
      </div>
    </form>
  </div>
{% endblock main %}