{% extends "account/dashboard/v1/base.html" %}

{% block title %}
{{block.super}}
Job Board Listing
{% endblock title %}

{% load static humanize %}
{% block heading %}
<div class="nk-block-head nk-block-head-sm">
  <div class="nk-block-between">
    <div class="nk-block-head-content">
      <h3 class="nk-block-title page-title">Jobs</h3>
      <div class="nk-block-des text-soft">
        <p>
          We have a total of
          <span class="jobs_count">{{jobs.count}}</span>
          <span>+</span>
          Active job{{jobs.count|pluralize}}.
        </p>
      </div>
    </div>
    <div class="nk-block-head-content">
      <div class="toggle-wrap nk-block-tools-toggle">
        <a href="#" class="btn btn-icon btn-trigger toggle-expand me-n1" data-target="pageMenu">
          <em class="icon ni ni-menu-alt-r"></em>
        </a>
        <div class="toggle-expand-content" data-content="pageMenu">
          <ul class="nk-block-tools g-3">
            <li>
              <div class="drodown">
                <a href="#" class="dropdown-toggle btn btn-white btn-dim btn-outline-light" data-bs-toggle="dropdown">
                  <em class="d-none d-sm-inline icon ni ni-filter-alt"></em>
                  <span>Filtered By</span>
                  <em class="dd-indc icon ni ni-chevron-right"></em>
                </a>
                <div class="dropdown-menu dropdown-menu-end">
                  <ul class="link-list-opt no-bdr">
                    <li>
                      <a hx-on::after-request="window.location.reload()" style="cursor:pointer" 
                      hx-swap="none" hx-push-url="true" hx-boost="true" hx-get="{% url 'dashboard:invest:jobs:job_board_view' %}">
                        <span id="filterItem">Applications</span>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <span id="filterItem">Approved Applications</span>
                      </a>
                    </li>

                  </ul>
                </div>
              </div>
            </li>
            <li class="nk-block-tools-opt d-none d-sm-block">
              <a href="#" class="btn btn-primary">
                <em class="icon ni ni-share"></em>
                <span>Share</span>
              </a>
            </li>
            <li class="nk-block-tools-opt d-block d-sm-none">
              <a href="#" class="btn btn-icon btn-primary">
                <em class="icon ni ni-plus"></em>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock heading %}

{% block main %}
<!--xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx-->
<style>
  /* Existing styles for cards and tags */

  .with-border {
    border: 1px solid hwb(0 97% 3%);
    border-radius: 5px;
  }

  .tag {
    display: inline-block;
    background-color: #fd7d1e;
    /* Customize the background color as needed */
    color: white;
    padding: 2px 8px;
    font-size: 12px;
    border-radius: 12px;
    margin-right: 5px;
    /* Space between tags */
  }

  .price-tag {
    background-color: #28a745;
    /* Customize the background color for the price tag */
  }

  .date-tag {
    background-color: #007bff;
    /* Customize the background color for the date tag */
  }

  .academic-level-tag {
    background-color: #6f42c1;
    /* Customize the background color for the academic level tag */
  }

  .filter-button.active {
    font-weight: bold;
  }

  /* General Card Styles */

  .card {
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(79, 77, 77, 0.1);
    padding: 15px;
    margin-bottom: 20px;
    background-color: #fff;
  }

  /* Card Inner Content */

  .card-inner {
    position: relative;
  }

  .btn-primary {
    display: inline-block;
  }

  .errorlist {
    color: crimson !important;
  }

  /* Ensure Card Adjusts to Content */
  /* Responsive Adjustments */
</style>
<!--xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx-->

<ul class="filter-button-group mb-4 pb-1">
  <li>
    <button class="filter-button active" type="button" data-filter="*">All</button>
  </li>
  <li>
    <button class="filter-button" type="button" data-filter="online">Online/Remote</button>
  </li>
  <li>
    <button class="filter-button" type="button" data-filter="physical">Physical</button>
  </li>
  <li>
    <button class="filter-button" type="button" data-filter="abroad">Abroad</button>
  </li>
</ul>

<div class="row" data-animation="true" id="jobsFiltration"></div>
  {% block extendedJs %}
  
  <script>
    $(document).ready(function(){
      const filterButtons = $('.filter-button');
      const itemCount = $(".jobs_count");
      let initialValue = $(itemCount).text();
      $(itemCount).text("0")

      $.ajax({
        url: '/dashboard/invest/jobs/filter/*/',
        method: 'GET',
        dataType: "html",
        success: function(response){
          const responseContainer = $("#jobsFiltration");
          responseContainer.html(response);
          const filterItems = $('.filter-item');
          $(itemCount).text($(filterItems).length)
          console.log($(itemCount))
        },
        error: function(xhr, status, error){
          alert(xhr.responseText)
        }
      })

      $(filterButtons).each(function(){
        let url = `/dashboard/invest/jobs/filter/${$(this).attr("data-filter")}/`;
        $(this).click(function(){
          $(filterButtons).each(function(){$(this).removeClass("active")});
          const filterValue = $(this).attr('data-filter').toLocaleLowerCase();
            $.ajax({
              url: url,
              method: 'GET',
              dataType: "html",
              success: function(response){
                const responseContainer = $("#jobsFiltration");
                responseContainer.html(response);
                const filterItems = $('.filter-item');
                $(itemCount).text($(filterItems).length)
              },
              error: function(xhr, status, error){
                alert(xhr.responseText)
              }
            });
          $(this).addClass("active")
        })
      })
    })
  </script>
  {% endblock extendedJs %}



<script>
  document.addEventListener('DOMContentLoaded', function () {
 /*
    const filterButtons = document.querySelectorAll('.filter-button');
    const filterItems = document.querySelectorAll('.filter-item');

    const itemCount = document.querySelector(".jobs_count");
    let initialValue = itemCount.textContent;

    filterButtons.forEach(button => {
      button.addEventListener('click', function () {
        const filterValue = this.getAttribute('data-filter');
        console.log(filterValue)
        console.log(filterValue.substring(1))

        filterButtons.forEach(btn => btn.classList.remove('active'));
        this
          .classList
          .add('active');


        filterItems.forEach(item => {
          // item.classList.contains(filterValue.substring(1))
          console.log(item.getAttribute("data-category"))
          if (filterValue.substring(1) === "*" ||  item.getAttribute("data-category") == filterValue ) {
            item.style.display = 'block';
          } else {
            item.style.display = 'none';
          };
          try{
            itemCount.textContent = document.querySelectorAll(`${filterValue}`).length;
          }catch (error){
            itemCount.textContent = initialValue;
          }
        });
      });
    });
 
 */

    document
      .getElementById('job_application_submit_btn')
      .addEventListener('click', async function (e) {
        e.preventDefault();

        console.log("hello people")
        // do the spinner to show the user application is being sent
        createSpinnerBtnSimulation()

        var form = document.getElementById('applicationPostForm');
        var formData = new FormData(form);

        const jobId = document
          .querySelector('[name=job_id]')
          .value;
        const applicantId = document
          .querySelector('[name=applicant_id]')
          .value;

        var xhr = new XMLHttpRequest();

        const url = `/jobs/applications/${jobId}/${applicantId}`

        const response = await fetch(url, {
          method: 'POST',
          body: formData,
          headers: {
            'X-CSRFToken': form
              .querySelector('[name=csrfmiddlewaretoken]')
              .value
          }
        })

        setTimeout(async () => {
          const data = await response.json()
          if (!data.success) {
            document
              .getElementById('message')
              .innerHTML = data.message;
            return false;
          }

          document
            .getElementById('message')
            .classList
            .add("text-success");
          document
            .getElementById('message')
            .innerHTML = data.message

          resetTheSpinnerBtnSimulation()

          setTimeout(() => {
            window
              .location
              .reload();
          }, 1000);
        }, 2000);

      })
    const submitApplicationBtn = document.getElementById("job_application_submit_btn")
    // load the spinner
    function createSpinnerBtnSimulation() {
      submitApplicationBtn
        .classList
        .add("align-items-center", "justify-content-between")
      submitApplicationBtn.innerHTML = `
                <span class="spinner-border spinner-border-sm" aria-hidden="true"></span>
                <span role="status">submitting application...</span>
            `
      submitApplicationBtn.setAttribute("disabled", "disabled")
    }

    // remove the spiner after the response is received
    function resetTheSpinnerBtnSimulation() {
      submitApplicationBtn
        .classList
        .remove("align-items-center", "justify-content-between")
      submitApplicationBtn.innerHTML = `Submit Application`
      submitApplicationBtn.removeAttribute("disabled")
    }

  });
</script>

{% endblock main %}