{% extends "account/dashboard/v1/base.html" %}

{% block title %}
{{block.super}}
Job Board Listing
{% endblock title %}

{% load static humanize %}
{% block heading %}
<div class="nk-block-head nk-block-head-sm">
  <div class="nk-block-between">
    <div class="nk-block-head-content">
      <h3 class="nk-block-title page-title">Jobs</h3>
      <div class="nk-block-des text-soft">
        <p>
          We have a total of
          <span>200</span>
          <span>+</span>
          Active jobs.
        </p>
      </div>
    </div>
    <div class="nk-block-head-content">
      <div class="toggle-wrap nk-block-tools-toggle">
        <a href="#" class="btn btn-icon btn-trigger toggle-expand me-n1" data-target="pageMenu">
          <em class="icon ni ni-menu-alt-r"></em>
        </a>
        <div class="toggle-expand-content" data-content="pageMenu">
          <ul class="nk-block-tools g-3">




            <li>
              <div class="drodown">


                <a href="#" class="dropdown-toggle btn btn-success" data-bs-toggle="dropdown" aria-expanded="false">
                  <em class="d-none d-sm-inline icon ni ni-filter-alt"></em>
                  <span>Filtered By</span>
                  <em class="dd-indc icon ni ni-chevron-right"></em>
                </a>


                <div class="dropdown-menu dropdown-menu-end">
                  <ul class="link-list-opt no-bdr">
                    <li>
                      <a hx-on::after-request="window.location.reload()" style="cursor:pointer" hx-swap="none" hx-push-url="true" hx-boost="true" hx-get="{% url 'dashboard:invest:jobs:job_board_view' %}">
                        <span id="filterItem"> Tasks Application</span>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <span id="filterItem">Approved Tasks</span>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <span id="filterItem">Rejected Tasks</span>
                      </a>
                    </li>

                  </ul>
                </div>
              </div>
            </li>
            <li class="nk-block-tools-opt d-none d-sm-block">
              <a href="{% url 'dashboard:invest:jobs:job_board_view' %}" class="btn btn-primary">
                <em class="icon ni ni-folder"></em>
                <span>Upload</span>
              </a>
            </li>
            <!-- <li class="nk-block-tools-opt d-none d-sm-block">
              <a href="" class="btn btn-primary">
                <em class="fas fa-lightbulb"></em>
                <span>Tips</span>
              </a>
            </li> -->
            <li class="preview-item"><button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#modalTabs">Tips & Info</button></li>
            
            
            
            <li class="nk-block-tools-opt d-block d-sm-none">
              <a href="#" class="btn btn-icon btn-primary">
                <em class="icon ni ni-plus"></em>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>


<style>
  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    grid-gap: 20px;
    align-items: stretch;
  }
  
  .grid > article {
    border: 1px solid #ccc;
    border-radius: 1em;
    box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
  }
  
  .grid > article img {
    max-width: 100%;
    border-radius: 1em 1em 0 0;
  }
  
  .grid .text {
    padding: 20px;
  }
  
</style>
<style>
  .tagz {
    padding-left: 7px;
    padding-right: 7px;
    }
    .tagz li {
    display: inline;
    }
    .tag1x {
    background-color: #1ee0ac;
    -webkit-border-radius: 4px 3px 3px 4px;
    -moz-border-radius: 4px 3px 3px 4px;
    border-radius: 4px 3px 3px 4px;
    position: relative;
    color: #fff;
    display: inline-block;
    text-decoration: none;
    font-family: arial, helvetica, sans-serif;
    font-size: 14px;
      
    zoom: 1;
    line-height: 22px;
    padding: 0 8px 0 10px;
    margin: 4px 4px 4px 8px;
    }
    .tag1y {
    background-color: #007bff;
    -webkit-border-radius: 4px 3px 3px 4px;
    -moz-border-radius: 4px 3px 3px 4px;
    border-radius: 4px 3px 3px 4px;
    position: relative;
    color: #fff;
    display: inline-block;
    text-decoration: none;
    font-family: arial, helvetica, sans-serif;
    font-size: 14px;
      
    zoom: 1;
    line-height: 22px;
    padding: 0 8px 0 10px;
    margin: 4px 4px 4px 8px;
    }
    .tag2 {
    background-color: #2b2929;
    -webkit-border-radius: 4px 3px 3px 4px;
    -moz-border-radius: 4px 3px 3px 4px;
    border-radius: 4px 3px 3px 4px;
    position: relative;
    color: #fff;
    display: inline-block;
    text-decoration: none;
    font-family: arial, helvetica, sans-serif;
    font-size: 14px;
      
    zoom: 1;
    line-height: 22px;
    padding: 0 8px 0 10px;
    margin: 4px 4px 4px 8px;
    }
    
    .tag1:before {
    content: "";
    position: absolute;
    left: -5px;
    top: 1px;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-right: 6px solid #bb52ef;
    border-bottom: 10px solid transparent;
    }

.button-price-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

.btn {
  padding: 10px 20px;
  background-color: #bb52ef;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-size: 16px;
}

.price {
  font-size: 18px;
  font-weight: bold;
  color: #333;
}

.btn:hover {
  background-color: #00b327da; /* Darken button on hover */
}

</style>
<style>
  .button-price-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
  }
  
  .btn {
    padding: 10px 20px;
    
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .price {
    font-size: 18px;
    font-weight: bold;
    color: #333;
  }
  
  .btn:hover {
    background-color: #0056b3; /* Darken button on hover */
  }
  
  .tagx {
   
    text-decoration: none;
    color: #333; /* Customize the color */
    font-size: 16px; /* Adjust the font size */
  }
  
  .tagx i {
    margin-right: 8px; /* Space between icon and text */
  }
  
  .writer-count {
    background-color: #f0f0f0;
    padding: 3px 6px;
    border-radius: 12px;
    margin-left: 5px;
    font-size: 14px;
    color: #333; /* Customize as per your design */
  }
  
</style>

{% endblock heading %}

{% block main %}
<!--xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx-->
<div class="modal fade" tabindex="-1" role="dialog" id="modalTabs">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <a href="#" class="close" data-bs-dismiss="modal"><em class="icon ni ni-cross-sm"></em></a>
      <div class="modal-body modal-body-md">
        <h4 class="title">Remote Task Guidelines</h4>
        <ul class="nk-nav nav nav-tabs">
          <li class="nav-item"><a class="nav-link active" data-bs-toggle="tab" href="#tabItem1">Earning Tips</a></li>
          <li class="nav-item"><a class="nav-link" data-bs-toggle="tab" href="#tabItem2">General Guidelines</a></li>
          <li class="nav-item"><a class="nav-link" data-bs-toggle="tab" href="#tabItem3">Package Upgrade</a></li>
          <li class="nav-item"><a class="nav-link" data-bs-toggle="tab" href="#tabItem4">Payments</a></li>
          <li class="nav-item"><a class="nav-link" data-bs-toggle="tab" href="#tabItem5">Contact us</a></li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane active" id="tabItem1">
            <h6 class="title">Earning Tips</h6>
              <p>You should focus on writing quality articles, with SEO-optimized features and high-ranking keywords to boost visibility.</p>
              <p>Write the article or blog post in the <strong>blogging tab</strong>, or <a href="#">click here</a> to go to the page.</p>
              <p>Write consistently and don’t focus on individual articles, but on growth. Each quality article earns you a pay that will be credited to your account balance.</p>
              <p>The not-so-high-quality articles you submit will still be posted on our blog platform.</p>
              <p><strong>Upgrade</strong> to increase your article limit and write more articles, completing more tasks per day.</p>
              <p>For online writing and other tasks, follow the given guidelines and earn high payouts.</p>

          </div>
          <div class="tab-pane" id="tabItem2">
            <h6 class="title">General Guidelines</h6>
            <p>We get remote tasks from trusted sources like online writing platforms, direct clients, Canvas dashboards for students, or third-party sources and post them on our platform for you to work on and earn.</p>
            <p>Jobs are posted daily and consistently, giving you ample opportunities to engage and earn.</p>
            <p>The Diamond package gives you a limit of 10 tasks per day. For example, whether you choose articles, academic tasks, or development tasks, they are limited to 10 tasks per day.</p>
            <p>Upgrade your account to earn more from our endless job offers and maximize your potential earnings.</p>
            <p>Tasks we offer range from article writing, blogging, academic tasks, transcription, data entry tasks, and more.</p>
            <p>When we receive a task from a trusted source that requires daily articles, we will assign it to you. Upon completion, we hand it to the client, who pays upon satisfaction.</p>
            <p>Each successful article or task earns you the indicated pay, which is withdrawable twice a week.</p>
          </div>
          <div class="tab-pane" id="tabItem3">
            <h6 class="title">Package Upgrade</h6>

              <p>Upgrade your task limit by choosing your desired package and depositing the required amount to secure your package. We charge for the packages since we acquire these task sources at high prices, which necessitates a small fee that guarantees you more task access and thus higher earning potential.</p>

              <p><strong>Pro Package:</strong> Gives you a limit of 10 to 20 tasks per day. Activation fee: 10,000 KES. Articles payout: $0.5 - $1.5 per article.</p>

              <p><strong>Master Package:</strong> Gives you a limit of 20 to 30 tasks per day. Activation fee: 15,000 KES. Articles payout: $0.5 - $1.5 per article.</p>

              <p><strong>Guru Package:</strong> Gives you a limit of 30 to 40 tasks per day. Activation fee: 20,000 KES. Articles payout: $0.5 - $1.5 per article.</p>

              <p><strong>Professor Package:</strong> Gives you a limit of 40 to 50 tasks per day. Activation fee: 30,000 KES. Articles payout: $0.5 - $1.5 per article.</p>

              <p><strong>Supreme Package:</strong> Gives you a limit of 50 to 60 tasks per day. Activation fee: 40,000 KES. Articles payout: $0.5 - $2 per article.</p>

              <p>To activate your package, go to the deposit section and click the deposit button. Enter the amount you have opted for from the packages and input the reason for the deposit to indicate your upgrade. For example, you can write: "Made a deposit for activating Master Package." You will receive an email to confirm your request, after which you can start completing tasks according to your new increased limit.</p>

          </div>
          <div class="tab-pane" id="tabItem4">
            <h6 class="title">Payments</h6>
            <p>We will credit you for quality tasks completed, and the amount will be available in your account balance.</p>

              <p>For other tasks you submit, some might be returned for revision, while others could be canceled. However, for articles, we will publish those that are not sold to our publishers on our site.</p>

              <p>We will grant you bonuses from earnings we get from AdSense, ensuring you still earn even if the articles are not sold.</p>

              <p>For example, if you write 10 articles, each with a cost per page of $1, and we successfully sell 8 to our third-party publishers, we will credit 8 payments to your account balance. The earnings from the remaining 2 articles will be credited into your bonus section.</p>

              <p>You can request a withdrawal for your earnings twice a week. We process withdrawals every Monday and Friday.</p>

              <p>Upgrade your package to earn more; the key to earning more is consistency and choosing the highest effective package.</p>

          </div>
          <div class="tab-pane" id="tabItem5">
            <h6 class="title">Contact Us</h6>
              <p>Contact us for any clarification or confirmation regarding the platform. Be brief and to the point to simplify communication.</p>

              <p>Contact the admin if you encounter task problems or need guidance on how to complete a task. Be brief and to the point to simplify communication.</p>

              <p>Contact the admin for withdrawals from your remote task earnings. Be brief and to the point to simplify communication.</p>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx-->
<ul class="nk-sticky-toolbar">
  
  <li class="demo-thumb">
    <a class="toggle tipinfo" data-target="settingPanel" href="#" title="Tips & Info"><em class="icon ni ni-menu-squared"></em></a>
  </li>
 
  
</ul>
<!--xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx-->
<div class="nk-demo-panel toggle-slide toggle-slide-right" data-content="settingPanel" data-toggle-overlay="true" data-toggle-body="true" data-toggle-screen="any">
  <div class="nk-demo-head">
    <h6 class="mb-0">Tips and Infomation</h6>
    <a class="nk-demo-close toggle btn btn-icon btn-trigger revarse mr-n2" data-target="settingPanel" href="#"><em class="icon ni ni-cross"></em></a>
  </div>
  <div class="nk-opt-panel" data-simplebar="">
    <div class="nk-opt-set">
      <div class="nk-opt-set-title">General Tips</div>
      <div class="nk-opt-list col-2x">
        <div>
          
          <ul class="nk-nav nav nav-tabs">
          
            <li class="nav-item"><a class="nav-link" data-bs-toggle="tab" href="#tabItem2">General Guidelines</a></li>
          
          </ul>
          
         
        </div>
        
      </div>
    </div>
    <div class="nk-opt-set">
      <div class="nk-opt-set-title">Earning Tips</div>
      <div class="nk-opt-list col-2x">
        <div>
          <li class="nav-item"><a class="nav-link active" data-bs-toggle="tab" href="#tabItem1">Earning Tips</a></li>
        </div>
        
      </div>
    </div>
    <div class="nk-opt-set nk-opt-set-aside">
      <div class="nk-opt-set-title">Package Upgrade</div>
      <div class="nk-opt-list col-4x">
        <div>
          <li class="nav-item"><a class="nav-link" data-bs-toggle="tab" href="#tabItem3">Package Upgrade</a></li>
        </div>
        
      </div>
    </div>
    <div class="nk-opt-set nk-opt-set-header">
      <div class="nk-opt-set-title">Payments</div>
      <div class="nk-opt-list col-4x">
        <div>
          <li class="nav-item"><a class="nav-link" data-bs-toggle="tab" href="#tabItem4">Payments</a></li>
        </div>
       
      </div>
    </div>
    <div class="nk-opt-set nk-opt-set-skin">
      <div class="nk-opt-set-title">Contact Us</div>
      <div class="nk-opt-list">
        <div class="nk-opt-item active" data-key="skin" data-update="default">
          <li class="nav-item"><a class="nav-link" data-bs-toggle="tab" href="#tabItem5">Contact us</a></li>
        </div>
        
      </div>
    </div>
   
  </div>
</div>
<!--xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx-->


<ul class="filter-button-group mb-4 pb-1 d-flex g-3">
  <li>
    <button class="filter-button active" type="button" data-filter="all">All</button>
  </li>
  <li>
    <button class="filter-button" type="button" data-filter="online">Online/Remote</button>
  </li>
  <li>
    <button class="filter-button" type="button" data-filter="physical">Physical/local</button>
  </li>
  <li>
    <button class="filter-button" type="button" data-filter="abroad">Abroad</button>
  </li>
</ul>

<style>
  /* Base styles for the loading placeholder */


  /* Pulse animation */
  @keyframes pulse {
    0% {
      background-color: #f0f0f0df;
    }

    50% {
      background-color: #e0e0e0d9;
    }

    100% {
      background-color: #f0f0f0c0;
    }
  }

  /* Apply the pulse animation to the skeleton */
  .skeleton {
    animation: pulse 1.5s infinite;
  }
</style>






<div class="container">
  <main class="grid">

<article>
      <!-- <img src="https://picsum.photos/600/400?image=1083" alt="Sample photo"> -->
      <li><a href="#" class="tag2">Completed</a></li>
      <div class="text">
        <h4>Dream Vacation for Couples</h4>
        <h6>Dream Vacation for Couples</h6>
        <p>Enjoy sandy beaches and yacht sailing with your loved one for unique prices.</p>
        <div>
          
          <ul class="tagz">
            <li><a href="#" class="tag1">Oct 24</a></li>
            <li><a href="#" class="tag1">Freelance</a></li>
            <li>
              <a href="#" class="tagx">
                <i class="fas fa-pen-alt"></i> <!-- Font Awesome pen icon -->
                <span class="writer-count">123</span> <!-- Number of writers -->
              </a>
            </li>
            
          </ul> 
      </div>
      <div class="button-price-row">
        <a href="#" class="btn btn-primary">View</a>
        <div class="price-container">
          <small class="text-muted">pay</small> <!-- Muted text -->
          <span class="price">$1</span>
        </div>
      </div>
      
      
      </div>
    </article>
<article>
      <!-- <img src="https://picsum.photos/600/400?image=1083" alt="Sample photo"> -->
      <li><a href="#" class="tag2">Completed</a></li>
      <div class="text">
        <h4>Dream Vacation for Couples</h4>
        <h6>Dream Vacation for Couples</h6>
        <p>Enjoy sandy beaches and yacht sailing with your loved one for unique prices.</p>
        <div>
          
          <ul class="tagz">
            <li><a href="#" class="tag1x">Oct 24</a></li>
            <li><a href="#" class="tag1y">Freelance</a></li>
            <li>
              <a href="#" class="tagx">
                <i class="fas fa-pen-alt"></i> <!-- Font Awesome pen icon -->
                <span class="writer-count">123</span> <!-- Number of writers -->
              </a>
            </li>
            
          </ul> 
      </div>
      <div class="button-price-row">
        <a href="#" class="btn btn-primary">View</a>
        <div class="price-container">
          <small class="text-muted">pay</small> <!-- Muted text -->
          <span class="price">$1</span>
        </div>
      </div>
      
      
      </div>
    </article>
<article>
      <!-- <img src="https://picsum.photos/600/400?image=1083" alt="Sample photo"> -->
      <li><a href="#" class="tag2">Completed</a></li>
      <div class="text">
        <h4>Dream Vacation for Couples</h4>
        <h6>Dream Vacation for Couples</h6>
        <p>Enjoy sandy beaches and yacht sailing with your loved one for unique prices.</p>
        <div>
          
          <ul class="tagz">
            <li><a href="#" class="tag1x">Oct 24</a></li>
            <li><a href="#" class="tag1y">Freelance</a></li>
            <li>
              <a href="#" class="tagx">
                <i class="fas fa-pen-alt"></i> <!-- Font Awesome pen icon -->
                <span class="writer-count">123</span> <!-- Number of writers -->
              </a>
            </li>
            
          </ul> 
      </div>
      <div class="button-price-row">
        <a href="#" class="btn btn-primary">View</a>
        <div class="price-container">
          <small class="text-muted">pay</small> <!-- Muted text -->
          <span class="price">$1</span>
        </div>
      </div>
      
      
      </div>
    </article>
<article>
      <!-- <img src="https://picsum.photos/600/400?image=1083" alt="Sample photo"> -->
      <li><a href="#" class="tag2">Completed</a></li>
      <div class="text">
        <h4>Dream Vacation for Couples</h4>
        <h6>Dream Vacation for Couples</h6>
        <p>Enjoy sandy beaches and yacht sailing with your loved one for unique prices.</p>
        <div>
          
          <ul class="tagz">
            <li><a href="#" class="tag1x">Oct 24</a></li>
            <li><a href="#" class="tag1y">Freelance</a></li>
            <li>
              <a href="#" class="tagx">
                <i class="fas fa-pen-alt"></i> <!-- Font Awesome pen icon -->
                <span class="writer-count">123</span> <!-- Number of writers -->
              </a>
            </li>
            
          </ul> 
      </div>
      <div class="button-price-row">
        <a href="#" class="btn btn-primary">View</a>
        <div class="price-container">
          <small class="text-muted">pay</small> <!-- Muted text -->
          <span class="price">$1</span>
        </div>
      </div>
      
      
      </div>
    </article>
<article>
      <!-- <img src="https://picsum.photos/600/400?image=1083" alt="Sample photo"> -->
      <li><a href="#" class="tag2">Completed</a></li>
      <div class="text">
        <h4>Dream Vacation for Couples</h4>
        <h6>Dream Vacation for Couples</h6>
        <p>Enjoy sandy beaches and yacht sailing with your loved one for unique prices.</p>
        <div>
          
          <ul class="tagz">
            <li><a href="#" class="tag1x">Oct 24</a></li>
            <li><a href="#" class="tag1y">Freelance</a></li>
            <li>
              <a href="#" class="tagx">
                <i class="fas fa-pen-alt"></i> <!-- Font Awesome pen icon -->
                <span class="writer-count">123</span> <!-- Number of writers -->
              </a>
            </li>
            
          </ul> 
      </div>
      <div class="button-price-row">
        <a href="#" class="btn btn-primary">View</a>
        <div class="price-container">
          <small class="text-muted">pay</small> <!-- Muted text -->
          <span class="price">$1</span>
        </div>
      </div>
      
      
      </div>
    </article>
<article>
      <!-- <img src="https://picsum.photos/600/400?image=1083" alt="Sample photo"> -->
      <li><a href="#" class="tag2">Completed</a></li>
      <div class="text">
        <h4>Dream Vacation for Couples</h4>
        <h6>Dream Vacation for Couples</h6>
        <p>Enjoy sandy beaches and yacht sailing with your loved one for unique prices.</p>
        <div>
          
          <ul class="tagz">
            <li><a href="#" class="tag1x">Oct 24</a></li>
            <li><a href="#" class="tag1y">Freelance</a></li>
            <li>
              <a href="#" class="tagx">
                <i class="fas fa-pen-alt"></i> <!-- Font Awesome pen icon -->
                <span class="writer-count">123</span> <!-- Number of writers -->
              </a>
            </li>
            
          </ul> 
      </div>
      <div class="button-price-row">
        <a href="#" class="btn btn-primary">View</a>
        <div class="price-container">
          <small class="text-muted">pay</small> <!-- Muted text -->
          <span class="price">$1</span>
        </div>
      </div>
      
      
      </div>
    </article>
<article>
      <!-- <img src="https://picsum.photos/600/400?image=1083" alt="Sample photo"> -->
      <li><a href="#" class="tag2">Completed</a></li>
      <div class="text">
        <h4>Dream Vacation for Couples</h4>
        <h6>Dream Vacation for Couples</h6>
        <p>Enjoy sandy beaches and yacht sailing with your loved one for unique prices.</p>
        <div>
          
          <ul class="tagz">
            <li><a href="#" class="tag1x">Oct 24</a></li>
            <li><a href="#" class="tag1y">Freelance</a></li>
            <li>
              <a href="#" class="tagx">
                <i class="fas fa-pen-alt"></i> <!-- Font Awesome pen icon -->
                <span class="writer-count">123</span> <!-- Number of writers -->
              </a>
            </li>
            
          </ul> 
      </div>
      <div class="button-price-row">
        <a href="#" class="btn btn-primary">View</a>
        <div class="price-container">
          <small class="text-muted">pay</small> <!-- Muted text -->
          <span class="price">$1</span>
        </div>
      </div>
      
      
      </div>
    </article>
<article>
      <!-- <img src="https://picsum.photos/600/400?image=1083" alt="Sample photo"> -->
      <li><a href="#" class="tag2">Completed</a></li>
      <div class="text">
        <h4>Dream Vacation for Couples</h4>
        <h6>Dream Vacation for Couples</h6>
        <p>Enjoy sandy beaches and yacht sailing with your loved one for unique prices.</p>
        <div>
          
          <ul class="tagz">
            <li><a href="#" class="tag1x">Oct 24</a></li>
            <li><a href="#" class="tag1y">Freelance</a></li>
            <li>
              <a href="#" class="tagx">
                <i class="fas fa-pen-alt"></i> <!-- Font Awesome pen icon -->
                <span class="writer-count">123</span> <!-- Number of writers -->
              </a>
            </li>
            
          </ul> 
      </div>
      <div class="button-price-row">
        <a href="#" class="btn btn-primary">View</a>
        <div class="price-container">
          <small class="text-muted">pay</small> <!-- Muted text -->
          <span class="price">$1</span>
        </div>
      </div>
      
      
      </div>
    </article>
<article>
      <!-- <img src="https://picsum.photos/600/400?image=1083" alt="Sample photo"> -->
      <li><a href="#" class="tag2">Completed</a></li>
      <div class="text">
        <h4>Dream Vacation for Couples</h4>
        <h6>Dream Vacation for Couples</h6>
        <p>Enjoy sandy beaches and yacht sailing with your loved one for unique prices.</p>
        <div>
          
          <ul class="tagz">
            <li><a href="#" class="tag1x">Oct 24</a></li>
            <li><a href="#" class="tag1y">Freelance</a></li>
            <li>
              <a href="#" class="tagx">
                <i class="fas fa-pen-alt"></i> <!-- Font Awesome pen icon -->
                <span class="writer-count">123</span> <!-- Number of writers -->
              </a>
            </li>
            
          </ul> 
      </div>
      <div class="button-price-row">
        <a href="#" class="btn btn-primary">View</a>
        <div class="price-container">
          <small class="text-muted">pay</small> <!-- Muted text -->
          <span class="price">$1</span>
        </div>
      </div>
      
      
      </div>
    </article>
<article>
      <!-- <img src="https://picsum.photos/600/400?image=1083" alt="Sample photo"> -->
      <li><a href="#" class="tag2">Completed</a></li>
      <div class="text">
        <h4>Dream Vacation for Couples</h4>
        <h6>Dream Vacation for Couples</h6>
        <p>Enjoy sandy beaches and yacht sailing with your loved one for unique prices.</p>
        <div>
          
          <ul class="tagz">
            <li><a href="#" class="tag1x">Oct 24</a></li>
            <li><a href="#" class="tag1y">Freelance</a></li>
            <li>
              <a href="#" class="tagx">
                <i class="fas fa-pen-alt"></i> <!-- Font Awesome pen icon -->
                <span class="writer-count">123</span> <!-- Number of writers -->
              </a>
            </li>
            
          </ul> 
      </div>
      <div class="button-price-row">
        <a href="#" class="btn btn-primary">View & Apply</a>
        <div class="price-container">
          <small class="text-muted">pay</small> <!-- Muted text -->
          <span class="price">$1</span>
        </div>
      </div>
      
      
      </div>
    </article>
<article>
      <!-- <img src="https://picsum.photos/600/400?image=1083" alt="Sample photo"> -->
      <li><a href="#" class="tag2">Completed</a></li>
      <div class="text">
        <h4>Dream Vacation for Couples</h4>
        <h6>Dream Vacation for Couples</h6>
        <p>Enjoy sandy beaches and yacht sailing with your loved one for unique prices.</p>
        <div>
          
          <ul class="tagz">
            <li><a href="#" class="tag1x">Oct 24</a></li>
            <li><a href="#" class="tag1y">Freelance</a></li>
            <li>
              <a href="#" class="tagx">
                <i class="fas fa-pen-alt"></i> <!-- Font Awesome pen icon -->
                <span class="writer-count">123</span> <!-- Number of writers -->
              </a>
            </li>
            
          </ul> 
      </div>
      <div class="button-price-row">
        <a href="#" class="btn btn-primary">View</a>
        <div class="price-container">
          <small class="text-muted">pay</small> <!-- Muted text -->
          <span class="price">$1</span>
        </div>
      </div>
      
      
      </div>
    </article>
<article>
      <!-- <img src="https://picsum.photos/600/400?image=1083" alt="Sample photo"> -->
      <li><a href="#" class="tag2">Completed</a></li>
      <div class="text">
        <h4>Dream Vacation for Couples</h4>
        <h6>Dream Vacation for Couples</h6>
        <p>Enjoy sandy beaches and yacht sailing with your loved one for unique prices.</p>
        <div>
          
          <ul class="tagz">
            <li><a href="#" class="tag1x">Oct 24</a></li>
            <li><a href="#" class="tag1">Freelance</a></li>
            <li>
              <a href="#" class="tagx">
                <i class="fas fa-pen-alt"></i> <!-- Font Awesome pen icon -->
                <span class="writer-count">123</span> <!-- Number of writers -->
              </a>
            </li>
            
          </ul> 
      </div>
      <div class="button-price-row">
        <a href="#" class="btn btn-primary">View</a>
        <div class="price-container">
          <small class="text-muted">pay</small> <!-- Muted text -->
          <span class="price">$1</span>
        </div>
      </div>
      
      
      </div>
    </article>
<article>
      <!-- <img src="https://picsum.photos/600/400?image=1083" alt="Sample photo"> -->
      <li><a href="#" class="tag2">Completed</a></li>
      <div class="text">
        <h4>Dream Vacation for Couples</h4>
        <h6>Dream Vacation for Couples</h6>
        <p>Enjoy sandy beaches and yacht sailing with your loved one for unique prices.</p>
        <div>
          
          <ul class="tagz">
            <li><a href="#" class="tag1">Oct 24</a></li>
            <li><a href="#" class="tag1">Freelance</a></li>
            <li>
              <a href="#" class="tagx">
                <i class="fas fa-pen-alt"></i> <!-- Font Awesome pen icon -->
                <span class="writer-count">123</span> <!-- Number of writers -->
              </a>
            </li>
            
          </ul> 
      </div>
      <div class="button-price-row">
        <a href="#" class="btn btn-primary">View</a>
        <div class="price-container">
          <small class="text-muted">pay</small> <!-- Muted text -->
          <span class="price">$1</span>
        </div>
      </div>
      
      
      </div>
    </article>
<article>
      <!-- <img src="https://picsum.photos/600/400?image=1083" alt="Sample photo"> -->
      <li><a href="#" class="tag2">Completed</a></li>
      <div class="text">
        <h4>Dream Vacation for Couples</h4>
        <h6>Dream Vacation for Couples</h6>
        <p>Enjoy sandy beaches and yacht sailing with your loved one for unique prices.</p>
        <div>
          
          <ul class="tagz">
            <li><a href="#" class="tag1">Oct 24</a></li>
            <li><a href="#" class="tag1">Freelance</a></li>
            <li>
              <a href="#" class="tagx">
                <i class="fas fa-pen-alt"></i> <!-- Font Awesome pen icon -->
                <span class="writer-count">123</span> <!-- Number of writers -->
              </a>
            </li>
            
          </ul> 
      </div>
      <div class="button-price-row">
        <a href="#" class="btn btn-primary">View</a>
        <div class="price-container">
          <small class="text-muted">pay</small> <!-- Muted text -->
          <span class="price">$1</span>
        </div>
      </div>
      
      
      </div>
    </article>
    
   
    
  </main>
</div>







{% endblock main %}