{% extends "account/dashboard/v1/base.html" %}
{% load static %}

{% block heading %}

  <div class="nk-block-head">
    <div class="nk-block-head-content">
      <div class="nk-block-head-sub">
        <span>My Plan</span></div>
      <div class="nk-block-between-md g-4">
        <div class="nk-block-head-content">
          <h2 class="nk-block-title fw-normal">Invested Schemes</h2>
          <div class="nk-block-des">
            <p>Here is your current balance and your active investement plans.</p>
          </div>
        </div>
        <div class="nk-block-head-content">
          <ul class="nk-block-tools gx-3">
            <li>
              <button {% if available_amount <= 0.00 %} disabled="disabled" {% else %} data-bs-toggle="modal" data-bs-dismiss="modal" data-bs-target="#withdrawalPopupForm" {% endif %} class="btn btn-primary">
                <span>Withdraw</span>
                <em class="icon ni ni-arrow-long-right d-none d-sm-inline-block"></em>
              </button>
            </li>
            <li>
              <a href="#" class="btn btn-white btn-light">
                <span>Invest More</span>
                <em class="icon ni ni-arrow-long-right d-none d-sm-inline-block"></em>
              </a>
            </li>
            <li class="opt-menu-md dropdown">
              <a href="#" class="btn btn-white btn-light btn-icon" data-bs-toggle="dropdown">
                <em class="icon ni ni-setting"></em>
              </a>
              <div class="dropdown-menu dropdown-menu-end">
                <ul class="link-list-opt no-bdr">
                  <li>
                    <a role="button" data-bs-toggle="modal" data-bs-target="#addPlanPopupForm" data-bs-dismiss="modal">
                      <em class="icon ni ni-plus"></em>
                      <span>Add a plan</span></a>
                  </li>

                </ul>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

{% endblock heading %}

{% block main %}
  {% include "account/dashboard/investment/components/schemes/stats.html" %}

  {% if active_plans %}
    <div class="nk-block nk-block-lg">
      <div class="nk-block-head-sm">
        <div class="nk-block-head-content">
          <h5 class="nk-block-title">Active Plan
            <span class="count text-base">({{active_plans.count}})</span></h5>
        </div>
      </div>
    </div>

    {% include "account/dashboard/investment/components/schemes/active.html" %}
  {% endif %}

  {% if inactive_plans %}
    <div class="nk-block nk-block-lg">
      <div class="nk-block-head-sm">
        <div class="nk-block-head-content">
          <h5 class="nk-block-title">Inactive Plan
            <span class="count text-base">({{inactive_plans.count}})</span></h5>
        </div>
      </div>
    </div>

    {% include "account/dashboard/investment/components/schemes/inactive.html" %}
  {% endif %}
{% endblock main %}
