{% extends "account/dashboard/v1/base.html" %}
{% load static %}

{% block heading %}
  <div class="nk-block-head">
    <div class="nk-block-head-sub">
      <span>Wallet Actions</span></div>
    <div class="nk-block-between-md g-4">
      <div class="nk-block-head-content">
        
        <div class="nk-block-des">
          <p>Manage wallet account at one point</p>
        </div>
      </div>
      <div class="nk-block-head-content">
        <ul class="nk-block-tools gx-3">

          <li class="btn-wrap" style="cursor:pointer" href="{% url 'transactions:transactions' %}">
            <a class="btn btn-icon btn-xl btn-dark" >
              <em class="icon ni ni-exchange"></em>
            </a>
            <span class="btn-extext">Transactions</span>
          </li>
          <li class="btn-wrap" hx-on::after-request="window.location.reload()" style="cursor:pointer"
           hx-swap="none" hx-trigger="click" hx-push-url="true" hx-boost="true" 
           href="{% url 'users:profile:wallet:send-to-wallet' %}">

            <a class="btn btn-icon btn-xl btn-dim btn-outline-light" role="button" 
            data-bs-toggle="modal" data-bs-dismiss="modal" data-bs-target="#sendAndTransferMoneyPopupForm">
              <em class="icon ni ni-arrow-from-right"></em>
            </a>
            <span class="btn-extext">Send</span>
          </li>

          <li class="btn-wrap" hx-on::after-request="window.location.reload()" style="cursor:pointer" 
          hx-swap="none" hx-trigger="click" hx-push-url="true" hx-boost="true"
           href="{% url 'users:profile:wallet:deposit-to-wallet' %}">
            <a class="btn btn-icon btn-xl btn-success" role="button" 
            data-bs-toggle="modal" data-bs-dismiss="modal" data-bs-target="#depositMoneyPopupForm">
              <em class="icon ni ni-wallet-in"></em>
            </a>
            <span class="btn-extext">Deposit</span>
          </li>
          
          <li class="btn-wrap" hx-on::after-request="window.location.reload()" style="cursor:pointer" hx-swap="none" hx-trigger="click" hx-push-url="true" hx-boost="true" href="{% url 'users:profile:wallet:withdraw-from-wallet' %}">
            {% if available_amount > 0.00 %}
            <a  class="btn btn-icon btn-xl btn-warning" role="button" data-bs-toggle="modal" data-bs-dismiss="modal" data-bs-target="#withdrawalPopupForm">
              <em class="icon ni ni-wallet-out"></em>
            </a>
            <span class="btn-extext">Withdraw</span>
            {% endif %}
          </li>
        </ul>
      </div>
    </div>
  </div>
  
{% endblock heading %}


{% block main %}



  

{% endblock main %}
