{% extends "account/dashboard/v1/base.html" %}
{% load static humanize %}

{% block heading %}
  <div class="nk-block-head-content mb-5">
    <h3 class="nk-block-title page-title">WhatsApp Income</h3>
    <div class="nk-block-des text-soft">
      <p>You can submit your whatsapp earnings when your package allows you to earn from whatsapp earnings</p>
    </div>
  </div>
{% endblock heading %}
<br/>
{% block main %}
  <div class="row g-gs mb-4">
    <div class="col-sm-6 col-xxl-6">
      <div class="card card-full bg-primary">
        <div class="card-inner">
          <div class="d-flex align-items-center justify-content-between mb-1">
            <div class="fs-6 text-white text-opacity-75 mb-0">Whatsapp Total Earnings</div>
          </div>
          <h5 class="fs-1 text-white">{{earnings|floatformat:2|intcomma|default:"0.00"}}
            <span>ksh</span></h5>
          <div class="fs-7 text-white text-opacity-75 mt-1">The bigger the package, the bigger the income</div>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-xxl-6">
      <div class="card card-full bg-grey is-dark">
        <div class="card-inner">
          <div class="d-flex align-items-center justify-content-between mb-1">
            <div class="fs-6 text-white text-opacity-75 mb-0">Total Bonus Earnings</div>
          </div>
          <h5 class="fs-1 text-white">{{available_amount|floatformat:2|intcomma|default:"0.00"}}
            <small class="fs-3">Ksh</small>
          </h5>
          <div class="fs-7 text-white text-opacity-75 mt-1">The amount is withdrawable from your wallet</div>
        </div>
      </div>
    </div>
  </div>

  <div class="card card-bordered">
    <div class="card-inner">
      <div class="card-head">
        <h5 class="card-title">Client Information</h5>
      </div>
      <form action="#">
        <div class="row g-4">

          <div class="col-lg-6">
            <div class="form-group">
              <label class="form-label" for="phone-no-1">Input the number of views
              </label>
              <div class="form-control-wrap"><input type="text" class="form-control" id="phone-no-1" placeholder="234">Input the correct value that matches the screenshot number of views count
              </div>
            </div>
          </div>

          <!--neewww section-->

          <!--new sec enddddd-->
          <div class="form-group">
            <label class="form-label">
              Upload Screenshot</label>
            <div class="form-control-wrap">
              <div class="form-file"><input type="file" class="form-file-input" id="customFile">
                <label class="form-file-label" for="customFile">Choose file</label>
                Submmit screenshot which is not edited, cropped, faked, cut, manipulated, or otherwise your account will be at risk

              </div>
            </div>
          </div>

          <div class="col-12">
            <div class="form-group">
              <button type="submit" class="btn btn-lg btn-primary">Submit
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
  <br/>
  <br/>

  <div class="card-inner p-0">
    <div class="card-head">
      <h5 class="card-title">Records</h5>
    </div>
    <div class="nk-tb-list nk-tb-ulist is-compact">
      <div class="nk-tb-item nk-tb-head">
        <div class="nk-tb-col nk-tb-col-check">
          <div class="custom-control custom-control-sm custom-checkbox notext">
            <input type="checkbox" class="custom-control-input" id="uid">
            <label class="custom-control-label" for="uid"></label>
          </div>
        </div>
        <div class="nk-tb-col">
          <span class="sub-text">Date</span></div>
        <div class="nk-tb-col tb-col-md">
          <span class="sub-text">No of View</span></div>

        <div class="nk-tb-col tb-col-md">
          <span class="sub-text">Earnings</span></div>

        <div class="nk-tb-col tb-col-lg">
          <span class="sub-text">Status</span></div>

      </div>
      <div class="nk-tb-item">
        <div class="nk-tb-col nk-tb-col-check">
          <div class="custom-control custom-control-sm custom-checkbox notext">
            <input type="checkbox" class="custom-control-input" id="uid1">
            <label class="custom-control-label" for="uid1"></label>
          </div>
        </div>
        <div class="nk-tb-col">
          <div class="user-card">

            <div class="user-name">
              <span class="tb-lead">30/40/2222</span></div>
          </div>
        </div>
        <div class="nk-tb-col tb-col-md">
          <span>331</span></div>

        <div class="nk-tb-col tb-col-md">
          <span>331
            <span>ksh</span></span>

        </div>

        <div class="nk-tb-col">
          <span class="tb-status text-success">Approved</span></div>

      </div>

      <div class="nk-tb-item">
        <div class="nk-tb-col nk-tb-col-check">
          <div class="custom-control custom-control-sm custom-checkbox notext">
            <input type="checkbox" class="custom-control-input" id="uid1">
            <label class="custom-control-label" for="uid1"></label>
          </div>
        </div>
        <div class="nk-tb-col">
          <div class="user-card">

            <div class="user-name">
              <span class="tb-lead">20/22/2022</span></div>
          </div>
        </div>
        <div class="nk-tb-col tb-col-md">
          <span>540</span></div>

        <div class="nk-tb-col tb-col-md">
          <span>540
            <span>ksh</span></span>

        </div>

        <div class="nk-tb-col">
          <span class="tb-status text-warning">Pending</span></div>

      </div>

      <div class="nk-tb-item">
        <div class="nk-tb-col nk-tb-col-check">
          <div class="custom-control custom-control-sm custom-checkbox notext">
            <input type="checkbox" class="custom-control-input" id="uid1">
            <label class="custom-control-label" for="uid1"></label>
          </div>
        </div>
        <div class="nk-tb-col">
          <div class="user-card">

            <div class="user-name">
              <span class="tb-lead">24/20/2025</span></div>
          </div>
        </div>
        <div class="nk-tb-col tb-col-md">
          <span>790</span></div>

        <div class="nk-tb-col tb-col-md">
          <span>790
            <span>ksh</span></span>

        </div>

        <div class="nk-tb-col">
          <span class="tb-status text-danger">Rejected</span></div>

      </div>

      <!-- uppto to 20 of them -->
    </div>

  </div>
  <div class="card-inner">
    <ul class="pagination justify-content-center justify-content-md-start">
      <li class="page-item">
        <a class="page-link" href="#">Prev</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="#">1</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="#">2</a>
      </li>
      <li class="page-item">
        <span class="page-link">
          <em class="icon ni ni-more-h"></em></span></li>
      <li class="page-item">
        <a class="page-link" href="#">6</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="#">7</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="#">Next</a>
      </li>
    </ul>
  </div>

{% endblock main %}
