{% load static value_filter rooms humanize %}

<input type="hidden" data-current-profile-user-pk="{{request.user.profile_user.pk}}" id="currentUser"/>

<div class="nk-chat-aside hide-aside">
  <div class="nk-chat-aside-head">
    <div class="nk-chat-aside-user">
      <div class="dropdown">
        <a href="#" class="dropdown-toggle dropdown-indicator" data-bs-toggle="dropdown" aria-expanded="false">
          <div class="user-avatar">
            <img src="{% static 'images/avatar/b-sm.jpg' %}" alt=""/>
          </div>
          <div class="title">Chats</div>
        </a>
        <div class="dropdown-menu" style="">
          <ul class="link-list-opt no-bdr">
            <li>
              <a href="#">
                <span>Contacts</span></a>
            </li>
            <li>
              <a href="#">
                <span>Rooms</span></a>
            </li>
            <li class="divider"></li>
            <li>
              <a href="#">
                <span>Help</span></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <ul class="nk-chat-aside-tools g-2">
      <li>
        <div class="dropdown">
          <a href="#" class="btn btn-round btn-icon btn-light dropdown-toggle" data-bs-toggle="dropdown">
            <em class="icon ni ni-setting-alt-fill"></em>
          </a>
          <div class="dropdown-menu dropdown-menu-end">
            <ul class="link-list-opt no-bdr">
              <li>
                <a href="#">
                  <span>Settings</span></a>
              </li>
              <li class="divider"></li>
              <li>
                <a href="#">
                  <span>Message Requests</span></a>
              </li>
              <li>
                <a href="#">
                  <span>Archives Chats</span></a>
              </li>
              <li>
                <a href="#">
                  <span>Unread Chats</span></a>
              </li>
              <li>
                <a href="#">
                  <span>Group Chats</span></a>
              </li>
            </ul>
          </div>
        </div>
      </li>
      <li>
        <a href="#" class="btn btn-round btn-icon btn-light">
          <em class="icon ni ni-edit-alt-fill"></em>
        </a>
      </li>
    </ul>
  </div>
  <div class="nk-chat-aside-body" data-simplebar="init">
    <div class="simplebar-wrapper" style="margin: 0px">
      <div class="simplebar-height-auto-observer-wrapper">
        <div class="simplebar-height-auto-observer"></div>
      </div>
      <div class="simplebar-mask">
        <div class="simplebar-offset" style="right: 0px; bottom: 0px">
          <div class="simplebar-content-wrapper" tabindex="0" role="region" aria-label="scrollable content" style="height: 100%; overflow: hidden scroll">
            <div class="simplebar-content" style="padding: 0px">
              <div class="nk-chat-aside-search">
                <div class="form-group">
                  <div class="form-control-wrap">
                    <div class="form-icon form-icon-left">
                      <em class="icon ni ni-search"></em>
                    </div>
                    <input type="text" class="form-control form-round" id="default-03" placeholder="Search by name"/>
                  </div>
                </div>
              </div>

              <div class="nk-chat-list mb-3">
                <h6 class="title overline-title-alt mb-4">Rooms</h6>
                <ul class="fav-list">
                  {% if rooms %}
                    <li class="ms-2">
                      <a href="#" class="btn btn-lg btn-icon btn-outline-light btn-white btn-round">
                        <em class="icon ni ni-plus"></em>
                      </a>
                    </li>
                    {% for room in rooms %}
                      {% if room.type == "Pb" %}
                        <li>
                          <a href="{{room.get_absolute_url}}">
                            <div class="user-avatar bg-{{room.theme}}">
                              <span>{{ room.name|generate_initials|upper }}</span>
                              <span class="status dot dot-lg dot-success"></span>
                            </div>
                          </a>
                        </li>
                      {% endif %}
                    {% endfor %}
                  {% endif %}
                </div>
                <div class="nk-chat-list">
                  <h6 class="title overline-title-alt">Networks</h6>
                  {% if my_referrals %}
                    <ul class="chat-list">
                      {% for network in my_referrals %}
                        <li class="chat-item is-unread" id="networkItem" data-network-pk="{{network.pk}}">
                          <a class="chat-link chat-open" href="#">
                            <div class="chat-media user-avatar">
                              <span>{{network.initials|default:network.full_name|generate_initials|upper}}</span>
                              <span class="status dot dot-lg dot-gray"></span>
                            </div>
                            <div class="chat-info">
                              <div class="chat-from">
                                <div class="name">{{network.full_name}}</div>
                                <span class="time">{{network.created_at|date:"h:i A"}}</span>
                              </div>
                              <div class="chat-context">
                                <div class="text">
                                  <p>
                                    Registered on
                                    <strong>{{network.user.date_joined|date:"F d, Y"}}</strong>
                                  </p>
                                </div>
                                <div class="status unread">
                                  <em class="icon ni ni-bullet-fill"></em>
                                </div>
                              </div>
                            </div>
                          </a>
                          <div class="chat-actions">
                            <div class="dropdown">
                              <a href="#" class="btn btn-icon btn-sm btn-trigger dropdown-toggle" data-bs-toggle="dropdown">
                                <em class="icon ni ni-more-h"></em>
                              </a>
                              <div class="dropdown-menu dropdown-menu-end">
                                <ul class="link-list-opt no-bdr">
                                  <li>
                                    <a href="#">Mark as Unread</a>
                                  </li>
                                  <li>
                                    <a href="#">Ignore Messages</a>
                                  </li>
                                  <li>
                                    <a href="#">Block Messages</a>
                                  </li>
                                </ul>
                              </div>
                            </div>
                          </div>
                        </li>
                      {% endfor %}
                    </ul>
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="simplebar-placeholder" style="width: auto; height: 625px"></div>
      </div>
      <div class="simplebar-track simplebar-horizontal" style="visibility: hidden">
        <div class="simplebar-scrollbar" style="
            width: 0px;
            display: none;
            transform: translate3d(0px, 0px, 0px);
          "></div>
      </div>
      <div class="simplebar-track simplebar-vertical" style="visibility: visible">
        <div class="simplebar-scrollbar" style="
            height: 266px;
            transform: translate3d(0px, 141px, 0px);
            display: block;
          "></div>
      </div>
    </div>
  </div>

  <script>
    // Store CSRF token in a JavaScript variable
    const csrfToken = '{{ csrf_token }}';

    const networks = document.querySelectorAll("#networkItem");
    const currentUser = document
      .getElementById("currentUser")
      .getAttribute("data-current-profile-user-pk");

    networks.forEach((network) => {
      network.addEventListener("click", async () => {
        const response = await fetch("/streams/create-retrieve-message/", {
          method: "GET",
          // body: JSON.stringify({network: network.getAttribute("data-network-pk"), profile_pk: currentUser})
        })

        const data = await response.json();
        console.log(data);

      });
    });
  </script>