{% load static %}

<div class="col-xl-4 col-lg-5 offset-xl-1">
  <div class="card card-bordered ms-lg-4 ms-xl-0">
    <div class="nk-iv-wg4">
      <div class="nk-iv-wg4-sub">
        <h6 class="nk-iv-wg4-title title">Investment Options</h6>
        <ul class="nk-iv-wg4-overview g-2">
          <li>
            <div class="sub-text">Referrals</div>
            <div class="lead-text">50% return </div>
          </li>
          <li>
            <div class="sub-text">Term of the scheme</div>
            <div class="lead-text">21 days</div>
          </li>
          <li>
            <div class="sub-text">Daily profit</div>
            <div class="lead-text">$ 11.99</div>
          </li>
          <li>
            <div class="sub-text">Daily profit %</div>
            <div class="lead-text">4.76 %</div>
          </li>
          <li>
            <div class="sub-text">Total net profit</div>
            <div class="lead-text">$ 249.99</div>
          </li>
          <li>
            <div class="sub-text">Total Return</div>
            <div class="lead-text">$ 499.99</div>
          </li>
          <li>
            <div class="sub-text">Term start at</div>
            <div class="lead-text">Today (12-04-2019)</div>
          </li>
          <li>
            <div class="sub-text">Term end at</div>
            <div class="lead-text">12 - 25 - 2019</div>
          </li>
        </ul>
      </div>
     
     
      {% comment %} <div class="nk-iv-wg4-sub text-center bg-lighter">
        <a class="btn btn-lg btn-primary ttu" data-bs-toggle="modal" href="#invest-plan">Confirm &amp; proceed</a>
      </div> {% endcomment %}
    </div>
  </div>
</div>
