{% load static %}

<div class="col-xl-6 col-lg-6">
  <div class="card card-bordered ms-lg-4 ms-xl-0">
    <div class="nk-iv-wg4">
      <div class="nk-iv-wg4-sub">
        <h5 class="nk-iv-wg4-title title"> Package Previleges</h5>
        <ul class="nk-iv-wg4-overview g-2">
          <li>
            <div class="sub-text"> Account-Investment pool </div>
            <div class="lead-text">Individual </div>
            <div class="lead-text">Joint </div>
            <div class="lead-text">Merchant </div>
            <div class="lead-text">Freelance </div>
          </li>
          <li>
            <h6 class="nk-iv-wg4-title title"> Plan type</h6>
          </li>
          <li>
            <div class="sub-text">Basic Account</div>
            <div class="lead-text">Earn 40% of referral commisions</div>
            <div class="lead-text" style="color: rgb(157 114 255);">50 KES</div>
          </li>
          <li>
            <div class="sub-text">Premium Account</div>
            <div class="lead-text">Earn 60% of referral commisions</div>
            <div class="lead-text" style="color: rgb(157 114 255);">200 KES</div>
          </li>
          <li>
            <h6 class="nk-iv-wg4-title title"> Income streams</h6>
          </li>
          <li>
            <div class="sub-text">Limited</div>

            <div class="lead-text">Referal commisions</div>
            <div class="lead-text">Bonuses Earning</div>
            <div class="lead-text">Buy Online Writing Accounts</div>
            <div class="lead-text">Apply for Jobs</div>
            <div class="lead-text" style="color: rgb(157 114 255);">500 KES</div>
          </li>
          <li>
            <div class="sub-text">Moderate</div>
            <div class="lead-text">ALL Limited Previleges</div>
            <div class="lead-text">Whatsapp Earnings</div>
            <div class="lead-text">Moderate use of EarnGPT to write articles and blogs</div>
            <div class="lead-text">Access investment Packages</div>
            <div class="lead-text" style="color: rgb(157 114 255);">2500 KES</div>
          </li>
          <li>
            <div class="sub-text">Unlimited</div>
            <div class="lead-text">ALL limted and Moderate Previleges</div>
            <div class="lead-text">Qualify to be a merchant</div>
            <div class="lead-text">Unlimted Investiment packages</div>
            <div class="lead-text" style="color: rgb(157 114 255);">5000 KES</div>
          </li>
          
        </ul>
      </div>
     
     
      {% comment %} <div class="nk-iv-wg4-sub text-center bg-lighter">
        <a class="btn btn-lg btn-primary ttu" data-bs-toggle="modal" href="#invest-plan">Confirm &amp; proceed</a>
      </div> {% endcomment %}
    </div>
  </div>
</div>
