<li>
  <a href="#">
    <em class="icon ni ni-share"></em>
    <span>Share</span></a>
</li>
{% if application.status == "ACCEPTED" %}
<li>
  <a {% if not application.job.is_completed %} href="#file-upload-{{application.id}}" data-bs-toggle="modal" {% else %} role="button" {% endif %}>
    <em class="icon ni ni-check-round-cut"></em>
    <span>Mark completed</span>
  </a>
</li>
{% if application.job.job_file %}
<li>
  <a href="{{application.job.job_file.url}}">
    <em class="icon ni ni-download"></em>
    <span>Download</span></a>
</li>
{% endif %}
{% endif %}


{% if application.job.is_completed %}
<li>
  <a role="button">
    <em class="icon ni ni-check-round-cut"></em>
    <span>Completed</span>
  </a>
</li>
{% endif %}
{% if application.status == "CANCELLED" %}
<li>
  <a class="link-danger link-cancel-application link-cursor-pointer" data-application-id="{{application.id}}" data-cancel-url="{{application.get_reactivation_url}}">
    <em data-application-id="{{application.id}}" class="icon ni ni-cross-circle" data-cancel-url="{{application.get_reactivation_url}}"></em>
    <span data-application-id="{{application.id}}" data-cancel-url="{{application.get_cancel_url}}">Reactivate Application</span></a>
</li>

{% else %}
<li>
  <a class="link-danger link-cancel-application link-cursor-pointer" data-application-id="{{application.id}}" data-cancel-url="{{application.get_cancel_url}}">
    <em data-application-id="{{application.id}}" class="icon ni ni-cross-circle" data-cancel-url="{{application.get_cancel_url}}"></em>
    <span data-application-id="{{application.id}}" data-cancel-url="{{application.get_cancel_url}}">Cancel Application</span></a>
</li>
{% endif %}