{% extends "account/dashboard/base.html" %}
{% load static %}
{% block content %}

<div class="nk-content nk-content-lg nk-content-fluid">
    <div class="container-xl wide-lg">
        <div class="nk-content-inner">
            <div class="nk-content-body">
                <div class="nk-block-head nk-block-head-lg">
                    <div class="nk-block-head-content">
                        <div class="nk-block-head-sub"><a href="/demo6/invest/invest.html" class="back-to"><em
                                    class="icon ni ni-arrow-left"></em><span>Back
                                    to plan</span></a></div>
                        <div class="nk-block-head-content">
                            <h2 class="nk-block-title fw-normal">Ready
                                to get
                                started?</h2>
                        </div>
                    </div>
                </div>
                <div class="nk-block invest-block">
                    <form action="#" class="invest-form">
                        <div class="row g-gs">
                            <div class="col-lg-7">
                                <div class="invest-field form-group"><input type="hidden" value="silver" name="iv-plan"
                                        id="invest-choose-plan">
                                    <div class="dropdown invest-cc-dropdown"><a href="#"
                                            class="invest-cc-chosen dropdown-indicator" data-bs-toggle="dropdown">
                                            <div class="coin-item">
                                                <div class="coin-icon"><em class="icon ni ni-offer-fill"></em></div>
                                                <div class="coin-info"><span class="coin-name">Silver
                                                        Plan</span><span class="coin-text">Invest
                                                        for 5
                                                        days and
                                                        get
                                                        daily
                                                        profit
                                                        3%</span></div>
                                            </div>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-auto dropdown-menu-mxh">
                                            <ul class="invest-cc-list">
                                                <li class="invest-cc-item selected"><a href="#" class="invest-cc-opt"
                                                        data-plan="silver">
                                                        <div class="coin-item">
                                                            <div class="coin-icon"><em
                                                                    class="icon ni ni-offer-fill"></em></div>
                                                            <div class="coin-info"><span class="coin-name">Bronze
                                                                    Plan</span><span class="coin-text">Invest
                                                                    for
                                                                    7
                                                                    days
                                                                    and
                                                                    get
                                                                    daily
                                                                    profit
                                                                    5%</span></div>
                                                        </div>
                                                    </a></li>
                                                <li class="invest-cc-item selected"><a href="#" class="invest-cc-opt"
                                                        data-plan="starter">
                                                        <div class="coin-item">
                                                            <div class="coin-icon"><em
                                                                    class="icon ni ni-offer-fill"></em></div>
                                                            <div class="coin-info"><span class="coin-name">Diamond
                                                                    Plan</span><span class="coin-text">Invest
                                                                    for
                                                                    14
                                                                    days
                                                                    and
                                                                    get
                                                                    daily
                                                                    profit
                                                                    7%</span></div>
                                                        </div>
                                                    </a></li>
                                                <li class="invest-cc-item"><a href="#" class="invest-cc-opt"
                                                        data-plan="dimond">
                                                        <div class="coin-item">
                                                            <div class="coin-icon"><em
                                                                    class="icon ni ni-offer-fill"></em></div>
                                                            <div class="coin-info"><span class="coin-name">Platinum
                                                                    Plan</span><span class="coin-text">Invest
                                                                    for
                                                                    20
                                                                    days
                                                                    and
                                                                    get
                                                                    daily
                                                                    profit
                                                                    9%</span></div>
                                                        </div>
                                                    </a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="invest-field form-group">
                                    <div class="form-label-group"><label class="form-label">Choose
                                            Quick Amount to
                                            Invest</label></div>
                                    <div class="invest-amount-group g-2">
                                        <div class="invest-amount-item"><input type="radio"
                                                class="invest-amount-control" name="iv-amount" id="iv-amount-1"><label
                                                class="invest-amount-label" for="iv-amount-1">KSH
                                                500</label></div>
                                        <div class="invest-amount-item"><input type="radio"
                                                class="invest-amount-control" name="iv-amount" id="iv-amount-2"><label
                                                class="invest-amount-label" for="iv-amount-2">KSH
                                                1000</label></div>
                                        <div class="invest-amount-item"><input type="radio"
                                                class="invest-amount-control" name="iv-amount" id="iv-amount-3"><label
                                                class="invest-amount-label" for="iv-amount-3">KSH
                                                2500</label></div>
                                        <div class="invest-amount-item"><input type="radio"
                                                class="invest-amount-control" name="iv-amount" id="iv-amount-4"><label
                                                class="invest-amount-label" for="iv-amount-4">KSH
                                                5000</label></div>
                                        <div class="invest-amount-item"><input type="radio"
                                                class="invest-amount-control" name="iv-amount" id="iv-amount-5"><label
                                                class="invest-amount-label" for="iv-amount-5">KSH
                                                10000</label></div>
                                        <div class="invest-amount-item"><input type="radio"
                                                class="invest-amount-control" name="iv-amount" id="iv-amount-6"><label
                                                class="invest-amount-label" for="iv-amount-6">KSH
                                                20000</label></div>
                                    </div>
                                </div>
                                <div class="invest-field form-group">
                                    <div class="form-label-group"><label class="form-label">Or
                                            Enter Your
                                            Amount</label>
                                        <div class="dropdown"><a href="#" class="link py-1"
                                                data-bs-toggle="dropdown">Max Amout 100,000 KSH</a>
                                            <div class="#">
                                                <ul class="link-list-plain sm text-center">
                                                                                                   
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-control-group">
                                        <div class="form-info">KSH</div><input type="text"
                                            class="form-control form-control-amount form-control-lg" id="custom-amount"
                                            value="500">
                                        <div class="form-range-slider" id="amount-step"></div>
                                    </div>
                                    <div class="form-note pt-2">Note:
                                        Minimum invest 500 ksh
                                        and upto 100,000
                                        ksh</div>
                                </div>
                                <div class="invest-field form-group">
                                    <div class="form-label-group"><label class="form-label">Choose
                                            Payment
                                            Method</label></div><input type="hidden" value="wallet" name="iv-wallet"
                                        id="invest-choose-wallet">
                                    <div class="dropdown invest-cc-dropdown"><a href="#"
                                            class="invest-cc-chosen dropdown-indicator" data-bs-toggle="dropdown">
                                            <div class="coin-item">
                                                <div class="coin-icon"><em class="icon ni ni-wallet-alt"></em></div>
                                                <div class="coin-info"><span class="coin-name">Account Balance</span><span
                                                        class="coin-text">Current
                                                        balance: 0.00</span></div>
                                            </div>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-auto dropdown-menu-mxh">
                                            <ul class="invest-cc-list">
                                                <li class="invest-cc-item selected"><a href="#" class="invest-cc-opt"
                                                        data-plan="silver">
                                                        <div class="coin-item">
                                                            <div class="coin-icon"><em
                                                                    class="icon ni ni-exchange"></em></div>
                                                            <div class="coin-info"><span
                                                                    class="coin-name">Mpesa STK Push</span><span
                                                                    class="coin-text"></span></div>
                                                        </div>
                                                    </a></li>
                                                <li class="invest-cc-item selected"><a href="#" class="invest-cc-opt"
                                                        data-plan="starter">
                                                        <div class="coin-item">
                                                            <div class="coin-icon"><em class="icon ni ni-money"></em>
                                                            </div>
                                                            <div class="coin-info"><span class="coin-name">Manual </span><span class="coin-text">Current
                                                                     </span></div>
                                                        </div>
                                                    </a></li>
                                                
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="invest-field form-group">
                                    <div class="custom-control custom-control-xs custom-checkbox"><input type="checkbox"
                                            class="custom-control-input" id="checkbox"><label
                                            class="custom-control-label" for="checkbox">I
                                            agree the <a href="#">terms
                                                and &amp;
                                                conditions.</a></label></div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-5 offset-xl-1">
                                <div class="card card-bordered ms-lg-4 ms-xl-0">
                                    <div class="nk-iv-wg4">
                                        <div class="nk-iv-wg4-sub">
                                            <h6 class="nk-iv-wg4-title title">Your
                                                Investment
                                                Details</h6>
                                            <ul class="nk-iv-wg4-overview g-2">
                                                <li>
                                                    <div class="sub-text">Name
                                                        of
                                                        scheme</div>
                                                    <div class="lead-text">Silver
                                                        Plan</div>
                                                </li>
                                                <li>
                                                    <div class="sub-text">Term
                                                        of the
                                                        scheme</div>
                                                    <div class="lead-text">7
                                                        days</div>
                                                </li>
                                                <li>
                                                    <div class="sub-text">Daily
                                                        profit</div>
                                                    <div class="lead-text">ksh
                                                        100</div>
                                                </li>
                                                <li>
                                                    <div class="sub-text">Daily
                                                        profit
                                                        %</div>
                                                    <div class="lead-text">2.76
                                                        %</div>
                                                </li>
                                                <li>
                                                    <div class="sub-text">Total
                                                        net
                                                        profit</div>
                                                    <div class="lead-text">ksh
                                                        20000</div>
                                                </li>
                                                <li>
                                                    <div class="sub-text">Total
                                                        Return</div>
                                                    <div class="lead-text">ksh
                                                        25000</div>
                                                </li>
                                                <li>
                                                    <div class="sub-text">Term
                                                        start
                                                        at</div>
                                                    <div class="lead-text">Today
                                                        (12-04-2019)</div>
                                                </li>
                                                <li>
                                                    <div class="sub-text">Term
                                                        end
                                                        at</div>
                                                    <div class="lead-text">12
                                                        - 25 -
                                                        2019</div>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="nk-iv-wg4-sub">
                                            <ul class="nk-iv-wg4-list">
                                                <li>
                                                    <div class="sub-text">Payment
                                                        Method</div>
                                                    <div class="lead-text">Account Wallet</div>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="nk-iv-wg4-sub">
                                            <ul class="nk-iv-wg4-list">
                                                <li>
                                                    <div class="sub-text">Amount
                                                        to
                                                        invest</div>
                                                    <div class="lead-text">ksh
                                                        20000.00</div>
                                                </li>
                                                <li>
                                                    <div class="sub-text">Cost
                                                        Fee
                                                        <span>(0.5%)</span>
                                                    </div>
                                                    <div class="lead-text">ksh
                                                        125</div>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="nk-iv-wg4-sub">
                                            <ul class="nk-iv-wg4-list">
                                                <li>
                                                    <div class="lead-text">Total
                                                        Charge</div>
                                                    <div class="caption-text text-primary">ksh
                                                        20125.00</div>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="nk-iv-wg4-sub text-center bg-lighter"><a
                                                class="btn btn-lg btn-primary ttu" data-bs-toggle="modal"
                                                href="#invest-plan">Confirm
                                                &amp;
                                                proceed</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}