{% extends "account/dashboard/base.html" %}
{% load static %}
{% block content %}





<div class="nk-content ">
    <div class="container-fluid">
        <div class="nk-content-inner">
            <div class="nk-content-body">
                <div class="nk-block-head nk-block-head-sm">
                    <div class="nk-block-between">
                        <div class="nk-block-head-content">
                            <h3 class="nk-block-title page-title">Jobs</h3>
                            <div class="nk-block-des text-soft">
                                <p>We have a total of 100<span>+</span> jobs.</p>
                            </div>
                        </div>
                        <div class="nk-block-head-content">
                            <div class="toggle-wrap nk-block-tools-toggle"><a href="#"
                                    class="btn btn-icon btn-trigger toggle-expand me-n1"
                                    data-target="pageMenu"><em class="icon ni ni-menu-alt-r"></em></a>
                                <div class="toggle-expand-content" data-content="pageMenu">
                                    <ul class="nk-block-tools g-3">
                                        <li>
                                            <div class="drodown"><a href="#"
                                                    class="dropdown-toggle btn btn-white btn-dim btn-outline-light"
                                                    data-bs-toggle="dropdown"><em
                                                        class="d-none d-sm-inline icon ni ni-filter-alt"></em><span>Filtered
                                                        By</span><em
                                                        class="dd-indc icon ni ni-chevron-right"></em></a>
                                                <div class="dropdown-menu dropdown-menu-end">
                                                    <ul class="link-list-opt no-bdr">
                                                        <li><a href="#"><span>Open</span></a></li>
                                                        <li><a href="#"><span>Closed</span></a></li>
                                                        
                                                    </ul>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="nk-block-tools-opt d-none d-sm-block"><a href="#"
                                                class="btn btn-primary"><em
                                                    class="icon ni ni-plus"></em><span>Add
                                                    Project</span></a></li>
                                        <li class="nk-block-tools-opt d-block d-sm-none"><a href="#"
                                                class="btn btn-icon btn-primary"><em
                                                    class="icon ni ni-plus"></em></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="nk-block">
                    <div class="row g-gs">
                        <div class="col-sm-6 col-lg-4 col-xxl-3">
                            <div class="card card-bordered h-100">
                                <div class="card-inner">
                                    <div class="project">
                                        <div class="project-head"><a href="/demo1/apps-kanban.html"
                                                class="project-title">
                                                <div class="user-avatar sq bg-purple">KE
                                                </div>
                                                <div class="project-info">
                                                    <h6 class="title">Dashlite Development</h6><span
                                                        class="sub-text">Softnio LTD</span>
                                                </div>
                                            </a>
                                            <div class="drodown"><li><a href="#" class="language-item"><img
                                                src="/demo1/images/flags/english.png" alt=""
                                                class="language-flag"><span
                                                class="language-name">Kenya</span></a></li>
                                                
                                            </div>
                                        </div>
                                        <div class="project-details">
                                            <p>
                                                Design and develop the DashLite template for Envato
                                                Marketplace.
                                                Design and develop the DashLite template for Envato
                                                Marketplace.
                                            </p>
                                        </div>
                                        <div class="project-progress">
                                            <div class="project-progress-details">
                                                <div class="project-progress-task"><em
                                                        class="icon ni ni-check-round-cut"></em><span>
                                                        Capacity Required: </span><span> 3</span></div>
                                                 
                                            </div>
                                            
                                        </div>
                                        <div class="project-meta">
                                            <div class="card card-preview">
                                                <div class="card-inner">
                                                    <ul class="preview-list ">
                                                         
                                                        <li class="preview-item"><button type="button"
                                                                class="btn btn-secondary" data-bs-toggle="modal"
                                                                data-bs-target="#modalTabs">View Job
                                                </div>
                                            </div>
                                            <span class=" badge-dim bg-grey"><em
                                                    class="icon ni ni-clock"></em>Deadline:</span><span
                                                    class="badge badge-dim bg-danger"><span>11/11/1111</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-4 col-xxl-3">
                            <div class="card card-bordered h-100">
                                <div class="card-inner">
                                    <div class="project">
                                        <div class="project-head"><a href="/demo1/apps-kanban.html"
                                                class="project-title">
                                                <div class="user-avatar sq bg-purple">TZ
                                                </div>
                                                <div class="project-info">
                                                    <h6 class="title">Dashlite Development</h6><span
                                                        class="sub-text">Softnio LTD</span>
                                                </div>
                                            </a>
                                            <div class="drodown"><li><a href="#" class="language-item"><img
                                                src="/demo1/images/flags/english.png" alt=""
                                                class="language-flag"><span
                                                class="language-name">Tanzania</span></a></li>
                                                
                                            </div>
                                        </div>
                                        <div class="project-details">
                                            <p>
                                                Design and develop the DashLite template for Envato
                                                Marketplace.
                                                Design and develop the DashLite template for Envato
                                                Marketplace.
                                            </p>
                                        </div>
                                        <div class="project-progress">
                                            <div class="project-progress-details">
                                                <div class="project-progress-task"><em
                                                        class="icon ni ni-check-round-cut"></em><span>
                                                        Capacity Required: </span><span> 13</span></div>
                                                 
                                            </div>
                                            
                                        </div>
                                        <div class="project-meta">
                                            <div class="card card-preview">
                                                <div class="card-inner">
                                                    <ul class="preview-list ">
                                                         
                                                        <li class="preview-item"><button type="button"
                                                                class="btn btn-secondary" data-bs-toggle="modal"
                                                                data-bs-target="#modalTabs">View Job
                                                </div>
                                            </div>
                                            <span class=" badge-dim bg-grey"><em
                                                    class="icon ni ni-clock"></em>Deadline:</span><span
                                                    class="badge badge-dim bg-danger"><span>11/11/1111</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-4 col-xxl-3">
                            <div class="card card-bordered h-100">
                                <div class="card-inner">
                                    <div class="project">
                                        <div class="project-head"><a href="/demo1/apps-kanban.html"
                                                class="project-title">
                                                <div class="user-avatar sq bg-purple">UG
                                                </div>
                                                <div class="project-info">
                                                    <h6 class="title">Dashlite Development</h6><span
                                                        class="sub-text">Softnio LTD</span>
                                                </div>
                                            </a>
                                            <div class="drodown"><li><a href="#" class="language-item"><img
                                                src="/demo1/images/flags/english.png" alt=""
                                                class="language-flag"><span
                                                class="language-name">Uganda</span></a></li>
                                                
                                            </div>
                                        </div>
                                        <div class="project-details">
                                            <p>
                                                Design and develop the DashLite template for Envato
                                                Marketplace.
                                                Design and develop the DashLite template for Envato
                                                Marketplace.
                                            </p>
                                        </div>
                                        <div class="project-progress">
                                            <div class="project-progress-details">
                                                <div class="project-progress-task"><em
                                                        class="icon ni ni-check-round-cut"></em><span>
                                                        Capacity Required: </span><span> 23</span></div>
                                                 
                                            </div>
                                            
                                        </div>
                                        <div class="project-meta">
                                            <div class="card card-preview">
                                                <div class="card-inner">
                                                    <ul class="preview-list ">
                                                         
                                                        <li class="preview-item"><button type="button"
                                                                class="btn btn-secondary" data-bs-toggle="modal"
                                                                data-bs-target="#modalTabs">View Job
                                                </div>
                                            </div>
                                            <span class=" badge-dim bg-grey"><em
                                                    class="icon ni ni-clock"></em>Deadline:</span><span
                                                    class="badge badge-dim bg-danger"><span>11/11/1111</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-4 col-xxl-3">
                            <div class="card card-bordered h-100">
                                <div class="card-inner">
                                    <div class="project">
                                        <div class="project-head"><a href="/demo1/apps-kanban.html"
                                                class="project-title">
                                                <div class="user-avatar sq bg-purple">RW
                                                </div>
                                                <div class="project-info">
                                                    <h6 class="title">Dashlite Development</h6><span
                                                        class="sub-text">Softnio LTD</span>
                                                </div>
                                            </a>
                                            <div class="drodown"><li><a href="#" class="language-item"><img
                                                src="/demo1/images/flags/english.png" alt=""
                                                class="language-flag"><span
                                                class="language-name">Rwanda</span></a></li>
                                                
                                            </div>
                                        </div>
                                        <div class="project-details">
                                            <p>
                                                Design and develop the DashLite template for Envato
                                                Marketplace.
                                                Design and develop the DashLite template for Envato
                                                Marketplace.
                                            </p>
                                        </div>
                                        <div class="project-progress">
                                            <div class="project-progress-details">
                                                <div class="project-progress-task"><em
                                                        class="icon ni ni-check-round-cut"></em><span>
                                                        Capacity Required: </span><span> 83</span></div>
                                                 
                                            </div>
                                            
                                        </div>
                                        <div class="project-meta">
                                            <div class="card card-preview">
                                                <div class="card-inner">
                                                    <ul class="preview-list ">
                                                         
                                                        <li class="preview-item"><button type="button"
                                                                class="btn btn-secondary" data-bs-toggle="modal"
                                                                data-bs-target="#modalTabs">View Job
                                                </div>
                                            </div>
                                            <span class=" badge-dim bg-grey"><em
                                                    class="icon ni ni-clock"></em>Deadline:</span><span
                                                    class="badge badge-dim bg-danger"><span>11/11/1111</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-4 col-xxl-3">
                            <div class="card card-bordered h-100">
                                <div class="card-inner">
                                    <div class="project">
                                        <div class="project-head"><a href="/demo1/apps-kanban.html"
                                                class="project-title">
                                                <div class="user-avatar sq bg-purple">GHS
                                                </div>
                                                <div class="project-info">
                                                    <h6 class="title">Dashlite Development</h6><span
                                                        class="sub-text">Softnio LTD</span>
                                                </div>
                                            </a>
                                            <div class="drodown"><li><a href="#" class="language-item"><img
                                                src="/demo1/images/flags/english.png" alt=""
                                                class="language-flag"><span
                                                class="language-name">Ghana</span></a></li>
                                                
                                            </div>
                                        </div>
                                        <div class="project-details">
                                            <p>
                                                Design and develop the DashLite template for Envato
                                                Marketplace.
                                                Design and develop the DashLite template for Envato
                                                Marketplace.
                                            </p>
                                        </div>
                                        <div class="project-progress">
                                            <div class="project-progress-details">
                                                <div class="project-progress-task"><em
                                                        class="icon ni ni-check-round-cut"></em><span>
                                                        Capacity Required: </span><span> 3</span></div>
                                                 
                                            </div>
                                            
                                        </div>
                                        <div class="project-meta">
                                            <div class="card card-preview">
                                                <div class="card-inner">
                                                    <ul class="preview-list ">
                                                         
                                                        <li class="preview-item"><button type="button"
                                                                class="btn btn-secondary" data-bs-toggle="modal"
                                                                data-bs-target="#modalTabs">View Job
                                                </div>
                                            </div>
                                            <span class=" badge-dim bg-grey"><em
                                                    class="icon ni ni-clock"></em>Deadline:</span><span
                                                    class="badge badge-dim bg-danger"><span>11/11/1111</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-4 col-xxl-3">
                            <div class="card card-bordered h-100">
                                <div class="card-inner">
                                    <div class="project">
                                        <div class="project-head"><a href="/demo1/apps-kanban.html"
                                                class="project-title">
                                                <div class="user-avatar sq bg-purple">KE
                                                </div>
                                                <div class="project-info">
                                                    <h6 class="title">Dashlite Development</h6><span
                                                        class="sub-text">Softnio LTD</span>
                                                </div>
                                            </a>
                                            <div class="drodown"><li><a href="#" class="language-item"><img
                                                src="/demo1/images/flags/english.png" alt=""
                                                class="language-flag"><span
                                                class="language-name">Kenya</span></a></li>
                                                
                                            </div>
                                        </div>
                                        <div class="project-details">
                                            <p>
                                                Design and develop the DashLite template for Envato
                                                Marketplace.
                                                Design and develop the DashLite template for Envato
                                                Marketplace.
                                            </p>
                                        </div>
                                        <div class="project-progress">
                                            <div class="project-progress-details">
                                                <div class="project-progress-task"><em
                                                        class="icon ni ni-check-round-cut"></em><span>
                                                        Capacity Required: </span><span> 3</span></div>
                                                 
                                            </div>
                                            
                                        </div>
                                        <div class="project-meta">
                                            <div class="card card-preview">
                                                <div class="card-inner">
                                                    <ul class="preview-list ">
                                                         
                                                        <li class="preview-item"><button type="button"
                                                                class="btn btn-secondary" data-bs-toggle="modal"
                                                                data-bs-target="#modalTabs">View Job
                                                </div>
                                            </div>
                                            <span class=" badge-dim bg-grey"><em
                                                    class="icon ni ni-clock"></em>Deadline:</span><span
                                                    class="badge badge-dim bg-danger"><span>11/11/1111</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-4 col-xxl-3">
                            <div class="card card-bordered h-100">
                                <div class="card-inner">
                                    <div class="project">
                                        <div class="project-head"><a href="/demo1/apps-kanban.html"
                                                class="project-title">
                                                <div class="user-avatar sq bg-purple">KE
                                                </div>
                                                <div class="project-info">
                                                    <h6 class="title">Dashlite Development</h6><span
                                                        class="sub-text">Softnio LTD</span>
                                                </div>
                                            </a>
                                            <div class="drodown"><li><a href="#" class="language-item"><img
                                                src="/demo1/images/flags/english.png" alt=""
                                                class="language-flag"><span
                                                class="language-name">Kenya</span></a></li>
                                                
                                            </div>
                                        </div>
                                        <div class="project-details">
                                            <p>
                                                Design and develop the DashLite template for Envato
                                                Marketplace.
                                                Design and develop the DashLite template for Envato
                                                Marketplace.
                                            </p>
                                        </div>
                                        <div class="project-progress">
                                            <div class="project-progress-details">
                                                <div class="project-progress-task"><em
                                                        class="icon ni ni-check-round-cut"></em><span>
                                                        Capacity Required: </span><span> 3</span></div>
                                                 
                                            </div>
                                            
                                        </div>
                                        <div class="project-meta">
                                            <div class="card card-preview">
                                                <div class="card-inner">
                                                    <ul class="preview-list ">
                                                         
                                                        <li class="preview-item"><button type="button"
                                                                class="btn btn-secondary" data-bs-toggle="modal"
                                                                data-bs-target="#modalTabs">View Job
                                                </div>
                                            </div>
                                            <span class=" badge-dim bg-grey"><em
                                                    class="icon ni ni-clock"></em>Deadline:</span><span
                                                    class="badge badge-dim bg-danger"><span>11/11/1111</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--use hii tab-->
<div class="modal fade" tabindex="-1" role="dialog" id="modalTabs">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content"><a href="#" class="close" data-bs-dismiss="modal"><em
                    class="icon ni ni-cross-sm"></em></a>
            <div class="modal-body modal-body-md">
                <h4 class="title">Job Profile</h4>
                <ul class="nk-nav nav nav-tabs">
                    <li class="nav-item"><a class="nav-link active" data-bs-toggle="tab" href="#tabItem1">Job Details</a></li>
                    <li class="nav-item"><a class="nav-link" data-bs-toggle="tab" href="#tabItem2">Application  </a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="tabItem1">
                        <h6 class="title">Job Details</h6>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Porro numquam distinctio ab
                            cupiditate veniam a aperiam architecto perspiciatis quidem provident!</p>
                        <p><strong>Debitis ullam impedit</strong>, dolore architecto porro doloremque eum magni
                            dolorum.</p>
                    </div>
                    <div class="tab-pane" id="tabItem2">
                        <h6 class="title">Application</h6>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Porro numquam distinctio ab
                            cupiditate veniam a aperiam architecto perspiciatis quidem provident!</p>
                        <p><strong>Debitis ullam impedit</strong>, dolore architecto porro doloremque eum magni
                            dolorum.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock content %}