{% extends "account/dashboard/base.html" %}
{% load static humanize dashboard_tags %}
{% block content %}

  <div class="nk-content nk-content-lg nk-content-fluid">
    <div class="container-xl wide-lg">
      <div class="nk-content-inner">
        <div class="nk-content-body">
          <div class="nk-block-head">
            <div class="nk-block-head-content">
              <div class="nk-block-head-sub">
                <a href="{% url 'dashboard:invest:plans' %}" class="text-soft back-to">
                  <em class="icon ni ni-arrow-left"></em>
                  <span>My Investment</span>
                </a>
              </div>
              <div class="nk-block-between-md g-4">
                <div class="nk-block-head-content">
                  <h2 class="nk-block-title fw-normal">{{plan.type.type|title}}
                    - Daily
                    {{plan.percentage_return}}% Interest Return</h2>
                  <div class="nk-block-des">
                    <p>INV-{{plan.sku}}
                      {% if plan.status == "RUNNING" %}
                        <span class="badge bg-outline bg-primary">{{plan.get_status_display}}</span>
                      {% else %}
                        <span class="badge bg-outline bg-danger">{{plan.get_status_display}}</span>
                      {% endif %}
                    </p>
                  </div>
                </div>
                <div class="nk-block-head-content">
                  <ul class="nk-block-tools gx-3">
                    <li>
                      {% if plan.status == "RUNNING" %}
                        <button {% if available_amount <= 0.00 %} disabled="disabled" {% else %} data-bs-toggle="modal" data-bs-dismiss="modal" data-bs-target="#withdrawalPopupForm" {% endif %} class="btn btn-primary">
                          <span>Withdraw</span>
                          <em class="icon ni ni-arrow-long-right d-none d-sm-inline-block"></em>
                        </button>
                      {% elif plan.status == "CANCELLED" %}
                        <button {% if available_amount <= 0.00 %} disabled="disabled" {% else %} data-bs-toggle="modal" data-bs-dismiss="modal" data-bs-target="#withdrawalInactivePopup" {% endif %} class="btn btn-primary">
                          <span>Withdraw</span>
                          <em class="icon ni ni-arrow-long-right d-none d-sm-inline-block"></em>
                        </button>

                      {% endif %}
                    </li>
                    <li class="order-md-last">
                      {% if plan.status == "RUNNING" %}
                        <button data-bs-toggle="modal" data-bs-dismiss="modal" data-bs-target="#deletePlanPopup" class="btn btn-danger">
                          <em class="icon ni ni-cross"></em>
                          <span>Cancel this plan</span>
                        </button>
                      {% endif %}
                    </li>

                    <li>
                      {% if plan.status == "CANCELLED" %}
                        <button onclick="window.location.reload()" class="btn btn-icon btn-light">
                          <em class="icon ni ni-reload"></em>
                        </button>
                      {% endif %}
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="nk-block">
            <div class="card card-bordered">
              <div class="card-inner">
                <div class="row gy-gs">
                  <div class="col-md-6">
                    <div class="nk-iv-wg3">
                      <div class="nk-iv-wg3-group flex-lg-nowrap gx-4">
                        <div class="nk-iv-wg3-sub">
                          <div class="nk-iv-wg3-amount">
                            <div class="number">{{plan.type.price|floatformat:2|intcomma}}
                              KES</div>
                          </div>
                          <div class="nk-iv-wg3-subtitle">Invested Amount</div>
                        </div>
                        <div class="nk-iv-wg3-sub">
                          <span class="nk-iv-wg3-plus text-soft">
                            <em class="icon ni ni-plus"></em>
                          </span>
                          <div class="nk-iv-wg3-amount">
                            <div class="number">{{plan.interest_return}}
                              <span class="number-up">{{plan.percentage_return}}
                                %</span></div>
                          </div>
                          <div class="nk-iv-wg3-subtitle">Profit Earned</div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6 col-lg-4 offset-lg-2">
                    <div class="nk-iv-wg3 ps-md-3">
                      <div class="nk-iv-wg3-group flex-lg-nowrap gx-4">
                        <div class="nk-iv-wg3-sub">
                          <div class="nk-iv-wg3-amount">
                            <div class="number">{{plan.account.withdrawable_investment|floatformat:2|intcomma}}
                              KES
                              <span class="number-down">{{plan.account.obtain_total_investment|floatformat:2|intcomma}}
                                <em class="icon ni ni-info-fill" data-bs-toggle="tooltip" data-bs-placement="right" title="Invested amount"></em></span></div>
                          </div>
                          <div class="nk-iv-wg3-subtitle">Total Withdrawable</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div id="schemeDetails" class="nk-iv-scheme-details">
                <ul class="nk-iv-wg3-list">
                  <li>
                    <div class="sub-text">Term</div>
                    <div class="lead-text">Unlimited</div>
                  </li>
                  <li>
                    <div class="sub-text">Term start at</div>
                    <div class="lead-text">{{plan.created_at}}</div>
                  </li>
                  <li>
                    <div class="sub-text">Term end at</div>
                    <div class="lead-text">-</div>
                  </li>
                  <li>
                    <div class="sub-text">Daily interest</div>
                    <div class="lead-text">{{plan.percentage_return}}%</div>
                  </li>
                </ul>
                <ul class="nk-iv-wg3-list">
                  <li>
                    <div class="sub-text">Ordered date</div>
                    <div class="lead-text">{{plan.updated_at}}</div>
                  </li>
                  <li>
                    <div class="sub-text">Approved date</div>
                    <div class="lead-text">{{plan.updated_at}}</div>
                  </li>
                  <li>
                    <div class="sub-text">Payment method</div>
                    <div class="lead-text">{{plan.payment_method}}</div>
                  </li>
                  <li>
                    <div class="sub-text">Paid
                      <small>(fee include)</small>
                    </div>
                    <div class="lead-text">
                      <span class="currency currency-usd">KES</span>
                      {{plan.account.obtain_total_investment|floatformat:2|intcomma}}
                    </div>
                  </li>
                </ul>
                <ul class="nk-iv-wg3-list">
                  <li>
                    <div class="sub-text">Captial invested</div>
                    <div class="lead-text">
                      <span class="currency currency-usd">KES</span>
                      {{plan.type.price|floatformat:2|intcomma}}
                      KES</div>
                  </li>
                  <li>
                    <div class="sub-text">Daily profit</div>
                    <div class="lead-text">
                      <span class="currency currency-usd">KES</span>
                      {{plan.interest_return|floatformat:2|intcomma}}
                    </div>
                  </li>
                  <li>
                    <div class="sub-text">Net profit</div>
                    <div class="lead-text">
                      <span class="currency currency-usd">KES</span>
                      {{plan.interest_return|floatformat:2|intcomma}}
                    </div>
                  </li>
                  <li>
                    <div class="sub-text">Total balance</div>
                    <div class="lead-text">
                      <span class="currency currency-usd">KES</span>
                      {{plan.account.balance|floatformat:2|intcomma}}
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="nk-block nk-block-lg">
            <div class="nk-block-head">
              <h5 class="nk-block-title">Earning Schemes</h5>
            </div>
            <div class="row g-gs">
              <div class="col-lg-5">
                <div class="card card-bordered h-100">
                  <div class="card-inner justify-center text-center h-100">
                    <div class="nk-iv-wg5">
                      <div class="nk-iv-wg5-head">
                        <h5 class="nk-iv-wg5-title">WhatsApp View</h5>
                        <div class="nk-iv-wg5-subtitle">Earn so far
                          <strong>0.00</strong>
                          <span class="currency currency-usd">KES</span></div>
                      </div>
                      <div class="nk-iv-wg5-ck"><input type="text" class="knob-half" value="0.00" data-fgcolor="#6576ff" data-bgcolor="#d9e5f7" data-thickness=".07" data-width="240" data-height="125" data-displayinput="false">
                        <div class="nk-iv-wg5-ck-result">
                          <div class="text-lead">0.0%</div>
                          <div class="text-sub">1 bob / per view</div>
                        </div>
                        <div class="nk-iv-wg5-ck-minmax">
                          <span>0.00</span><span>100.00</span></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg col-sm-6">
                <div class="card card-bordered h-100">
                  <div class="card-inner justify-center text-center h-100">
                    <div class="nk-iv-wg5">
                      <div class="nk-iv-wg5-head">
                        <h5 class="nk-iv-wg5-title">Referral Earnings</h5>
                        <div class="nk-iv-wg5-subtitle">Earn so far
                          <strong>{{referral_earnings}}</strong>
                          <span class="currency currency-usd">KES</span></div>
                      </div>
                      <div class="nk-iv-wg5-ck sm"><input type="text" class="knob-half" value="0.0" data-fgcolor="#33d895" data-bgcolor="#d9e5f7" data-thickness=".07" data-width="240" data-height="125" data-displayinput="false">
                        <div class="nk-iv-wg5-ck-result">
                          <div class="text-lead sm">0.0%</div>
                          <div class="text-sub">Income profit</div>
                        </div>
                        <div class="nk-iv-wg5-ck-minmax">
                          <span>0.00</span><span>0.00</span></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg col-sm-6">
                <div class="card card-bordered h-100">
                  <div class="card-inner justify-center text-center h-100">
                    <div class="nk-iv-wg5">
                      <div class="nk-iv-wg5-head">
                        <h5 class="nk-iv-wg5-title">Remote Tasks</h5>
                        <div class="nk-iv-wg5-subtitle">Earn so far
                          <strong>0.00</strong>
                          <span class="currency currency-usd">KES</span></div>
                      </div>
                      <div class="nk-iv-wg5-ck sm"><input type="text" class="knob-half" value="0.0" data-fgcolor="#816bff" data-bgcolor="#d9e5f7" data-thickness=".07" data-width="240" data-height="125" data-displayinput="false">
                        <div class="nk-iv-wg5-ck-result">
                          <div class="text-lead sm">0</div>
                          <div class="text-sub">Task Done</div>
                        </div>
                        <div class="nk-iv-wg5-ck-minmax">
                          <span>0</span><span>0</span></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          {% if transactions %}
            <div class="nk-block nk-block-lg">
              <div class="nk-block-head">
                <div class="row">
                  <div class="col-sm-8">
                    <h5 class="nk-block-title">Transactions</h5>
                  </div>

                  <div class="col-sm-4">
                    <div class="form-group">
                      <div class="form-control-wrap">
                        <select class="form-select form-control" aria-hidden="true" id="transactionFilter" name="type_of_transaction">
                          <option value="All" selected="selected">All Transactions</option>
                          <option value="DEPOSIT">Deposit</option>
                          <option value="WITHDRAWAL">Withdrawal</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card card-bordered">
                <table class="table table-iv-tnx">
                  <thead class="table-light">
                    <tr>
                      <th class="tb-col-type">
                        <span class="overline-title">Type</span></th>
                      <th class="tb-col-time tb-col-end">
                        <span class="overline-title">Date</span></th>
                      <th class="tb-col-time tb-col-end">
                        <span class="overline-title">Source</span></th>
                      <th class="tb-col-time tb-col-end">
                        <span class="overline-title">Amount</span></th>
                    </tr>
                  </thead>
                  {% include "account/dashboard/investment/partials/transactions.html" %}
                </table>
              </div>
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>

{% endblock content %}

{% block modals %}

  <div class="modal fade" id="withdrawalPopupForm" aria-modal="true" role="dialog">
    <div class="modal-dialog modal-md" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Withdrawal Form</h5>
          <a href="#" role="button" onclick="window.location.reload()" class="close" data-bs-dismiss="modal" aria-label="Close">
            <em class="icon ni ni-cross"></em>
          </a>
        </div>
        <div class="modal-body">
          {% include "account/dashboard/investment/components/schemes/withdrawal_form.html" %}
        </div>
      </div>
    </div>
  </div>

  <script>
    const submitBtn = document.getElementById("updateEvent")
    const swapArea = document.getElementById("id_available_amount")

    function handleSubmit() {

      const errorId = document.querySelector("span.errorlist")
      const successId = document.querySelector("span.text-success")

      if (errorId) {
        submitBtn.setAttribute("disabled", "disabled")
      }
      if (successId) {
        if (submitBtn.getAttribute("disabled")) {
          submitBtn.removeAttribute("disabled")
        }
      }
    }
    swapArea.addEventListener('htmx:afterSwap', function (event) {

      handleSubmit()
    });

    document.addEventListener('DOMContentLoaded', function () {
      const form = document.getElementById('withdrawalForm'); // Ensure your form has this ID

      form.addEventListener('submit', function (event) {
        event.preventDefault(); // Prevent the default form submission

        const formData = new FormData(form);

        fetch('/htmx/account/withdrawal/', { // Replace with the actual URL endpoint
          method: 'POST',
          body: formData
        })
          .then(response => response.json())
          .then(data => {
            if (data.success) {
              alert('Withdrawal Initiated Successfully!');
            } else {
              // Handle errors, display them on the form
              console.error('Errors:', data);
              alert('Failed to process withdrawal: ' + JSON.stringify(data));
            }
          })
          .catch(error => {
            console.error('Error:', error);
            alert('An error occurred. Please try again.');
          })
          . finally(window.location.reload());
      });

      const cancelPlanForm = document.getElementById("cancel-plan-form");

      cancelPlanForm.addEventListener('submit', function (event) {
        event.preventDefault(); // Prevent the default form submission

        const formData = new FormData(cancelPlanForm);

        fetch("/htmx/account/cancel-plan/", {
          method: 'POST',
          body: formData
        })
          .then(response => response.json())
          .then(data => {
            if (data.success) {
              alert('Plan Cancelled Successfully!');
            } else {
              // Handle errors, display them on the form
              console.error('Errors:', data);
              alert('Failed to process withdrawal: ' + JSON.stringify(data));
            }
          })
          .catch(error => {
            console.error('Error:', error);
            alert('An error occurred. Please try again.');
          })
          . finally(() => {
            window
              .location
              .reload();
          });

      });

    })
  </script>

  <div class="modal fade" id="deletePlanPopup" aria-modal="true" role="dialog">
    <div class="modal-dialog modal-md" role="document">
      <div class="modal-content">
        <div id="preview-event-header" class="modal-header fc-event-danger">
          <h5 id="preview-event-title" class="modal-title">Your are about to cancel this plan</h5>
          <a role="button" onclick="window.location.reload()" class="close" data-bs-dismiss="modal" aria-label="Close">
            <em class="icon ni ni-cross"></em>
          </a>
        </div>
        <div class="modal-body">
          <form action="#" method="post" id="cancel-plan-form">
            <div class="row gy-3 py-1">
              <div class="col-12">
                <div class="form-group">
                  <label class="form-label">Type
                    <strong class="overline-title">{{plan.type}}</strong>
                    to confirm cancellation</label>
                  <div class="form-control-wrap">
                    {{cancel_plan_form.plan}}
                    <small id="plan-type-from-db"></small>
                  </div>
                </div>
              </div>
              <div class="col-sm-12" id="preview-event-description-check">
                <p id="preview-event-description">
                  Cancelling this plan means you wont earn from it. Reactivate later.</p>
              </div>
            </div>
            <ul class="d-flex justify-content-between gx-4 mt-3">
              <li>
                <button type="submit" class="btn btn-primary" id="cancel-plan-btn">Confirm cancellation</button>
              </li>
            </ul>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="withdrawalInactivePopup" aria-modal="true" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-body modal-body-lg text-center">
          <div class="nk-modal py-4">
            <em class="nk-modal-icon icon icon-circle icon-circle-xxl ni ni-cross bg-danger"></em>
            <h4 class="nk-modal-title">Inactive Plan</h4>
            <div class="nk-modal-text mt-n2">
              <p class="text-soft">Please not you cannot withdraw for a plan that is cancelled</p>
            </div>
            <ul class="d-flex justify-content-center gx-4 mt-4">
              <li>
                <button data-bs-dismiss="modal" data-bs-toggle="modal" data-bs-target="#reactivatePlanPopup" class="btn btn-success">Reactivate plan to proceed</button>
              </li>
              <li>
                <button data-bs-dismiss="modal" data-bs-toggle="modal" data-bs-target="#editEventPopup" class="btn btn-danger btn-dim">Cancel</button>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="reactivatePlanPopup" aria-modal="true" role="dialog">
    <div class="modal-dialog modal-md" role="document">
      <div class="modal-content">
        <div id="preview-event-header" class="modal-header fc-event-info">
          <h5 id="preview-event-title" class="modal-title">Reactivate Plan
            {{plan.type}}</h5>
          <a href="#" class="close" data-bs-dismiss="modal" aria-label="Close">
            <em class="icon ni ni-cross"></em>
          </a>
        </div>
        <div class="modal-body">
          <div class="row gy-3 py-1">
            <div class="col-sm-6">
              <h6 class="overline-title">Creation Date</h6>
              <p id="preview-event-start">{{plan.created_at}}</p>
            </div>

            <div class="col-sm-10" id="preview-event-description-check">
              <h6 class="overline-title">Reactivate Plan</h6>
              <p id="preview-event-description">By reactivating you get acces to all your funds in this plan</p>
            </div>
          </div>
          <ul class="d-flex justify-content-between gx-4 mt-3">
            <li>
              <button data-plan-pk="{{plan.id}}" data-user-pk="{{request.user.profile_user.pk}}" id="reactivate-plan" class="btn btn-primary">Reactivate Plan</button>
            </li>
            <li>
              <button onclick="window.location.reload()" class="btn btn-danger btn-dim">Cancel</button>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <script>
    const reactivateBtn = document.getElementById("reactivate-plan")

    function handlePlanReactivation(e) {
        e.preventDefault()
        const planId = e
            .target
            .getAttribute("data-plan-pk")
        const userId = e
            .target
            .getAttribute("data-user-pk")
        // send the plan id to the user using a get request to retrive the pla id and the associated user
        fetch(`/htmx/account/reactivate-plan/${planId}/${userId}/`, {
                method: "POST"
            })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    console.log(data)
                    alert('Plan Reactivated Successfully!');
                } else {
                    // Handle errors, display them on the form
                    console.error('Errors:', data);
                    alert('Failed to process reactivation: ' + JSON.stringify(data));
                }
            })
            .catch(error => {
                console.error('Error:', error);
                alert('An error occurred. Please try again.');
            })
            .finally(() => {
                window
                    .location
                    .reload();
            });

    }

    reactivateBtn.addEventListener("click", (e) => {
        handlePlanReactivation(e)
    })

    const transactionFilter = document.getElementById("transactionFilter")

    function formatDate(dateString) {
        const d = new Date(dateString)
        const months = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];
        const month = months[d.getMonth()];
        const days = ["Sun", "Mon", "Tue", "Wed", "Thu", "Fri", "Sat"];
        const day = days[d.getDay()];
        const year = d.getFullYear()
        return `${month}, ${day} ${year}`
    }

    transactionFilter.addEventListener("change", async (e) => {
        if (e.target.value == 'All') {
            window.location.reload();
        } else {
            const response = await fetch(`{% url 'transactions:filter-transaction' %}?type_of_transaction=${e.target.value}`);
            const data = await response.json();

            const table = document.getElementById("transaction-table-list");
            table.innerHTML = ''; // Clear existing rows

            data.transactions.map(row => {
                const tr = document.createElement('tr');
                tr.innerHTML = `
                <td class="tb-col-type"><span class="sub-text">${row.type}</span></td>
                <td class="tb-col-time tb-col-end"><span class="sub-text">${formatDate(row.created_at)}</span></td>
                <td class="tb-col-date tb-col-end"><span class="sub-text">${row.source}</span></td>
                <td class="tb-col-time tb-col-end">
              ${row.type === "DEPOSIT" ? 
                `<span class="lead-text text-success">${parseFloat(row.amount).toFixed(2)} KES</span>` : 
                `<span class="lead-text text-danger">-${parseFloat(row.amount).toFixed(2)} KES</span>`
              }
            </td>
          `;
                table.appendChild(tr);
            });
        }
    });
</script>

{% endblock modals %}