{% extends "account/dashboard/base.html" %}
{% load static %}
{% block content %}

  <div class="nk-content nk-content-lg nk-content-fluid">
    <div class="container-xl wide-lg">
      <div class="nk-content-inner">
        <div class="nk-content-body">
          <div class="nk-block-head">
            <div class="nk-block-head-content">
              <div class="nk-block-head-sub">
                <span>My Plan</span></div>
              <div class="nk-block-between-md g-4">
                <div class="nk-block-head-content">
                  <h2 class="nk-block-title fw-normal">Invested Schemes</h2>
                  <div class="nk-block-des">
                    <p>Here is your current balance and your active investement plans.</p>
                  </div>
                </div>
                <div class="nk-block-head-content">
                  <ul class="nk-block-tools gx-3">
                    <li>
                      <button {% if available_amount <= 0.00 %} disabled="disabled" {% endif %} class="btn btn-primary">
                        <span>Withdraw</span>
                        <em class="icon ni ni-arrow-long-right d-none d-sm-inline-block"></em>
                      </button>
                    </li>
                    <li>
                      <a href="#" class="btn btn-white btn-light">
                        <span>Invest More</span>
                        <em class="icon ni ni-arrow-long-right d-none d-sm-inline-block"></em>
                      </a>
                    </li>
                    <li class="opt-menu-md dropdown">
                      <a href="#" class="btn btn-white btn-light btn-icon" data-bs-toggle="dropdown">
                        <em class="icon ni ni-setting"></em>
                      </a>
                      <div class="dropdown-menu dropdown-menu-end">
                        <ul class="link-list-opt no-bdr">
                          <li>
                            <a href="#">
                              <em class="icon ni ni-coin-alt"></em>
                              <span>Curreny Settings</span></a>
                          </li>
                          <li>
                            <a href="#">
                              <em class="icon ni ni-notify"></em>
                              <span>Push Notification</span></a>
                          </li>
                        </ul>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>

          {% include "account/dashboard/investment/components/schemes/stats.html" %}

          {% if active_plans %}
            <div class="nk-block nk-block-lg">
              <div class="nk-block-head-sm">
                <div class="nk-block-head-content">
                  <h5 class="nk-block-title">Active Plan
                    <span class="count text-base">({{active_plans.count}})</span></h5>
                </div>
              </div>
            </div>

            {% include "account/dashboard/investment/components/schemes/active.html" %}
          {% endif %}

        </div>

      </div>
    </div>
  </div>

{% endblock content %}
