{% extends "account/dashboard/base.html" %}
{% load static %}
{% block content %}


<div class="nk-content ">
    <div class="container-fluid">
        <div class="nk-content-inner">
            <div class="nk-content-body">
                <div class="nk-block-head nk-block-head-sm">
                    <div class="nk-block-between">
                        <div class="nk-block-head-content">
                            <h3 class="nk-block-title page-title">Referal Users Lists</h3>
                            <div class="nk-block-des text-soft">
                                <p>You referred a total of 595 users.</p>
                            </div>
                        </div>
                        <div class="nk-block-head-content">
                            <div class="toggle-wrap nk-block-tools-toggle"><a href="#"
                                    class="btn btn-icon btn-trigger toggle-expand me-n1" data-target="pageMenu"><em
                                        class="icon ni ni-menu-alt-r"></em></a>
                                <div class="toggle-expand-content" data-content="pageMenu">
                                    <ul class="nk-block-tools g-3">
                                        <li><a href="#" class="btn btn-white btn-outline-light"><em
                                                    class="icon ni ni-clipboard"></em><span>Referal Link</span></a>
                                        </li>
                                        <li class="nk-block-tools-opt">
                                            <div class="drodown"><a href="#"
                                                    class="dropdown-toggle btn btn-icon btn-primary"
                                                    data-bs-toggle="dropdown"><em class="icon ni ni-plus"></em></a>
                                                <div class="dropdown-menu dropdown-menu-end">
                                                    <ul class="link-list-opt no-bdr">
                                                        <li><a href="#"><span>Refer Member</span></a></li>

                                        </li>
                                    </ul>
                                </div>
                            </div>
                            </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="nk-block">
            <div class="card card-bordered card-stretch">
                <div class="card-inner-group">
                    <div class="card-inner position-relative card-tools-toggle">
                        <div class="card-title-group">

                            <div class="card-tools me-n1">
                                <ul class="btn-toolbar gx-1">
                                    <li><a href="#" class="btn btn-icon search-toggle toggle-search"
                                            data-target="search"><em class="icon ni ni-search"></em></a></li>
                                    <li class="btn-toolbar-sep"></li>
                                    <li>
                                        <div class="toggle-wrap"><a href="#" class="btn btn-icon btn-trigger toggle"
                                                data-target="cardTools"><em class="icon ni ni-menu-right"></em></a>
                                            <div class="toggle-content" data-content="cardTools">
                                                <ul class="btn-toolbar gx-1">
                                                    <li class="toggle-close"><a href="#"
                                                            class="btn btn-icon btn-trigger toggle"
                                                            data-target="cardTools"><em
                                                                class="icon ni ni-arrow-left"></em></a>
                                                    </li>
                                                    <li>
                                                        <div class="dropdown"><a href="#"
                                                                class="btn btn-trigger btn-icon dropdown-toggle"
                                                                data-bs-toggle="dropdown">
                                                                <div class="dot dot-primary">
                                                                </div><em class="icon ni ni-filter-alt"></em>
                                                            </a>
                                                            <div
                                                                class="filter-wg dropdown-menu dropdown-menu-xl dropdown-menu-end">
                                                                <div class="dropdown-head"><span
                                                                        class="sub-title dropdown-title">Filter
                                                                        Users</span>
                                                                    <div class="dropdown"><a href="#"
                                                                            class="btn btn-sm btn-icon"><em
                                                                                class="icon ni ni-more-h"></em></a>
                                                                    </div>
                                                                </div>
                                                                <div class="dropdown-body dropdown-body-rg">
                                                                    <div class="row gx-6 gy-3">
                                                                        <div class="col-6">
                                                                            <div
                                                                                class="custom-control custom-control-sm custom-checkbox">
                                                                                <input type="checkbox"
                                                                                    class="custom-control-input"
                                                                                    id="hasBalance"><label
                                                                                    class="custom-control-label"
                                                                                    for="hasBalance">
                                                                                    Have
                                                                                    Balance</label>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-6">
                                                                            <div
                                                                                class="custom-control custom-control-sm custom-checkbox">
                                                                                <input type="checkbox"
                                                                                    class="custom-control-input"
                                                                                    id="hasKYC"><label
                                                                                    class="custom-control-label"
                                                                                    for="hasKYC">
                                                                                    KYC
                                                                                    Verified</label>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-6">
                                                                            <div class="form-group">
                                                                                <label
                                                                                    class="overline-title overline-title-alt">Role</label><select
                                                                                    class="form-select js-select2">
                                                                                    <option value="any">
                                                                                        Any Role
                                                                                    </option>
                                                                                    <option value="investor">
                                                                                        Investor
                                                                                    </option>
                                                                                    <option value="seller">
                                                                                        Seller
                                                                                    </option>
                                                                                    <option value="buyer">
                                                                                        Buyer
                                                                                    </option>
                                                                                </select>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-6">
                                                                            <div class="form-group">
                                                                                <label
                                                                                    class="overline-title overline-title-alt">Status</label><select
                                                                                    class="form-select js-select2">
                                                                                    <option value="any">
                                                                                        Any
                                                                                        Status
                                                                                    </option>
                                                                                    <option value="active">
                                                                                        Active
                                                                                    </option>
                                                                                    <option value="pending">
                                                                                        Pending
                                                                                    </option>
                                                                                    <option value="suspend">
                                                                                        Suspend
                                                                                    </option>
                                                                                    <option value="deleted">
                                                                                        Deleted
                                                                                    </option>
                                                                                </select>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-12">
                                                                            <div class="form-group">
                                                                                <button type="button"
                                                                                    class="btn btn-secondary">Filter</button>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="dropdown-foot between">
                                                                    <a class="clickable" href="#">Reset
                                                                        Filter</a><a href="#">Save Filter</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="dropdown"><a href="#"
                                                                class="btn btn-trigger btn-icon dropdown-toggle"
                                                                data-bs-toggle="dropdown"><em
                                                                    class="icon ni ni-setting"></em></a>
                                                            <div
                                                                class="dropdown-menu dropdown-menu-xs dropdown-menu-end">
                                                                <ul class="link-check">
                                                                    <li><span>Show</span></li>
                                                                    <li class="active"><a href="#">10</a></li>
                                                                    <li><a href="#">20</a></li>
                                                                    <li><a href="#">50</a></li>
                                                                </ul>
                                                                <ul class="link-check">
                                                                    <li><span>Order</span></li>
                                                                    <li class="active"><a href="#">DESC</a>
                                                                    </li>
                                                                    <li><a href="#">ASC</a></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="card-search search-wrap" data-search="search">
                            <div class="card-body">
                                <div class="search-content"><a href="#" class="search-back btn btn-icon toggle-search"
                                        data-target="search"><em class="icon ni ni-arrow-left"></em></a><input
                                        type="text" class="form-control border-transparent form-focus-none"
                                        placeholder="Search by user or email"><button
                                        class="search-submit btn btn-icon"><em class="icon ni ni-search"></em></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-inner p-0">
                        <div class="nk-tb-list nk-tb-ulist is-compact">
                            <div class="nk-tb-item nk-tb-head">
                                <div class="nk-tb-col nk-tb-col-check">
                                    <div class="custom-control custom-control-sm custom-checkbox notext">
                                        <input type="checkbox" class="custom-control-input" id="uid"><label
                                            class="custom-control-label" for="uid"></label>
                                    </div>
                                </div>
                                <div class="nk-tb-col"><span class="sub-text">User</span></div>
                                <div class="nk-tb-col tb-col-md"><span class="sub-text">Role</span></div>

                                <div class="nk-tb-col tb-col-md"><span class="sub-text">Phone</span></div>

                                <div class="nk-tb-col tb-col-lg"><span class="sub-text">Verified</span></div>
                                <div class="nk-tb-col tb-col-xxl"><span class="sub-text">Last
                                        Login</span></div>
                                <div class="nk-tb-col"><span class="sub-text">Status</span>
                                </div>
                                <div class="nk-tb-col nk-tb-col-tools text-end">
                                    <div class="dropdown"><a href="#"
                                            class="btn btn-xs btn-outline-light btn-icon dropdown-toggle"
                                            data-bs-toggle="dropdown" data-offset="0,5"><em
                                                class="icon ni ni-plus"></em></a>
                                        <div class="dropdown-menu dropdown-menu-xs dropdown-menu-end">
                                            <ul class="link-tidy sm no-bdr">
                                                <li>
                                                    <div class="custom-control custom-control-sm custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" checked=""
                                                            id="bl"><label class="custom-control-label"
                                                            for="bl">Balance</label>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="custom-control custom-control-sm custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" checked=""
                                                            id="ph"><label class="custom-control-label"
                                                            for="ph">Phone</label>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="custom-control custom-control-sm custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input"
                                                            id="vri"><label class="custom-control-label"
                                                            for="vri">Verified</label>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="custom-control custom-control-sm custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input"
                                                            id="st"><label class="custom-control-label"
                                                            for="st">Status</label>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="nk-tb-item">
                                <div class="nk-tb-col nk-tb-col-check">
                                    <div class="custom-control custom-control-sm custom-checkbox notext">
                                        <input type="checkbox" class="custom-control-input" id="uid1"><label
                                            class="custom-control-label" for="uid1"></label>
                                    </div>
                                </div>
                                <div class="nk-tb-col">
                                    <div class="user-card">
                                        <div class="user-avatar xs bg-primary"><span>AB</span>
                                        </div>
                                        <div class="user-name"><span class="tb-lead">Abu Bin
                                                Ishtiyak</span></div>
                                    </div>
                                </div>
                                <div class="nk-tb-col tb-col-md"><span>Regular</span></div>

                                <div class="nk-tb-col tb-col-md"><span>+811 847####</span>
                                    
                                </div>

                                <div class="nk-tb-col tb-col-lg">
                                    <ul class="list-status">
                                        <li><em class="icon text-success ni ni-check-circle"></em>
                                            <span>Email</span>
                                        </li>
                                    </ul>
                                </div>

                                <div class="nk-tb-col"><span class="tb-status text-success">Active</span></div>

                            </div>
                            <div class="nk-tb-item">
                                <div class="nk-tb-col nk-tb-col-check">
                                    <div class="custom-control custom-control-sm custom-checkbox notext">
                                        <input type="checkbox" class="custom-control-input" id="uid2"><label
                                            class="custom-control-label" for="uid2"></label>
                                    </div>
                                </div>


                                <div class="nk-tb-col">
                                    <div class="user-card">
                                        <div class="user-avatar xs bg-warning"><span>PN</span>
                                        </div>
                                        <div class="user-name"><span class="tb-lead">Patrick
                                                Newman</span></div>
                                    </div>
                                </div>
                                <div class="nk-tb-col tb-col-md"><span>VIP</span></div>

                                <div class="nk-tb-col tb-col-md"><span>+942 238####</span>
                                </div>

                                <div class="nk-tb-col"><span class="tb-status text-info">Inactive</span></div>


                            </div>
                            <div class="nk-tb-item">
                                <div class="nk-tb-col nk-tb-col-check">
                                    <div class="custom-control custom-control-sm custom-checkbox notext">
                                        <input type="checkbox" class="custom-control-input" id="uid1"><label
                                            class="custom-control-label" for="uid1"></label>
                                    </div>
                                </div>
                                <div class="nk-tb-col">
                                    <div class="user-card">
                                        <div class="user-avatar xs bg-primary"><span>AB</span>
                                        </div>
                                        <div class="user-name"><span class="tb-lead">Abu Bin
                                                Ishtiyak</span></div>
                                    </div>
                                </div>
                                <div class="nk-tb-col tb-col-md"><span>Regular</span></div>

                                <div class="nk-tb-col tb-col-md"><span>+811 847-####</span>
                                </div>

                                <div class="nk-tb-col tb-col-lg">
                                    <ul class="list-status">
                                        <li><em class="icon text-success ni ni-check-circle"></em>
                                            <span>Email</span>
                                        </li>
                                    </ul>
                                </div>

                                <div class="nk-tb-col"><span class="tb-status text-danger">Suspend</span></div>

                            </div>
                            <div class="nk-tb-item">
                                <div class="nk-tb-col nk-tb-col-check">
                                    <div class="custom-control custom-control-sm custom-checkbox notext">
                                        <input type="checkbox" class="custom-control-input" id="uid2"><label
                                            class="custom-control-label" for="uid2"></label>
                                    </div>
                                </div>


                                <div class="nk-tb-col">
                                    <div class="user-card">
                                        <div class="user-avatar xs bg-warning"><span>PN</span>
                                        </div>
                                        <div class="user-name"><span class="tb-lead">Patrick
                                                Newman</span></div>
                                    </div>
                                </div>
                                <div class="nk-tb-col tb-col-md"><span>Regular</span></div>

                                <div class="nk-tb-col tb-col-md"><span>+942 238-####</span>
                                </div>

                                <div class="nk-tb-col"><span class="tb-status text-warning">Pending</span></div>


                            </div>




                            <!-- gvjhbknlm;,vhjbknlm;, -->
                        </div>



                    
                    </div>
                <div class="card-inner">
                    <ul class="pagination justify-content-center justify-content-md-start">
                        <li class="page-item"><a class="page-link" href="#">Prev</a></li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><span class="page-link"><em class="icon ni ni-more-h"></em></span></li>
                        <li class="page-item"><a class="page-link" href="#">6</a></li>
                        <li class="page-item"><a class="page-link" href="#">7</a></li>
                        <li class="page-item"><a class="page-link" href="#">Next</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
</div>



{% endblock content %}