{% extends "account/dashboard/base.html" %}
{% load static %}
{% block content %}

  <div class="nk-content nk-content-lg nk-content-fluid">
    <div class="container-xl wide-lg">
      <div class="nk-content-inner">
        <div class="nk-content-body">
          <div class="nk-block-head nk-block-head-lg">
            <div class="nk-block-head-content">
              <div class="nk-block-head-sub">
                {% if plans %}
                  <a href="" class="back-to">
                    <em class="icon ni ni-arrow-left"></em>
                    <span>My Plans</span></a>
                {% else %}
                  <a href="" class="back-to">
                    No Plan Linked To Account!!
                    <span>
                      <em class="icon ni ni-arrow-right"></em>
                    </span>
                  </a>

                {% endif %}
              </div>
              <div class="nk-block-head-content">
                <h2 class="nk-block-title fw-normal">Start by selecting a plan</h2>
              </div>
            </div>
          </div>

          <div class="nk-block invest-block">
            <div class="invest-form">
              <div class="row g-gs">
                {% include "account/dashboard/investment/components/schemes/forms.html" %}

                <!--summary form-->
                {% include "account/dashboard/investment/components/schemes/summary.html" %}

              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

{% endblock content %}