{% if inbox_messages.items %}
  <div class="simplebar-content" style="padding: 20px" id="private_chat_messages">
    {% for date, messages in inbox_messages.items %}
      <div class="chat-sap">
        <div class="chat-sap-meta">
          <span>{{date}}</span>
        </div>
      </div>
      {% for message in messages reversed %}
        <div class="fade-in-up">
          {% include "account/dashboard/v1/rooms/private/components/messages.html" %}
        </div>
      {% endfor %}
    {% endfor %}
  </div>
{% endif %}

<style>
  @keyframes fadeInAndUp {
    from {
      opacity: 0;
      transform: translateY(13px);
    }

    to {
      opacity: 1;
      transform: translateY(0px);
    }
  }

  .fade-in-up {
    animation: fadeInAndUp 0.6s ease;
  }
</style>
