<style>
  .nk-file-item.nk-file.card {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  }

  .nk-file-item.nk-file.card:hover>div.nk-file-info {
    transform: scale(1.09);
    transition: ease 0.65s;
  }
</style>

<div class="nk-block-head-xs">
  <div class="nk-block-between g-2">
    <div class="nk-block-head-content">
      <h6 class="nk-block-title title">Quick Access</h6>
    </div>
    <div class="nk-block-head-content">
      <a href="#" class="link link-primary toggle-opt active" data-target="quick-access">
        <div class="inactive-text">Show</div>
        <div class="active-text">Hide</div>
      </a>
    </div>
  </div>
</div>
<div class="toggle-expand-content expanded" data-content="quick-access">
  <div class="nk-files nk-files-view-grid">
    <div class="nk-files-list">
      <div class="nk-file-item nk-file card">
        <div class="nk-file-info">
          <a href="#" class="nk-file-link">
            <div class="nk-file-title">
              <div class="nk-file-icon">
                <span class="nk-file-icon-type">
                  <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewbox="0 0 72 72">
                    <path fill="#6C87FE" d="M57.5,31h-23c-1.4,0-2.5-1.1-2.5-2.5v-10c0-1.4,1.1-2.5,2.5-2.5h23c1.4,0,2.5,1.1,2.5,2.5v10	C60,29.9,58.9,31,57.5,31z"></path>
                    <path fill="#8AA3FF" d="M59.8,61H12.2C8.8,61,6,58,6,54.4V17.6C6,14,8.8,11,12.2,11h18.5c1.7,0,3.3,1,4.1,2.6L38,24h21.8	c3.4,0,6.2,2.4,6.2,6v24.4C66,58,63.2,61,59.8,61z"></path>
                    <path display="none" fill="#8AA3FF" d="M62.1,61H9.9C7.8,61,6,59.2,6,57c0,0,0-31.5,0-42c0-2.2,1.8-4,3.9-4h19.3	c1.6,0,3.2,0.2,3.9,2.3l2.7,6.8c0.5,1.1,1.6,1.9,2.8,1.9h23.5c2.2,0,3.9,1.8,3.9,4v31C66,59.2,64.2,61,62.1,61z"></path>
                    <path fill="#798BFF" d="M7.7,59c2.2,2.4,4.7,2,6.3,2h45c1.1,0,3.2,0.1,5.3-2H7.7z"></path>
                  </svg>
                </span>
              </div>
              <div class="nk-file-name">
                <div class="nk-file-name-text">
                  <span class="title">SUBMISSIONS</span>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="nk-file-item nk-file card">
        <div class="nk-file-info">
          <a href="{% url 'dashboard:invest:jobs:job_board_applications_view' %}" class="nk-file-link">
            <div class="nk-file-title">
              <div class="nk-file-icon">
                <span class="nk-file-icon-type">
                  <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewbox="0 0 72 72">
                    <path fill="#6C87FE" d="M57.5,31h-23c-1.4,0-2.5-1.1-2.5-2.5v-10c0-1.4,1.1-2.5,2.5-2.5h23c1.4,0,2.5,1.1,2.5,2.5v10	C60,29.9,58.9,31,57.5,31z"></path>
                    <path fill="#8AA3FF" d="M59.8,61H12.2C8.8,61,6,58,6,54.4V17.6C6,14,8.8,11,12.2,11h18.5c1.7,0,3.3,1,4.1,2.6L38,24h21.8	c3.4,0,6.2,2.4,6.2,6v24.4C66,58,63.2,61,59.8,61z"></path>
                    <path display="none" fill="#8AA3FF" d="M62.1,61H9.9C7.8,61,6,59.2,6,57c0,0,0-31.5,0-42c0-2.2,1.8-4,3.9-4h19.3	c1.6,0,3.2,0.2,3.9,2.3l2.7,6.8c0.5,1.1,1.6,1.9,2.8,1.9h23.5c2.2,0,3.9,1.8,3.9,4v31C66,59.2,64.2,61,62.1,61z"></path>
                    <path fill="#798BFF" d="M7.7,59c2.2,2.4,4.7,2,6.3,2h45c1.1,0,3.2,0.1,5.3-2H7.7z"></path>
                  </svg>
                </span>
              </div>
              <div class="nk-file-name">
                <div class="nk-file-name-text">
                  <span class="title">APPLICATIONS</span>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="nk-file-item nk-file card">
        <div class="nk-file-info">
          <a href="#" class="nk-file-link">
            <div class="nk-file-title">
              <div class="nk-file-icon">
                <span class="nk-file-icon-type">
                  <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewbox="0 0 72 72">
                    <path fill="#6C87FE" d="M57.5,31h-23c-1.4,0-2.5-1.1-2.5-2.5v-10c0-1.4,1.1-2.5,2.5-2.5h23c1.4,0,2.5,1.1,2.5,2.5v10	C60,29.9,58.9,31,57.5,31z"></path>
                    <path fill="#8AA3FF" d="M59.8,61H12.2C8.8,61,6,58,6,54.4V17.6C6,14,8.8,11,12.2,11h18.5c1.7,0,3.3,1,4.1,2.6L38,24h21.8	c3.4,0,6.2,2.4,6.2,6v24.4C66,58,63.2,61,59.8,61z"></path>
                    <path display="none" fill="#8AA3FF" d="M62.1,61H9.9C7.8,61,6,59.2,6,57c0,0,0-31.5,0-42c0-2.2,1.8-4,3.9-4h19.3	c1.6,0,3.2,0.2,3.9,2.3l2.7,6.8c0.5,1.1,1.6,1.9,2.8,1.9h23.5c2.2,0,3.9,1.8,3.9,4v31C66,59.2,64.2,61,62.1,61z"></path>
                    <path fill="#798BFF" d="M7.7,59c2.2,2.4,4.7,2,6.3,2h45c1.1,0,3.2,0.1,5.3-2H7.7z"></path>
                  </svg>
                </span>
              </div>
              <div class="nk-file-name">
                <div class="nk-file-name-text">
                  <span class="title">CANCELLED</span>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="nk-file-item nk-file card">
        <div class="nk-file-info">
          <a href="#" class="nk-file-link">
            <div class="nk-file-title">
              <div class="nk-file-icon">
                <span class="nk-file-icon-type">
                  <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewbox="0 0 72 72">
                    <path fill="#6C87FE" d="M57.5,31h-23c-1.4,0-2.5-1.1-2.5-2.5v-10c0-1.4,1.1-2.5,2.5-2.5h23c1.4,0,2.5,1.1,2.5,2.5v10	C60,29.9,58.9,31,57.5,31z"></path>
                    <path fill="#8AA3FF" d="M59.8,61H12.2C8.8,61,6,58,6,54.4V17.6C6,14,8.8,11,12.2,11h18.5c1.7,0,3.3,1,4.1,2.6L38,24h21.8	c3.4,0,6.2,2.4,6.2,6v24.4C66,58,63.2,61,59.8,61z"></path>
                    <path display="none" fill="#8AA3FF" d="M62.1,61H9.9C7.8,61,6,59.2,6,57c0,0,0-31.5,0-42c0-2.2,1.8-4,3.9-4h19.3	c1.6,0,3.2,0.2,3.9,2.3l2.7,6.8c0.5,1.1,1.6,1.9,2.8,1.9h23.5c2.2,0,3.9,1.8,3.9,4v31C66,59.2,64.2,61,62.1,61z"></path>
                    <path fill="#798BFF" d="M7.7,59c2.2,2.4,4.7,2,6.3,2h45c1.1,0,3.2,0.1,5.3-2H7.7z"></path>
                  </svg>
                </span>
              </div>
              <div class="nk-file-name">
                <div class="nk-file-name-text">
                  <span class="title">PENDING APPROVAL</span>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="nk-file-item nk-file card">
        <div class="nk-file-info">
          <a href="#" class="nk-file-link">
            <div class="nk-file-title">
              <div class="nk-file-icon">
                <span class="nk-file-icon-type">
                  <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewbox="0 0 72 72">
                    <path fill="#6C87FE" d="M57.5,31h-23c-1.4,0-2.5-1.1-2.5-2.5v-10c0-1.4,1.1-2.5,2.5-2.5h23c1.4,0,2.5,1.1,2.5,2.5v10	C60,29.9,58.9,31,57.5,31z"></path>
                    <path fill="#8AA3FF" d="M59.8,61H12.2C8.8,61,6,58,6,54.4V17.6C6,14,8.8,11,12.2,11h18.5c1.7,0,3.3,1,4.1,2.6L38,24h21.8	c3.4,0,6.2,2.4,6.2,6v24.4C66,58,63.2,61,59.8,61z"></path>
                    <path display="none" fill="#8AA3FF" d="M62.1,61H9.9C7.8,61,6,59.2,6,57c0,0,0-31.5,0-42c0-2.2,1.8-4,3.9-4h19.3	c1.6,0,3.2,0.2,3.9,2.3l2.7,6.8c0.5,1.1,1.6,1.9,2.8,1.9h23.5c2.2,0,3.9,1.8,3.9,4v31C66,59.2,64.2,61,62.1,61z"></path>
                    <path fill="#798BFF" d="M7.7,59c2.2,2.4,4.7,2,6.3,2h45c1.1,0,3.2,0.1,5.3-2H7.7z"></path>
                  </svg>
                </span>
              </div>
              <div class="nk-file-name">
                <div class="nk-file-name-text">
                  <span class="title">CLOSED</span>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>