<div class="nk-block-head-content">
  <ul class="nk-block-tools g-1">
    <li class="">
      <a href="#" class="btn btn-trigger btn-icon search-toggle toggle-search" data-target="search">
        <em class="icon ni ni-search"></em>
      </a>
    </li>
    <li class="">
      <div class="dropdown">
        <a href="#" class="btn btn-trigger btn-icon" data-bs-toggle="dropdown">
          <em class="icon ni ni-plus"></em>
        </a>
        <div class="dropdown-menu dropdown-menu-end">
          <ul class="link-list-opt no-bdr">
            <li>
              <a href="#file-upload" data-bs-toggle="modal">
                <em class="icon ni ni-upload-cloud"></em>
                <span>Upload File</span></a>
            </li>
            <li>
              <a href="#">
                <em class="icon ni ni-file-plus"></em>
                <span>Create File</span></a>
            </li>
            <li>
              <a href="#">
                <em class="icon ni ni-folder-plus"></em>
                <span>Create Folder</span></a>
            </li>
          </ul>
        </div>
      </div>
    </li>
    <li class="d-lg-none me-n1">
      <a href="#" class="btn btn-trigger btn-icon toggle" data-target="files-aside">
        <em class="icon ni ni-menu-alt-r"></em>
      </a>
    </li>
  </ul>
</div>
<div class="search-wrap px-2" data-search="search">
  <div class="search-content">
    <a href="#" class="search-back btn btn-icon toggle-search" data-target="search">
      <em class="icon ni ni-arrow-left"></em>
    </a><input type="text" class="form-control border-transparent form-focus-none" placeholder="Search by user or message">
    <button class="search-submit btn btn-icon">
      <em class="icon ni ni-search"></em>
    </button>
  </div>
</div>
