<div class="nk-files-list">
  <div class="nk-file-item nk-file">
    <div class="nk-file-info">
      <div class="nk-file-title">
        <div class="nk-file-icon">
          <span class="nk-file-icon-type">
            <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewbox="0 0 72 72">
              <path fill="#6C87FE" d="M57.5,31h-23c-1.4,0-2.5-1.1-2.5-2.5v-10c0-1.4,1.1-2.5,2.5-2.5h23c1.4,0,2.5,1.1,2.5,2.5v10	C60,29.9,58.9,31,57.5,31z"></path>
              <path fill="#8AA3FF" d="M59.8,61H12.2C8.8,61,6,58,6,54.4V17.6C6,14,8.8,11,12.2,11h18.5c1.7,0,3.3,1,4.1,2.6L38,24h21.8	c3.4,0,6.2,2.4,6.2,6v24.4C66,58,63.2,61,59.8,61z"></path>
              <path display="none" fill="#8AA3FF" d="M62.1,61H9.9C7.8,61,6,59.2,6,57c0,0,0-31.5,0-42c0-2.2,1.8-4,3.9-4h19.3	c1.6,0,3.2,0.2,3.9,2.3l2.7,6.8c0.5,1.1,1.6,1.9,2.8,1.9h23.5c2.2,0,3.9,1.8,3.9,4v31C66,59.2,64.2,61,62.1,61z"></path>
              <path fill="#798BFF" d="M7.7,59c2.2,2.4,4.7,2,6.3,2h45c1.1,0,3.2,0.1,5.3-2H7.7z"></path>
            </svg>
          </span>
        </div>
        <div class="nk-file-name">
          <div class="nk-file-name-text">
            <a href="#" class="title">UI Design</a>
            <div class="asterisk">
              <a href="#">
                <em class="asterisk-off icon ni ni-star"></em>
                <em class="asterisk-on icon ni ni-star-fill"></em>
              </a>
            </div>
          </div>
        </div>
      </div>
      <ul class="nk-file-desc">
        <li class="date">Today</li>
        <li class="size">4.5 MB</li>
        <li class="members">3 Members</li>
      </ul>
    </div>
    <div class="nk-file-actions">
      <div class="dropdown">
        <a href="" class="dropdown-toggle btn btn-sm btn-icon btn-trigger" data-bs-toggle="dropdown">
          <em class="icon ni ni-more-h"></em>
        </a>
        <div class="dropdown-menu dropdown-menu-end">
          <ul class="link-list-plain no-bdr">
            <li>
              <a href="#file-details" data-bs-toggle="modal">
                <em class="icon ni ni-eye"></em>
                <span>Details</span></a>
            </li>
            <li>
              <a href="#file-share" data-bs-toggle="modal">
                <em class="icon ni ni-share"></em>
                <span>Share</span></a>
            </li>
            <li>
              <a href="#file-copy" data-bs-toggle="modal">
                <em class="icon ni ni-copy"></em>
                <span>Copy</span></a>
            </li>
            <li>
              <a href="#file-move" data-bs-toggle="modal">
                <em class="icon ni ni-forward-arrow"></em>
                <span>Move</span></a>
            </li>
            <li>
              <a href="#" class="file-dl-toast">
                <em class="icon ni ni-download"></em>
                <span>Download</span></a>
            </li>
            <li>
              <a href="#">
                <em class="icon ni ni-pen"></em>
                <span>Rename</span></a>
            </li>
            <li>
              <a href="#">
                <em class="icon ni ni-trash"></em>
                <span>Delete</span></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="nk-file-item nk-file">
    <div class="nk-file-info">
      <div class="nk-file-title">
        <div class="nk-file-icon">
          <span class="nk-file-icon-type">
            <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewbox="0 0 72 72">
              <path fill="#6C87FE" d="M57.5,31h-23c-1.4,0-2.5-1.1-2.5-2.5v-10c0-1.4,1.1-2.5,2.5-2.5h23c1.4,0,2.5,1.1,2.5,2.5v10	C60,29.9,58.9,31,57.5,31z"></path>
              <path fill="#8AA3FF" d="M59.8,61H12.2C8.8,61,6,58,6,54.4V17.6C6,14,8.8,11,12.2,11h18.5c1.7,0,3.3,1,4.1,2.6L38,24h21.8	c3.4,0,6.2,2.4,6.2,6v24.4C66,58,63.2,61,59.8,61z"></path>
              <path display="none" fill="#8AA3FF" d="M62.1,61H9.9C7.8,61,6,59.2,6,57c0,0,0-31.5,0-42c0-2.2,1.8-4,3.9-4h19.3	c1.6,0,3.2,0.2,3.9,2.3l2.7,6.8c0.5,1.1,1.6,1.9,2.8,1.9h23.5c2.2,0,3.9,1.8,3.9,4v31C66,59.2,64.2,61,62.1,61z"></path>
              <path fill="#798BFF" d="M7.7,59c2.2,2.4,4.7,2,6.3,2h45c1.1,0,3.2,0.1,5.3-2H7.7z"></path>
            </svg>
          </span>
        </div>
        <div class="nk-file-name">
          <div class="nk-file-name-text">
            <a href="#" class="title">Proposal</a>
            <div class="asterisk">
              <a href="#" class="active">
                <em class="asterisk-off icon ni ni-star"></em>
                <em class="asterisk-on icon ni ni-star-fill"></em>
              </a>
            </div>
          </div>
        </div>
      </div>
      <ul class="nk-file-desc">
        <li class="date">Today</li>
        <li class="size">4.5 MB</li>
        <li class="members">3 Members</li>
      </ul>
    </div>
    <div class="nk-file-actions">
      <div class="dropdown">
        <a href="" class="dropdown-toggle btn btn-sm btn-icon btn-trigger" data-bs-toggle="dropdown">
          <em class="icon ni ni-more-h"></em>
        </a>
        <div class="dropdown-menu dropdown-menu-end">
          <ul class="link-list-plain no-bdr">
            <li>
              <a href="#file-details" data-bs-toggle="modal">
                <em class="icon ni ni-eye"></em>
                <span>Details</span></a>
            </li>
            <li>
              <a href="#file-share" data-bs-toggle="modal">
                <em class="icon ni ni-share"></em>
                <span>Share</span></a>
            </li>
            <li>
              <a href="#file-copy" data-bs-toggle="modal">
                <em class="icon ni ni-copy"></em>
                <span>Copy</span></a>
            </li>
            <li>
              <a href="#file-move" data-bs-toggle="modal">
                <em class="icon ni ni-forward-arrow"></em>
                <span>Move</span></a>
            </li>
            <li>
              <a href="#" class="file-dl-toast">
                <em class="icon ni ni-download"></em>
                <span>Download</span></a>
            </li>
            <li>
              <a href="#">
                <em class="icon ni ni-pen"></em>
                <span>Rename</span></a>
            </li>
            <li>
              <a href="#">
                <em class="icon ni ni-trash"></em>
                <span>Delete</span></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="nk-file-item nk-file">
    <div class="nk-file-info">
      <div class="nk-file-title">
        <div class="nk-file-icon">
          <span class="nk-file-icon-type">
            <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 72 72">
              <g>
                <rect x="32" y="16" width="28" height="15" rx="2.5" ry="2.5" style="fill:#6c87fe"></rect>
                <path d="M59.7778,61H12.2222A6.4215,6.4215,0,0,1,6,54.3962V17.6038A6.4215,6.4215,0,0,1,12.2222,11H30.6977a4.6714,4.6714,0,0,1,4.1128,2.5644L38,24H59.7778A5.91,5.91,0,0,1,66,30V54.3962A6.4215,6.4215,0,0,1,59.7778,61Z" style="fill:#8aa3ff"></path>
                <path d="M7.7454,58.9807C9.9352,61.3864,12.4882,61.0163,14,61H59a6.3373,6.3373,0,0,0,5.2562-2.0193Z" style="fill:#798bff"></path>
                <path d="M29.6309,37.36a3.0236,3.0236,0,0,1-.86-2.39A4.3748,4.3748,0,0,1,32.9961,31h.0078a4.36,4.36,0,0,1,4.22,3.9121,3.0532,3.0532,0,0,1-.8545,2.4482A4.4158,4.4158,0,0,1,33.23,38.53c-.0771,0-.1533-.002-.23-.0049A4.519,4.519,0,0,1,29.6309,37.36Zm13.8359,2.7549a1,1,0,1,0-.9336,1.77c.7207.38,1.4658,2.126,1.4668,4.39V48a1,1,0,0,0,2,0V46.2744C45.999,43.3447,45.0049,40.9268,43.4668,40.1152ZM40.165,37.3965c-.1445.084-.29.168-.4316.2549a1,1,0,0,0,.5215,1.8535.9887.9887,0,0,0,.52-.1465c.1289-.0781.2607-.1543.3916-.23a4.2311,4.2311,0,0,0,2.1465-2.124.9839.9839,0,0,0,.0313-.1045A3.8411,3.8411,0,0,0,40.5,32.5352a1,1,0,0,0-.4922,1.9395,1.8773,1.8773,0,0,1,1.4,1.9092A2.835,2.835,0,0,1,40.165,37.3965ZM36.5,41h-7c-2.5234,0-4.5,2.7822-4.5,6.333V48.5a.8355.8355,0,0,0,.0588.2914.9731.9731,0,0,0,.3508.4946C26.4646,50.2812,29.4614,51,33,51s6.5353-.7187,7.59-1.7139a.9726.9726,0,0,0,.3509-.4949A.8361.8361,0,0,0,41,48.5V47.333C41,43.7822,39.0234,41,36.5,41Z" style="fill:#4b66bc"></path>
              </g>
            </svg>
          </span>
        </div>
        <div class="nk-file-name">
          <div class="nk-file-name-text">
            <a href="#" class="title">Projects</a>
            <div class="asterisk">
              <a href="#">
                <em class="asterisk-off icon ni ni-star"></em>
                <em class="asterisk-on icon ni ni-star-fill"></em>
              </a>
            </div>
          </div>
        </div>
      </div>
      <ul class="nk-file-desc">
        <li class="date">Yesterday</li>
        <li class="size">235 KB</li>
        <li class="members">3 Members</li>
      </ul>
    </div>
    <div class="nk-file-actions">
      <div class="dropdown">
        <a href="" class="dropdown-toggle btn btn-sm btn-icon btn-trigger" data-bs-toggle="dropdown">
          <em class="icon ni ni-more-h"></em>
        </a>
        <div class="dropdown-menu dropdown-menu-end">
          <ul class="link-list-plain no-bdr">
            <li>
              <a href="#file-details" data-bs-toggle="modal">
                <em class="icon ni ni-eye"></em>
                <span>Details</span></a>
            </li>
            <li>
              <a href="#file-share" data-bs-toggle="modal">
                <em class="icon ni ni-share"></em>
                <span>Share</span></a>
            </li>
            <li>
              <a href="#file-copy" data-bs-toggle="modal">
                <em class="icon ni ni-copy"></em>
                <span>Copy</span></a>
            </li>
            <li>
              <a href="#file-move" data-bs-toggle="modal">
                <em class="icon ni ni-forward-arrow"></em>
                <span>Move</span></a>
            </li>
            <li>
              <a href="#" class="file-dl-toast">
                <em class="icon ni ni-download"></em>
                <span>Download</span></a>
            </li>
            <li>
              <a href="#">
                <em class="icon ni ni-pen"></em>
                <span>Rename</span></a>
            </li>
            <li>
              <a href="#">
                <em class="icon ni ni-trash"></em>
                <span>Delete</span></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="nk-file-item nk-file">
    <div class="nk-file-info">
      <div class="nk-file-title">
        <div class="nk-file-icon">
          <span class="nk-file-icon-type">
            <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewbox="0 0 72 72">
              <path fill="#6C87FE" d="M57.5,31h-23c-1.4,0-2.5-1.1-2.5-2.5v-10c0-1.4,1.1-2.5,2.5-2.5h23c1.4,0,2.5,1.1,2.5,2.5v10	C60,29.9,58.9,31,57.5,31z"></path>
              <path fill="#8AA3FF" d="M59.8,61H12.2C8.8,61,6,58,6,54.4V17.6C6,14,8.8,11,12.2,11h18.5c1.7,0,3.3,1,4.1,2.6L38,24h21.8	c3.4,0,6.2,2.4,6.2,6v24.4C66,58,63.2,61,59.8,61z"></path>
              <path display="none" fill="#8AA3FF" d="M62.1,61H9.9C7.8,61,6,59.2,6,57c0,0,0-31.5,0-42c0-2.2,1.8-4,3.9-4h19.3	c1.6,0,3.2,0.2,3.9,2.3l2.7,6.8c0.5,1.1,1.6,1.9,2.8,1.9h23.5c2.2,0,3.9,1.8,3.9,4v31C66,59.2,64.2,61,62.1,61z"></path>
              <path fill="#798BFF" d="M7.7,59c2.2,2.4,4.7,2,6.3,2h45c1.1,0,3.2,0.1,5.3-2H7.7z"></path>
            </svg>
          </span>
        </div>
        <div class="nk-file-name">
          <div class="nk-file-name-text">
            <a href="#" class="title">2019 Projects</a>
            <div class="asterisk">
              <a href="#">
                <em class="asterisk-off icon ni ni-star"></em>
                <em class="asterisk-on icon ni ni-star-fill"></em>
              </a>
            </div>
          </div>
        </div>
      </div>
      <ul class="nk-file-desc">
        <li class="date">03 May</li>
        <li class="size">235 KB</li>
        <li class="members">3 Members</li>
      </ul>
    </div>
    <div class="nk-file-actions">
      <div class="dropdown">
        <a href="" class="dropdown-toggle btn btn-sm btn-icon btn-trigger" data-bs-toggle="dropdown">
          <em class="icon ni ni-more-h"></em>
        </a>
        <div class="dropdown-menu dropdown-menu-end">
          <ul class="link-list-plain no-bdr">
            <li>
              <a href="#file-details" data-bs-toggle="modal">
                <em class="icon ni ni-eye"></em>
                <span>Details</span></a>
            </li>
            <li>
              <a href="#file-share" data-bs-toggle="modal">
                <em class="icon ni ni-share"></em>
                <span>Share</span></a>
            </li>
            <li>
              <a href="#file-copy" data-bs-toggle="modal">
                <em class="icon ni ni-copy"></em>
                <span>Copy</span></a>
            </li>
            <li>
              <a href="#file-move" data-bs-toggle="modal">
                <em class="icon ni ni-forward-arrow"></em>
                <span>Move</span></a>
            </li>
            <li>
              <a href="#" class="file-dl-toast">
                <em class="icon ni ni-download"></em>
                <span>Download</span></a>
            </li>
            <li>
              <a href="#">
                <em class="icon ni ni-pen"></em>
                <span>Rename</span></a>
            </li>
            <li>
              <a href="#">
                <em class="icon ni ni-trash"></em>
                <span>Delete</span></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
