{% load static %}

<div class="nk-block">
  <div class="card">
    <table class="table">
      <thead>
        <tr class="nk-tb-item nk-tb-head">
          <th class="nk-tb-col nk-tb-col-check">
            <div class="custom-control custom-control-sm  notext checked"></div>
          </th>
          <th class="nk-tb-col">
            <h6 class="overline-title">Title</h6>
          </th>
          <th class="nk-tb-col tb-col-sm">
            <h6 class="overline-title">Revenue</h6>
          </th>
          <th class="nk-tb-col tb-col-sm">
            <h6 class="overline-title">Type</h6>
          </th>
          <th class="nk-tb-col tb-col-md">
            <h6 class="overline-title">Date</h6>
          </th>
          <th class="nk-tb-col tb-col-end">
            <h6 class="overline-title">Actions</h6>
          </th>
        </tr>
      </thead>
      {% if articles %}
        <tbody>
          {% for article in articles %}
            <tr class="nk-tb-item">
              <td class="nk-tb-col nk-tb-col-check">
                <div class="custom-control custom-control-sm custom-checkbox notext checked">
                  <input title="custom" type="checkbox" class="custom-control-input" id="did-01" />
                  <label class="custom-control-label" for="did-01"></label>
                </div>
              </td>
              <td class="nk-tb-col">
                <div class="caption-text">{{article.title|title|truncatewords:"3"}}</div>
              </td>
              <td class="nk-tb-col tb-col-sm">
                <div class="">KES {{article.revenue}}</div>
              </td>
              <td class="nk-tb-col tb-col-sm">
                <div class="badge badge-dim bg-dark rounded-pill">Article</div>
              </td>
              <td class="nk-tb-col tb-col-md">
                <div class="sub-text d-inline-flex flex-wrap gx-2">
                  <div>
                    {{article.created_at|date:"M d, Y"}}
                  </div>
                  <div>{{article.created_at|date:"h:i A"}}</div>
                </div>
              </td>
              <td class="nk-tb-col tb-col-end">
                <div class="dropdown">
                  <button title="dropdown" class="btn btn-sm btn-icon btn-trigger me-n1" type="button" data-bs-toggle="dropdown">
                    <em class="icon ni ni-more-h"></em>
                  </button>
                  <div class="dropdown-menu dropdown-menu-end">
                    <div class="dropdown-content">
                      <ul class="link-list-opt no-bdr">
                        <li>
                          <a hx-on::after-request="window.location.reload()" style="cursor:pointer" hx-swap="none" hx-push-url="true" hx-boost="true" href="{{article.get_absolute_url}}">
                            <em class="icon ni ni-eye"></em>
                            <span>View Article</span></a>
                        </li>
                        <li>
                          <a hx-on::after-request="window.location.reload()" style="cursor:pointer" hx-swap="none" hx-push-url="true" hx-boost="true" href="{{article.get_update_url}}">
                            <em class="icon ni ni-edit"></em>
                            <span>Edit</span></a>
                        </li>
                        <li>
                          <a href="#">
                            <em class="icon ni ni-trash"></em>
                            <span>Delete</span></a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      {% endif %}
    </table>
  </div>
</div>
