{% load static %}

<div class="nk-block">
  <div class="row g-gs">
    <div class="col-sm-6 col-xxl-3">
      <div class="card card-full">
        <div class="card-inner">
          <div class="user-avatar text-primary bg-primary-dim mb-3">
            <em class="icon ni ni-bulb-fill"></em>
          </div>
          <h5 class="fs-4">Blog Ideas</h5>
          <p>Produce trendy blog ideas for your business that engages.</p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-xxl-3">
      <div class="card card-full">
        <div class="card-inner">
          <div class="position-absolute end-0 top-0 me-4 mt-4">
            <div class="badge badge rounded-pill text-bg-primary text-uppercase">New</div>
          </div>
          <div class="user-avatar text-blue bg-blue-dim mb-3">
            <em class="icon ni ni-spark-fill"></em>
          </div>
          <h5 class="fs-4">Social Media Posts</h5>
          <p>Creative and engaging social media post for your brand.</p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-xxl-3">
      <div class="card card-full">
        <div class="card-inner">
          <div class="user-avatar text-danger bg-danger-dim mb-3">
            <em class="icon ni ni-youtube-fill"></em>
          </div>
          <h5 class="fs-4">YouTube Tags Generator</h5>
          <p>Generate SEO optimized keywords for your YouTube video.</p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-xxl-3">
      <div class="card card-full">
        <div class="card-inner">
          <div class="user-avatar text-purple bg-purple-dim  mb-3">
            <em class="icon ni ni-laptop"></em>
          </div>
          <h5 class="fs-4">Website Headlines/Copy</h5>
          <p>Generate professional copy for your website that converts users.</p>
        </div>
      </div>
    </div>
  </div>
</div>
