{% extends "account/dashboard/v1/articles/base.html" %}
{% block heading %}
  <div class="nk-block-head nk-block-head-sm">
    <div class="nk-block-between flex-wrap g-1 align-start">
      {% comment %} <div class="nk-block-head-content">
        <h5 class="nk-block-title">{{article.title|title}}</h5>
        <p>There’s currently no limit to the potential earnings you can achieve by writing high-quality blogs on our platform.</p>
      </div>
      <div class="nk-block-head-content">
        <a href="" class="link">
          <span>Explore More Articles</span>
          <em class="icon ni ni-arrow-long-right"></em>
        </a>
      </div> {% endcomment %}
    </div>
  </div>

  <style>
    .sticky {
      position: fixed !important;
      top: 0;
      right: 0;
      width: 26.15%;
      bottom: 40px !important;
    }

    .move-up {
      top: -50px;
      /* Move up by 50px */
    }
  </style>
{% endblock heading %}

{% block main %}

  <div class="nk-block mb-5">
    <div class="row g-3">
      <div class="col-xl-8" id="scroll-column">
        <div class="card card-bordered">
          <div class="card-inner card-inner-lg">
            <div class="alert-alt alert-danger alert-icon">
              <em class="icon ni ni-help-alt"></em>
              <h3>{{article.title|title|linebreaks}}</h3>
            </div>
            <div class="entry mt-5">
              {{article.content|safe}}
              <p class="sub-text mt-5">
                Once an article has been purchased by our third part sources the writter will get paid and get featured.
                <span>(Author:{{article.profile}})</span>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-4" id="sticky-column">
        <div class="ratio ratio-16x9">
          <iframe class="ratio-item" src="https://youtu.be/YA4cHKMqC48" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen="allowfullscreen"></iframe>
        </div>
        <br>
        <br>
        <div class="ratio ratio-16x9">
          <iframe width="640" height="360" src="https://www.youtube.com/embed/yBJPfMHgIfo" title="I Tried Online Writing Jobs (From Home) | 1 Article $50" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
        <br>
        
        
        <div class="entry mt-5">
          <h5 class="text-primary">Tips to Boost Your Article Writing and Earnings</h5>
          
          <p >
            <strong class="text-success">Earn approximately $1</strong> for each article purchased by our third-party news, blog, and magazine outlets. Plus, we post the rest of your articles on our platform for monetization, offering monthly bonuses based on performance.
          </p>
        
          <h6 class="text-primary">What Our Third-Party Outlets Look For</h6>
          
          <p>
            Our third-party news, blog, and magazine partners are on the lookout for fresh, unique, and high-quality articles every day. Meeting these standards increases the chances of your articles being purchased and shared on major platforms.
          </p>
          
          <h6 class="text-primary">Upgrade Your Package for Greater Opportunities</h6>
          
          <p>Purchase a higher package to increase the number of blogs you can write, maximizing your opportunities for quality sales and higher AdSense bonuses. A higher package means more articles and more earning potential!</p>
        
          <h6 class="text-primary">Rights and Usage of Sold Articles</h6>
          
          <p>Once your article is sold to one of our third-party clients, they hold the rights to modify, edit, reuse, or monetize it on their own platforms, apps, tools, or websites. This process allows them to tailor content as needed for their audiences.</p>
          
          <h6 class="text-primary">Consistency is Key</h6>
          
          <p>To achieve higher returns, focus on writing more articles and maintaining a steady flow of submissions. Consistent, quality output is the surest path to increased earnings and success on our platform.</p>
        </div>
        
        <h5 class="title mt-5 mb-3">Quick Links</h5>
        <ul class="gy-3">
          <li>
            <a href="{% url 'dashboard:articles:editor:new-article' %}" class="btn btn-dim btn-success">
              <span>New Article</span>
              <em class="icon ni ni-arrow-long-right"></em>
            </a>
          </li>
          <li>
            <a href="{% url 'dashboard:invest:upgrade' %}" class="btn btn-dim btn-success">
              <span>Upgrade Package</span>
              <em class="icon ni ni-arrow-long-right"></em>
            </a>
          </li>
          <li>
            <a href="{% url 'dashboard:invest:jobs:jobs' %}" target="_blank" class="btn btn-dim btn-success">
              <span>Other Remote Tasks</span>
              <em class="icon ni ni-arrow-long-right"></em>
            </a>
          </li>
          <li>
            <a href="{% url 'dashboard:home' %}" target="_blank" class="btn btn-dim btn-success">
              <span>Income Starts</span>
              <em class="icon ni ni-arrow-long-right"></em>
            </a>
          </li>
        </ul>
        <br>
        <div class="ratio ratio-16x9">
          <iframe width="640" height="360" src="https://www.youtube.com/embed/YA4cHKMqC48" title="Earn $1500 A DAY Online For FREE Copy &amp; Pasting Articles Legally! Make Money Online" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
        <br>
        {% for x in "222222222" %}
          <br/>
        {% endfor %}
      </div>
    </div>
  </div>

  <script></script>

{% endblock main %}