{% extends "account/dashboard/v1/articles/base.html" %}

{% block heading %}

  <div class="nk-block-head nk-page-head nk-block-head-sm">
    <div class="col-12">
      <div class="card card-bordered">
        <div class="card-inner">
          <div class="card-title mb-4">
            <h3 class="title">Articles and Blogging</h3>
          </div>
          <div class="row g-gs">
            <div class="col-xxl-12">
              <div class="fake-class">
                <h5 class="title">Get Started</h5>
                <div class="nk-block-des text-soft">
                  <p>You can start earning with the power of AI</p>
                </div>


                <a href="{% url 'dashboard:articles:editor:new-article' %}" class="btn btn-primary btn-lg mt-3">
                  Content Generator
                </a>
                
                <a href="{% url 'dashboard:articles:editor:youtube-summarizer' %}" class="btn btn-primary btn-lg mt-3">
                  Youtube Summarizer
                </a>
                <a href="#" class="btn btn-primary btn-lg mt-3">
                  AI Detector & Remover
                </a>
                <a href="#" class="btn btn-primary btn-lg mt-3">
                  Video-to-Text
                </a>
              </div>
            </div>
            <div class="col-sm-4 col-md-4 col-xxl-3">
              <div class="fake-class">
                <h5 class="title">Start Here</h5>
                <ul class="link-list is-compact pb-0">
                  <li style="margin-bottom: 10px;">
                    <a hx-on::after-request="window.location.reload()" style="cursor:pointer" hx-swap="none" hx-push-url="true" hx-boost="true" hx-get="{% url 'dashboard:articles:editor:new-article' %}" class="btn btn-dim btn-primary">
                      <em class="icon ni ni-file-text"></em>
                      <span>Write article post</span></a>
                  </li>
                  <li style="margin-bottom: 10px;">
                    <a href="" class="btn btn-dim btn-primary">
                      <em class="icon ni ni-property-add"></em>
                      <span>Saved Articles</span></a>
                  </li>
                  <li style="margin-bottom: 10px;">
                    <a href="#" class="btn btn-dim btn-primary">
                      <em class="icon ni ni-laptop"></em>
                      <span>View your articles</span></a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-sm-4 col-md-4 col-xxl-3">
              <div class="fake-class">
                <h5 class="title">Your Stats</h5>
                <ul class="link-list is-compact pb-0">
                  <li style="margin-bottom: 10px;">  <!-- Adjust the value as needed -->
                    <a href="">
                      <em class="icon ni ni-edit-fill"></em>
                      <span class="btn btn-dim btn-secondary">Published Post{{articles.count|pluralize}}</span><span class="btn btn-dim btn-warning"> {{articles.count}}</span>
                    </a>
                  </li>
                  <li style="margin-bottom: 10px;">  <!-- Adjust the value as needed -->
                    <a href="">
                      <em class="icon ni ni-files"></em>
                      <span class="btn btn-dim btn-secondary">Views </span><span class="btn btn-dim btn-warning"> 0</span>
                    </a>
                  </li>
                  <li style="margin-bottom: 10px;">  <!-- Adjust the value as needed -->
                    <a href="">
                      <em class="icon ni ni-comments"></em>
                      <span class="btn btn-dim btn-secondary">Comments</span><span class="btn btn-dim btn-warning"> 0</span>
                    </a>
                  </li>
                </ul>
                
              </div>
            </div>
            <div class="col-sm-4 col-md-4 col-xxl-3">
              <div class="fake-class">
                <h5 class="title">Our Stats</h5>
                <ul class="link-list is-compact pb-0">
                  <li style="margin-bottom: 10px;">
                    <a href="#" >
                      <em class="icon ni ni-grid-fill"></em>
                      <span class="btn btn-dim btn-success">Active Article writers </span><span class="btn btn-dim btn-warning"><b>  133+</b></span></a>
                  </li>
                  <li style="margin-bottom: 10px;">
                    <a href="#" >
                      <em class="icon ni ni-comments"></em>
                      <span class="btn btn-dim btn-success">Total Articles Published </span><span class="btn btn-dim btn-warning"> 20,489+</span></a>
                  </li>
                  <li style="margin-bottom: 10px;">
                    <a href="#">
                      <em class="icon ni ni-more-h"></em>
                      <span class="btn btn-dim btn-success">Total Earnings Paid </span><span class="btn btn-dim btn-warning"> $40,000+</span></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock heading %}

{% block main %}

  <div class="nk-block-head">
    <div class="nk-block-between">
      <div class="nk-block-head-content">
        <h4 class="nk-block-title">Popular Topics & Niches</h4>
      </div>
      <div class="nk-block-head-content">
        <a hx-on::after-request="window.location.reload()" hx-get="{% url 'dashboard:articles:blogging-templates' %}" style="cursor:pointer" hx-swap="none" hx-push-url="true" hx-boost="true" class="link">Explore All</a>
      </div>
    </div>
  </div>

  <!--Article templates-->

  {% include "account/dashboard/v1/articles/components/ai/templates.html" %}

  <!--Recent Articles-->
  <div class="nk-block-head">
    <div class="nk-block-between">
      <div class="nk-block-head-content">
        <h4 class="nk-block-title">Recent Articles & Blogs</h4>
      </div>
      <div class="nk-block-head-content">
        <a 
        hx-on::after-request="window.location.reload()" 
        hx-get="{% url 'dashboard:articles:blogging-posts-history' %}" 
        style="cursor:pointer; color: rgb(177, 0, 0);"  
        hx-swap="none" 
        hx-push-url="true" 
        hx-boost="true" 
        class="btn btn-info bg-success-dim fs-8"
    >
        <span> Payrates Guide</span>
        
    </a>
    
      </div>
    </div>
  </div>

  {% include "account/dashboard/v1/articles/components/ai/recent.html" %}

{% endblock main %}