{% extends "account/dashboard/v1/articles/base.html" %}

{% block heading %}

  <div class="nk-block">
    <div class="d-flex flex-wrap align-items-center justify-content-between">
      <h4 class="mb-0">Articles Guidelines</h4>
      <div class="caption-text text-dark">Write more articles
        <span class="text-base">to earn more</span></div>
    </div>
    <div class="progress progress-md bg-primary bg-opacity-10 mt-3">
      <div class="progress-bar bg-primary" data-progress="55" style="width: 55%;"></div>
    </div>
    <div class="fs-14px text-dark mt-2">To increase your limit, check our extra upgrade plans
      <a hx-on::after-request="window.location.reload()" style="cursor:pointer" hx-swap="none" hx-push-url="true" hx-boost="true" hx-get="{% url 'dashboard:invest:upgrade' %}">
        <span class="nk-menu-text text-primary">Upgrade Article Limits</span>
      </a>.</div>
  </div>

{% endblock heading %}

{% block main %}
  {% include "account/dashboard/v1/articles/components/posts/list.html" %}
{% endblock main %}
